@require './modal.styl'
@require './loader.styl'

*
  outline: none

.widget
  min-height: 100px

.bg-dark
  color: white !important
  background: rgba(47,212,165,1);
  background: -moz-linear-gradient(top, rgba(47,212,165,1) 0%, rgba(34,212,168,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(47,212,165,1)), color-stop(100%, rgba(34,212,168,1)));
  background: -webkit-linear-gradient(top, rgba(47,212,165,1) 0%, rgba(34,212,168,1) 100%);
  background: -o-linear-gradient(top, rgba(47,212,165,1) 0%, rgba(34,212,168,1) 100%);
  background: -ms-linear-gradient(top, rgba(47,212,165,1) 0%, rgba(34,212,168,1) 100%);
  background: linear-gradient(to bottom, rgba(47,212,165,1) 0%, rgba(34,212,168,1) 100%);

.caret.caret-tp
  border-top-color: white

#sidebar_left
  background-color: #242424 !important

#content_wrapper
  background-color: #eaeded !important

.panel-heading
  background-color: #fafafa !important
  // border-bottom: 1px solid transparent
  padding 0 20px !important

#toggle_sidemenu img
  color: #666;
  cursor: pointer;
  width: 32px;
  float: none !important
  margin: 14px

.navbar-brand
  float: none !important
  margin-left: -24px
  font-size: 19px !important

.navbar-branding
  font-size: 24px
  font-weight: 500

@media(min-width: 900px)
  .navbar-form.navbar-search input
    height: 32px
    padding: 0 18px !important
    border-radius: 16px !important
    background-color: rgba(0,0,0,0.060) !important
    width: 222px

  .navbar-form
    margin-top: 14px
    margin-bottom: 14px

#topbar.alt
  background: #fff !important

.br-a
  border: 1px solid #e7e7e7 !important

.tray-left, .tray-right
  background: #fafafa !important

.btn-default
  color: #666666
  background-color: #f0f0f0

listing-widget .table-viewport
  overflow: scroll
  max-height: 400px
  display: block

.panel-viewport
  overflow: scroll
  max-height: 500px
  display: block

.table-viewport
  overflow: scroll
  height: 200px
  display: block

th.sortable
  cursor: pointer

.pad-bottom
  padding-bottom: 20px

.variant-option
  padding: 0 !important

h5.variant-option-header
  padding-left: 0

.btn-disabled
  opacity: .5
  cursor: default

.click-for-new
  input
    cursor: pointer !important

.panel-heading > a:after
  font-family:'Glyphicons Halflings'
  content:"\e114"
  float: right
  color: grey

.panel-heading > a.collapsed:after
  content:"\e080"

.selection .select2-selection
  height: 39px
  padding: 9px 4px

  .select2-selection__rendered
    line-height: inherit

  .select2-selection__arrow
    top: 6px

.pagination
  display: table
  margin: 0 auto

.pagination a
  height: auto !important
  padding: 5px 15px !important
  background-image: none !important

.pagination input
  width:125px !important
  display:inline !important
  padding-top:10px !important

menu
  display: block
  margin: 0
  padding: 0

.map
  display: block
  height: 300px

.modal-content
  top: 200px

textarea
  resize: none
  border: 1px solid #ddd

textarea:focus
  border: 1px solid #5FAEE3

.panel .panel .panel-heading
  border-top: 0
  border-left: 0
  border-right: 0
  background-color: inherit

table-field
  textarea
    width: 100%

.status-message *
  text-align: center

.form-control-static
  overflow: auto

.table-responsive
  overflow: auto
  width: 100%

input.search
  &::-webkit-input-placeholder
    color: #fff

  &:-moz-placeholder
    color: #fff

  &::-moz-placeholder
    color: #fff

  &:-ms-input-placeholder
    color: #fff

.sidebar-menu > li.active > a > span:nth-child(1)
  color: white

.sidebar-menu > li.active > a > span:nth-child(2)
  font-weight: 400

.sidebar-menu > li > a
  color: #ddd
  font-size: 14px

.sidebar-menu > li.active > a
  color: white

.navbar.bg-dark .nav > li.open > a, .navbar.bg-dark .nav > li:hover > a, .navbar.bg-dark .nav > li:focus > a, .navbar.bg-dark .nav > li.active > a, .navbar.bg-dark .nav > li > a:hover, .navbar.bg-dark .nav > li > a:focus
  background-color: rgba(0,0,0,0.032)

.btn-dark
  background-color: #5D637B

.sortable .fa
  display: inline

.control-label
  text-align: left !important

.cs-nav-tabs
  margin-top: 15px
  padding-left: 15px

  .btn
    top: 1px
    background-color: #e8e8e8

    &.cs-selected
      background-color: #eee
      border-bottom: 1px solid #eee

#current-page
  display: table
  width: 100%
  padding: 0 !important

  .tray-right
    display: table-cell
    float: none
    vertical-align: top

    -webkit-transition: all 0.3s ease-in-out
    -moz-transition: all 0.3s ease-in-out
    transition: all 0.3s ease-in-out

    &.tray-hidden
      width: 0
      padding-left: 0 !important
      padding-right: 0 !important
      right: -1000px

body.tray-rescale .tray.tray320
  top: 123px !important;

.cs-integration
  .btn
    background-color: #eee
    font-size: 1.1em
    text-align: left
    padding: 10px

    &:active
      outline: none !important
      -webkit-box-shadow: none !important
      box-shadow: none !important

.cs-integration, .cs-droparea
  img
    -moz-user-select: none /* These user-select properties are inheritable, used to prevent text selection */
    -webkit-user-select: none
    -ms-user-select: none /* From IE10 only */
    user-select: none /* Not valid CSS yet, as of July 2012 */
    -webkit-user-drag: none /* Prevents dragging of images/divs etc */
    user-drag: none
    pointer-events: none
    max-height:20px
    padding-right: 10px
    padding-left: 10px

.cs-droparea
  display: table
  width: 100%
  min-height: 200px
  position: relative

.cs-droparea-overlay:before
  display: block
  position: absolute
  top: -8px
  left: -8px
  bottom: -8px
  right: -8px

  content: ''
  border-radius: 4px
  border: 4px solid rgba(0,0,0,.4)

.cs-droparea-overlay
  display: block
  position: absolute
  top: 0px
  left: 0px

  margin: 4px

  width: 100%
  min-height: 300px
  height: 100%
  padding-top: 100px
  font-size: 4em

  border: 4px dashed #FFF

  color: #FFF
  text-align: center
  background-color: rgba(0,0,0,.4)

  -webkit-transition: all 0.2s ease-in-out
  -moz-transition: all 0.2s ease-in-out
  transition: all 0.2s ease-in-out

  opacity: 0
  z-index: -1

.cs-droparea.active

  .cs-droparea-overlay
    opacity: 1
    z-index: 1000

.tray-center
  overflow: scroll;
  padding: 25px 20px 20px 20px

.integration-toggle
  float: right
  margin-top: 13px

.fa
  &.warning
    color: #F6BB42
    position: relative
    top: 3px
    font-size: 1.2em

  &.integration-remove
    position: relative
    top: -8px
    padding-right: 5px
    cursor: pointer

    &:hover
      color: #888

integration
  .panel
    -webkit-transition: all 0.3s ease-in-out
    -moz-transition:  all 0.3s ease-in-out
    transition: all 0.3s ease-in-out

  .panel-body
    -webkit-transition: all 0.3s ease-in-out, border-width 0.3s step-start
    -moz-transition:  all 0.3s ease-in-out, border-width 0.3s step-start
    transition: all 0.3s ease-in-out, border-width 0.3s step-start
    max-height: 500px

    &.collapsed
      max-height: 0
      padding-top: 0
      padding-bottom: 0
      margin: 0
      border-width: 0
      overflow: hidden

      -webkit-transition: all 0.3s ease-in-out, border-width 0.3s step-end
      -moz-transition: all 0.3s ease-in-out, border-width 0.3s step-end
      transition: all 0.3s ease-in-out, border-width 0.3s step-end

footer
  color: #FFF !important
  background-color: #353738 !important
  -webkit-transition: all 0.2s ease-in-out
  -moz-transition: all 0.2s ease-in-out
  transition: all 0.2s ease-in-out

  i.fa, h5
    display: inline-block

  i.fa
    position: relative;
    top: -4px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2em

  h5
    position: relative
    top: -9px
    padding-right: 10px;

  button
    font-weight: 900 !important
    position: relative;
    top: -9px;

  &.footer-hidden
    margin-bottom: -50px

.CodeMirror
  border: 1px solid #eee
  height: auto

.period-configure
  position: fixed;
  z-index: 1000;
  right: 0px;
  padding-right: 20px;
  margin-top: -88px;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 11px;
  color: #666;

  & > div > *
    display: inline-block

  .period-picker
    width: 80px

  h5
    width: 40px

  .period-datepicker
    width: 100px
    position: relative
    top: 1px

chart
  display:block

.select2-container--default .select2-selection--single
  border: 1px solid #DDD

.select2-container--default .select2-selection--single .select2-selection__rendered, .form-control
  color: #888

.period-configure .period-picker
  vertical-align: top

.period-configure .period-datepicker
  vertical-align: top

.period-configure .text-center
  line-height: 1.6em

// Panes
user-filter-pane, order-filter-pane
  display: table-cell
  vertical-align: top
  padding: 0
  margin: 0
  border: 0
  float: none
  min-height: 100%
  position: relative
  width: 290px

.admin-form .section .section
  margin-bottom: 0

[riot-tag=id-list-table-field]
  a
    white-space: nowrap

.tracking
  display:  table
  width:    100%

  & > hr
    margin: 0 20px 20px
