modal, modal-confirm, modal-spinner
  > div
    position: absolute

    &:before
      content: ""
      background: rgba(0,0,0,.6)
      position: fixed
      top: 0; left: 0; right: 0; bottom: 0
      display: block
      z-index: 9999

    *
      position: fixed !important
      top: 30% !important
      left: 50% !important
      z-index: 10000

    &.hide
      display: none
