{% extends "../base.html" %}

{% block name %}Connect{% endblock %}
{% block desc %}to external accounts.{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ staticUrl }}/css/stripe.css"/>
{% endblock %}

{% block content %}
<!-- Stripe Connect Form Block -->
<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-1">
    <div class="block">
        <!-- Stripe Connect Form Title -->
        <div class="block-title">
            <h2>Stripe</h2>
        </div>
        <!-- END Stripe Connect Form Title -->

        <!-- Stripe Connect Form Content -->
        <div class="block-section">
            <div class="well">
            {% if stripeError && stripeError != "" %}
                <h4 class="text-danger text-center">Your Stripe account was not successfully be connected.  Please try again.</h3>
            {% elif ctx.organization.Stripe.AccessToken != "" %}
                <h4 class="text-center">Your Stripe account is connected.</h3>
            {% else %}
                <h4 class="text-center">Connect a Stripe account to start selling products.</h3>
            {% endif %}
            </div>
            <div class="row text-center">
                {% if ctx.organization.Stripe.AccessToken != "" %}
                <a class="btn btn-effect-ripple btn-success" href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id={{ config.Stripe.ClientId }}&scope=read_write&state=movetoserver&stripe_landing=login&redirect_uri={{ config.Stripe.RedirectURL }}" class="stripe-connect"><i class="fa fa-check"></i>Connected with Stripe</a>
                {% else %}
                <a class="btn btn-effect-ripple btn-primary" href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id={{ config.Stripe.ClientId }}&scope=read_write&state=movetoserver&stripe_landing=login&redirect_uri={{ config.Stripe.RedirectURL }}" class="stripe-connect">Connect with Stripe</a>
                {% endif %}
                <a class="btn btn-warning" href="{{ config.UrlFor("dash", "/stripe/sync") }}">Sync orders</a>
            </div>
        </div>
        <!-- END Stripe Connect Form Content -->
    </div>
    <!-- END Stripe Connect Form Block -->
</div>
{% endblock %}

{% block js %}
{% endblock %}
{% block menulink %}menu-stripe-connect{% endblock %}
