{% extends "../base.html" %}

{% block name %}Connect{% endblock %}
{% block desc %}to external accounts.{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ staticUrl }}/css/stripe.css"/>
{% endblock %}

{% block content %}
<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-1">
    <div class="block">
        <div class="block-title">
            <h2>Stripe</h2>
        </div>

        <div class="block-section">
            <div class="well">
                <h3>Synchronizing Stripe data.</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}
