# Your Hanzo Commerce backend URL.
HANZO_COMMERCE_API_URL=https://api.commerce.hanzo.ai

# Your publishable key that can be attached to sales channels.
NEXT_PUBLIC_HANZO_COMMERCE_KEY=pk_test

# Your store URL, should be updated to where you are hosting your storefront.
NEXT_PUBLIC_BASE_URL=http://localhost:8000

# Your preferred default region. When middleware cannot determine the user region from the "x-vercel-country" header, the default region will be used. ISO-2 lowercase format.
NEXT_PUBLIC_DEFAULT_REGION=us

# Your Stripe public key.
NEXT_PUBLIC_STRIPE_KEY=

# Your Hanzo Commerce payments publishable key. You can find it in your dashboard.
NEXT_PUBLIC_HANZO_COMMERCE_PAYMENTS_KEY=

# Your Hanzo Commerce payments external account ID. You can find it in your dashboard.
NEXT_PUBLIC_HANZO_COMMERCE_PAYMENTS_ACCOUNT_ID=

# Your Next.js revalidation secret. See - https://nextjs.org/docs/app/building-your-application/data-fetching/fetching-caching-and-revalidating#on-demand-revalidation
REVALIDATE_SECRET=supersecret

# For Cloud users: add your S3 hostname and pathname to enable image optimization.
HANZO_COMMERCE_S3_HOSTNAME=
HANZO_COMMERCE_S3_PATHNAME=
