<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
    <link rel="stylesheet" type="text/css" href="/css/stripe.css"/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/admin.js"></script>
  </head>
  <body>
    <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id={{ clientid }}&scope=read_write&state=movetoserver&stripe_landing=login" class="stripe-connect"><span>Connect with Stripe</span></a>
  </body>
</html>
