<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>{% block title %}Hanzo{% endblock %}</title>

        <meta name="title" content="Hanzo"/>
        <meta name="description" content="Hanzo is the world&#x27;s newest global funding platform. Founded on the principles of opportunity, transparency, and action, anyone with a hardware technology project – can create a campaign, offer gifts, bonuses and fund their passion." />
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
        <meta name="robots" content="noindex, nofollow">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="{{ staticUrl }}/frontend/img/favicon.png">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon57.png" sizes="57x57">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon72.png" sizes="72x72">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon76.png" sizes="76x76">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon114.png" sizes="114x114">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon144.png" sizes="144x144">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon152.png" sizes="152x152">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon180.png" sizes="180x180">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="{{ staticUrl }}/appui/css/bootstrap.min.css">

        <!-- Related styles of various icon packs and plugins -->
        <link rel="stylesheet" href="{{ staticUrl }}/appui/css/plugins.css">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="{{ staticUrl }}/appui/css/main.css">

        <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="{{ staticUrl }}/appui/css/themes.css">
        <!-- END Stylesheets -->

        {% block css %}{% endblock %}

        <!-- Modernizr (browser feature detection library) -->
        <script src="{{ staticUrl }}/appui/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
      {% block error_bg %}
        <!-- Full Background -->
        <!-- For best results use an image with a resolution of 1280x1280 pixels (prefer a blurred image for smaller file size) -->
        <img src="img/placeholders/layout/error_full_bg.jpg" alt="Full Background" class="full-bg full-bg-bottom animation-pulseSlow">
        <!-- END Full Background -->
      {% endblock %}

        <!-- Error Container -->
        <div id="error-container">
          {% block content %}{% endblock %}
        </div>
        <!-- END Error Container -->

        {% block js %}{% endblock %}
    </body>
{% comment %}
ft=htmldjango
{% endcomment %}
</html>
