<!DOCTYPE html>
<html>

<head>
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <title>hanzo</title>

  <meta name="author" content="Hanzo, inc">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Font CSS (Via CDN) -->
  <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>

  <!-- FullCalendar Plugin CSS -->
  <link rel="stylesheet" type="text/css" href="{{ staticUrl }}/vendor/plugins/fullcalendar/fullcalendar.min.css">

  <!-- Highlight.js CSS -->
  <link rel="stylesheet" type="text/css" href="{{ staticUrl }}/vendor/plugins/highlight/styles/github.css">

  <!-- Theme CSS -->
  <link rel="stylesheet" type="text/css" href="{{ staticUrl }}/backend/skin/default_skin/css/theme.css">

  <!-- CodeMirror CSS -->
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.5.0/codemirror.min.css">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.5.0/addon/lint/lint.min.css">

  <!-- Admin Forms CSS -->
  <link rel="stylesheet" type="text/css" href="{{ staticUrl }}/backend/admin-tools/admin-forms/css/admin-forms.min.css">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css">
  <link rel="stylesheet" type="text/css" href="{{ staticUrl }}/css/jqpagination.css">
  <link rel="stylesheet" type="text/css" href="{{ staticUrl }}/css/platform.css">

  <!-- Icons -->
  <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ staticUrl }}/backend/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="{{ staticUrl }}/backend/img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ staticUrl }}/backend/img/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{ staticUrl }}/backend/img/manifest.json">
  <link rel="mask-icon" href="{{ staticUrl }}/backend/img/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="{{ staticUrl }}/backend/img/favicon.ico">
  <meta name="msapplication-config" content="{{ staticUrl }}/backend/img/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- END Icons -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

</head>

<body class="dashboard-page">

  <!-- Start: Main -->
  <div id="main">

    <!-- Start: Header -->
    <header class="navbar navbar-fixed-top navbar-shadow bg-dark">
      <div class="navbar-branding">
        <span id="toggle_sidemenu">
          <img src="{{ staticUrl }}/backend/img/logo.svg">
        </span>
        <a href="{{ urlFor("platform") }}" class="navbar-brand">
          hanzo
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <form action="#search" method="get" class="navbar-form navbar-left navbar-search alt" role="search">
          <div class="form-group">
            <input type="text" id="q" name="q" class="form-control search" placeholder="Search...">
          </div>
        </form>
        <li class="dropdown menu-merge">
          <a href="#" class="dropdown-toggle fw600" data-toggle="dropdown">
            <span class="hidden-xs"> {{ ctx.organization.FullName }} </span>
            <span class="caret caret-tp"></span>
          </a>
          <ul class="dropdown-menu list-group dropdown-persist w250" role="menu">
            <li class="list-group-item">
              <a id="menu-profile" class="animated animated-short fadeInUp" href="#profile">
                <span class="glyphicon glyphicon-user sidebar-nav-icon"></span>
                <span class="sidebar-title">{{ ctx.user.Name() }}</span>
              </a>
            </li>
            {% if orgNumber > 1 %}
            <li class="dropdown-header">
              Switch Organizations
            </li>
            {% for org in orgNames %}
            <li>
              <a id="switch-to-{{ org.Id_ }}" href="#">{{ org.FullName }}</a>
            </li>
            {% endfor %}
            {% endif %}
            <li class="dropdown-footer">
              <a href="{{ urlFor("platform", "/logout")}}">
                <span class="fa fa-power-off pr5"></span> Logout
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </header>
    <!-- End: Header -->

    <!-- Start: Sidebar -->
    <aside id="sidebar_left" class="nano nano-light affix">

      <!-- Start: Sidebar Left Content -->
      <div class="sidebar-left-content nano-content">

        <menu>
        </menu>

      </div>
      <!-- End: Sidebar Left Content -->

    </aside>
    <!-- End: Sidebar Left -->

    <!-- Start: Content-Wrapper -->
    <section id="content_wrapper">

      <!-- Start: Topbar -->
      <crumbs>
      </crumbs>
      <!-- End: Topbar -->

      <!-- Begin: Content -->
      <section id="content" class="table-layout animated fadeIn">

      </section>
      <!-- End: Content -->

    </section>
    <!-- End: Content-Wrapper -->

  </div>
  <!-- End: Main -->

  <!-- BEGIN: PAGE SCRIPTS -->

  <!-- jQuery -->
  <script src="{{ staticUrl }}/vendor/jquery/jquery-1.11.1.min.js"></script>
  <script src="{{ staticUrl }}/vendor/jquery/jquery_ui/jquery-ui.min.js"></script>

  <!-- CodeMirror -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.5.0/codemirror.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.5.0/mode/javascript/javascript.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.5.0/addon/lint/lint.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.5.0/addon/lint/javascript-lint.min.js"></script>

  <!-- JSHint -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jshint/2.8.0/jshint.min.js"></script>

  <!-- HighCharts Plugin -->
  <script src="{{ staticUrl }}/vendor/plugins/highcharts/highcharts.js"></script>

  <!-- JvectorMap Plugin + US Map (more maps in plugin/backend folder) -->
  <script src="{{ staticUrl }}/vendor/plugins/jvectormap/jquery.jvectormap.min.js"></script>
  <script src="{{ staticUrl }}/vendor/plugins/jvectormap/assets/jquery-jvectormap-us-lcc-en.js"></script>


  <!-- Bootstrap Tabdrop Plugin -->
  <script src="{{ staticUrl }}/vendor/plugins/tabdrop/bootstrap-tabdrop.js"></script>

  <!-- FullCalendar Plugin + moment Dependency -->
  <script src="{{ staticUrl }}/vendor/plugins/fullcalendar/lib/moment.min.js"></script>
  <script src="{{ staticUrl }}/vendor/plugins/fullcalendar/fullcalendar.min.js"></script>

  <!-- Theme Javascript -->
  <script src="{{ staticUrl }}/backend/js/utility/utility.js"></script>
  <script src="{{ staticUrl }}/backend/js/demo/demo.js"></script>
  <script src="{{ staticUrl }}/backend/js/main.js"></script>

  <!-- Highlight.js -->
  <script src="{{ staticUrl }}/vendor/plugins/highlight/highlight.pack.js"></script>

  <!-- Widget Javascript -->
  <script src="{{ staticUrl }}/backend/js/demo/widgets.js"></script>
  <script src="{{ staticUrl }}/js/jquery.jqpagination.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.1/jquery.timeago.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

  <!-- Hanzo Scripts -->
  <script type="text/javascript">
  var countries = {
    {% for country in constants.Countries %}
        '{{ country.ISO3166OneAlphaTwo }}': '{{ country.ISO3166OneEnglishShortNameReadingOrder }}',
    {% endfor %}
  }

  var currencies = {
    {% for type in constants.CurrencyTypes %}
      '{{ type }}': '{{ type.Label() }}',
    {% endfor %}
  }

  window.Keys = {
    'live-secret-key':      '{{ ctx.organization.MustGetTokenByName("live-secret-key") }}',
    'live-published-key':   '{{ ctx.organization.MustGetTokenByName("live-published-key") }}',
    'test-secret-key':      '{{ ctx.organization.MustGetTokenByName("test-secret-key") }}',
    'test-published-key':   '{{ ctx.organization.MustGetTokenByName("test-published-key") }}',
  }

  window.User = {{ ctx.user.JSONString() | safe }}

  window.Organization = '{{ ctx.organization.Name }}'

  window.staticUrl = '{{ staticUrl }}/backend'
  </script>
  <script src="{{ staticUrl }}/js/platform.js"></script>
  <script type="text/javascript">
  $(function(){
    requestAnimationFrame(function(){
      try {
        window.Core.init()
      } catch (e) {
      }
    })
  })

  new crowdcontrol.data.Api(
    '{{ urlFor("platform") }}',
    window.Keys['live-secret-key']
  ).register('platform')

  new crowdcontrol.data.Api('{{ urlFor("api") }}', window.Keys['live-secret-key']).register('crowdstart')

  riot.mount('*')

  {% for org in orgNames %}
    $('#switch-to-{{ org.Id_ }}').on('click', function() {
      $.ajax({
        method: 'GET',
        url: '{{ urlFor("platform", "/organization", org.Id_, "set-active") }}'
      }).always(function(){
        window.location.reload()
      })
    })
  {% endfor %}

  </script>

  <!-- Google Maps -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDy4fT-yRH42E975H9K6teKApDYCL3beAo&callback=gmapsInit" type="text/javascript"></script>

</body>
</html>
