<aside id="sidebar_left" class="nano nano-light affix">

  <!-- Start: Sidebar Left Content -->
  <div class="sidebar-left-content nano-content">

    <!-- Start: Sidebar Menu -->
    <ul class="nav sidebar-menu">
      <li class="sidebar-label pt20">Menu</li>
      <li>
        <a id="menu-dashboard" href="{{ urlFor("platform", "/dashboard") }}">
          <span class="glyphicon glyphicon-home"></span>
          <span class="sidebar-title">Dashboard</span>
        </a>
      </li>
      <li>
        <a id="menu-users" href="{{ urlFor("platform", "/users") }}">
          <span class="fa fa-group"></span>
          <span class="sidebar-title">Users</span>
        </a>
      </li>
      <li>
        <a id="menu-orders" href="{{ urlFor("platform", "/orders") }}">
          <span class="glyphicon glyphicon-credit-card"></span>
          <span class="sidebar-title">Orders</span>
        </a>
      </li>
      <li>
        <a id="menu-products" href="{{ urlFor("platform", "/products") }}">
          <span class="glyphicon glyphicon-book"></span>
          <span class="sidebar-title">Products</span>
        </a>
      </li>
      <li>
        <a id="menu-coupons" href="{{ urlFor("platform", "/coupons") }}">
          <span class="glyphicon glyphicon-tag"></span>
          <span class="sidebar-title">Coupons</span>
        </a>
      </li>
      <li>
        <a id="menu-stores" href="{{ urlFor("platform", "/stores") }}">
          <span class="glyphicon glyphicon-shopping-cart"></span>
          <span class="sidebar-title">Stores</span>
        </a>
      </li>
      <li>
        <a id="menu-mailinglists" href="{{ urlFor("platform", "/mailinglists") }}">
          <span class="fa fa-envelope"></span>
          <span class="sidebar-title">Mailing Lists</span>
        </a>
      </li>
      <li class="sidebar-label pt15">System</li>
      <li>
        <a id="menu-profile" href="{{ urlFor("platform", "/profile") }}">
          <span class="glyphicon glyphicon-user sidebar-nav-icon"></span>
          <span class="sidebar-title">Profile</span>
        </a>
      </li>
      <li>
        <a href="#" class="accordion-toggle">
          <span class="fa fa-gear"></span>
          <span class="sidebar-title">Settings</span>
          <span class="caret"></span>
        </a>
        <ul class="nav sub-nav">
          <li>
            <a id="menu-keys" href="{{ urlFor("platform", "/keys") }}">
              <span class="fa fa-key"></span>
              <span>API</span>
            </a>
          </li>
          <li>
            <a id="menu-organization" href="{{ urlFor("platform", "/organization") }}">
              <span class="fa fa-sitemap"></span>
              <span>Organization</span>
            </a>
          </li>
          <li>
            <a id="menu-stripe-connect" href="{{ urlFor("platform", "/stripe/connect") }}">
              <span class="fa fa-credit-card"></span>
              <span>Stripe</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- End: Sidebar Menu -->
  </div>
  <!-- End: Sidebar Left Content -->

</aside>

