<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>{% block title %}Crowdstart{% endblock %}</title>

        <meta name="description" content="A powerful crowdfunding platform powerful enough for your biggest ideas">
        <meta name="author" content="crowdstart">
        <meta name="robots" content="noindex, nofollow">

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        {% block meta %}
        <meta property="og:image" content="{{ staticUrl }}/frontend/img/placeholders/screenshots/promo_welcome.png" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{ urlFor("platform") }}">

        <meta itemprop="name" content="Crowdstart">
        <meta itemprop="url" content="{{ urlFor("platform") }}">
        {% endblock %}

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="{{ staticUrl }}/frontend/img/favicon.png">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon57.png" sizes="57x57">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon72.png" sizes="72x72">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon76.png" sizes="76x76">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon114.png" sizes="114x114">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon144.png" sizes="144x144">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon152.png" sizes="152x152">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon180.png" sizes="180x180">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="{{ staticUrl }}/frontend/css/bootstrap.min.css">

        <!-- Related styles of various icon packs and plugins -->
        <link rel="stylesheet" href="{{ staticUrl }}/frontend/css/plugins.css">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="{{ staticUrl }}/frontend/css/main.css">

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="{{ staticUrl }}/frontend/css/themes.css">
        <!-- END Stylesheets -->

        {% block css %}{% endblock %}

        <!-- Modernizr (browser feature detection library) -->
        <script src="{{ staticUrl }}/frontend/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!-- Page Container -->
        <div id="page-container" class="boxed">
            <!-- Site Header -->
            <header>
                {% block header %}
                <div class="container">
                    <!-- Site Logo -->
                    <a href="{{ staticUrl }}/frontend/index.html" class="site-logo">
                      <img class="site-logo-img" src="{{ staticUrl }}/frontend/img/logo-white.png">
                      <img class="site-logo-text" src="{{ staticUrl }}/frontend/img/logo-text-white.png">
                    </a>
                    <!-- END Site Logo -->

                    <!-- Site Navigation -->
                    <nav>
                        <!-- Menu Toggle -->
                        <!-- Toggles menu on small screens -->
                        <a href="javascript:void(0)" class="btn btn-default site-menu-toggle visible-xs visible-sm">
                            Menu
                        </a>
                        <!-- END Menu Toggle -->

                        <!-- Main Menu -->
                        <ul class="site-nav">
                            <li>
                                <a href="{{ urlFor("platform") }}" class="active">Welcome</a>
                            </li>
                            <li>
                              <a href="{{urlFor("platform", "/features") }}">Features</a>
                            </li>
                            <li>
                              <a href="{{urlFor("platform", "/pricing") }}">Pricing</a>
                            </li>
                            <!-- <li> -->
                            <!--   <a href="{{urlFor("platform", "/contact") }}">Contact</a> -->
                            <!-- </li> -->

                            <!-- Sub menu -->
                            <!-- <li> -->
                            <!--     <a href="javascript:void(0)" class="site-nav-sub"><i class="fa fa-angle-down site-nav-arrow"></i>Pages</a> -->
                            <!--     <ul> -->
                            <!--         <li> -->
                            <!--             <a href="{{ staticUrl }}/frontend/blog.html">Blog</a> -->
                            <!--         </li> -->
                            <!--         <li> -->
                            <!--             <a href="{{ staticUrl }}/frontend/blog_post.html">Blog Post</a> -->
                            <!--         </li> -->
                            <!--         <li> -->
                            <!--             <a href="{{ staticUrl }}/frontend/portfolio.html">Portfolio</a> -->
                            <!--         </li> -->
                            <!--         <li> -->
                            <!--             <a href="{{ staticUrl }}/frontend/project.html">Project</a> -->
                            <!--         </li> -->
                            <!--         <li> -->
                            <!--             <a href="{{ staticUrl }}/frontend/team.html">Team</a> -->
                            <!--         </li> -->
                            <!--         <li> -->
                            <!--             <a href="{{ staticUrl }}/frontend/faq.html">FAQ</a> -->
                            <!--         </li> -->
                            <!--         <li> -->
                            <!--             <a href="{{ staticUrl }}/frontend/jobs.html">Jobs</a> -->
                            <!--         </li> -->
                            <!--         <li> -->
                            <!--             <a href="{{ staticUrl }}/frontend/search_results.html">Search Results</a> -->
                            <!--         </li> -->
                            <!--         <li> -->
                            <!--             <a href="{{ staticUrl }}/frontend/page_scroller.html">Page Scroller</a> -->
                            <!--         </li> -->
                            <!--     </ul> -->
                            <!-- </li> -->

                            <li>
                              <a href="{{ urlFor("platform", "/login") }}" class="featured">Login <i class="fa fa-arrow-right"></i></a>
                            </li>
                        </ul>
                        <!-- END Main Menu -->
                    </nav>
                    <!-- END Site Navigation -->
                </div>
                {% endblock %}
            </header>
            <!-- END Site Header -->

            {% block content %}
            {% endblock %}

            <!-- Footer -->
            <footer class="site-footer site-section site-section-light">
                <div class="container">
                    <!-- Footer Links -->
                    <div class="row">
                        <div class="col-sm-4">
                            <h4 class="footer-heading">Company</h4>
                            <ul class="footer-nav ul-breath list-unstyled">
                                <li><a href="{{ urlFor("platform", "/about")}}">About Us</a></li>
                                <li><a href="{{ urlFor("platform", "/contact")}}">Contact</a></li>
                                <li><a href="{{ urlFor("platform", "/team")}}">Our Team</a></li>
                                <li><a href="{{ urlFor("platform", "/terms")}}">Terms &amp; Conditions</a></li>
                                <li><a href="{{ urlFor("platform", "/privacy")}}">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="footer-heading">Need support?</h4>
                            <ul class="footer-nav footer-nav-links list-inline">
                                <li><a href="{{ urlFor("platform", "/docs") }}"><i class="fa fa-fw fa-book"></i> Documentation</a></li>
                                <li><a href="{{ urlFor("platform", "/faq")}}"><i class="fa fa-fw fa-support"></i> FAQ</a></li>
                            </ul>
                            <h4 class="footer-heading">We are social!</h4>
                            <ul class="footer-nav footer-nav-links list-inline">
                                <li><a href="http://facebook.com/crowdstart" class="social-facebook" data-toggle="tooltip" title="Like our Facebook page"><i class="fa fa-fw fa-facebook"></i></a></li>
                                <li><a href="http://twitter.com/" class="social-twitter" data-toggle="tooltip" title="Follow us on Twitter"><i class="fa fa-fw fa-twitter"></i></a></li>
                                <li><a href="http://google.com/+CrowdstartLLC" class="social-google-plus" data-toggle="tooltip" title="Like our Google+ page"><i class="fa fa-fw fa-google-plus"></i></a></li>
                                <li><a href="http://www.youtube.com/c/CrowdstartLLC " class="social-youtube" data-toggle="tooltip" title="Subscribe to our Youtube channel"><i class="fa fa-fw fa-youtube-play"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="footer-heading">Newsletter</h4>
                            <form action="index.html" method="post" class="form-inline" onsubmit="return false;">
                                <div class="form-group">
                                    <label class="sr-only" for="register-email">Your Email</label>
                                    <div class="input-group">
                                        <input type="email" id="register-email" name="register-email" class="form-control" placeholder="Your Email..">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-primary">Subscribe</button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-4">
                          <br>
                          <br>
                          <h5>
                              Crafted with &nbsp;<i class="fa fa-heart text-danger"></i>
                          </h5>
                          &copy; 2015 Crowdstart, LLC
                        </div>
                    </div>
                    <!-- END Footer Links -->
                </div>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Page Container -->

        <!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
        <a href="javascript:void(0)" id="to-top"><i class="fa fa-arrow-up"></i></a>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script>!window.jQuery && document.write(decodeURI('%3Cscript src="{{ staticUrl }}/frontend/js/vendor/jquery-2.1.3.min.js"%3E%3C/script%3E'));</script>

        <!-- Bootstrap.js, Jquery plugins and Custom JS code -->
        <script src="{{ staticUrl }}/frontend/js/vendor/bootstrap.min.js"></script>
        <script src="{{ staticUrl }}/frontend/js/plugins.js"></script>
        <script src="{{ staticUrl }}/frontend/js/app.js"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>{% comment %}vim set ft:htmldjango{% endcomment %}
