<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>hanzo</title>

        <meta name="title" content="Crowdstart"/>
        <meta name="description" content="Crowdstart is the world&#x27;s newest global funding platform. Founded on the principles of opportunity, transparency, and action, anyone with a hardware technology project – can create a campaign, offer gifts, bonuses and fund their passion." />
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        {% block meta %}
        <meta property="og:image" content="{{ staticUrl }}/frontend/img/placeholders/screenshots/promo_welcome.png" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{ urlFor("platform") }}">

        <meta itemprop="name" content="Crowdstart">
        <meta itemprop="url" content="{{ urlFor("platform") }}">
        {% endblock %}

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="{{ staticUrl }}/frontend/img/favicon.png">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon57.png" sizes="57x57">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon72.png" sizes="72x72">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon76.png" sizes="76x76">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon114.png" sizes="114x114">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon144.png" sizes="144x144">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon152.png" sizes="152x152">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon180.png" sizes="180x180">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="{{ staticUrl }}/frontend/css/bootstrap.min.css">

        <!-- Related styles of various icon packs and plugins -->
        <link rel="stylesheet" href="{{ staticUrl }}/frontend/css/plugins.css">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="{{ staticUrl }}/frontend/css/main.css">

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="{{ staticUrl }}/frontend/css/themes.css">
        <!-- END Stylesheets -->

        {% block css %}{% endblock %}
    </head>
    <body>
        <!-- Page Container -->
        <div id="page-container" class="boxed">
            <!-- Site Header -->
            <header>
                {% block header %}
                <div class="container">
                    <!-- Site Logo -->
                    <a href="{{ urlFor("platform") }}" class="site-logo">
                      <img class="site-logo-img" src="{{ staticUrl }}/frontend/img/logo-white.png">
                      <img class="site-logo-text" src="{{ staticUrl }}/frontend/img/logo-text-white.png">
                    </a>
                    <!-- END Site Logo -->

                    <!-- Site Navigation -->
                    <nav>
                        <!-- Menu Toggle -->
                        <!-- Toggles menu on small screens -->
                        <a href="javascript:void(0)" class="btn btn-default site-menu-toggle visible-xs visible-sm">
                            Menu
                        </a>
                        <!-- END Menu Toggle -->

                        <!-- Main Menu -->
                        <ul class="site-nav">
                            <li>
                                <a href="{{ urlFor("platform") }}" class="active">Welcome</a>
                            </li>
                            <li>
                              <a href="{{urlFor("platform", "/features") }}">Features</a>
                            </li>
                            <li>
                              <a href="{{urlFor("platform", "/pricing") }}">Pricing</a>
                            </li>
                            <!-- <li> -->
                            <!--   <a href="{{urlFor("platform", "/contact") }}">Contact</a> -->
                            <!-- </li> -->

                            <!-- Sub menu -->
                            <!-- <li> -->
                            <!--     <a href="javascript:void(0)" class="site-nav-sub"><i class="fa fa-angle-down site-nav-arrow"></i>Pages</a> -->
                            <!--     <ul> -->
                            <!--         <li> -->
                            <!--             <a href="{{ staticUrl }}/frontend/blog.html">Blog</a> -->
                            <!--         </li> -->
                            <!--         <li> -->
                            <!--             <a href="{{ staticUrl }}/frontend/blog_post.html">Blog Post</a> -->
                            <!--         </li> -->
                            <!--         <li> -->
                            <!--             <a href="{{ staticUrl }}/frontend/portfolio.html">Portfolio</a> -->
                            <!--         </li> -->
                            <!--         <li> -->
                            <!--             <a href="{{ staticUrl }}/frontend/project.html">Project</a> -->
                            <!--         </li> -->
                            <!--         <li> -->
                            <!--             <a href="{{ staticUrl }}/frontend/team.html">Team</a> -->
                            <!--         </li> -->
                            <!--         <li> -->
                            <!--             <a href="{{ staticUrl }}/frontend/faq.html">FAQ</a> -->
                            <!--         </li> -->
                            <!--         <li> -->
                            <!--             <a href="{{ staticUrl }}/frontend/jobs.html">Jobs</a> -->
                            <!--         </li> -->
                            <!--         <li> -->
                            <!--             <a href="{{ staticUrl }}/frontend/search_results.html">Search Results</a> -->
                            <!--         </li> -->
                            <!--         <li> -->
                            <!--             <a href="{{ staticUrl }}/frontend/page_scroller.html">Page Scroller</a> -->
                            <!--         </li> -->
                            <!--     </ul> -->
                            <!-- </li> -->

                            <li>
                              {% if loggedIn %}
                              <a href="dashboard" class="featured">Hello, {{ user.FirstName }} <i class="fa fa-arrow-right"></i></a>
                              {% else %}
                              <a href="login" class="featured">Login <i class="fa fa-arrow-right"></i></a>
                              {% endif %}
                            </li>
                        </ul>
                        <!-- END Main Menu -->
                    </nav>
                    <!-- END Site Navigation -->
                </div>
                {% endblock %}
            </header>
            <!-- END Site Header -->

            {% block content %}
            {% endblock %}

            <!-- Footer -->
            <footer class="site-footer site-section site-section-light">
                <div class="container">
                    <!-- Footer Links -->
                    <div class="row">
                        <div class="col-sm-4">
                            <h4 class="footer-heading">Company</h4>
                            <ul class="footer-nav ul-breath list-unstyled">
                                <li><a href="{{ urlFor("platform", "/about")}}">About Us</a></li>
                                <li><a href="{{ urlFor("platform", "/contact")}}">Contact</a></li>
                                <li><a href="{{ urlFor("platform", "/how-it-works")}}">How It Works</a></li>
                                <li><a href="{{ urlFor("platform", "/privacy")}}">Privacy Policy</a></li>
                                <li><a href="{{ urlFor("platform", "/terms")}}">Terms &amp; Conditions</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="footer-heading">Need support?</h4>
                            <ul class="footer-nav footer-nav-links list-inline">
                                <li><a href="{{ urlFor("platform", "/docs") }}"><i class="fa fa-fw fa-book"></i> Documentation</a></li>
                                <li><a href="{{ urlFor("platform", "/faq")}}"><i class="fa fa-fw fa-support"></i> FAQ</a></li>
                            </ul>
                            <h4 class="footer-heading">We are social!</h4>
                            <ul class="footer-nav footer-nav-links list-inline">
                                <li><a href="http://facebook.com/Crowdstart" class="social-facebook" data-toggle="tooltip" title="Like our Facebook page"><i class="fa fa-fw fa-facebook"></i></a></li>
                                <li><a href="http://twitter.com/CrowdstartLLC" class="social-twitter" data-toggle="tooltip" title="Follow us on Twitter"><i class="fa fa-fw fa-twitter"></i></a></li>
                                <li><a href="http://google.com/+CrowdstartLLC" class="social-google-plus" data-toggle="tooltip" title="Like our Google+ page"><i class="fa fa-fw fa-google-plus"></i></a></li>
                                <li><a href="http://www.youtube.com/c/CrowdstartLLC " class="social-youtube" data-toggle="tooltip" title="Subscribe to our Youtube channel"><i class="fa fa-fw fa-youtube-play"></i></a></li>
                            </ul>
                        </div>

                        <div class="col-sm-4">
                            <h4 class="footer-heading">Newsletter</h4>
                            <form action="" method="post" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
                                <script src="//api.crowdstart.com/mailinglist/w1u4dQmCBzwd2/js"></script>
                                <div class="form-group">
                                    <label class="sr-only" for="register-email">Your Email</label>
                                    <div class="input-group">
                                        <input type="email" id="register-email" name="EMAIL" class="required email form-control" placeholder="Your Email">
                                        <span class="input-group-btn">
                                            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary">Subscribe</button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-sm-4">
                            <small>
                            <ul class="ul-breath list-unstyled" style="margin-top:50px; color: #A2A6A9">
                                <li>
                                    Crafted with <i class="fa fa-heart text-danger"></i> in Kansas City.
                                </li>
                                <li>
                                    &copy; <span id="year-copy"></span> Hanzo, Inc.
                                </li>
                            </ul>
                            </small>
                        </div>
                    </div>
                    <!-- END Footer Links -->
                </div>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Page Container -->

        <!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
        <a href="javascript:void(0)" id="to-top"><i class="fa fa-arrow-up"></i></a>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script>!window.jQuery && document.write(decodeURI('%3Cscript src="{{ staticUrl }}/frontend/js/vendor/jquery-2.1.3.min.js"%3E%3C/script%3E'));</script>

        <!-- Modernizr (browser feature detection library) -->
        <script src="{{ staticUrl }}/frontend/js/vendor/modernizr-2.8.3.min.js"></script>

        <!-- Bootstrap.js, Jquery plugins and Custom JS code -->
        <script src="{{ staticUrl }}/frontend/js/vendor/bootstrap.min.js"></script>
        <script src="{{ staticUrl }}/frontend/js/plugins.js"></script>
        <script src="{{ staticUrl }}/frontend/js/app.js"></script>

        {% block js %}
        {% endblock %}

        {% if isProduction %}
        <!-- Facebook Pixel Code -->
        <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','//connect.facebook.net/en_US/fbevents.js');

        fbq('init', '1428783730780722');
        fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1428783730780722&ev=PageView&noscript=1"/></noscript>

        <!-- Facebook Conversion Code -->
        <script>(function() {
          var _fbq = window._fbq || (window._fbq = []);
          if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
          }
        })();
        window._fbq = window._fbq || [];
        </script>

        <!-- Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-60956810-1', 'auto');
          ga('send', 'pageview');
        </script>

        <!-- Intercom -->
        <script>
        window.intercomSettings = {
        app_id: "oumkpub2",
        };
        </script>
        <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/oumkpub2';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
        {% endif %}
    </body>
{% comment %}
vim: ft=htmldjango
{% endcomment %}
</html>
