{% extends "base.html" %}

{% block title %}Faq - Crowdstart{% endblock %}

{% block content %}
<!-- Intro -->
<section class="site-section site-section-top site-section-light themed-background-dark">
    <div class="container">
        <h1 class="text-center animation-fadeInQuickInv"><strong>All your questions answered.</strong></h1>
    </div>
</section>
<!-- END Intro -->

<!-- Intro Title -->
<section class="site-content site-section-mini site-section-light themed-background-social">
    <div class="container">
        <h2 class="site-heading h3 site-block">
            <i class="fa fa-fw fa-chevron-right"></i> <strong>Introduction</strong>
        </h2>
    </div>
</section>
<!-- END Intro Title -->

<!-- Intro FAQ -->
<section class="site-content site-section">
    <div class="container">
        <div class="row site-block">
            <div class="col-md-8 col-md-offset-2">
                <div id="faq1" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="fa fa-angle-right"></i> <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="#faq1_q1"><strong>Welcome to our service</strong></a>
                            </div>
                        </div>
                        <div id="faq1_q1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Thank you for your interest in Crowdstart!</p>
                                <p class="remove-margin">Crowdstart is an infinitely scalable crowdfunding & pre-order platform.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="fa fa-angle-right"></i> <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="#faq1_q2"><strong>Who are we?</strong></a>
                            </div>
                        </div>
                        <div id="faq1_q2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>We are Crowdstart, founded and developed by the awesome guys at Verus Media.</p>
                                <p class="remove-margin">In case you aren't familiar with Verus Media, they're crowdfunding marketing specialists that grew tired with the shortcomings of all other crowdfunding platforms that they've managed campaigns on.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="fa fa-angle-right"></i> <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="#faq1_q3"><strong>What we believe in?</strong></a>
                            </div>
                        </div>
                        <div id="faq1_q3" class="panel-collapse collapse">
                            <div class="panel-body">We believe that when a contributor backs your campaign, no one should be holding onto that money limiting access to funds that should be going to delivering the product you promised. </p>
                                <p class="remove-margin">We also believe that companies need more than just a place that accepts orders - there is a lot more to it than that, such as order management, fulfillment and customer service. We've made it easy for you to complete this project beyond just accepting orders.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END Intro FAQ -->

<!-- Functionality Title -->
<section class="site-content site-section-mini site-section-light themed-background-danger">
    <div class="container">
        <h2 class="site-heading h3 site-block">
            <i class="fa fa-fw fa-code"></i> <strong>Functionality</strong>
        </h2>
    </div>
</section>
<!-- END Functionality Title -->

<!-- Functionality FAQ -->
<section class="site-content site-section">
    <div class="container">
        <div class="row site-block">
            <div class="col-md-8 col-md-offset-2">
                <div id="faq2" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="fa fa-angle-right"></i> <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq2" href="#faq2_q1"><strong>Is your application responsive?</strong></a>
                            </div>
                        </div>
                        <div id="faq2_q1" class="panel-collapse collapse">
                            <div class="panel-body">Our platform is responsive in design so it can be viewed optimally from any device.</div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="fa fa-angle-right"></i> <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq2" href="#faq2_q2"><strong>Is my data secured?</strong></a>
                            </div>
                        </div>
                        <div id="faq2_q2" class="panel-collapse collapse">
                            <div class="panel-body">We've ensured that all aspects of your data will be as secure as possible, using SSL encryption technologies.</div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="fa fa-angle-right"></i> <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq2" href="#faq2_q3"><strong>How often do you release new features?</strong></a>
                            </div>
                        </div>
                        <div id="faq2_q3" class="panel-collapse collapse">
                            <div class="panel-body">We are in a constant state of development, if you are interested in signing up to be a part of our beta tester group which get to test out the latest features before we implement into production, submit an email to beta@hanzo.io.</div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="fa fa-angle-right"></i> <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq2" href="#faq2_q4"><strong>Can I suggest new features?</strong></a>
                            </div>
                        </div>
                        <div id="faq2_q4" class="panel-collapse collapse">
                            <div class="panel-body">Sign-up for the beta tester group and which gives you access to our feature request submission section of our site.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END Functionality FAQ -->

<!-- Payments Title -->
<section class="site-content site-section-mini site-section-light themed-background-amethyst">
    <div class="container">
        <h2 class="site-heading h3 site-block">
            <i class="fa fa-fw fa-usd"></i> <strong>Payments</strong>
        </h2>
    </div>
</section>
<!-- END Payments Title -->

<!-- Payments FAQ -->
<section class="site-content site-section">
    <div class="container">
        <div class="row site-block">
            <div class="col-md-8 col-md-offset-2">
                <div id="faq3" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="fa fa-angle-right"></i> <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq3" href="#faq3_q1"><strong>Is there any free plan?</strong></a>
                            </div>
                        </div>
                        <div id="faq3_q1" class="panel-collapse collapse">
                            <div class="panel-body">We offer our platform with no setup fee and no reserves with the smallest percentage of revenue out of all our competitors. What more can you ask for? </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="fa fa-angle-right"></i> <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq3" href="#faq3_q2"><strong>What are the available payment options?</strong></a>
                            </div>
                        </div>
                        <div id="faq3_q2" class="panel-collapse collapse">
                            <div class="panel-body">We've integrated with Stripe which processes payments made to your campaign within days, not weeks or months.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END Payments FAQ -->
{% endblock %}
