{% extends "base.html" %}

{% block title %}Hanzo{% endblock %}

{% block content %}
<!-- Intro + Action -->
<section class="site-section site-section-top site-section-light themed-background-dark-default">
    <div class="container">
        <div class="push text-center">
            <h1 class="animation-fadeInQuick2Inv"><strong>Scalable crowdfunding & pre-order platform.</strong></h1>
            <h2 class="text-light-op animation-fadeInQuickInv push-bit"><strong>Fund Your Dreams.</strong></h2>
          <a href="{{ urlFor("platform", "/signup") }}" class="btn btn-lg btn-success push-right-left"><strong>Get started</strong></a>
          No setup fees.
        </div>
        <div class="site-promo-img visibility-none" data-toggle="animation-appear" data-animation-class="animation-slideUpQuick" data-element-offset="0">
            <img src="{{ staticUrl }}/frontend/img/placeholders/screenshots/crowdstart_dashboard1.png" alt="">
        </div>
    </div>
</section>
<!-- END Intro + Action -->

<!-- Promo Features -->
<section class="site-content site-section border-bottom">
    <div class="container">
        <div class="row row-items">
            <div class="col-sm-4 text-center">
                <a href="javascript:void(0)" class="feature visibility-none themed-background-muted" data-toggle="animation-appear" data-animation-class="animation-fadeInQuickInv" data-element-offset="-100">
                    <i class="fa fa-fire text-dark"></i>
                </a>
                <h2 class="site-heading h4 feature-heading visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick2Inv" data-element-offset="-20">
                    <strong>Easy Payment Integration</strong>
                </h2>
            </div>
            <div class="col-sm-4 text-center">
                <a href="javascript:void(0)" class="feature visibility-none themed-background-muted" data-toggle="animation-appear" data-animation-class="animation-fadeInQuickInv" data-element-offset="-100">
                    <i class="fa fa-code text-dark"></i>
                </a>
                <h2 class="site-heading h4 feature-heading visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick2Inv" data-element-offset="-20">
                    <strong>Salesforce Integration</strong>
                </h2>
            </div>
            <div class="col-sm-4 text-center">
                <a href="javascript:void(0)" class="feature visibility-none themed-background-muted" data-toggle="animation-appear" data-animation-class="animation-fadeInQuickInv" data-element-offset="-100">
                    <i class="fa fa-cogs text-dark"></i>
                </a>
                <h2 class="site-heading h4 feature-heading visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick2Inv" data-element-offset="-20">
                    <strong>Awesome Support</strong>
                </h2>
            </div>
        </div>
    </div>
</section>
<!-- END Promo Features -->

<!-- Promo #1 -->
<section class="site-section site-content border-bottom overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 push">
                <h2 class="site-heading"><strong>Self-Hosted</strong></h2>
                <p class="feature-text text-muted push"><strong>Hanzo</strong> offers an easy to use JavaScript library and API. This allows you to utilize our platform on any custom site that you have already. Just setup your payment processing through our Stripe Integration and you are ready to launch! It's that easy.</p>
                <h2 class="site-heading"><strong>Full Storefront</strong></h2>
                <p class="feature-text text-muted"><strong>Hanzo</strong> will let you use your own branding, your own domain and have a full ecommerce solution. You can customize your checkout flow with shopping cart, customizable product listings, discounts, complex product variants/SKUs, full email support which also includes customizable email notifcations as well as list building for pre-campaign marketing.</p>
            </div>
            <div class="col-sm-6 clearfix push">
                <img src="{{ staticUrl }}/frontend/img/placeholders/screenshots/promo_1.png" alt="" class="img-responsive pull-right visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInLeft" data-element-offset="-200" style="max-width: 450px; margin-right: -130px;">
            </div>
        </div>
    </div>
</section>
<!-- END Promo #1 -->

<!-- Quick Stats -->
<section class="site-content site-section themed-background-dark">
    <div class="container">
        <!-- Stats Row -->
        <!-- CountTo (initialized in js/app.js), for more examples you can check out https://github.com/mhuggins/jquery-countTo -->
        <div class="row">
            <div class="col-sm-4">
                <div class="counter site-block">
                    <span data-toggle="countTo" data-to="10000" data-after="+"></span>
                    <small>Sales</small>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="counter site-block">
                    <span data-toggle="countTo" data-to="530" data-after="+"></span>
                    <small>Services</small>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="counter site-block">
                    <span data-toggle="countTo" data-to="6" data-after="+"></span>
                    <small>Projects</small>
                </div>
            </div>
        </div>
        <!-- END Stats Row -->
    </div>
</section>
<!-- END Quick Stats -->

<!-- Promo #2 -->
<section class="site-section site-content border-bottom overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-push-6 push">
                <h2 class="site-heading"><strong>Advanced Analytics</strong></h2>
                <p class="feature-text text-muted push">Hanzo offers the most sophisticated Facebook and Google Analytics integration. Automatic conversion tracking so you know which ads are driving the conversion. We offer a granular data which covers multiple vents, such as new user signup, add to cart, checkout, all of which ties to products and pricing correctly.</p>
                <h2 class="site-heading"><strong>Payment Processing</strong></h2>
                <p class="feature-text text-muted">With our Stripe Integration your backers can pay with credit, debit or bitcoin!</p>
            </div>
            <div class="col-sm-6 col-sm-pull-6 clearfix push">
                <img src="{{ staticUrl }}/frontend/img/placeholders/screenshots/promo_2.png" alt="" class="img-responsive pull-left visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInRight" data-element-offset="-200" style="max-width: 450px; margin-left: -130px;">
            </div>
        </div>
    </div>
</section>
<!-- END Promo #2 -->

<!-- Sign Up Action -->
<section class="site-content site-section themed-background-dark">
    <div class="container">
        <h2 class="site-heading text-center text-light">Sign up here today if you want access to our <strong>Beta Program</strong>!</h2>
        <div class="site-block text-center">
            <form action="" method="post" class="validate form-inline" target="_blank" novalidate>
                <script src="//api.hanzo.io/mailinglist/4wuQun5Ezl/js" type="text/javascript"
                    data-submits=".btn-success" data-email="#beta-signup-email"
                        data-name="#beta-signup-name" data-validate="true"></script>
                <div class="form-group">
                    <label class="sr-only" for="register-username">Email</label>
                    <input type="email" id="beta-signup-email" name="EMAIL" class="form-control input-lg" placeholder="Email">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="register-password">Full Name</label>
                    <input type="text" id="beta-signup-password" name="NAME" class="form-control input-lg" placeholder="Name">
                </div>
                <div class="form-group">
                    <button type="submit" name="subscribe" class="button btn btn-lg btn-success">Get Started!</button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- END Sign Up Action -->

<!-- Promo #3 -->
<section class="site-section site-content border-bottom overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 push">
                <h2 class="site-heading"><strong>Technology Development</strong></h2>
                <p class="feature-text text-muted push">Time is of vital importance. <strong>Hanzo</strong> will save you hundreds of hours in development. Start right away without coding and see your project come to life months sooner.</p>
                <h2 class="site-heading"><strong>Extreme Flexibility</strong></h2>
                <p class="feature-text text-muted">Fully customize your campaign with dynamic product ship dates, multiple campaigns, host in EU support, international shipping support, one and two-step payment flows, pre-sales, flash sales, and even promotional coupons.</p>
            </div>
            <div class="col-sm-6 clearfix push">
                <img src="{{ staticUrl }}/frontend/img/placeholders/screenshots/promo_3.png" alt="" class="img-responsive pull-right visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInLeft" data-element-offset="-200" style="max-width: 450px; margin-right: -130px;">
            </div>
        </div>
    </div>
</section>
<!-- END Promo #3 -->

<!-- Testimonials -->
<section class="site-content site-section themed-background-muted">
    <div class="container">
        <div id="testimonials-carousel" class="carousel slide carousel-html" data-ride="carousel" data-interval="4000">
            <div class="carousel-inner text-center">
                <div class="active item">
                    <blockquote>
                        <p><img src="{{ staticUrl }}/frontend/img/placeholders/avatars/avatar13.jpg" alt="avatar" class="img-circle img-thumbnail img-thumbnail-avatar-2x"></p>
                        <h3>A big thanks! Our website looks great!</h3>
                        <footer><em><strong>Mitchell Weller</strong>, http://skully.com/</em></footer>
                    </blockquote>
                </div>
                <div class="item">
                    <blockquote>
                        <p><img src="{{ staticUrl }}/frontend/img/placeholders/avatars/avatar2.jpg" alt="avatar" class="img-circle img-thumbnail img-thumbnail-avatar-2x"></p>
                        <h3>It just works!</h3>
                        <footer><em><strong>Roger Santos</strong>, http://blogger.com/</em></footer>
                    </blockquote>
                </div>
                <div class="item">
                    <blockquote>
                        <p><img src="{{ staticUrl }}/frontend/img/placeholders/avatars/avatar1.jpg" alt="avatar" class="img-circle img-thumbnail img-thumbnail-avatar-2x"></p>
                        <h3>A great product at a great price!</h3>
                        <footer><em><strong>Edward Duncan</strong>, http://roactive.com/</em></footer>
                    </blockquote>
                </div>
                <div class="item">
                    <blockquote>
                        <p><img src="{{ staticUrl }}/frontend/img/placeholders/avatars/avatar7.jpg" alt="avatar" class="img-circle img-thumbnail img-thumbnail-avatar-2x"></p>
                        <h3>Awesome platform, I'm so happy I chose it!</h3>
                        <footer><em><strong>Scott Gray</strong>, http://slackitt.com/</em></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END Testimonials -->
{% endblock %}
