{% extends "base.html" %}

{% block title %}Pricing - Hanzo{% endblock %}

{% block content %}
<!-- Intro -->
<section class="site-section site-section-top site-section-light themed-background-dark">
    <div class="container">
        <h1 class="text-center animation-fadeInQuickInv"><strong>Pricing</strong></h1>
        <h3 class="text-center animation-fadeInQuickInv">We believe in simple and transparent pricing.</h3>
    </div>
</section>
<!-- END Intro -->

<!-- Plans -->
<section class="site-content site-section">
    <div class="container">
        <div class="site-block">
            <div class="row">
                <div class="col-sm-6">
                    <table class="table table-borderless table-pricing">
                        <thead>
                            <tr>
                                <th>Per transaction</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="active">
                                <td>
                                    <h3>5% plus payment processor fees</h3>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Unlimited</strong> Campaigns</td>
                            </tr>
                            <tr>
                                <td><strong>Unlimited</strong> Products</td>
                            </tr>
                            <tr>
                                <td><strong>Powerful</strong> API</td>
                            </tr>
                            <tr>
                                <td><strong>No</strong> setup fees</td>
                            </tr>
                            <tr class="active">
                                <td>
                                    <a href="{{ urlFor("platform", "/signup") }}" class="btn btn-effect-ripple  btn-success">Sign Up Now</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-muted">
                                    <small><em>Plus our terrific support.</em></small>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    <table class="table table-borderless table-pricing">
                        <thead>
                            <tr>
                                <th>Enterprise</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="active">
                                <td>
                                    <h3>Custom pricing available</h3>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>All</strong> our winning features</td>
                            </tr>
                            <tr>
                                <td><strong>Custom</strong> storefront</td>
                            </tr>
                            <tr>
                                <td><strong>EU</strong> Hosting available</td>
                            </tr>
                            <tr>
                                <td><strong>Advanced</strong> integrations</td>
                            </tr>
                            <tr class="active">
                                <td>
                                    <a href="mailto:enterprise@hanzo.io" class="btn btn-effect-ripple  btn-success">Let's talk</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-muted">
                                    <small><em>Scale as fast and as big as you need to.</em></small>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END Plans -->

<!-- Quick Stats -->
<section class="site-content site-section themed-background-dark">
    <div class="container">
        <!-- Stats Row -->
        <!-- CountTo (initialized in js/app.js), for more examples you can check out https://github.com/mhuggins/jquery-countTo -->
        <div class="row">
            <div class="col-sm-4">
                <div class="counter site-block">
                    <span data-toggle="countTo" data-to="10000" data-after="+"></span>
                    <small>Sales</small>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="counter site-block">
                    <span data-toggle="countTo" data-to="530" data-after="+"></span>
                    <small>Services</small>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="counter site-block">
                    <span data-toggle="countTo" data-to="6" data-after="+"></span>
                    <small>Projects</small>
                </div>
            </div>
        </div>
        <!-- END Stats Row -->
    </div>
</section>
<!-- END Quick Stats -->

<!-- Testimonials -->
<section class="site-content site-section">
    <div class="container">
        <div id="testimonials-carousel" class="carousel slide carousel-html" data-ride="carousel" data-interval="4000">
            <div class="carousel-inner text-center">
                <div class="active item">
                    <blockquote>
                        <p><img src="{{ staticUrl }}/frontend/img/placeholders/avatars/avatar13.jpg" alt="avatar" class="img-circle img-thumbnail img-thumbnail-avatar-2x"></p>
                        <h3>A big thanks! Our website looks great!</h3>
                        <footer><em><strong>Mitchell Weller</strong>, http://skully.com/</em></footer>
                    </blockquote>
                </div>
                <div class="item">
                    <blockquote>
                        <p><img src="{{ staticUrl }}/frontend/img/placeholders/avatars/avatar2.jpg" alt="avatar" class="img-circle img-thumbnail img-thumbnail-avatar-2x"></p>
                        <h3>It just works!</h3>
                        <footer><em><strong>Roger Santos</strong>, http://blogger.com/</em></footer>
                    </blockquote>
                </div>
                <div class="item">
                    <blockquote>
                        <p><img src="{{ staticUrl }}/frontend/img/placeholders/avatars/avatar1.jpg" alt="avatar" class="img-circle img-thumbnail img-thumbnail-avatar-2x"></p>
                        <h3>A great product at a great price!</h3>
                        <footer><em><strong>Edward Duncan</strong>, http://roactive.com/</em></footer>
                    </blockquote>
                </div>
                <div class="item">
                    <blockquote>
                        <p><img src="{{ staticUrl }}/frontend/img/placeholders/avatars/avatar7.jpg" alt="avatar" class="img-circle img-thumbnail img-thumbnail-avatar-2x"></p>
                        <h3>Awesome platform, I'm so happy I chose it!</h3>
                        <footer><em><strong>Scott Gray</strong>, http://slackitt.com/</em></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END Testimonials -->
{% endblock %}
