@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
    text-rendering: optimizeLegibility;
  }

  body {
    @apply bg-[#0a0a0a] text-gray-100;
  }

  ::selection {
    @apply bg-brand/30 text-white;
  }
}
