application: crowdstart-staging
module: default
version: v1

runtime: go
api_version: go1
threadsafe: true

automatic_scaling:
  max_concurrent_requests: 100

instance_class: F1

builtins:
- remote_api: on

inbound_services:
- warmup

handlers:
- url: /tasks
  script: _go_app
  login: admin
  secure: always

- url: /task/.*
  script: _go_app
  login: admin
  secure: always

- url: /_ah/remote_api
  script: _go_app
  login: admin

- url: /_ah/queue/go/delay
  script: _go_app
  login: admin

- url: /assets/css/(.*\.styl)
  static_files: assets/css/\1
  upload: assets/css/(.*\.style)
  mime_type: application/stylus

- url: /assets/js/(.*\.coffee)
  static_files: assets/js/\1
  upload: assets/js/(.*\.coffee)
  mime_type: application/coffee-script

- url: /font/(.*\.woff)
  static_files: static/font/\1
  upload: static/font/(.*\.woff)
  mime_type: application/font-woff
  http_headers:
    Access-Control-Allow-Origin: "*"

- url: /font/(.*\.woff2)
  static_files: static/font/\1
  upload: static/font/(.*\.woff2)
  mime_type: application/font-woff2
  http_headers:
    Access-Control-Allow-Origin: "*"

- url: /font/(.*\.svg)
  static_files: static/font/\1
  upload: static/font/(.*\.svg)
  mime_type: image/svg+xml
  http_headers:
    Access-Control-Allow-Origin: "*"

- url: /font/(.*\.eot)
  static_files: static/font/\1
  upload: static/font/(.*\.eot)
  mime_type: application/vnd.ms-fontobject
  http_headers:
    Access-Control-Allow-Origin: "*"

- url: /font/(.*\.ttf)
  static_files: static/font/\1
  upload: static/font/(.*\.ttf)
  mime_type: application/x-font-ttf
  http_headers:
    Access-Control-Allow-Origin: "*"

- url: /font/(.*\.otf)
  static_files: static/font/\1
  upload: static/font/(.*\.otf)
  mime_type: application/x-font-otf
  http_headers:
    Access-Control-Allow-Origin: "*"

- url: /*
  static_dir: static
  http_headers:
    Access-Control-Allow-Origin: "*"

pagespeed:
  enabled_rewriters:
    # HTML
    # - ProxyCss
    # - ProxyImages
    # - ProxyJs
    - ConvertMetaTags
    # - InlineCss
    # - InlineJs
    # - InlineImages
    # - InlinePreviewImages
    - CollapseWhitespace
    - CombineHeads
    - ElideAttributes
    - RemoveComments
    - RemoveQuotes
    - LeftTrimUrls

    # css
    # - CombineCss
    # - MoveCssToHead
    - MinifyCss

    # images
    - WebpOptimization
    # - ImageConvertToJpeg
    # - ImageRecompressJpeg
    # - ImageProgressiveJpeg
    # - ImageRecompressPng
    - ImageStripMetadata
    - ImageStripColorProfile
    # - ImageResize
    # - LazyloadImages
    - ImageAddDimensions

    # js
    # - CombineJs
    # - JsOptimize
    # - DeferJs

  disabled_rewriters:
    - FlushSubresources
