<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>hanzo - login</title>

        <meta name="title" content="Hanzo"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
        <meta name="robots" content="noindex, nofollow">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="{{ staticUrl }}/frontend/img/favicon.png">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon57.png" sizes="57x57">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon72.png" sizes="72x72">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon76.png" sizes="76x76">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon114.png" sizes="114x114">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon144.png" sizes="144x144">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon152.png" sizes="152x152">
        <link rel="apple-touch-icon" href="{{ staticUrl }}/frontend/img/icon180.png" sizes="180x180">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="{{ staticUrl }}/appui/css/bootstrap.min.css">

        <!-- Related styles of various icon packs and plugins -->
        <link rel="stylesheet" href="{{ staticUrl }}/appui/css/plugins.css">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="{{ staticUrl }}/appui/css/main.css">

        <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="{{ staticUrl }}/appui/css/themes.css">
        <!-- END Stylesheets -->

        {% block css %}{% endblock %}

        <!-- Modernizr (browser feature detection library) -->
        <script src="{{ staticUrl }}/appui/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        {% block lockbg %}{% endblock %}

        <div id="login-container">
        <!-- Login Container -->
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}

        {% block footer %}
        <!-- Footer -->
        <footer class="text-muted text-center animation-pullUp">
            <small>&copy;&nbsp;<span id="year-copy"></span> &nbsp;Hanzo, Inc.</small>
        </footer>
        <!-- END Footer -->
        {% endblock %}
        </div>
        <!-- END Login Container -->

        {% block content_end %}{% endblock %}

        <!-- Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script>!window.jQuery && document.write(decodeURI('%3Cscript src="{{ staticUrl }}/appui/js/vendor/jquery-2.1.3.min.js"%3E%3C/script%3E'));</script>

        <!-- Bootstrap.js, Jquery plugins and Custom JS code -->
        <script src="{{ staticUrl }}/appui/js/vendor/bootstrap.min.js"></script>
        <script src="{{ staticUrl }}/appui/js/plugins.js"></script>
        <script src="{{ staticUrl }}/appui/js/app.js"></script>

        {% if isProduction %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-60956810-1', 'auto');
          ga('send', 'pageview');
        </script>
        {% endif %}

        <!-- Load and execute javascript code used only in this page -->
        {% block js %}{% endblock %}
    </body>
{% comment %}
vim: ft=htmldjango
{% endcomment %}
</html>
