{% extends "base.html" %}

{% block title %}hanzo - login{% endblock %}

{% block header %}
<!-- Login Header -->
<h1 class="h2 text-light text-center push-top-bottom animation-slideDown">
      <img src="{{ staticUrl }}/backend/img/logo.svg">
      hanzo
</h1>
<!-- END Login Header -->
{% endblock %}

{% block content %}
<!-- Login Block -->
<div class="block animation-fadeInQuickInv">
    <!-- Login Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <a href="{{ urlFor("platform", "/password-reset") }}" class="btn btn-effect-ripple btn-primary" data-toggle="tooltip" data-placement="left" title="Forgot your password?"><i class="fa fa-exclamation-circle"></i></a>
            <a href="{{ urlFor("platform", "/signup") }}" class="btn btn-effect-ripple btn-primary" data-toggle="tooltip" data-placement="left" title="Create new account"><i class="fa fa-plus"></i></a>

        </div>
        <h2>Login</h2>
    </div>
    <!-- END Login Title -->
    <!-- Login Form -->
    <form id="form-login" method="post" class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-12">
                <!-- Errors -->
                {% if failed %}
                  <div id="login-errors" class="text-danger animation-slideUp">Please enter your account's email</div>
                {% endif %}
                <!-- END Errors -->
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <input type="text" id="email" name="email" class="form-control" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <input type="password" id="password" name="password" class="form-control" placeholder="Password">
            </div>
        </div>
        <div class="form-group form-actions">
            <div class="col-xs-8">
                <label class="csscheckbox csscheckbox-primary">
                    <input type="checkbox" id="login-remember-me" name="login-remember-me">
                    <span></span>
                </label>
                &nbsp;Remember Me?
            </div>
            <div class="col-xs-4 text-right">
                <button type="submit" class="btn btn-effect-ripple btn-sm btn-primary"><i class="fa fa-check"></i> Let's Go</button>
            </div>
        </div>
    </form>
    <!-- END Login Form -->
</div>
<!-- END Login Block -->
{% endblock %}

{% block js %}
<script src="{{ staticUrl }}/appui/js/pages/readyLogin.js"></script>
<script>$(function(){ ReadyLogin.init(); });</script>
{% endblock %}
