node_modules
/.cake_task_cache
data/
.sdk
npm-debug.log
.datastore.bin

config/production/bulkloader_helper.pyc
static/css/checkout.css
static/css/preorder.css
static/css/store.css
static/css/theme.css
static/js/checkout.js
static/js/preorder.js
static/js/store.js
config.json
*.sql3
*.csv
*.pyc
*.test
*.sql3-journal
*.idea

# CircleCI
config/development/cron.yaml.orig
test/datastore/datastore.coverprofile
test/models/models.coverprofile
test/models/user/user.coverprofile
test/thirdparty/mandrill/integration/integration.coverprofile
test/thirdparty/salesforce/salesforce.coverprofile
test/util/task/integration/integration.coverprofile
test/util/task/task.coverprofile
test/auth/auth.coverprofile
test/datastore/integration/integration.coverprofile
test/middleware/middleware.coverprofile
test/store/integration/integration.coverprofile
test/thirdparty/indiegogo/indiegogo.coverprofile
test/thirdparty/stripe/stripe.coverprofile
test/util/rest/rest.coverprofile
