swagger: '2.0'
info:
  version: v1.0
  title: Hanzo API
  description: >-
    ## Welcome


    This is a place to put general notes and extra information, for internal
    use.


    To get started designing/documenting this API, select a version on the left.
host: api.hanzo.io
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  oauth2:
    type: oauth2
    flow: password
    scopes: {}
    tokenUrl: 'https://api.hanzo.io/auth'
  Authorization:
    name: Authorization
    type: apiKey
    in: header
  token:
    name: token
    type: apiKey
    in: query
paths:
  '/variant/{id}':
    parameters:
      - name: id
        in: path
        required: true
        type: string
    delete:
      operationId: DELETE_variant-id
      tags:
        - Variant
      description: >-
        Deleting a Variant is as simple as passing its ID to the Variant
        endpoint using

        the HTTP Delete method. You will not receive a response past the normal
        HTTP

        200.
      produces:
        - text/html
      parameters:
        - name: token
          in: query
          required: false
          type: string
        - name: Accept
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
        '204':
          description: ''
          schema:
            type: object
            properties: {}
          examples:
            application/json: null
    post:
      operationId: POST_variant-id
      tags:
        - Variant
      description: >-
        Basic Variant calls are keyed upon the unique ID of the Variant.  As
        with all

        calls, it also requires an access key included with the request.
      parameters:
        - name: body
          in: body
          schema:
            $ref: '#/definitions/CreateAVariantRequest'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CreateAVariantResponse'
    patch:
      operationId: PATCH_variant-id
      tags:
        - Variant
      description: >-
        The PATCH method will allow you to replace a given ID's data in a
        piecemeal

        fashion.  Any fields passed in to a PATCH method will be updated with
        what you

        request, while any fields not specified in the JSON will be left alone.
      parameters:
        - name: token
          in: query
          required: false
          type: string
        - name: body
          in: body
          schema:
            properties:
              sku:
                type: string
              price:
                type: integer
            type: object
            example:
              sku: sad-keanu-shirt-0f
              price: 3500
        - name: Accept
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              id:
                type: string
              createdAt:
                type: string
              updatedAt:
                type: string
              _:
                type: string
              productId:
                type: string
              sku:
                type: string
              name:
                type: string
              currency:
                type: string
              price:
                type: integer
              available:
                type: boolean
              availability:
                type: object
                properties:
                  active:
                    type: boolean
                  startDate:
                    type: string
                  endDate:
                    type: string
              inventory:
                type: integer
              sold:
                type: integer
              weight:
                type: integer
              weightUnit:
                type: string
              dimensions:
                type: string
              taxable:
                type: boolean
              options:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
          examples:
            application/json:
              id: nwCXA3rJHQ59k
              createdAt: '2016-04-15T04:54:49.438066Z'
              updatedAt: '2016-04-15T04:54:50.005451307Z'
              _: ''
              productId: n8cQKRzcQ59k
              sku: sad-keanu-shirt-0f
              name: Sad Keanu T-shirt (Medium)
              currency: USD
              price: 3500
              available: false
              availability:
                active: false
                startDate: '0001-01-01T00:00:00Z'
                endDate: '0001-01-01T00:00:00Z'
              inventory: 0
              sold: 0
              weight: 0
              weightUnit: ''
              dimensions: ''
              taxable: false
              options:
                - name: size
                  value: medium
    put:
      operationId: PUT_variant-id
      tags:
        - Variant
      description: >-
        The PUT method will allow you to replace a given ID's data in its
        entirety.

        Passing in valid Variant JSON (see the POST method), will overwrite any
        and all

        data existing on that ID.
      responses:
        '200':
          description: ''
    get:
      operationId: GET_variant-id
      tags:
        - Variant
      description: >-
        Basic Variant calls are keyed upon the unique ID of the Variant.  As
        with all

        calls, it also requires an access key included with the request.
      parameters:
        - name: token
          in: query
          required: false
          type: string
        - name: Accept
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/GetAVariantResponse'
          examples:
            application/json:
              id: nwCXA3rJHQ59k
              createdAt: '2016-04-15T04:54:49.438066Z'
              updatedAt: '2016-04-15T04:54:49.438066Z'
              _: ''
              productId: n8cQKRzcQ59k
              sku: sad-keanu-shirt-0f
              name: Sad Keanu T-shirt (Medium)
              currency: USD
              price: 2000
              available: false
              availability:
                active: false
                startDate: '0001-01-01T00:00:00Z'
                endDate: '0001-01-01T00:00:00Z'
              inventory: 0
              sold: 0
              weight: 0
              weightUnit: ''
              dimensions: ''
              taxable: false
              options:
                - name: size
                  value: medium
  '/order/{id}':
    parameters:
      - name: id
        in: path
        required: true
        type: string
    post:
      operationId: POST_order-id
      tags:
        - Order
      description: >-
        Basic Order calls are keyed upon the unique ID of the Order.  As with
        all calls,

        it also requires an access key included with the request.
      parameters:
        - name: body
          in: body
          schema:
            $ref: '#/definitions/CreateanOrderrequest'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CreateanOrderresponse'
    delete:
      operationId: DELETE_order-id
      tags:
        - Order
      description: >-
        Deleting a Order is as simple as passing its ID to the Order endpoint
        using

        the HTTP Delete method. You will not receive a response past the normal
        HTTP

        200.
      produces:
        - text/html
      parameters:
        - name: token
          in: query
          required: false
          type: string
        - name: Accept
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
        '204':
          description: ''
          schema:
            type: object
            properties: {}
          examples:
            application/json: null
    get:
      operationId: GET_order-id
      tags:
        - Order
      description: >-
        Basic Order calls are keyed upon the unique ID of the Order.  As with
        all calls,

        it also requires an access key included with the request.
      parameters:
        - name: token
          in: query
          required: false
          type: string
        - name: Accept
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/GetanOrderresponse'
          examples:
            application/json:
              id: y9i0QxNHljRQ
              createdAt: '2016-04-15T04:54:23.306962Z'
              updatedAt: '2016-04-15T04:54:23.306962Z'
              number: 3330032
              status: open
              paymentStatus: unpaid
              fulfillmentStatus: unfulfilled
              preorder: false
              unconfirmed: false
              currency: usd
              type: ''
              shippingMethod: ''
              lineTotal: 2500
              discount: 0
              subtotal: 2500
              shipping: 0
              tax: 0
              total: 2500
              balance: 0
              paid: 0
              refunded: 0
              billingAddress: {}
              shippingAddress:
                line1: line1
                line2: line2
                city: city
                state: state
                postalCode: '11111'
                country: USA
              items:
                - _: ''
                  collectionId: ''
                  productId: eAc2E8K5I6oA7
                  productName: Sad Keanu T-shirt
                  productSlug: sad-keanu-shirt
                  price: 2500
                  quantity: 1
                  weight: 0
                  weightUnit: ''
                  taxable: false
                  free: false
                  addedBy: ''
              payments: null
              fulfillment:
                carrier: ''
                service: ''
                trackingNumber: ''
                createdAt: '0001-01-01T00:00:00Z'
                shippedAt: '0001-01-01T00:00:00Z'
                cost: 0
              metadata: {}
              gift: false
              giftMessage: ''
              giftEmail: ''
    patch:
      operationId: PATCH_order-id
      tags:
        - Order
      description: >-
        The PATCH method will allow you to replace a given ID's data in a
        piecemeal

        fashion.  Any fields passed in to a PATCH method will be updated with
        what you

        request, while any fields not specified in the JSON will be left alone.
      parameters:
        - name: token
          in: query
          required: false
          type: string
        - name: body
          in: body
          schema:
            properties:
              id:
                type: string
              shippingAddress:
                type: object
                properties:
                  line1:
                    type: string
            type: object
            example:
              id: y9i0QxNHljRQ
              shippingAddress:
                line1: line1u
        - name: Accept
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              id:
                type: string
              createdAt:
                type: string
              updatedAt:
                type: string
              number:
                type: integer
              status:
                type: string
              paymentStatus:
                type: string
              fulfillmentStatus:
                type: string
              preorder:
                type: boolean
              unconfirmed:
                type: boolean
              currency:
                type: string
              type:
                type: string
              shippingMethod:
                type: string
              lineTotal:
                type: integer
              discount:
                type: integer
              subtotal:
                type: integer
              shipping:
                type: integer
              tax:
                type: integer
              total:
                type: integer
              balance:
                type: integer
              paid:
                type: integer
              refunded:
                type: integer
              billingAddress:
                type: object
                properties: {}
              shippingAddress:
                type: object
                properties:
                  line1:
                    type: string
                  line2:
                    type: string
                  city:
                    type: string
                  state:
                    type: string
                  postalCode:
                    type: string
                  country:
                    type: string
              items:
                type: array
                items:
                  type: object
                  properties:
                    _:
                      type: string
                    collectionId:
                      type: string
                    productId:
                      type: string
                    productName:
                      type: string
                    productSlug:
                      type: string
                    price:
                      type: integer
                    quantity:
                      type: integer
                    weight:
                      type: integer
                    weightUnit:
                      type: string
                    taxable:
                      type: boolean
                    free:
                      type: boolean
                    addedBy:
                      type: string
              payments:
                type: 'null'
              fulfillment:
                type: object
                properties:
                  carrier:
                    type: string
                  service:
                    type: string
                  trackingNumber:
                    type: string
                  createdAt:
                    type: string
                  shippedAt:
                    type: string
                  cost:
                    type: integer
              metadata:
                type: object
                properties: {}
              gift:
                type: boolean
              giftMessage:
                type: string
              giftEmail:
                type: string
          examples:
            application/json:
              id: y9i0QxNHljRQ
              createdAt: '2016-04-15T04:54:23.306962Z'
              updatedAt: '2016-04-15T04:54:26.545728821Z'
              number: 3330032
              status: open
              paymentStatus: unpaid
              fulfillmentStatus: unfulfilled
              preorder: false
              unconfirmed: false
              currency: usd
              type: ''
              shippingMethod: ''
              lineTotal: 2500
              discount: 0
              subtotal: 2500
              shipping: 0
              tax: 0
              total: 2500
              balance: 0
              paid: 0
              refunded: 0
              billingAddress: {}
              shippingAddress:
                line1: line1u
                line2: line2
                city: city
                state: state
                postalCode: '11111'
                country: USA
              items:
                - _: ''
                  collectionId: ''
                  productId: eAc2E8K5I6oA7
                  productName: Sad Keanu T-shirt
                  productSlug: sad-keanu-shirt
                  price: 2500
                  quantity: 1
                  weight: 0
                  weightUnit: ''
                  taxable: false
                  free: false
                  addedBy: ''
              payments: null
              fulfillment:
                carrier: ''
                service: ''
                trackingNumber: ''
                createdAt: '0001-01-01T00:00:00Z'
                shippedAt: '0001-01-01T00:00:00Z'
                cost: 0
              metadata: {}
              gift: false
              giftMessage: ''
              giftEmail: ''
    put:
      operationId: PUT_order-id
      tags:
        - Order
      description: >-
        The PUT method will allow you to replace a given ID's data in its
        entirety.

        Passing in valid Order JSON (see the POST method), will overwrite any
        and all

        data existing on that ID.
      responses:
        '200':
          description: ''
  '/store/{id}/variant/{key}':
    parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: key
        in: path
        required: true
        type: string
    get:
      operationId: GET_store-id-variant-key
      tags:
        - Store
      description: >-
        It is possible to access the product variants organized under a store by

        providing the store's unique identifier and the variant's unique key. As
        with

        all calls, this requires an API key included along with the request.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/GetAStoresVariantResponse'
    patch:
      operationId: PATCH_store-id-variant-key
      tags:
        - Store
      description: >-
        The PATCH method will allow you to replace a given ID's data in a
        piecemeal

        fashion.  Any fields passed in to a PATCH method will be updated with
        what you

        request, while any fields not specified in the JSON will be left alone.
      responses:
        '200':
          description: ''
    delete:
      operationId: DELETE_store-id-variant-key
      tags:
        - Store
      description: >-
        Deleting a Variant is as simple as passing its ID to the Variant
        endpoint using

        the HTTP Delete method. You will not receive a response past the normal
        HTTP

        200.
      responses:
        '200':
          description: ''
    put:
      operationId: PUT_store-id-variant-key
      tags:
        - Store
      description: >-
        The PUT method will allow you to replace a given ID's data in its
        entirety.

        Passing in valid Variant JSON (see the POST method), will overwrite any
        and all

        data existing on that ID.
      responses:
        '200':
          description: ''
  /:
    get:
      operationId: GET_root
      produces:
        - text/plain
      parameters:
        - name: Via
          in: header
          type: string
        - name: Connect-Time
          in: header
          type: integer
        - name: Total-Route-Time
          in: header
          type: integer
      responses:
        '200':
          description: ''
          schema:
            type: object
  '/transaction/{id}':
    parameters:
      - name: id
        in: path
        required: true
        type: string
    get:
      operationId: GET_transaction-id
      tags:
        - Transaction
      description: >-
        This is the only call that is available for Transactions, as they are
        too

        directly sensitive to allow to be modified.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/GetaTransactionresponse'
  /referral:
    get:
      operationId: GET_referral
      parameters:
        - name: token
          in: query
          type: string
        - name: Accept
          in: header
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              count:
                type: integer
              models:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    createdAt:
                      type: string
                    updatedAt:
                      type: string
                    userId:
                      type: string
                    orderId:
                      type: string
                    referrerUserId:
                      type: string
                    referrerId:
                      type: string
          examples:
            application/json:
              count: 72
              models:
                - id: 01szpkrfEdk2
                  createdAt: '2016-04-15T04:32:49.212679Z'
                  updatedAt: '2016-04-15T04:32:49.212679Z'
                  userId: j4HB3PPF9o5v
                  orderId: 0Wizkeyeu2HbOWWiD1gJ
                  referrerUserId: dpHEGy1H0xXP
                  referrerId: 8WFG2yNCWqX2
    post:
      operationId: POST_referral
      parameters:
        - name: token
          in: query
          type: string
        - name: body
          in: body
          schema:
            type: object
            properties:
              referrerId:
                type: string
              referrerUserId:
                type: string
              userId:
                type: string
              orderId:
                type: string
            example:
              referrerId: JJFx6Gku71rj
              referrerUserId: w4HZNvlwsQ2nO
              userId: AyHX5egNclOgN
              orderId: referredOrderId
        - name: Accept
          in: header
          type: string
        - name: Content-Type
          in: header
          type: string
      responses:
        '201':
          description: ''
          schema:
            type: object
            properties:
              id:
                type: string
              createdAt:
                type: string
              updatedAt:
                type: string
              userId:
                type: string
              orderId:
                type: string
              referrerUserId:
                type: string
              referrerId:
                type: string
          examples:
            application/json:
              id: dysvkrrbT0xXP
              createdAt: '2016-04-15T04:54:41.684769129Z'
              updatedAt: '2016-04-15T04:54:41.684769129Z'
              userId: AyHX5egNclOgN
              orderId: referredOrderId
              referrerUserId: w4HZNvlwsQ2nO
              referrerId: JJFx6Gku71rj
  '/site/{siteid}/deploy/{deployid}/files/index.html':
    parameters:
      - name: siteid
        in: path
        required: true
        type: string
      - name: deployid
        in: path
        required: true
        type: string
    put:
      operationId: PUT_site-siteid-deploy-deployid-files-index-html
      produces:
        - text/html
      parameters:
        - name: token
          in: query
          type: string
        - name: Content-Type
          in: header
          type: string
      responses:
        '307':
          description: ''
          schema:
            type: object
            properties: {}
  '/site/{id}':
    parameters:
      - name: id
        in: path
        required: true
        type: string
    get:
      operationId: GET_site-id
      tags:
        - Site
      description: >-
        These site calls are keyed on the SiteId in the Site object. As with all
        calls,

        it also requires an access key to be sent along with the request.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/GetASinglesiteresponse'
    put:
      operationId: PUT_site-id
      tags:
        - Site
      description: This functionally is a POST/Create command with a contextual site ID.
      parameters:
        - name: body
          in: body
          schema:
            $ref: '#/definitions/UpdateASiteRequest'
      responses:
        '200':
          description: ''
    delete:
      operationId: DELETE_site-id
      tags:
        - Site
      description: >-
        The only input this requires is the contextual site ID, and it will
        respond with

        200 OK.
      produces:
        - text/html
      parameters:
        - name: token
          in: query
          required: false
          type: string
        - name: Accept
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
        '204':
          description: ''
          schema:
            type: object
            properties: {}
          examples:
            application/json: null
  /site:
    post:
      operationId: POST_site
      tags:
        - Site
      description: This will deploy a new site.
      parameters:
        - name: token
          in: query
          required: false
          type: string
        - name: Accept
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
        '201':
          description: ''
          schema:
            type: object
            properties:
              id:
                type: string
              createdAt:
                type: string
              updatedAt:
                type: string
              domain:
                type: string
              name:
                type: string
              url:
                type: string
          examples:
            application/json:
              id: 6KUrjkA2szYPD
              createdAt: '2016-04-06T07:36:28.16298876Z'
              updatedAt: '2016-04-06T07:36:28.16298876Z'
              domain: domain.com
              name: site-0no5
              url: ''
    get:
      operationId: GET_site
      tags:
        - Site
      description: Returns all sites that you are authorized to see.
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/GetAllSitesResponse'
  /coupon:
    get:
      operationId: GET_coupon
      parameters:
        - name: token
          in: query
          type: string
        - name: Accept
          in: header
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              count:
                type: integer
              models:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    createdAt:
                      type: string
                    updatedAt:
                      type: string
                    name:
                      type: string
                    type:
                      type: string
                    code:
                      type: string
                    startDate:
                      type: string
                    endDate:
                      type: string
                    filter:
                      type: string
                    once:
                      type: boolean
                    enabled:
                      type: boolean
                    amount:
                      type: integer
                    used:
                      type: integer
                    freeProductId:
                      type: string
                    freeVariantId:
                      type: string
                    freeQuantity:
                      type: integer
          examples:
            application/json:
              count: 66
              models:
                - id: 0ks5Zy7UEdk2
                  createdAt: '2016-01-21T05:38:12.641825Z'
                  updatedAt: '2016-01-21T05:38:12.641825Z'
                  name: Such Test Coupon
                  type: flat
                  code: SUCH-TEST-COUPON
                  startDate: '2016-01-21T05:37:56.513Z'
                  endDate: '2016-02-21T05:37:56.513Z'
                  filter: ''
                  once: true
                  enabled: true
                  amount: 500
                  used: 0
                  freeProductId: ''
                  freeVariantId: ''
                  freeQuantity: 0
    post:
      operationId: POST_coupon
      parameters:
        - name: token
          in: query
          type: string
        - name: body
          in: body
          schema:
            type: object
            properties:
              code:
                type: string
              name:
                type: string
              type:
                type: string
              startDate:
                type: string
              endDate:
                type: string
              once:
                type: boolean
              enabled:
                type: boolean
              amount:
                type: integer
            example:
              code: such-test-coupon
              name: Such Test Coupon
              type: flat
              startDate: '2016-04-15T04:53:45.548Z'
              endDate: '2016-05-15T04:53:45.548Z'
              once: true
              enabled: true
              amount: 500
        - name: Accept
          in: header
          type: string
        - name: Content-Type
          in: header
          type: string
      responses:
        '201':
          description: ''
          schema:
            type: object
            properties:
              id:
                type: string
              createdAt:
                type: string
              updatedAt:
                type: string
              name:
                type: string
              type:
                type: string
              code:
                type: string
              startDate:
                type: string
              endDate:
                type: string
              filter:
                type: string
              once:
                type: boolean
              enabled:
                type: boolean
              amount:
                type: integer
              used:
                type: integer
              freeProductId:
                type: string
              freeVariantId:
                type: string
              freeQuantity:
                type: integer
          examples:
            application/json:
              id: EGsmjZKcwDr1
              createdAt: '2016-04-15T04:54:12.601799098Z'
              updatedAt: '2016-04-15T04:54:12.601799098Z'
              name: Such Test Coupon
              type: flat
              code: SUCH-TEST-COUPON
              startDate: '2016-04-15T04:53:45.548Z'
              endDate: '2016-05-15T04:53:45.548Z'
              filter: ''
              once: true
              enabled: true
              amount: 500
              used: 0
              freeProductId: ''
              freeVariantId: ''
              freeQuantity: 0
  /product:
    post:
      operationId: POST_product
      parameters:
        - name: token
          in: query
          type: string
        - name: body
          in: body
          schema:
            type: object
            properties:
              slug:
                type: string
              name:
                type: string
              price:
                type: integer
              currency:
                type: string
              headline:
                type: string
              description:
                type: string
              options:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    values:
                      type: array
                      items:
                        type: string
            example:
              slug: sad-keanu-shirt0z
              name: Sad Keanu T-shirt
              price: 2500
              currency: USD
              headline: Oh Keanu
              description: Sad Keanu is sad.
              options:
                - name: size
                  values:
                    - small
                    - medium
                    - large
                - name: color
                  values:
                    - dark
                    - light
        - name: Accept
          in: header
          type: string
        - name: Content-Type
          in: header
          type: string
      responses:
        '201':
          description: ''
          schema:
            type: object
            properties:
              id:
                type: string
              createdAt:
                type: string
              updatedAt:
                type: string
              slug:
                type: string
              sku:
                type: string
              currency:
                type: string
              price:
                type: integer
              listPrice:
                type: integer
              shipping:
                type: integer
              inventory:
                type: integer
              weight:
                type: integer
              weightUnit:
                type: string
              dimensions:
                type: string
              taxable:
                type: boolean
              name:
                type: string
              headline:
                type: string
              excerpt:
                type: string
              description:
                type: string
              headerImage:
                type: object
                properties:
                  type:
                    type: string
                  alt:
                    type: string
                  url:
                    type: string
                  x:
                    type: integer
                  'y':
                    type: integer
              media:
                type: 'null'
              available:
                type: boolean
              hidden:
                type: boolean
              availability:
                type: object
                properties:
                  active:
                    type: boolean
                  startDate:
                    type: string
                  endDate:
                    type: string
              preorder:
                type: boolean
              addLabel:
                type: string
              estimatedDelivery:
                type: string
              variants:
                type: array
                items:
                  type: object
                  properties: {}
              options:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    values:
                      type: array
                      items:
                        type: string
          examples:
            application/json:
              id: n8cQKRzcQ59k
              createdAt: '2016-04-15T04:54:49.225307107Z'
              updatedAt: '2016-04-15T04:54:49.225307107Z'
              slug: sad-keanu-shirt0z
              sku: ''
              currency: USD
              price: 2500
              listPrice: 0
              shipping: 0
              inventory: 0
              weight: 0
              weightUnit: ''
              dimensions: ''
              taxable: false
              name: Sad Keanu T-shirt
              headline: Oh Keanu
              excerpt: ''
              description: Sad Keanu is sad.
              headerImage:
                type: ''
                alt: ''
                url: ''
                x: 0
                'y': 0
              media: null
              available: false
              hidden: false
              availability:
                active: false
                startDate: '0001-01-01T00:00:00Z'
                endDate: '0001-01-01T00:00:00Z'
              preorder: false
              addLabel: ''
              estimatedDelivery: ''
              variants: []
              options:
                - name: size
                  values:
                    - small
    get:
      operationId: GET_product
      parameters:
        - name: token
          in: query
          type: string
        - name: Accept
          in: header
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              count:
                type: integer
              models:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    createdAt:
                      type: string
                    updatedAt:
                      type: string
                    slug:
                      type: string
                    sku:
                      type: string
                    currency:
                      type: string
                    price:
                      type: integer
                    listPrice:
                      type: integer
                    shipping:
                      type: integer
                    inventory:
                      type: integer
                    weight:
                      type: integer
                    weightUnit:
                      type: string
                    dimensions:
                      type: string
                    taxable:
                      type: boolean
                    name:
                      type: string
                    headline:
                      type: string
                    excerpt:
                      type: string
                    description:
                      type: string
                    headerImage:
                      type: object
                      properties:
                        type:
                          type: string
                        alt:
                          type: string
                        url:
                          type: string
                        x:
                          type: integer
                        'y':
                          type: integer
                    media:
                      type: 'null'
                    available:
                      type: boolean
                    hidden:
                      type: boolean
                    availability:
                      type: object
                      properties:
                        active:
                          type: boolean
                        startDate:
                          type: string
                        endDate:
                          type: string
                    preorder:
                      type: boolean
                    addLabel:
                      type: string
                    estimatedDelivery:
                      type: string
                    variants:
                      type: array
                      items:
                        type: object
                        properties: {}
                    options:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          values:
                            type: array
                            items:
                              type: string
          examples:
            application/json:
              count: 6
              models:
                - id: 0Kc32x8SEdk2
                  createdAt: '2016-01-20T01:46:41.231698Z'
                  updatedAt: '2016-01-20T01:46:41.36838Z'
                  slug: doge-shirt
                  sku: ''
                  currency: usd
                  price: 2000
                  listPrice: 0
                  shipping: 0
                  inventory: 0
                  weight: 0
                  weightUnit: ''
                  dimensions: ''
                  taxable: false
                  name: Such T-shirt
                  headline: wow  such shirt  much tee
                  excerpt: ''
                  description: "wow\n\t　　　　　　such shirt\n\tmuch tee\n\n\t\t\tnice shop\n\n\t　so hip\n\n\t　　　　so doge\n\t"
                  headerImage:
                    type: ''
                    alt: ''
                    url: ''
                    x: 0
                    'y': 0
                  media: null
                  available: false
                  hidden: false
                  availability:
                    active: false
                    startDate: '0001-01-01T00:00:00Z'
                    endDate: '0001-01-01T00:00:00Z'
                  preorder: false
                  addLabel: ''
                  estimatedDelivery: ''
                  variants: []
                  options:
                    - name: Size
                      values:
                        - Much
  '/user/{id}':
    parameters:
      - name: id
        in: path
        required: true
        type: string
    get:
      operationId: GET_user-id
      tags:
        - User
      description: >-
        Basic User calls are keyed upon the unique ID of the User.  As with all
        calls,

        it also requires an access key included with the request.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/GetAUserResponse'
    patch:
      operationId: PATCH_user-id
      tags:
        - User
      description: >-
        The PATCH method will allow you to replace a given ID's data in a
        piecemeal

        fashion.  Any fields passed in to a PATCH method will be updated with
        what you

        request, while any fields not specified in the JSON will be left alone.
      responses:
        '200':
          description: ''
    post:
      operationId: POST_user-id
      tags:
        - User
      description: >-
        Basic User calls are keyed upon the unique ID of the User.  As with all
        calls,

        it also requires an access key included with the request.
      parameters:
        - name: body
          in: body
          schema:
            $ref: '#/definitions/CreateAUserRequest'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CreateAUserResponse'
    delete:
      operationId: DELETE_user-id
      tags:
        - User
      description: >-
        Deleting a User is as simple as passing its ID to the User endpoint
        using

        the HTTP Delete method. You will not receive a response past the normal
        HTTP

        200.
      responses:
        '200':
          description: ''
    put:
      operationId: PUT_user-id
      tags:
        - User
      description: >-
        The PUT method will allow you to replace a given ID's data in its
        entirety.

        Passing in valid User JSON (see the POST method), will overwrite any and
        all

        data existing on that ID.
      responses:
        '200':
          description: ''
  '/referral/{id}':
    parameters:
      - name: id
        in: path
        required: true
        type: string
    delete:
      operationId: DELETE_referral-id
      tags:
        - Referral
      description: >-
        Deleting a Referral is as simple as passing its ID to the Referral
        endpoint using

        the HTTP Delete method. You will not receive a response past the normal
        HTTP

        200.
      responses:
        '200':
          description: ''
    post:
      operationId: POST_referral-id
      tags:
        - Referral
      description: >-
        Basic Referral calls are keyed upon the unique ID of the Referral.  As
        with all

        calls, it also requires an access key included with the request.
      parameters:
        - name: body
          in: body
          schema:
            $ref: '#/definitions/CreatingaReferralrequest'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CreatingaReferralresponse'
    get:
      operationId: GET_referral-id
      tags:
        - Referral
      description: >-
        Basic Referral calls are keyed upon the unique ID of the Referral.  As
        with all

        calls, it also requires an access key included with the request.
      parameters:
        - name: token
          in: query
          required: false
          type: string
        - name: Accept
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/GetaReferralresponse'
          examples:
            application/json:
              id: OxslNprfZvDW
              createdAt: '2016-04-15T04:54:40.248177Z'
              updatedAt: '2016-04-15T04:54:40.248177Z'
              userId: AyHX5egNclOgN
              orderId: referredOrderId
              referrerUserId: w4HZNvlwsQ2nO
              referrerId: JJFx6Gku71rj
    patch:
      operationId: PATCH_referral-id
      tags:
        - Referral
      description: >-
        The PATCH method will allow you to replace a given ID's data in a
        piecemeal

        fashion.  Any fields passed in to a PATCH method will be updated with
        what you

        request, while any fields not specified in the JSON will be left alone.
      parameters:
        - name: token
          in: query
          required: false
          type: string
        - name: body
          in: body
          schema:
            properties:
              id:
                type: string
            type: object
            example:
              id: OxslNprfZvDW
        - name: Accept
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              id:
                type: string
              createdAt:
                type: string
              updatedAt:
                type: string
              userId:
                type: string
              orderId:
                type: string
              referrerUserId:
                type: string
              referrerId:
                type: string
          examples:
            application/json:
              id: OxslNprfZvDW
              createdAt: '2016-04-15T04:54:40.248177Z'
              updatedAt: '2016-04-15T04:54:41.962107681Z'
              userId: AyHX5egNclOgN
              orderId: referredOrderId
              referrerUserId: w4HZNvlwsQ2nO
              referrerId: JJFx6Gku71rj
    put:
      operationId: PUT_referral-id
      tags:
        - Referral
      description: >-
        The PUT method will allow you to replace a given ID's data in its
        entirety.

        Passing in valid Referral JSON (see the POST method), will overwrite any
        and all

        data existing on that ID.
      responses:
        '200':
          description: ''
  /order:
    post:
      operationId: POST_order
      parameters:
        - name: token
          in: query
          type: string
        - name: body
          in: body
          schema:
            type: object
            properties:
              shippingAddress:
                type: object
                properties:
                  line1:
                    type: string
                  line2:
                    type: string
                  city:
                    type: string
                  state:
                    type: string
                  postalCode:
                    type: string
                  country:
                    type: string
              currency:
                type: string
              items:
                type: array
                items:
                  type: object
                  properties:
                    productSlug:
                      type: string
                    quantity:
                      type: integer
            example:
              shippingAddress:
                line1: line1
                line2: line2
                city: city
                state: state
                postalCode: '11111'
                country: USA
              currency: usd
              items:
                - productSlug: sad-keanu-shirt
                  quantity: 1
        - name: Accept
          in: header
          type: string
        - name: Content-Type
          in: header
          type: string
      responses:
        '201':
          description: ''
          schema:
            type: object
            properties:
              id:
                type: string
              createdAt:
                type: string
              updatedAt:
                type: string
              status:
                type: string
              paymentStatus:
                type: string
              fulfillmentStatus:
                type: string
              preorder:
                type: boolean
              unconfirmed:
                type: boolean
              currency:
                type: string
              type:
                type: string
              shippingMethod:
                type: string
              lineTotal:
                type: integer
              discount:
                type: integer
              subtotal:
                type: integer
              shipping:
                type: integer
              tax:
                type: integer
              total:
                type: integer
              balance:
                type: integer
              paid:
                type: integer
              refunded:
                type: integer
              billingAddress:
                type: object
                properties: {}
              shippingAddress:
                type: object
                properties:
                  line1:
                    type: string
                  line2:
                    type: string
                  city:
                    type: string
                  state:
                    type: string
                  postalCode:
                    type: string
                  country:
                    type: string
              items:
                type: array
                items:
                  type: object
                  properties:
                    _:
                      type: string
                    collectionId:
                      type: string
                    productId:
                      type: string
                    productName:
                      type: string
                    productSlug:
                      type: string
                    price:
                      type: integer
                    quantity:
                      type: integer
                    weight:
                      type: integer
                    weightUnit:
                      type: string
                    taxable:
                      type: boolean
                    free:
                      type: boolean
                    addedBy:
                      type: string
              payments:
                type: 'null'
              fulfillment:
                type: object
                properties:
                  carrier:
                    type: string
                  service:
                    type: string
                  trackingNumber:
                    type: string
                  createdAt:
                    type: string
                  shippedAt:
                    type: string
                  cost:
                    type: integer
              metadata:
                type: object
                properties: {}
              gift:
                type: boolean
              giftMessage:
                type: string
              giftEmail:
                type: string
          examples:
            application/json:
              id: y9i0QxNHljRQ
              createdAt: '2016-04-15T04:54:23.306962718Z'
              updatedAt: '2016-04-15T04:54:23.306962718Z'
              status: open
              paymentStatus: unpaid
              fulfillmentStatus: unfulfilled
              preorder: false
              unconfirmed: false
              currency: usd
              type: ''
              shippingMethod: ''
              lineTotal: 2500
              discount: 0
              subtotal: 2500
              shipping: 0
              tax: 0
              total: 2500
              balance: 0
              paid: 0
              refunded: 0
              billingAddress: {}
              shippingAddress:
                line1: line1
                line2: line2
                city: city
                state: state
                postalCode: '11111'
                country: USA
              items:
                - _: ''
                  collectionId: ''
                  productId: eAc2E8K5I6oA7
                  productName: Sad Keanu T-shirt
                  productSlug: sad-keanu-shirt
                  price: 2500
                  quantity: 1
                  weight: 0
                  weightUnit: ''
                  taxable: false
                  free: false
                  addedBy: ''
              payments: null
              fulfillment:
                carrier: ''
                service: ''
                trackingNumber: ''
                createdAt: '0001-01-01T00:00:00Z'
                shippedAt: '0001-01-01T00:00:00Z'
                cost: 0
              metadata: {}
              gift: false
              giftMessage: ''
              giftEmail: ''
    get:
      operationId: GET_order
      parameters:
        - name: token
          in: query
          type: string
        - name: Accept
          in: header
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              count:
                type: integer
              models:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    createdAt:
                      type: string
                    updatedAt:
                      type: string
                    number:
                      type: integer
                    userId:
                      type: string
                    status:
                      type: string
                    paymentStatus:
                      type: string
                    fulfillmentStatus:
                      type: string
                    preorder:
                      type: boolean
                    unconfirmed:
                      type: boolean
                    currency:
                      type: string
                    type:
                      type: string
                    shippingMethod:
                      type: string
                    lineTotal:
                      type: integer
                    discount:
                      type: integer
                    subtotal:
                      type: integer
                    shipping:
                      type: integer
                    tax:
                      type: integer
                    total:
                      type: integer
                    balance:
                      type: integer
                    paid:
                      type: integer
                    refunded:
                      type: integer
                    billingAddress:
                      type: object
                      properties: {}
                    shippingAddress:
                      type: object
                      properties:
                        line1:
                          type: string
                        line2:
                          type: string
                        city:
                          type: string
                        state:
                          type: string
                        postalCode:
                          type: string
                        country:
                          type: string
                    items:
                      type: array
                      items:
                        type: object
                        properties:
                          _:
                            type: string
                          collectionId:
                            type: string
                          productId:
                            type: string
                          productName:
                            type: string
                          productSlug:
                            type: string
                          price:
                            type: integer
                          quantity:
                            type: integer
                          weight:
                            type: integer
                          weightUnit:
                            type: string
                          taxable:
                            type: boolean
                          free:
                            type: boolean
                          addedBy:
                            type: string
                    payments:
                      type: array
                      items:
                        type: string
                    fulfillment:
                      type: object
                      properties:
                        carrier:
                          type: string
                        service:
                          type: string
                        trackingNumber:
                          type: string
                        createdAt:
                          type: string
                        shippedAt:
                          type: string
                        cost:
                          type: integer
                    metadata:
                      type: object
                      properties: {}
                    gift:
                      type: boolean
                    giftMessage:
                      type: string
                    giftEmail:
                      type: string
          examples:
            application/json:
              count: 336
              models:
                - id: 0Wim6Bqu2HlnmvEtD1gJ
                  createdAt: '2016-04-15T00:00:18.781993Z'
                  updatedAt: '2016-04-15T00:00:18.781993Z'
                  number: 1160007
                  userId: 73HmBz4wFlox9
                  status: open
                  paymentStatus: paid
                  fulfillmentStatus: unfulfilled
                  preorder: false
                  unconfirmed: false
                  currency: usd
                  type: ''
                  shippingMethod: ''
                  lineTotal: 2500
                  discount: 0
                  subtotal: 2500
                  shipping: 0
                  tax: 0
                  total: 2500
                  balance: 0
                  paid: 2500
                  refunded: 0
                  billingAddress: {}
                  shippingAddress:
                    line1: line1
                    line2: line2
                    city: city
                    state: state
                    postalCode: '11111'
                    country: USA
                  items:
                    - _: ''
                      collectionId: ''
                      productId: eAc2E8K5I6oA7
                      productName: Sad Keanu T-shirt
                      productSlug: sad-keanu-shirt
                      price: 2500
                      quantity: 1
                      weight: 0
                      weightUnit: ''
                      taxable: false
                      free: false
                      addedBy: ''
                  payments:
                    - wmhZNvBoIyi3dbOi9HZX8JEuOwkE
                  fulfillment:
                    carrier: ''
                    service: ''
                    trackingNumber: ''
                    createdAt: '0001-01-01T00:00:00Z'
                    shippedAt: '0001-01-01T00:00:00Z'
                    cost: 0
                  metadata: {}
                  gift: false
                  giftMessage: ''
                  giftEmail: ''
  '/collection/{id}':
    parameters:
      - name: id
        in: path
        required: true
        type: string
    patch:
      operationId: PATCH_collection-id
      tags:
        - Collection
      description: >-
        The PATCH method will allow you to replace a given ID's data in a
        piecemeal

        fashion.  Any fields passed in to a PATCH method will be updated with
        what you

        request, while any fields not specified in the JSON will be left alone.
      parameters:
        - name: token
          in: query
          required: false
          type: string
        - name: body
          in: body
          schema:
            properties:
              slug:
                type: string
            type: object
            example:
              slug: such-tees-pack
        - name: Accept
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              id:
                type: string
              createdAt:
                type: string
              updatedAt:
                type: string
              slug:
                type: string
              name:
                type: string
              description:
                type: string
              media:
                type: array
                items:
                  type: object
                  properties: {}
              available:
                type: boolean
              availability:
                type: object
                properties:
                  Active:
                    type: boolean
                  startDate:
                    type: string
                  endDate:
                    type: string
              published:
                type: boolean
              preorder:
                type: boolean
              outOfStock:
                type: boolean
              productIds:
                type: array
                items:
                  type: object
                  properties: {}
              variantIds:
                type: array
                items:
                  type: object
                  properties: {}
          examples:
            application/json:
              id: OdSk6YrCZvDW
              createdAt: '2016-03-22T02:22:51.18972Z'
              updatedAt: '2016-04-15T04:54:12.02623884Z'
              slug: such-tees-pack
              name: Such tees pack
              description: Much tees in one pack!
              media: []
              available: true
              availability:
                Active: false
                startDate: '0001-01-01T00:00:00Z'
                endDate: '0001-01-01T00:00:00Z'
              published: true
              preorder: false
              outOfStock: false
              productIds: []
              variantIds: []
    post:
      operationId: POST_collection-id
      tags:
        - Collection
      description: >-
        Basic Collection calls are keyed to the unique ID of the collection.  As
        with

        all calls, it also requires an API key to be included with the request.
      parameters:
        - name: body
          in: body
          schema:
            $ref: '#/definitions/CreateaCollectionrequest'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CreateaCollectionresponse'
    delete:
      operationId: DELETE_collection-id
      tags:
        - Collection
      description: >-
        Deleting a Collection is as simple as passing its ID to the Collection
        endpoint using

        the HTTP Delete method. You will not receive a response past the normal
        HTTP

        204.
      responses:
        '200':
          description: ''
    get:
      operationId: GET_collection-id
      tags:
        - Collection
      description: >-
        Basic Collection calls are keyed to the unique ID of the collection.  As
        with

        all calls, it also requires an API key to be included with the request.
      parameters:
        - name: token
          in: query
          required: false
          type: string
        - name: Accept
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/GetaCollectionresponse'
          examples:
            application/json:
              id: OdSk6YrCZvDW
              createdAt: '2016-03-22T02:22:51.18972Z'
              updatedAt: '2016-04-15T04:53:54.142207Z'
              slug: such-tees-pack
              name: Such tees pack
              description: Much tees in one pack!
              media: []
              available: true
              availability:
                Active: false
                startDate: '0001-01-01T00:00:00Z'
                endDate: '0001-01-01T00:00:00Z'
              published: true
              preorder: false
              outOfStock: false
              productIds: []
              variantIds: []
    put:
      operationId: PUT_collection-id
      tags:
        - Collection
      description: >-
        The PUT method will allow you to replace a given ID's data in its
        entirety.

        Passing in valid Collection JSON (see the POST method), will overwrite
        any and all

        data existing on that ID.
      responses:
        '200':
          description: ''
  '/referrer/{id}':
    parameters:
      - name: id
        in: path
        required: true
        type: string
    patch:
      operationId: PATCH_referrer-id
      tags:
        - Referrer
      description: >-
        The PATCH method will allow you to replace a given ID's data in a
        piecemeal

        fashion.  Any fields passed in to a PATCH method will be updated with
        what you

        request, while any fields not specified in the JSON will be left alone.
      parameters:
        - name: token
          in: query
          required: false
          type: string
        - name: body
          in: body
          schema:
            properties:
              id:
                type: string
            type: object
            example:
              id: JJFx6Gku71rj
        - name: Accept
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              id:
                type: string
              createdAt:
                type: string
              updatedAt:
                type: string
              program:
                type: object
                properties:
                  name:
                    type: string
                  triggers:
                    type: array
                    items:
                      type: integer
                  actions:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        currency:
                          type: string
                        amount:
                          type: integer
              orderId:
                type: string
              userId:
                type: string
          examples:
            application/json:
              id: JJFx6Gku71rj
              createdAt: '2016-04-15T04:54:40.038159Z'
              updatedAt: '2016-04-15T04:54:41.050365077Z'
              program:
                name: Sample Program
                triggers:
                  - 0
                actions:
                  - type: credit
                    currency: points
                    amount: 1
              orderId: orderId
              userId: w4HZNvlwsQ2nO
    delete:
      operationId: DELETE_referrer-id
      tags:
        - Referrer
      description: >-
        Deleting a Referrer is as simple as passing its ID to the Referrer
        endpoint using

        the HTTP Delete method. You will not receive a response past the normal
        HTTP

        200.
      responses:
        '200':
          description: ''
    post:
      operationId: POST_referrer-id
      tags:
        - Referrer
      description: >-
        Basic Referrer calls are keyed upon the unique ID of the Referrer.  As
        with all

        calls, it also requires an access key included with the request.
      parameters:
        - name: body
          in: body
          schema:
            $ref: '#/definitions/CreatingaReferrerrequest'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CreatingaReferrerresponse'
    get:
      operationId: GET_referrer-id
      tags:
        - Referrer
      description: >-
        Basic Referrer calls are keyed upon the unique ID of the Referrer.  As
        with all

        calls, it also requires an access key included with the request.
      parameters:
        - name: token
          in: query
          required: false
          type: string
        - name: Accept
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/GetaReferrerresponse'
          examples:
            application/json:
              id: JJFx6Gku71rj
              createdAt: '2016-04-15T04:54:40.038159Z'
              updatedAt: '2016-04-15T04:54:40.038159Z'
              program:
                name: Sample Program
                triggers:
                  - 0
                actions:
                  - type: credit
                    currency: points
                    amount: 1
              orderId: orderId
              userId: w4HZNvlwsQ2nO
    put:
      operationId: PUT_referrer-id
      tags:
        - Referrer
      description: >-
        The PUT method will allow you to replace a given ID's data in its
        entirety.

        Passing in valid Referrer JSON (see the POST method), will overwrite any
        and all

        data existing on that ID.
      responses:
        '200':
          description: ''
  /collection:
    get:
      operationId: GET_collection
      parameters:
        - name: token
          in: query
          type: string
        - name: Accept
          in: header
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              count:
                type: integer
              models:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    createdAt:
                      type: string
                    updatedAt:
                      type: string
                    slug:
                      type: string
                    name:
                      type: string
                    description:
                      type: string
                    media:
                      type: 'null'
                    available:
                      type: boolean
                    availability:
                      type: object
                      properties:
                        Active:
                          type: boolean
                        startDate:
                          type: string
                        endDate:
                          type: string
                    published:
                      type: boolean
                    preorder:
                      type: boolean
                    outOfStock:
                      type: boolean
                    productIds:
                      type: 'null'
                    variantIds:
                      type: 'null'
          examples:
            application/json:
              count: 128
              models:
                - id: OdSk6YrCZvDW
                  createdAt: '2016-03-22T02:22:51.18972Z'
                  updatedAt: '2016-04-15T04:53:54.142207Z'
                  slug: such-tees-pack
                  name: Such tees pack
                  description: Much tees in one pack!
                  media: null
                  available: true
                  availability:
                    Active: false
                    startDate: '0001-01-01T00:00:00Z'
                    endDate: '0001-01-01T00:00:00Z'
                  published: true
                  preorder: false
                  outOfStock: false
                  productIds: null
                  variantIds: null
    post:
      operationId: POST_collection
      parameters:
        - name: token
          in: query
          type: string
        - name: body
          in: body
          schema:
            type: object
            properties:
              slug:
                type: string
              name:
                type: string
              description:
                type: string
              available:
                type: boolean
              published:
                type: boolean
            example:
              slug: such-tees-pack
              name: Such tees pack
              description: Much tees in one pack!
              available: true
              published: true
        - name: Accept
          in: header
          type: string
        - name: Content-Type
          in: header
          type: string
      responses:
        '201':
          description: ''
          schema:
            type: object
            properties:
              id:
                type: string
              createdAt:
                type: string
              updatedAt:
                type: string
              slug:
                type: string
              name:
                type: string
              description:
                type: string
              media:
                type: array
                items:
                  type: object
                  properties: {}
              available:
                type: boolean
              availability:
                type: object
                properties:
                  Active:
                    type: boolean
                  startDate:
                    type: string
                  endDate:
                    type: string
              published:
                type: boolean
              preorder:
                type: boolean
              outOfStock:
                type: boolean
              productIds:
                type: array
                items:
                  type: object
                  properties: {}
              variantIds:
                type: array
                items:
                  type: object
                  properties: {}
          examples:
            application/json:
              id: y7S2brvhljRQ
              createdAt: '2016-04-15T04:54:11.715154793Z'
              updatedAt: '2016-04-15T04:54:11.715154793Z'
              slug: such-tees-pack
              name: Such tees pack
              description: Much tees in one pack!
              media: []
              available: true
              availability:
                Active: false
                startDate: '0001-01-01T00:00:00Z'
                endDate: '0001-01-01T00:00:00Z'
              published: true
              preorder: false
              outOfStock: false
              productIds: []
              variantIds: []
  '/product/{id}':
    parameters:
      - name: id
        in: path
        required: true
        type: string
    post:
      operationId: POST_product-id
      tags:
        - Product
      description: >-
        Basic Product calls are keyed upon the unique ID of the Product.  As
        with all

        calls, it also requires an access key included with the request.
      parameters:
        - name: body
          in: body
          schema:
            $ref: '#/definitions/CreatingAProductRequest'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CreatingAProductResponse'
    patch:
      operationId: PATCH_product-id
      tags:
        - Product
      description: >-
        The PATCH method will allow you to replace a given ID's data in a
        piecemeal

        fashion.  Any fields passed in to a PATCH method will be updated with
        what you

        request, while any fields not specified in the JSON will be left alone.
      parameters:
        - name: token
          in: query
          required: false
          type: string
        - name: body
          in: body
          schema:
            properties:
              slug:
                type: string
              price:
                type: integer
            type: object
            example:
              slug: sad-keanu-shirt06
              price: 3500
        - name: Content-Type
          in: header
          required: false
          type: string
        - name: Accept
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              id:
                type: string
              createdAt:
                type: string
              updatedAt:
                type: string
              slug:
                type: string
              sku:
                type: string
              currency:
                type: string
              price:
                type: integer
              listPrice:
                type: integer
              shipping:
                type: integer
              inventory:
                type: integer
              weight:
                type: integer
              weightUnit:
                type: string
              dimensions:
                type: string
              taxable:
                type: boolean
              name:
                type: string
              headline:
                type: string
              excerpt:
                type: string
              description:
                type: string
              headerImage:
                type: object
                properties:
                  type:
                    type: string
                  alt:
                    type: string
                  url:
                    type: string
                  x:
                    type: integer
                  'y':
                    type: integer
              media:
                type: 'null'
              available:
                type: boolean
              hidden:
                type: boolean
              availability:
                type: object
                properties:
                  active:
                    type: boolean
                  startDate:
                    type: string
                  endDate:
                    type: string
              preorder:
                type: boolean
              addLabel:
                type: string
              estimatedDelivery:
                type: string
              variants:
                type: array
                items:
                  type: object
                  properties: {}
              options:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    values:
                      type: array
                      items:
                        type: string
          examples:
            application/json:
              id: GAcxZbyFO2nZ
              createdAt: '2016-04-15T04:54:31.085223Z'
              updatedAt: '2016-04-15T04:54:31.733594196Z'
              slug: sad-keanu-shirt0u
              sku: ''
              currency: USD
              price: 3500
              listPrice: 0
              shipping: 0
              inventory: 0
              weight: 0
              weightUnit: ''
              dimensions: ''
              taxable: false
              name: Sad Keanu T-shirt
              headline: Oh Keanu
              excerpt: ''
              description: Sad Keanu is sad.
              headerImage:
                type: ''
                alt: ''
                url: ''
                x: 0
                'y': 0
              media: null
              available: false
              hidden: false
              availability:
                active: false
                startDate: '0001-01-01T00:00:00Z'
                endDate: '0001-01-01T00:00:00Z'
              preorder: false
              addLabel: ''
              estimatedDelivery: ''
              variants: []
              options:
                - name: size
                  values:
                    - sadness
    get:
      operationId: GET_product-id
      tags:
        - Product
      description: >-
        Basic Product calls are keyed upon the unique ID of the Product.  As
        with all

        calls, it also requires an access key included with the request.
      parameters:
        - name: token
          in: query
          required: false
          type: string
        - name: Accept
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/GetaProductresponse'
          examples:
            application/json:
              id: eAc2E8K5I6oA7
              createdAt: '2016-01-20T01:46:41.962839Z'
              updatedAt: '2016-01-20T01:46:43.018687Z'
              slug: sad-keanu-shirt
              sku: ''
              currency: usd
              price: 2500
              listPrice: 0
              shipping: 0
              inventory: 0
              weight: 0
              weightUnit: ''
              dimensions: ''
              taxable: false
              name: Sad Keanu T-shirt
              headline: Oh Keanu
              excerpt: ''
              description: Sad Keanu is sad.
              headerImage:
                type: ''
                alt: ''
                url: ''
                x: 0
                'y': 0
              media: null
              available: false
              hidden: false
              availability:
                active: false
                startDate: '0001-01-01T00:00:00Z'
                endDate: '0001-01-01T00:00:00Z'
              preorder: false
              addLabel: ''
              estimatedDelivery: ''
              variants:
                - id: JGCZyR6CKcmnJZ2HBnkJ
                  createdAt: '2016-01-20T01:46:42.563830236Z'
                  updatedAt: '2016-01-20T01:46:42.699510797Z'
                  _: ''
                  productId: eAc2E8K5I6oA7
                  sku: T-SHIRT-M
                  name: ''
                  currency: usd
                  price: 2000
                  available: false
                  availability:
                    active: false
                    startDate: '0001-01-01T00:00:00Z'
                    endDate: '0001-01-01T00:00:00Z'
                  inventory: 0
                  sold: 0
                  weight: 0
                  weightUnit: ''
                  dimensions: ''
                  taxable: false
                  options:
                    - name: Size
                      value: Much
              options:
                - name: Size
                  values:
                    - Sadness
    delete:
      operationId: DELETE_product-id
      tags:
        - Product
      description: >-
        Deleting a Product is as simple as passing its ID to the Product
        endpoint using

        the HTTP Delete method. You will not receive a response past the normal
        HTTP

        200.
      produces:
        - text/html
      parameters:
        - name: token
          in: query
          required: false
          type: string
        - name: Accept
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
        '204':
          description: ''
          schema:
            type: object
            properties: {}
          examples:
            application/json: null
    put:
      operationId: PUT_product-id
      tags:
        - Product
      description: >-
        The PUT method will allow you to replace a given ID's data in its
        entirety.

        Passing in valid Product JSON (see the POST method), will overwrite any
        and all

        data existing on that ID.
      responses:
        '200':
          description: ''
  '/coupon/{id}':
    parameters:
      - name: id
        in: path
        required: true
        type: string
    post:
      operationId: POST_coupon-id
      tags:
        - Coupon
      description: >-
        Basic Coupon calls are keyed upon the unique ID of the Coupon.  As with
        all

        calls, it also requires an access key included with the request.
      parameters:
        - name: body
          in: body
          schema:
            $ref: '#/definitions/CreateaCouponrequest'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CreateaCouponresponse'
    put:
      operationId: PUT_coupon-id
      tags:
        - Coupon
      description: >-
        The PUT method will allow you to replace a given ID's data in its
        entirety.

        Passing in valid Coupon JSON (see the POST method), will overwrite any
        and all

        data existing on that ID.
      responses:
        '200':
          description: ''
    patch:
      operationId: PATCH_coupon-id
      tags:
        - Coupon
      description: >-
        The PATCH method will allow you to replace a given ID's data in a
        piecemeal

        fashion.  Any fields passed in to a PATCH method will be updated with
        what you

        request, while any fields not specified in the JSON will be left alone.
      parameters:
        - name: token
          in: query
          required: false
          type: string
        - name: body
          in: body
          schema:
            properties:
              code:
                type: string
            type: object
            example:
              code: SUCH-COUPON
        - name: Accept
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              id:
                type: string
              createdAt:
                type: string
              updatedAt:
                type: string
              name:
                type: string
              type:
                type: string
              code:
                type: string
              startDate:
                type: string
              endDate:
                type: string
              filter:
                type: string
              once:
                type: boolean
              enabled:
                type: boolean
              amount:
                type: integer
              used:
                type: integer
              freeProductId:
                type: string
              freeVariantId:
                type: string
              freeQuantity:
                type: integer
          examples:
            application/json:
              id: zOsjWpz0UJp2G
              createdAt: '2016-01-20T01:46:44.241704Z'
              updatedAt: '2016-04-15T04:54:12.838748556Z'
              name: Such Coupon
              type: flat
              code: SUCH-COUPON
              startDate: '2016-01-20T01:46:43.792122Z'
              endDate: '2016-02-19T01:46:43.792122Z'
              filter: ''
              once: true
              enabled: true
              amount: 500
              used: 0
              freeProductId: ''
              freeVariantId: ''
              freeQuantity: 0
    delete:
      operationId: DELETE_coupon-id
      tags:
        - Coupon
      description: >-
        Deleting a Coupon is as simple as passing its ID to the Coupon endpoint
        using

        the HTTP Delete method. You will not receive a response past the normal
        HTTP

        204.
      responses:
        '200':
          description: ''
    get:
      operationId: GET_coupon-id
      tags:
        - Coupon
      description: >-
        Basic Coupon calls are keyed upon the unique ID of the Coupon.  As with
        all

        calls, it also requires an access key included with the request.
      parameters:
        - name: '0'
          in: query
          required: false
          type: string
        - name: '1'
          in: query
          required: false
          type: string
        - name: '2'
          in: query
          required: false
          type: string
        - name: '3'
          in: query
          required: false
          type: string
        - name: '4'
          in: query
          required: false
          type: string
        - name: '5'
          in: query
          required: false
          type: string
        - name: '6'
          in: query
          required: false
          type: string
        - name: '7'
          in: query
          required: false
          type: string
        - name: '8'
          in: query
          required: false
          type: string
        - name: '9'
          in: query
          required: false
          type: string
        - name: '10'
          in: query
          required: false
          type: string
        - name: token
          in: query
          required: false
          type: string
        - name: Accept
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/GetaCouponresponse'
          examples:
            application/json:
              id: zOsjWpz0UJp2G
              createdAt: '2016-01-20T01:46:44.241704Z'
              updatedAt: '2016-04-15T04:54:12.838748Z'
              name: Such Coupon
              type: flat
              code: SUCH-COUPON
              startDate: '2016-01-20T01:46:43.792122Z'
              endDate: '2016-02-19T01:46:43.792122Z'
              filter: ''
              once: true
              enabled: true
              amount: 500
              used: 0
              freeProductId: ''
              freeVariantId: ''
              freeQuantity: 0
  '/referrer/{id}/referrals':
    parameters:
      - name: id
        in: path
        required: true
        type: string
    get:
      operationId: GET_referrer-id-referrals
      parameters:
        - name: token
          in: query
          type: string
        - name: Accept
          in: header
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                createdAt:
                  type: string
                updatedAt:
                  type: string
                userId:
                  type: string
                orderId:
                  type: string
                referrerUserId:
                  type: string
                referrerId:
                  type: string
          examples:
            application/json:
              - id: OxslNprfZvDW
                createdAt: '2016-04-15T04:54:40.248177Z'
                updatedAt: '2016-04-15T04:54:41.962107Z'
                userId: AyHX5egNclOgN
                orderId: referredOrderId
                referrerUserId: w4HZNvlwsQ2nO
                referrerId: JJFx6Gku71rj
  /account/login:
    post:
      operationId: POST_account-login
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: token
          in: query
          type: string
        - name: '{"email":"0wt8@email.com","password":"0k9q91"}'
          in: formData
          type: string
        - name: '{"email":"0oba@email.com","password":"0k9q91"}'
          in: formData
          type: string
        - name: '{"email":"0xrt@email.com","password":"0drz4y"}'
          in: formData
          type: string
        - name: '{"email":"0ljf@email.com","password":"0drz4y"}'
          in: formData
          type: string
        - name: '{"email":"0xrt@email.com","password":"0e71q7"}'
          in: formData
          type: string
        - name: Content-Type
          in: header
          type: string
        - name: Accept
          in: header
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              token:
                type: string
          examples:
            application/json:
              token: >-
                eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE0NjA2OTYwOTgsImV4cCI6MTQ2MDc4MjQ5OCwiaXNzIjoieTVJWjNHYkZsalJRIiwianRpIjoidWtxUDJSU2FWNW8iLCJGaXJzdE5hbWUiOiIiLCJMYXN0TmFtZSI6IiIsImFwcCI6IlN0b3JlIiwidXNyIjoiUnlIMDI2QnUyM0cxIiwib3JnIjoic3VjaHRlZXMiLCJ0eXAiOiJjdXN0b21lciIsInRzdCI6dHJ1ZSwiYml0Ijo0NTAzNjE3MDc1Njc1MTc2fQ.dQZt_A9rLBpmBYu-QpaRdU4XlwwG5SyMv25rVqrz7a0
        '401':
          description: ''
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  type:
                    type: string
                  message:
                    type: string
          examples:
            application/json:
              error:
                type: api-error
                message: Email or password is incorrect
  '/order/{id}/refund':
    parameters:
      - name: id
        in: path
        required: true
        type: string
    post:
      operationId: POST_order-id-refund
      parameters:
        - name: token
          in: query
          type: string
        - name: body
          in: body
          schema:
            type: object
            properties:
              id:
                type: string
              amount:
                type: integer
            example:
              id: 0WizkeyjF2HwmEKFD1gJ
              amount: 2400
        - name: Accept
          in: header
          type: string
        - name: Content-Type
          in: header
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              id:
                type: string
              createdAt:
                type: string
              updatedAt:
                type: string
              number:
                type: integer
              userId:
                type: string
              status:
                type: string
              paymentStatus:
                type: string
              fulfillmentStatus:
                type: string
              preorder:
                type: boolean
              unconfirmed:
                type: boolean
              currency:
                type: string
              type:
                type: string
              shippingMethod:
                type: string
              lineTotal:
                type: integer
              discount:
                type: integer
              subtotal:
                type: integer
              shipping:
                type: integer
              tax:
                type: integer
              total:
                type: integer
              balance:
                type: integer
              paid:
                type: integer
              refunded:
                type: integer
              billingAddress:
                type: object
                properties: {}
              shippingAddress:
                type: object
                properties:
                  line1:
                    type: string
                  line2:
                    type: string
                  city:
                    type: string
                  state:
                    type: string
                  postalCode:
                    type: string
                  country:
                    type: string
              items:
                type: array
                items:
                  type: object
                  properties:
                    _:
                      type: string
                    collectionId:
                      type: string
                    productId:
                      type: string
                    productName:
                      type: string
                    productSlug:
                      type: string
                    price:
                      type: integer
                    quantity:
                      type: integer
                    weight:
                      type: integer
                    weightUnit:
                      type: string
                    taxable:
                      type: boolean
                    free:
                      type: boolean
                    addedBy:
                      type: string
              payments:
                type: array
                items:
                  type: string
              fulfillment:
                type: object
                properties:
                  carrier:
                    type: string
                  service:
                    type: string
                  trackingNumber:
                    type: string
                  createdAt:
                    type: string
                  shippedAt:
                    type: string
                  cost:
                    type: integer
              metadata:
                type: object
                properties: {}
              gift:
[...]
