{% extends "base.html" %}

{% block name %}Keys{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<!-- API Keys Block -->
<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-1">
    <div class="block full">
        <!-- API Keys Title -->
        <div class="block-title">
            <h2>API Keys</h2>
        </div>
        <!-- END API Keys Title -->

        <form id="form-key" action="" method="post">
            {% for tok in ctx.organization.Tokens %}
            <div class="form-group">
                <label>{{ tok.Name }}</label>
                <textarea class="form-control" style="height:80px">{{ tok.String() }}</textarea>
            </div>
            {% endfor %}

            <div class="row text-center">
                <button class="btn btn-effect-ripple btn-primary" href="newkeys"><i class="gi gi-restart"></i>&nbsp;Generate New Keys</button>
            </div>
        </form>
    </div>
    <!-- END API Keys Block -->
</div>
<!-- END API Keys Block -->
{% endblock %}

{% block js %}
{% endblock %}
{% block menulink %}menu-keys{% endblock %}
