{% extends "base.html" %}

{% block name %}Stores{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<!-- <1!-- Stores/Variants/Collections View Block --1> -->
<!-- <div class="col-sm-12"> -->
<!--   <div class="block" style="padding-bottom:0px"> -->
<!--     <1!-- Stores/Variants/Collections Switch Block --1> -->
<!--     <div class="block-title"> -->
<!--       <ul class="nav nav-tabs" data-toggle="tabs"> -->
<!--         <li class="active"><a href="">Products</a></li> -->
<!--         <1!-- <li class=""><a href="">Variants</a></li> --1> -->
<!--         <1!-- <li class=""><a href="">Collections</a></li> --1> -->
<!--       </ul> -->
<!--     </div> -->
<!--     <1!-- END Stores/Variants/Collections Switch Block --1> -->
<!--   </div> -->
<!-- </div> -->
<!-- <1!-- END Stores/Variants/Collections View Block --1> -->

<!-- Stores View Block -->
<div class="col-sm-12">
  <!-- Empty Stores Block -->
  <div id="empty-table" class="row text-center text-dark-op" style="display:none;margin-top:50px;margin-bottom:50px">
    <div class="col-xs-10 col-xs-offset-1">
      <i class="gi gi-store" style="font-size:100px;"></i>
      <h2>Add a store if you want to sell products in different countries or using different currencies. Just complete the form below to add one.
    </div>
  </div>
  <!-- END Empty Stores Block -->
  <div class="block full">
    <!-- Stores View Title -->
    <div class="block-title">
        <h2>Stores</h2>
    </div>
    <!-- END Stores View Title -->

    <!-- Stores View Content -->
    <div id="display" class="form-group form-inline">
    </div>
    <table id="table" class="table table-striped table-bordered table-vcenter">
    </table>
    <div id="pagination" class="row text-center">
      <a href="#" class="btn btn-primary previous" data-action="previous"><strong>&lsaquo;</strong></a>
      <input class="text-center form-control" type="text" readonly="readonly" data-max-page="40" style="width:125px;display:inline;padding-top:5px"/>
      <a href="#" class="btn btn-primary next" data-action="next"><strong>&rsaquo;</strong></a>
    </div>
    <!-- <div class="row text-center"> -->
    <!--     <i class="fa fa-circle-o-notch fa-3x fa-spin text-primary"></i> -->
    <!-- </div> -->
  </div>
</div>
<!-- END Stores View Block -->

<!-- New Stores View Block -->
<div class="col-sm-12">
  <div class="block">
    <div class="block-title">
      <h2>New Store</h2>
    </div>
    <form id="form-new-store" method="post" class="form-horizontal">
      <h4>Tell us a little more about this store.</h4>
      <div id="store-info" class="block">
      </div>
      <h4>What does this store sell?</h4>
      <div id="store-products" class="block">
        <div class="form-group">
            <label class="col-md-3 col-sm-2 control-label" for="product">Custom Price</label>
            {% if products %}
            <div class="row col-md-6 col-sm-8">
                <div class="col-s-11 col-xs-10">
                    <select type="text" id="product" name="" class="form-control" value="">
                        {% for product in products %}
                        <option data-name="{{ product.Name }}" value="{{ product.Id_ }}">{{ product.Name }} ({{ product.Slug }})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-s-1 col-xs-2 input-group">
                    <div class="input-group-btn">
                        <button id="override-product-btn" type="button" class="btn btn-effect-ripple btn-primary"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 ">
                <table id="product-overrides" class="hidden table table-striped table-borderless table-vcenter">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>List Price</th>
                            <th>Price</th>
                            <th style="width:50px">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
      <div class="form-group form-actions text-center">
        <button type="submit" class="btn btn-effect-ripple btn-primary"><i class="fa fa-plus"></i> Add</button>
      </div>
    </form>
    <!-- END Stores View Content -->
  </div>
</div>
<!-- END New Stores View Block -->
{% endblock %}

{% block js %}
<script src="{{ staticUrl }}/js/util.js"></script>
<script src="{{ staticUrl }}/js/jquery.jqpagination.js"></script>
<script src="{{ staticUrl }}/js/jquery.serialize-object.min.js"></script>
<script src="{{ staticUrl }}/js/form-builder.js"></script>
<script src="{{ staticUrl }}/js/table-builder.js"></script>
<script src="{{ staticUrl }}/js/rest-forms.js"></script>
<script>
$(function(){
    Util.setCurrency('usd');

    BuildTable($('#table'), {
      columns: [
        {
          field: 'id',
          name: 'ID',
          css: {
            width: '50px',
          },
          render: 'id',
        },
        {
          field: 'name',
          name: 'Name',
        },
        {
          field: 'slug',
          name: 'Slug',
          render: 'raw',
        },
        {
          field: 'currency',
          name: 'Currency',
          render: 'upper',
        },
        {
          field: 'createdAt',
          name: 'Created At',
          render: 'date',
        },
        {
          field: 'updatedAt',
          name: 'Last Updated',
          render: 'ago',
        }
      ],
      itemUrl: '{{ urlFor("dash", "/store") }}',
      apiUrl: '{{ urlFor("api", "/store") }}',
      apiToken: '{{ ctx.organization.MustGetTokenByName("live-secret-key") }}',
      startPage: 1,
      startDisplay: 5,
      displayOptions: [5, 10, 20],
      $display: $('#display'),
      $pagination: $('#pagination'),
      $empty: $('#empty-table'),
      canDelete: true,
      checkboxes: false,
    });

    BuildForm($('#form-new-store'),[
// store info
        {
          id: 'name',
          name: 'name',
          label: 'Name',
          type: 'text',
          asterisk: false,
          rules: [
            {
              rule: 'required',
              value: true,
              message: 'Enter a name for your store'
            }
          ],
          $parent: $('#store-info'),
          labelCols: 3,
          valueCols: 6,
        },
        {
          id: 'slug',
          name: 'slug',
          label: 'Slug',
          type: 'text',
          asterisk: false,
          rules: [
            {
              rule: 'required',
              value: true,
              message: 'Enter a unique URL identifier for your store'
            }
          ],
          $parent: $('#store-info'),
          labelCols: 3,
          valueCols: 6,
        },
        {
          id: 'currency',
          name: 'currency',
          label: 'Currency',
          value: [
            {% for type in constants.CurrencyTypes %}
            {
              selected: '{{ type }}' === '{{ product.currency }}',
              name: '{{ type.Label() }}',
              id: '{{ type }}',
            },
            {% endfor %}
          ],
          type: 'select',
          asterisk: false,
          rules: [
            {
              rule: 'required',
              value: true,
              message: 'Choose a currency for your store'
            }
          ],
          $parent: $('#store-info'),
          labelCols: 3,
          valueCols: 6,
        },
    ]);
// custom control code
    (function() {
        var ProductToListPrices = {
            {% for product in products %}
            '{{ product.Id_ }}': Util.renderUICurrencyFromJSON({{ product.ListPrice }}),
            {% endfor %}
        };

        var ProductToPrices = {
            {% for product in products %}
            '{{ product.Id_ }}': Util.renderUICurrencyFromJSON({{ product.Price }}),
            {% endfor %}
        };

        var ProductToSlugs = {
            {% for product in products %}
            '{{ product.Id_ }}': '{{ product.Slug }}',
            {% endfor %}
        };

        // Update currency when currency changes
        $('#currency').chosen().on('change', function() {
            Util.setCurrency($(this).val());
            $('input[type="currency"]').each(function(){
                var $el = $(this);
                $el.val(Util.renderUpdatedUICurrency($el.val()));
            });
        });

        // Set up products select
        $('#product').chosen();

        // Update price with default product price
        var $overrides = $('#product-overrides');
        var $overridesBody = $overrides.children('tbody');
        var overrideTemplate = '<tr><td><input type="text" class="listing-id hidden" value=""><strong class="name"></strong></td><td><input type="currency" class="listing-list-price text-right form-control" value=""></td><td><input type="currency" class="listing-price text-right form-control" value=""><input type="hidden" class="listing-slug" value=""></td><td class="text-center"><button type="button" class="delete btn btn-xs btn-danger">x</button></td></tr>';

        $('#override-product-btn').on('click', function() {
            if ($('#product').val() == null) {
                return;
            }

            var $override = $(overrideTemplate);
            var id = $('#product').val();
            $('[data-id="' + id + '"]').remove();
            $override.attr('data-id', id);

            var optionToDisable = $('#product').children("option:selected");
            var dataName = optionToDisable.attr('data-name');

            $override.attr('data-name', dataName);
            $override.find('.name').text(dataName);
            $override.find('.listing-id').val(id);
            $override.find('.listing-list-price').val(Util.renderUpdatedUICurrency(ProductToListPrices[$('#product').val()]));
            $override.find('.listing-price').val(Util.renderUpdatedUICurrency(ProductToPrices[$('#product').val()]));
            $override.find('.listing-slug').val(ProductToSlugs[$('#product').val()]);

            optionToDisable.prop('disabled', true);
            optionToDisable.prop('selected', false);
            $('#product').trigger("chosen:updated");

            $override.find('.delete').on('click', function() {
                $('#product').children('option[data-name="' + dataName + '"]').prop('disabled', false);
                $(this).closest('tr').remove();
                if ($overridesBody.children().length == 0) {
                    $overrides.addClass('hidden');
                }
                $('#product').trigger("chosen:updated");
            });
            $overridesBody.prepend($override);
            $overrides.removeClass('hidden');
        });
    })();
});

var api = NewRestAPI(
    '{{ urlFor("api", "/store") }}',
    '{{ ctx.organization.MustGetTokenByName("live-secret-key") }}',
    $('#form-new-store'),
    {
        listings: function(listings) {
            // To cents
            var len = listings.len;
            for (var key in listings) {
                var listing = listings[key];
                listing.listPrice = Util.renderJSONCurrencyFromUI(listing.listPrice);
                listing.price = Util.renderJSONCurrencyFromUI(listing.price);
            }
            return listings;
        }
    }
  );
$('#form-new-store').on('submit', function(e){
    var $form = $(this);
    requestAnimationFrame(function() {
        if ($('.form-group.has-error').length === 0) {
            $('#product-overrides').find('.listing-id').each(function(i){
                var $el = $(this)
                $el.attr('name', 'listings[' + $el.val() + '][productId]')
                $el.parent().parent().find('.listing-list-price').attr('name', 'listings[' + $el.val() + '][listPrice]')
                $el.parent().parent().find('.listing-price').attr('name', 'listings[' + $el.val() + '][price]')
                $el.parent().parent().find('.listing-slug').attr('name', 'listings[' + $el.val() + '][slug]')
            });
            api.post(function(data) {
                window.location.replace('{{ urlFor("dash", "/stores") }}')
            }, $form)
        }
    })
    e.preventDefault();
    return false;
})
</script>
{% endblock %}
{% block menulink %}menu-stores{% endblock %}
