{% extends "base.html" %}

{% block name %}Users{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<!-- Users View Block -->
<div class="col-sm-12">
    <div class="block full">
        <!-- Users View Title -->
        <div class="block-title">
          <h2>Users</h2>
        </div>
        <!-- END Users View Title -->

        <!-- Users View Content -->
        <user-paged-table>
            <div>
                <i class="gi gi-money" style="font-size:100px"></i>
                <h2 class="text-center">We couldn't find any users for <strong>{{ ctx.organization.Name }}</strong>.</h2>
            </div>
        </user-paged-table>
        <!-- END Users View Content -->
    </div>
</div>
<!-- END Users View Block -->
{% endblock %}

{% block js %}
<script src="{{ staticUrl }}/js/jquery.jqpagination.js"></script>
<script>
  $(function(){
    var urlParts = window.location.pathname.split('/')
    var userId = urlParts.pop()

    new crowdcontrol.data.Api(
      '{{ urlFor("api") }}',
      '{{ ctx.organization.MustGetTokenByName("live-secret-key") }}'
    ).register('crowdstart')

    riot.mount('user-paged-table')
  })
</script>
{% endblock %}

{% block menulink %}menu-users{% endblock %}



