{% extends "base.html" %}

{% block name %}User{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<!-- User information Form Block -->
<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-1">
    <div class="block">
        <!-- User information Form Title -->
        <div class="block-title">
            <h2>User Information</h2>
        </div>
        <!-- END User information Form Title -->

        <!-- User information Form Content -->
        <user-form>
          <div id="user-info" class="panel animated fadeIn">
            <div class="panel-heading">
              <a data-toggle="collapse" href="#user-info .panel-body">
                Information
              </a>
            </div>
            <div class="panel-body collapse in">
              <div class="section row col-xl-12 mb20" style="padding:0">
                <div class="col-md-8">
                  <control class="col-sm-12" label="Email" input="{ inputs.email }"></control>
                  <control class="col-sm-6" label="First Name" input="{ inputs.firstName }"></control>
                  <control class="col-sm-6" label="Last Name" input="{ inputs.lastName }"></control>
                  <control class="col-sm-12" label="Phone" input="{ inputs.phone }"></control>
                </div>
                <div class="col-md-4">
                  <control label="ID" input="{ inputs.id }"></control>
                  <control label="Created On" input="{ inputs.createdAt }"></control>
                  <control label="Last Updated On" input="{ inputs.updatedAt }"></control>
                </div>
              </div>
              <div class="form-actions section row">
                <div class="col-md-8">
                  <div class="col-xs-6">
                    <button type="submit" class="btn btn-block btn-dark">Save</button>
                  </div>
                  <div class="col-xs-3">
                    <button type="reset" class="btn btn-block btn-default">Reset</button>
                  </div>
                  <div class="col-xs-3">
                    <button type="button" class="btn btn-block btn-default" data-toggle="modal" data-target="#deleteModal">Delete</button>
                  </div>

                  <div class="modal fade" id="deleteModal">
                    <div class="modal-dialog" role="document" style="width:300px">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title text-center" id="exampleModalLabel">Are You Sure?</h4>
                        </div>
                        <div class="modal-footer" style="text-align:center">
                            <button type="button" class="btn btn-danger" onclick="{ delete }">Yes</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="user-reset-password" class="panel">
            <div class="panel-heading">
              <a data-toggle="collapse" href="#user-reset-password .panel-body">
                Reset Password
              </a>
            </div>
            <div class="panel-body collapse in">
              <reset-password-form userId="{ opts.id }", url ="{ opts.url }" token="{ opts.token }">
              </reset-password-form>
            </div>
          </div>

          <h4>
            <a data-toggle="collapse" href="#user-shipping-address">
              Shipping Address
            </a>
          </h4>
          <div id="user-shipping-address" class="collapse in block">
              <control label="Street Address" input="{ inputs['shippingAddress.line1'] }"></control>
              <control label="Apt/Suite Number" input="{ inputs['shippingAddress.line2'] }"></control>
              <control label="City" input="{ inputs['shippingAddress.city'] }"></control>
              <control label="State" input="{ inputs['shippingAddress.state'] }"></control>
              <control label="Postal/ZIP Code" input="{ inputs['shippingAddress.postalCode'] }"></control>
              <control label="Country" input="{ inputs['shippingAddress.country'] }"></control>
              <div class="form-group form-actions">
                <div class="col-md-9 col-md-offset-3">
                    <button type="submit" class="btn btn-effect-ripple btn-primary">Save</button>
                  <button type="reset" class="btn btn-effect-ripple btn-warning">Reset</button>
                </div>
              </div>
          </div>
          <h4>
            <a data-toggle="collapse" href="#user-billing-address">
              Billing Address
            </a>
          </h4>
          <div id="user-billing-address" class="collapse in block">
              <control label="Street Address" input="{ inputs['billingAddress.line1'] }"></control>
              <control label="Apt/Suite Number" input="{ inputs['billingAddress.line2'] }"></control>
              <control label="City" input="{ inputs['billingAddress.city'] }"></control>
              <control label="State" input="{ inputs['billingAddress.state'] }"></control>
              <control label="Postal/ZIP Code" input="{ inputs['billingAddress.postalCode'] }"></control>
              <control label="Country" input="{ inputs['billingAddress.country'] }"></control>
              <div class="form-group form-actions">
                <div class="col-md-9 col-md-offset-3">
                    <button type="submit" class="btn btn-effect-ripple btn-primary">Save</button>
                  <button type="reset" class="btn btn-effect-ripple btn-warning">Reset</button>
                </div>
              </div>
          </div>
          <h4>
            <a data-toggle="collapse" href="#user-orders">
              Orders
            </a>
          </h4>
          <div id="user-orders" class="collapse in block">
            <order-list path="{ 'user/'+opts.id+'/orders' }">
              No Orders Found
            </order-list>
          </div>
          <h4>
            <a data-toggle="collapse" href="#user-balance">
              Credit Balance
            </a>
          </h4>
          <div id="user-balance" class="collapse in block">
            <balance-widget userId="{opts.id}">
            </balance-widget>
          </div>
          <h4>
            <a data-toggle="collapse" href="#user-referrers">
              Referrer Tokens
            </a>
          </h4>
          <div id="user-referrers" class="collapse in block">
            <referrer-list path="{ 'user/'+opts.id+'/referrers' }">
              No Referrer Tokens Found
            </referrer-list>
          </div>
          <h4>
            <a data-toggle="collapse" href="#user-referrals">
              Referrals
            </a>
          </h4>
          <div id="user-referrals" class="collapse in block">
            <referral-list path="{ 'user/'+opts.id+'/referrals' }">
              No Referrals Found
            </referral-list>
          </div>
        </user-form>
        <!-- END User information Form Content -->
    </div>
    <!-- END User information Form Block -->
</div>
<!-- END User information Form Block -->
{% endblock %}

{% block js %}
<script>
  var countries = {
    {% for country in constants.Countries %}
        '{{ country.ISO3166OneAlphaTwo }}': '{{ country.ISO3166OneEnglishShortNameReadingOrder }}',
    {% endfor %}
  }

  var currencies = {
    {% for type in constants.CurrencyTypes %}
      '{{ type }}': '{{ type.Label() }}',
    {% endfor %}
  }

  $(function(){
    var urlParts = window.location.pathname.split('/')
    var id = urlParts.pop()

    new crowdcontrol.data.Api(
      '{{ urlFor("api") }}',
      '{{ ctx.organization.MustGetTokenByName("live-secret-key") }}'
    ).register('crowdstart')

    riot.mount('user-form', {id: id})
  })
</script>
{% endblock %}

{% block menulink %}menu-users{% endblock %}

