.row
  margin-bottom: 30px

// ----------------------------------------------- donate-button-lg

// stylus cannot deal with the layered backgrounds, so we fall back
// to regular css here.
@css {
  #donate-button-lg {
    margin-left: 112px;
    width: 344px;
    height: 132px;
    background: url('/img/donate/donate-here-big.png'),
                url('/img/donate/quarter.png');
    background-repeat: no-repeat, no-repeat;
    background-position: bottom center, top center;
    background-size: auto, auto;
    color: white;
    text-align: center;
    text-shadow: 1px 1px #000000;
  }
}

#donate-button-lg .donate-here
  padding-top: 50px

#donate-button-lg .turn-off-ads
  padding-top: 28px

// ----------------------------------------------- donate-button-sm

@css {
  #donate-button-sm {
    margin: 0 auto;
    margin-top: 10px;
    height: 47px;
    width: 190px;
    color: white;
    background: url('/img/donate/donate-here-small.png'),
                url('/img/donate/quarter.png');
    background-repeat: no-repeat, no-repeat;
    background-position: bottom center, top center;
    background-size: auto, 28%;
  }
}

#donate-button-sm span
  padding-top: 22px
  display: block
  color: white
  text-shadow: 1px 1px #000000

// ----------------------------------------------- donate-plea

#donate-plea
  text-align: left

#donate-plea #one
  margin-bottom: 20px

#donate-plea .orange
  color: #FB7740

#donate-plea #two
  margin-bottom: 20px
  margin-right: 30px
  background: url('/img/donate/arrow.png')
  background-repeat: no-repeat
  background-position: right 2.1em

#donate-plea #pitch
  padding: 20px 85px 70px 0
  background: url('/img/donate/pez.png')
  background-repeat: no-repeat
  background-position: bottom center

// ------------------------------------------------ donate-action

#donate-action
  clear:both

#donate-action .row
  margin-bottom: 10px

#donate-action .span5
  float:left
  width: 48%
  margin-right: 10px

#donate-action p
  text-align: center
  margin-bottom: 30px

#donate-action .choice
  border: 1px #FB7740 solid
  height: 135px
  background-image: url('/img/donate/button.png')
  background-origin: content-box
  text-align: center
  background-repeat: no-repeat
  margin-bottom: 1em

#choice-ad
  cursor: pointer

#donate-action .choice-number
  float: left
  width: 30px
  color: white
  padding: 48px 12px

#choice-donate-body, #choice-ad-body
  margin-left: 54px
  padding: 20px

#choice-ad-body
  padding-top: 20px

#choice-donate-body span
  color: #FB7740





// ------------------------------- checkout form

.slider table
  margin 0 auto

.slider table td
  padding .5em

input[type="range"]
  width: 15em

#slider-amount
  text-align: center

.checkout-button
  text-align: center

#checkout-button
  cursor: pointer
  margin-right: 7px

#already-donated p
  line-height: .9em

#login-with-paypal
  padding-top: .3em
  padding-bottom: .7em

// ------------------------------- upgrade

.upgrade-headline
  text-align center
  margin-bottom 1em

.upgrade-thankyoulink
  text-align center
  margin-bottom 1em
