{% extends "base.html" %}

{% block title %}Password Reset - Hanzo{% endblock %}

{% block header %}
<!-- Reminder Header -->
<h1 class="h2 text-light text-center push-top-bottom animation-slideDown">
    <i class="fa fa-history"></i> <strong>Password Reset</strong>
</h1>
<!-- END Reset Header -->
{% endblock %}

{% block content %}
<!-- Reminder Block -->
<div class="block animation-fadeInQuickInv">
    <!-- Reset Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <a href="{{ urlFor("dash", "/login") }}" class="btn btn-effect-ripple btn-primary" data-toggle="tooltip" data-placement="left" title="Back to login"><i class="fa fa-user"></i></a>
        </div>
        <h2>Password Reset Sent</h2>
    </div>

    <p>A password recovery email has been sent. Please check your email.  If
        it does not appear in the next few minutes, please check your 'Spam' or
        'Trash' folders.  </p>
    <!-- END Reminder Form -->
</div>

{% if error %}
<div class="alert alert-danger alert-dismissable">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
<p>{{ error }}</p>
</div>
{% endif %}

<!-- END Reminder Block -->
{% endblock %}

{% block js %}
<script src="js/pages/readyReminder.js"></script>
<script>$(function(){ ReadyReminder.init(); });</script>
{% endblock %}
