{% extends "base.html" %}

{% block title %}Password Reset - Hanzo{% endblock %}

{% block header %}
<!-- Reminder Header -->
<h1 class="h2 text-light text-center push-top-bottom animation-slideDown">
    <i class="fa fa-history"></i> <strong>Password Reset</strong>
</h1>
<!-- END Reset Header -->
{% endblock %}

{% block content %}
<!-- Reminder Block -->
<div class="block animation-fadeInQuickInv">
    <!-- Reset Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <a href="{{ urlFor("dash", "login") }}" class="btn btn-effect-ripple btn-primary" data-toggle="tooltip" data-placement="left" title="Back to login"><i class="fa fa-user"></i></a>
        </div>
        <h2>Reset Password</h2>
    </div>

    {% if invalidCode %}
        <p>
            Your password reset code is invalid or expired. <a href="{{ urlFor("dash", "/password-reset") }}">Please try to reset your password again.</a>
        </p>
    {% elif invalidEmail %}
        <p>
            No account is associatd with that email.
        </p>
    {% else %}
        <p>Resetting password for {{ email }}.</p>

        <form id="form-reminder" action="" method="post" class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-12">
                    <input id="password" class="form-control" name="NewPassword" type="password" placeholder="Password">
                </div>

                <div class="col-xs-12">
                    <input id="confirm-password" class="form-control" name="ConfirmPassword" type="password" placeholder="Confirm your Password">
                </div>
            </div>

            <div class="form-group form-actions">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-effect-ripple btn-sm btn-primary"><i class="fa fa-check"></i>Update Password</button>
                </div>
            </div>
        </form>
    {% endif %}
    <!-- END Reminder Form -->
</div>

{% if error %}
<div class="alert alert-danger alert-dismissable">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
<p>{{ error }}</p>
</div>
{% endif %}

<!-- END Reminder Block -->
{% endblock %}

{% block js %}
<script src="js/pages/readyReminder.js"></script>
<script>$(function(){ ReadyReminder.init(); });</script>
{% endblock %}
