<!-- Start: Sidebar Menu -->
<ul class="nav sidebar-menu" each="{ category, i in model }">
  <li class="sidebar-label pt20">{ category.name }</li>
  <li each="{ item, j in category.data }" class="{ active: this.parent.parent && this.parent.parent.getActive() === item }">
    <a if="{!item.data}" id="menu-{ item.prototype.collection }" href="#{ item.prototype.collection }">
      <span class="{ item.prototype.icon }"></span>
      <span class="sidebar-title">{ item.prototype.name }</span>
    </a>
    <a if="{item.data}" href="#" class="accordion-toggle">
      <span class="{ item.icon }"></span>
      <span class="sidebar-title">Settings</span>
      <span class="caret"></span>
    </a>
    <ul if="{ item.data }" class="nav sub-nav">
      <li each="{ subitem, k in item.data }" class="{ active: this.parent.getActive() === subitem }">
        <a if="{!data}" id="menu-{ subitem.prototype.collection }" href="#{ subitem.prototype.collection }">
          <span class="{ subitem.prototype.icon }"></span>
          <span class="sidebar-title">{ subitem.prototype.name }</span>
        </a>
      </li>
    </ul>
  </li>
</ul>
<!-- End: Sidebar Menu -->


