@charset "UTF-8";

/* GLOBAL ELEMENTS */
body {
  color: #2e2e2e;
  font-family: 'proxima-nova',sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3 {
  font-family: "Michroma";
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  max-width: 100%;
  display: inline-block;
}

h3 {
  font-size: 1.1em;
}

a { }
a:hover { }
p { }
.jvcontainer { }
.jvheader { }
.jvcontent { }

/* JOB LISTING */
.jvlisting { }
.jvlisting h2 { }
.jvlisting p { }

/* JOB DESCRIPTION */
.jvdescription { }
.jvfacebook { }
.jvjobheader { }
.jvbuttons { }
.jvdescriptionbody { }
.applybtnbot { }
.backlink { }
.btn { }
.sendjobvite { }

/* APPLY */
.jvapply { }
.jvapply .jvjobheader { }
.required { }
.control-group { }
.jvresume { }
.jvcoverletter { }
.jvsocial { }
.sendbtn { }

/* APPLY CONFIRMATION */
.jvapplyconfirm { }
.confirmMessage { }


/* EMAIL SIGN UP */
.jvnotify { }
.jvnotificationcategories { }
.notifybtn { }

/* EMAIL SIGIN UP CONFIRMATION */
.jvnotifyconfirm { }

input:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(127,219,255,.7);
  border: 1px solid #95d1e9;
  outline: none;
}

input, textarea {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  outline: none;
  background: #fff;
  color: #555;
  width: 100%;
  text-shadow: 0 0 1px rgba(255,255,255,.1);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-family: inherit;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
  padding: 8px;
  border: 1px solid #ddd;
}
