@charset "UTF-8";

/* GLOBAL ELEMENTS */
body {
  color: #2e2e2e;
  font-family: 'proxima-nova',sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3 {
  font-family: "Michroma";
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  max-width: 100%;
  display: inline-block;
}

h3 {
  font-size: 1.1em;
}

a { }
a:hover { }
p { }
.jvcontainer { }
.jvheader { }
.jvcontent { }

/* JOB LISTING */
.jvlisting { }
.jvlisting h2 { }
.jvlisting p { }

/* JOB DESCRIPTION */
.jvdescription { }
.jvfacebook { }
.jvjobheader { }
.jvbuttons { }
.jvdescriptionbody { }
.applybtnbot { }
.backlink { }
.btn { }
.sendjobvite { }

/* APPLY */
.jvapply { }
.jvapply .jvjobheader { }
.required { }
.control-group { }
.jvresume { }
.jvcoverletter { }
.jvsocial { }
.sendbtn { }

/* APPLY CONFIRMATION */
.jvapplyconfirm { }
.confirmMessage { }


/* EMAIL SIGN UP */
.jvnotify { }
.jvnotificationcategories { }
.notifybtn { }

/* EMAIL SIGIN UP CONFIRMATION */
.jvnotifyconfirm { }
