body, p {
  font-family:"proxima-nova", sans-serif;
  color: white;
  background-color: black;
  line-height: 1.5
}

/*Perk description*/
.p1 {
  background-color: #232323;
}

nav.social-icons > .bounce .large {
  font-size: 50px;
  padding: 15px;
  text-decoration: none;
}

nav.social-icons > .bounce .large:link {
  color: white;
}

nav.social-icons > .bounce .large:visited {
  color: white;
}

nav.social-icons > .bounce .large:hover {
  color: white;
  margin-top: 5px;
}

.wide {
  width: 780px
}

.narrow {
  width:500px
}

.center {
  margin: auto
}

.content-centered {
  text-align: center
}

.logo {
  font-family:Michroma;
  text-transform: uppercase;
}

h1 {
  font-weight: 600;
  font-size: 80px;
}

h2 {
  font-family:"Michroma", sans-serif;
  font-size: 1.7em;
  line-height: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;
}

h3 {
  font-size: 22px;
  text-transform: uppercase
}

h3.underline {
  border-bottom: 3px solid rgb(61, 61, 61);
  margin-bottom: 10px
}

.shipping h3 {
  margin-bottom: 10px
}

.form {
  margin-top: 20px;
  position: relative;
}

.form button {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  font-size: 14px;
  height: 45px;
}

.form input, .form select {
  color: white;
  background-color: rgb(38, 38, 38);
  border: 0;
  width: 500px;
  font-size: 14px;
  height: 45px;
  margin-bottom: 15px;
  text-indent: 20px
}

.shipping.us input.city {
  width: 270px
}

.shipping.intl input.city {
  width: 225px
}

.shipping select.state {
  width: 60px;
  text-indent: 5px;
  margin-left: 20px
}

.shipping input.state {
  width: 100px;
  margin-left: 20px
}

.shipping.us .intl-only {
  display: none
}

.shipping.intl .us-only {
  display: none
}

.shipping input.postal_code {
  width: 125px;
  right: -2px;
  position: absolute
}

.shipping {
  margin-bottom: 10px
}

.perk p.p1 {
  text-align: justify
}

.perk span.count {
  text-transform: none
}

.description {
  background-color: rgb(38, 38, 38);
  padding: 15px
}

.break-65 {
  height: 62px
}

.item {
  white-space: nowrap
}

.item select.color {
  width: 340px
}

.item select.size {
  width: 60px;
  margin-left: 20px;
  text-indent: 5px
}

.item input.quantity, .item select.quantity {
  width: 60px;
  position: absolute;
  right: 0px
}

.item.apparel select.style, .item.apparel select.color {
  width: 340px
}

.item.apparel select.color {
  margin-left: 20px
}

.item button.add {
  right: -25px;
  position: absolute
}

.item button.sub {
  left: -25px;
  position: absolute
}

.counter {
  font-size: 24px
}

.counter.bad {
  color: rgb(202, 2, 2)
}

.submit {
  color: rgb(75, 75, 75);
  font-size: 14px;
  margin-bottom: 50px
}

.submit input {
  width: 100%;
  background-color: rgb(202, 2, 2);
  border: 0;
  color: white;
  font-size: 30px;
  height: 55px;
  padding: 12px;
}

input.fix {
  border: 1px solid rgb(202, 2, 2)
}

.btn {
  font-family: proxima-nova, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  height: 15px;
  letter-spacing: normal;
  line-height: 15px;
}

.hats .text {
  font-size: 18px;
  width: 340px;
  display: inline-block;
  text-align: right;
  vertical-align: top;
  margin-top: 30px
}

.hats .counter {
  font-size: inherit
}

.hats .form {
  width: 156px;
  display: inline-block;
}

.bounce {
  float: left;
  margin-top: 10px;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
}

.bounce:hover {
  padding-top: 5px;
}

.social-icons {
  display:flex;
  justify-content:space-between;
}
