body {
  font-family:"proxima-nova", sans-serif;
  color: white;
  background-color: black;
  line-height: 1.5
}

.wide {
  width: 780px
}

.narrow {
  width:500px
}

.center {
  margin: auto
}

.content-centered {
  text-align: center
}

.logo {
  font-family:Michroma;
  text-transform: uppercase;
}

h1 {
  font-weight: 600;
  font-size: 135px
}

.form {
  margin-top: 20px;
  position: relative;
}

.form button {
  color: white;
  background-color: rgba(0,0,0,0);
  border: 0;
  font-size: 14px;
  height: 45px;
}

.form input, .form select {
  background-color: rgb(38, 38, 38);
  border: 0;
  width: 500px;
  font-size: 14px;
  height: 45px;
  margin-bottom: 15px;
  text-indent: 20px
}

.form input {
  color: rgb(103, 103, 103);
}

.form select, .form input.active {
  color: white
}

.shipping input.city {
  width: 220px
}

.shipping select.state {
  width: 60px;
  text-indent: 5px;
  margin: 0 20px
}

.shipping input.postal_code {
  width: 175px;
  right: 0px;
  position: absolute
}

.shipping {
  margin-bottom: 10px
}

.perk p.p1 {
  text-align: justify
}

.perk span.count {
  text-transform: none
}

h2 {
  font-size: 22px;
  text-transform: uppercase
}

h2.underline {
  border-bottom: 3px solid rgb(61, 61, 61);
  margin-bottom: 10px
}

.description {
  background-color: rgb(38, 38, 38);
  padding: 15px
}

.break-65 {
  height: 62px
}

.item {
  white-space: nowrap
}

.item select.color {
  width: 340px
}

.item select.size {
  width: 60px;
  margin-left: 20px;
  text-indent: 5px
}

.item input.quantity {
  width: 60px;
  position: absolute;
  right: 0px
}

.item.apparel select.type, .item.apparel select.color {
  width: 160px
}

.item.apparel select.color {
  margin-left: 20px
}

.item button.add {
  right: -25px;
  position: absolute
}

.item button.sub {
  left: -25px;
  position: absolute
}

.counter {
  font-size: 24px
}

.counter.bad {
  color: rgb(202, 2, 2)
}

.submit {
  color: rgb(75,75,75);
  font-size: 14px;
  margin-bottom: 50px
}

.submit input {
  width: 100%;
  background-color: rgb(202, 2, 2);
  border: 0;
  color: white;
  font-size: 30px;
  height: 55px;
  padding: 12px;
}

input.fix {
  border: 1px solid rgb(202, 2, 2)
}

.btn {
  font-family: proxima-nova, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  height: 15px;
  letter-spacing: normal;
  line-height: 15px;
}
