.loading-spinner {
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 15px;
  width: 15px;
  border: 4px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}
@-moz-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
body {
  color: #2e2e2e;
  font-family: 'proxima-nova', sans-serif;
  font-size: 15px;
  line-height: 1.6em;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
select,
input {
  font-size: 100%;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
.header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #000;
  display: block;
  z-index: 10;
}
.title-nav {
  padding: 2px 100px;
  max-width: 1200px;
  font-size: 15px;
  display: table;
  width: 100%;
  margin: 0 auto;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.title-nav .logo {
  display: block;
  margin-bottom: 3px;
}
.nav {
  display: table-cell;
  width: 70%;
  text-align: right;
  vertical-align: middle;
}
.nav .links {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
  line-height: 1em;
}
.nav .links .link {
  text-align: right;
  display: inline-block;
  margin: 0 0 0 30px;
}
.nav .links .link a {
  color: #fff;
  font-family: "proxima-nova";
  font-size: 0.85em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  line-height: 2em;
}
.nav .links .link a.current {
  color: #c2c2c2;
}
.nav .links .link a.big {
  display: block;
  background: #d70404;
  font-size: 15px;
  padding: 12px 30px;
  text-align: center;
  margin: auto;
  max-width: 350px;
  line-height: 1em;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.content-header {
  margin-top: 80px;
  width: 100%;
  text-align: center;
}
.content-header h1 {
  padding: 36px 0;
}
h1 {
  font-family: "Michroma";
  font-size: 2.2em;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  max-width: 100%;
  display: inline-block;
}
h2 {
  font-family: "Michroma";
  font-size: 1.2em;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  max-width: 100%;
  display: inline-block;
}
.content {
  width: 75%;
  margin: 0 auto;
  display: table;
  max-width: 1000px;
}
.item {
  display: table;
  width: 100%;
  padding: 10px 0;
}
.product-viewer {
  text-align: center;
}
.product-viewer .preview-background {
  max-width: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 90%;
}
.product-viewer .preview {
  max-width: 600px;
  width: 100%;
}
.product-viewer .gallery .thumbnail {
  max-width: 40px;
  max-height: 40px;
  margin: 0 5px;
  padding: 5px;
  border: 1px solid #fff;
  float: left;
  cursor: pointer;
}
@media all and (min-width: 1000px) {
  body .product-text .product-body {
    padding-left: 20px;
  }
}
.product-text {
  margin-top: 50px;
}
.product-text .product-title {
  width: 100%;
  display: inline-block;
}
.product-text .product-title .product-name {
  width: 65%;
}
.product-text .product-title .product-cost {
  display: inline-block;
  margin: 12px 11px 0 0;
  float: right;
}
.product-text .product-body {
  padding: 20px 10px 0 0px;
}
.product-text .product-body .product-description {
  margin-bottom: 20px;
}
.product-text .product-body .product-config label {
  display: block;
}
.product-text .product-body .product-config select {
  margin-bottom: 15px;
}
.product-text .product-body .product-config .checkout-options {
  height: 100px;
  display: inline;
  float: left;
  width: 33%;
}
.product-text .product-body .product-config .quantity {
  display: inline;
  float: left;
  width: 66%;
}
.product-text .product-body .product-config .add-to-cart {
  background-color: #272727;
  color: #fff;
  text-transform: uppercase;
  float: right;
  font-size: 1em;
  min-width: 100px;
  text-align: center;
  padding: 15px 20px;
  margin-top: 15px;
  cursor: pointer;
}
.item {
  border-top: 1px solid #cbcbcb;
}
.footer {
  width: 100%;
  background-color: #171717;
  position: relative;
  display: table;
}
.footer .top-link {
  display: block;
  background-color: #fff;
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: -25px;
  padding-top: 2px;
}
.footer .top-link a {
  display: block;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 12px;
  text-align: center;
  line-height: 1;
  color: #363636;
  padding-left: 2px;
  padding-top: 4px;
}
.footer .top-link .text {
  text-transform: uppercase;
}
.footer .top-link .top-arrow {
  display: block;
  width: 16px;
  height: 10px;
  margin: 4px auto 6px;
}
.footer .footer-content {
  margin: 0px auto;
  padding: 37px 8%;
  color: #fff;
  max-width: 1000px;
}
.footer .footer-content .grid {
  display: table;
  width: 100%;
}
.footer .footer-content .social {
  display: table;
  width: 100%;
}
.footer .footer-content .social .social-icons {
  float: right;
}
.footer .footer-content .social .social-icons a {
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 18px;
  display: inline-block;
  position: relative;
  margin-left: 9px;
}
.footer .footer-content .social .social-icons a img {
  width: 38px;
  height: 38px;
  position: absolute;
  left: -1px;
  top: -1px;
}
.footer .footer-content .footer-nav {
  display: table;
  width: 100%;
}
.footer .footer-content .footer-nav .links {
  float: right;
}
.footer .footer-content .footer-nav .links p {
  text-align: right;
  margin: 15px 0;
}
.footer .footer-content .footer-nav .links a {
  color: #fff;
  text-decoration: underline;
}
.cart-hover {
  position: fixed;
  height: 48px;
  width: 250px;
  background-image: linear-gradient(#1e1e1e, #040404);
  top: 79px;
  right: 18px;
  border-top: 1px solid #000;
  border-radius: 45px;
  display: table;
  opacity: 0.9;
}
.cart-hover a {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  padding: 0 25px 0 22px;
}
.cart-hover .cart-icon {
  float: left;
  width: 20px;
  padding-top: 2px;
}
.cart-hover .cart-details {
  margin-left: 15px;
  float: left;
  padding-top: 1px;
}
.cart-hover .cart-subtotal {
  float: right;
  padding-top: 1px;
}
@media all and (min-width: 600px) {
  .col-1-2 {
    display: inline;
    float: left;
    width: 50%;
  }
}
@media all and (min-width: 1000px) {
  .product-viewer {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
  }
  .product-text {
    display: inline;
    float: left;
  }
}
