body {
  color: #2e2e2e;
  font-family: 'proxima-nova', sans-serif;
  font-size: 15px;
  line-height: 1.6em;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #000;
}
.title-nav {
  padding: 2px 100px;
  max-width: 1200px;
  font-size: 15px;
  display: table;
  width: 100%;
  margin: 0 auto;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.title-nav .logo {
  display: block;
  margin-bottom: 3px;
}
.nav {
  display: table-cell;
  width: 70%;
  text-align: right;
  vertical-align: middle;
}
.nav .links {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
  line-height: 1em;
}
.nav .links .link {
  text-align: right;
  display: inline-block;
  margin: 0 0 0 30px;
}
.nav .links .link a {
  color: #fff;
  font-family: "proxima-nova";
  font-size: 0.85em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  line-height: 2em;
}
.nav .links .link a.current {
  color: #c2c2c2;
}
.nav .links .link a.big {
  display: block;
  background: #d70404;
  font-size: 15px;
  padding: 12px 30px;
  text-align: center;
  margin: auto;
  max-width: 350px;
  line-height: 1em;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.content-header {
  margin-top: 80px;
  width: 100%;
  text-align: center;
}
.content-header h1 {
  padding: 36px 0;
}
h1 {
  font-family: "Michroma";
  font-size: 2.2em;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  max-width: 100%;
  display: inline-block;
}
h2 {
  font-family: "Michroma";
  font-size: 1.2em;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  max-width: 100%;
  display: inline-block;
}
.content {
  width: 75%;
  margin: 0 auto;
}
.item {
  padding: 10px 0;
}
.product-viewer {
  text-align: center;
}
.product-viewer .thumbnail {
  width: 90%;
  max-width: 600px;
}
.product-text {
  margin-top: 50px;
}
.product-text .product-title {
  width: 100%;
  display: inline-block;
}
.product-text .product-title .product-name {
  width: 65%;
}
.product-text .product-title .product-cost {
  display: inline-block;
}
.product-text .product-body {
  padding: 20px 10px 0 70px;
}
.product-text .product-body .product-description {
  margin-bottom: 20px;
}
.product-text .product-body .product-config {
  position: relative;
}
.product-text .product-body .product-config label {
  display: block;
}
.product-text .product-body .product-config select,
.product-text .product-body .product-config input {
  font-size: 1.2em;
}
.product-text .product-body .product-config select {
  margin-bottom: 15px;
}
.product-text .product-body .product-config input {
  width: 120px;
  text-indent: 5px;
}
.product-text .product-body .product-config input .quantity {
  float: left;
}
.product-text .product-body .product-config .add-to-cart {
  background-color: #272727;
  color: #fff;
  text-transform: uppercase;
  display: block;
  position: absolute;
  float: left;
  font-size: 1em;
  min-width: 100px;
  text-align: center;
  padding: 15px 50px;
  margin-top: 15px;
}
.item {
  border-top: 1px solid #cbcbcb;
}
@media all and (min-width: 1000px) {
  .col-1-3 {
    display: inline;
    float: left;
    width: 33%;
  }
  .col-2-3 {
    display: inline;
    float: left;
    width: 66%;
  }
  .product-viewer {
    width: 50%;
    display: inline;
    float: left;
  }
  .product-text {
    width: 50%;
    display: inline;
    float: left;
  }
}
