body {
  font-family: 'proxima-nova', sans-serif;
  font-size: 15px;
  line-height: 1.6em;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #000;
}
.title-nav-wrapper {
  padding: 2px 21px;
  max-width: 1200px;
  font-size: 15px;
  display: table;
  width: 100%;
  margin: 0 auto;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.nav {
  display: table-cell;
  width: 70%;
  text-align: right;
  vertical-align: middle;
  text-align: right;
}
.nav .links {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
  line-height: 1em;
}
.nav .links .link {
  text-align: right;
  display: inline-block;
  margin: 0 0 0 30px;
}
.nav .links .link a {
  color: #fff;
  font-family: "proxima-nova";
  font-size: 0.85em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  line-height: 2em;
}
