application: skully-crowdstart
module: default
version: v1

runtime: go
api_version: go1
threadsafe: true

automatic_scaling:
  max_concurrent_requests: 100

instance_class: F4

builtins:
- remote_api: on

handlers:
- url: /fixtures/.*
  script: _go_app
  login: required
  secure: always

- url: /migrations/.*
  script: _go_app
  login: required
  secure: always

- url: /jobs/.*
  script: _go_app
  login: admin

- url: /_ah/warmup
  script: _go_app
  login: admin

- url: /_ah/remote_api
  script: _go_app
  login: admin

- url: /_ah/queue/go/delay
  script: _go_app
  login: admin

- url: /*
  static_dir: static
  http_headers:
    Access-Control-Allow-Origin: "*"

- url: /font/(.*\.woff)
  static_files: static/font/\1
  upload: static/font/(.*\.woff)
  mime_type: application/font-woff

- url: /font/(.*\.svg)
  static_files: static/font/\1
  upload: static/font/(.*\.svg)
  mime_type: image/svg+xml

- url: /font/(.*\.eot)
  static_files: static/font/\1
  upload: static/font/(.*\.eot)
  mime_type: application/vnd.ms-fontobject

- url: /font/(.*\.ttf)
  static_files: static/font/\1
  upload: static/font/(.*\.ttf)
  mime_type: application/x-font-ttf

- url: /font/(.*\.otf)
  static_files: static/font/\1
  upload: static/font/(.*\.otf)
  mime_type: application/x-font-otf

pagespeed:
  enabled_rewriters:
    # HTML
    # - ProxyCss
    # - ProxyImages
    # - ProxyJs
    - ConvertMetaTags
    # - InlineCss
    # - InlineJs
    # - InlineImages
    # - InlinePreviewImages
    - CollapseWhitespace
    - CombineHeads
    - ElideAttributes
    - RemoveComments
    - RemoveQuotes
    - LeftTrimUrls

    # css
    # - CombineCss
    # - MoveCssToHead
    - MinifyCss

    # images
    - WebpOptimization
    # - ImageConvertToJpeg
    # - ImageRecompressJpeg
    # - ImageProgressiveJpeg
    # - ImageRecompressPng
    - ImageStripMetadata
    - ImageStripColorProfile
    # - ImageResize
    # - LazyloadImages
    - ImageAddDimensions

    # js
    # - CombineJs
    # - JsOptimize
    # - DeferJs

  disabled_rewriters:
    - FlushSubresources
