@import "node_modules/axis/axis"
@import "node_modules/jeet/stylus/jeet"
@import "node_modules/rupture/rupture"
@import "card"
@import "shake"

.authorizeMessage
  text-align center

.error-message
  margin-top 10px

.error-message p
  text-align left
  font-size 12px
  margin-bottom 5px

.error
  color red

input.error
  border-color red !important

#standard-checkout .checkout-form-section fieldset .field.error.required input,
#standard-checkout .checkout-form-section fieldset .field.error.required select
  border 2px solid #d70404

#form-wrapper > div:nth-child(2)
  /*Shipping details.*/
  display none

#standard-checkout
  background #f3f3f3

#standard-checkout .button
  background #222

.system-error
  display none !important

div.dialog-screen-overlay.system-error-overlay
  display none !important
  z-index -1 !important

// Play with a few axis features
table
  // table(striped: false)
  border none

th
  border-bottom 1px solid #ddd
  border-top 0px
  text-align left
  padding 5px

td
  padding 5px
  border-top 1px solid #eee
  border-bottom 1px solid #eee
  border-left 0px
  border-right 0px
  font-size 12px

tr.total td
  border-bottom 0px

label
  label()

form
  form()

.field
  field: left 100%

  label
    display none

+html5-inputs()
  input: aqua 100%
  box-sizing border-box
  border-radius: 0px
  padding: 8px
  border: 1px solid #ddd
  margin: 5px 0
  font-size: 90%

// CHECKOUT
.checkout-width
  max-width 1000px

.checkout
  display table
  width 100%
  margin-bottom 50px

h2
  width: 100%
  padding 30px 0

.cart-content
  col(1/2, gutter: 0)

  +below(750px)
    stack()

  table
    td
      vertical-align middle
      padding-right 10px

    td.item-image
      width 100px
      padding 10px
      img
        width 50px

    td.item-desc
      text-align center

    .item-desc
      border-left 0px

    .quantity
      text-align right

    .price
      text-align right

    td.label
      width 90%
      text-align right

    td.value
      text-align right

  table.totals
    float right
    width 200px
    border 0
    tr:not(:last-child)
      td
        border-top 0
        background-color #fff

.information
  width: 90%
  +below(750px)
    width: 100%

.user-information
  .register
    display none
  .buttons
    text-align center
    button
      float none

.order-information
  col(1/2, gutter: 0)

  +below(750px)
    stack()

  .billing-information
    label
      .field
        width 50%

.shipping-information
  h2
    width: auto
  .options
    margin-bottom 30px
    margin-left 30px
    display inline-block

.payment-information
  h2
    width 90%
  .cards
    text-align center
  .credit-card
    text-align center
    margin 0 auto

    button
      width 100%

    .field
      width 100%
      text-align left

    input
      display block
      width 100%
      box-sizing border-box

    label
      display block
      width 100%

    .card-number
      col(1/2, gutter: 3)
      text-align left

      +below(600px)
        stack()

    .expiry-cvc
      col(1/2, gutter: 3)
      .field
        col(3/10 1/2, gutter: 1.5)
        text-align left

        input
          width 90%

      .field.card-cvc
        col(4/10 1/2, gutter: 1.5)

      .card-expiry-year
        input
          width: 100%

      +below(600px)
        stack()

.policy-information
  padding-top: 55px
  clear: both
  width: 100%
  text-align: center
  a
    padding: 20px
