@import "node_modules/axis/axis"
@import "card"
@import "shake"

.authorizeMessage
  text-align: center

.error
  color: red

#standard-checkout .checkout-form-section fieldset .field.error.required input,
#standard-checkout .checkout-form-section fieldset .field.error.required select
  border: 2px solid #d70404

#form-wrapper > div:nth-child(2)
  /*Shipping details.*/
  display: none

#standard-checkout
  background: #f3f3f3

#standard-checkout .button
  background: #222

.system-error
  display: none !important

div.dialog-screen-overlay.system-error-overlay
  display: none !important
  z-index: -1 !important

// Play with a few axis features
table
  table()

label
  label()

.field
  field()

+html5-inputs()
  input()

// CHECKOUT
.checkout-width
  max-width 1000px

.checkout
  table
  width 100%

.cart-content
  margin-bottom 50px
  table
    td
      vertical-align middle
      padding-right 10px

    td.item-image
      width 100px
      padding 0px
      img
        width 100px

    td.item-desc
      text-align center

    .item-desc
      border-left 0px

    .quantity
      text-align right

    .price
      text-align right

    td.label
      width 90%
      text-align right

    td.value
      text-align right

  table.totals
    float right
    width 200px
    border 0
    tr:not(:last-child)
      td
        border-top 0
        background-color #fff
