primer = white

theme-light = #16a085
theme-lighter = #1abc9c

theme-less-dark = #4b6075
theme-dark = #34495e
theme-darker = #293a4a

theme-light-text = white
theme-light-dimmed-text = #e1e4e7

theme-lesser-dark-text = #606d7a
theme-less-dark-text = #536a81
theme-dark-text = #34495e
