form-error(color)
  .error
    color: color !important

    input, select, textarea
      border-color: color !important

  input.error, select.error, textarea.error
    border-color: color !important
