@import "node_modules/axis/axis"
@import "../mixin/normalize"
@import "../mixin/quill"
@import "colors"
@import "quill"

// Custom stuff
.site
  width: 100%
  background-color theme-less-dark

.content
  max-width:1200px
  width: 80%
  margin: 0 auto

.campaigns
  width: 100%
  min-height:1000px

.campaign-panel
  col(1/4, cycle:4, gutter: 3)
  background-color: primer
  margin-bottom: 20px
  border-radius: 6px

  +below(1000px)
    col(1/2, cycle:2, gutter: 3)

  +below(600px)
    col(1)

  h4
    text-align: center

// Flat UI Derived Stuff

//missing media
.nav-bar
  position: relative
  min-height: 53px
  margin-bottom: 30px
  font-size: 16px
  border: none
  border-radius: 6px
  background-color: theme-dark

  > *
    float: left

  *
    color: theme-light-text

//missing media
//add dropdown open/close
//add input focus
.nav-links
  > li
    position: relative
    > a
      padding: 15px 21px
      font-size: 16px
      font-weight: 700
      line-height: 23px
      position: relative
      display: block
  > .dropdown
    > a .caret
      border-top-color: theme-less-dark
      border-bottom-color: theme-less-dark
    > a:hover .caret
      border-top-color: theme-lighter
      border-bottom-color: theme-lighter
  > .dropdown.open
    > a
      color: theme-light-text
      background-color: theme-lighter

      .caret
        border-top-color: theme-light-text
        border-bottom-color: theme-light-text

    > .dropdown-menu
      display: block
      padding: 3px 4px
      background-color: theme-dark
      min-width: 100%
      margin-top: 9px
      border-radius: 4px

      > .divider
        height: 2px
        margin-right: -4px
        margin-left: -4px
        background-color: #2f4154

      > li
        > a
          padding: 6px 9px
          color: theme-light-dimmed-text
          border-radius: 4px
        > a:hover
          color: theme-light-text
          background-color: theme-lighter

    > a:hover .caret
      color: theme-light-text
      border-top-color: theme-light-text
      border-bottom-color: theme-light-text

.nav-new
  position: absolute
  top: 35%
  right: 12px
  z-index: 10
  width: 6px
  height: 6px
  font-family: Lato,Helvetica,Arial,sans-serif
  font-size: 0
  font-weight: 700
  line-height: 1
  color: theme-light-text
  text-align: center
  background-color: theme-lighter
  border-radius: 50%

.nav-brand
  height: 53px
  padding: 14px 21px
  font-size: 24px
  font-weight: 700
  line-height: 1.042
  background: 0 0

.nav-form
  padding-top: 9px
  padding-right: 19px
  padding-bottom: 9px
  padding-left: 19px
  margin-top: 0
  margin-bottom: 0
  box-shadow: none
  border-top: 1px solid transparent
  border-bottom: 1px solid transparent

  .form-group
    display: inline-block
    margin-bottom: 0
    vertical-align: middle

  .input-group
    width: 195px
    display: inline-table
    vertical-align: middle

    > .form-control
      width: 100%

    > .form-control:first-child
      border-top-right-radius: 0
      border-bottom-right-radius: 0

    .input-group-btn
      width:auto

  .input-group.focus
    > .form-control
      color: theme-lighter
      border-color: theme-lighter

    .input-group-btn
      .btn
        color: theme-lighter
        border-color: theme-lighter

  .form-control
    color: theme-less-dark-text
    background-color: theme-darker
    border-color: transparent

    height: 35px
    padding: 5px 10px
    line-height: 1.4
    border-radius: 6px

    display: table-cell
    font-size: 15px
    border-radius: 5px

    position: static

    z-index: 2
    float: left
    margin-bottom: 0

  .input-group-btn
    .btn
      color: theme-less-dark-text
      background-color: theme-darker
      border-color: transparent;

      > .fa
        color: theme-less-dark-text
        background-color: theme-darker

  .input-group-btn:last-child
    > .btn
      margin-left: -3px
      border-left-width: 0
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

  .btn
    margin: 0
    height: 35px;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 1.4;
    border-radius: 6px;
