{% extends "../base.html" %}

{% block name %}Connect{% endblock %}
{% block desc %}to external accounts.{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ staticUrl }}/css/stripe.css"/>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h2>Stripe<h2>
    </div>
    <div class="row">
        <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id={{ stripe.ClientId }}&scope=read_write&state=movetoserver&stripe_landing=login&redirect_uri={{ stripe.RedirectURL }}" class="stripe-connect"><span>Connect with Stripe</span></a>
    </div>
    <div class="row stripe-sync">
        <a class="btn btn-default" href="{{ config.UrlFor("platform", "/stripe/sync") }}">Sync orders</a>
    </div>
    {% if stripeError && stripeError != "" %}
    <div class="row">
        <h3>Your Stripe account was not successfully be connected.  Please try again.</h3>
        <p>
          {{ stripeError }}
        </p>
    </div>
    {% endif %}
    <div class="row">
        <h2>Salesforce</h2>
    </div>
    <div class="row">
        <a class="btn btn-default" href="https://login.salesforce.com/services/oauth2/authorize?response_type=code&client_id={{ salesforce.ConsumerKey }}&redirect_uri={{ salesforce.CallbackURL }}">Connect with Salesforce</a>
    </div>
    {% if salesforceError && salesforceError != "" %}
    <div class="row">
        <h3>Your Salesforce account was not successfully be connected.  Please try again.</h3>
        <p>
          {{ salesforceError }}
        </p>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block js %}
{% endblock %}
