application: crowdstart-io
module: default
version: v1

runtime: go
api_version: go1
threadsafe: true

inbound_services:
- warmup

handlers:
- url: /_ah/*
  script: _go_app

- url: /*
  static_dir: static
