service: default

runtime: go111
instance_class: F4

automatic_scaling:
  min_idle_instances: 1
  max_idle_instances: automatic
  max_concurrent_requests: 80

inbound_services:
- warmup

handlers:
- url: /
  script: auto

- url: /wake-up
  script: auto

- url: /hashid
  script: auto
  login: admin
  secure: always

- url: /hashid/.*
  script: auto
  login: admin
  secure: always

- url: /tasks
  script: auto
  login: admin
  secure: always

- url: /task/.*
  script: auto
  login: admin
  secure: always

- url: /_ah/remote_api
  script: auto
  login: admin

- url: /_ah/queue/go/delay
  script: auto
  login: admin

- url: /_/queue/delay
  script: auto
  login: admin

- url: /humans.txt
  static_files: static/humans.txt
  upload: static/humans.txt

- url: /robots.txt
  static_files: static/robots.txt
  upload: static/robots.txt

- url: /font/(.*\.woff)
  static_files: static/font/\1
  upload: static/font/(.*\.woff)
  mime_type: application/font-woff
  http_headers:
    Access-Control-Allow-Origin: "*"

- url: /font/(.*\.woff2)
  static_files: static/font/\1
  upload: static/font/(.*\.woff2)
  mime_type: application/font-woff2
  http_headers:
    Access-Control-Allow-Origin: "*"

- url: /font/(.*\.svg)
  static_files: static/font/\1
  upload: static/font/(.*\.svg)
  mime_type: image/svg+xml
  http_headers:
    Access-Control-Allow-Origin: "*"

- url: /font/(.*\.eot)
  static_files: static/font/\1
  upload: static/font/(.*\.eot)
  mime_type: application/vnd.ms-fontobject
  http_headers:
    Access-Control-Allow-Origin: "*"

- url: /font/(.*\.ttf)
  static_files: static/font/\1
  upload: static/font/(.*\.ttf)
  mime_type: application/x-font-ttf
  http_headers:
    Access-Control-Allow-Origin: "*"

- url: /font/(.*\.otf)
  static_files: static/font/\1
  upload: static/font/(.*\.otf)
  mime_type: application/x-font-otf
  http_headers:
    Access-Control-Allow-Origin: "*"

- url: /*
  static_dir: static
  http_headers:
    Access-Control-Allow-Origin: "*"
