application: crowdstart-io
module: default
version: v1

runtime: go
api_version: go1
threadsafe: true

inbound_services:
- warmup

handlers:
- url: /install-fixtures
  script: _go_app
  login: required
  secure: always

- url: /*
  static_dir: static

pagespeed:
  enabled_rewriters:
    # HTML
    - ProxyCss
    - ProxyImages
    - ProxyJs
    - ConvertMetaTags
    - InlineCss
    - InlineJs
    - InlineImages
    - InlinePreviewImages
    - CollapseWhitespace
    - CombineHeads
    - ElideAttributes
    - RemoveComments
    - RemoveQuotes
    - LeftTrimUrls

    # css
    - CombineCss
    - MoveCssToHead
    - MinifyCss

    # images
    - WebpOptimization
    # - ImageConvertToJpeg
    # - ImageRecompressJpeg
    - ImageProgressiveJpeg
    - ImageRecompressPng
    - ImageStripMetadata
    - ImageStripColorProfile
    # - ImageResize
    # - LazyloadImages
    - ImageAddDimensions

    # js
    - CombineJs
    - JsOptimize
    - DeferJs

  disabled_rewriters:
    - FlushSubresources
