p(style="text-align:left")
  | You've selected to keep ad support. If you'd
  | like to turn off ads in the future with a tiny donation, you can do so from
  | the options.

p(style="text-align:left")
  | Thanks for your loyalty and your help.
