.span10
  p So&comma; we are asking for your understanding while making a choice&colon;

.span5
  #choice-ad.choice
    .choice-number 1
    #choice-ad-body
      | Keep #{opts.extension.name} FREE&period; Let the advertisers pay us&period; It&apos;s not that much&comma; but we&apos;ll make it work&period;

.span5
  #choice-donate.choice
    .choice-number 2
    #choice-donate-wrapper
      #choice-donate-body
        | You can turn off ads by&nbsp;
        span making a simple&comma; one-time donation.
        #login-with-paypal

.span10
  #already-donated
    p Already donated?  Click "Log in with PayPal" to confirm your past donation.
