div.upgrade-headline #{opts.extension.name} is now up to date!

div.upgrade-thankyoulink
  a(href=opts.thankyou.url, target="_blank")= opts.thankyou.text

p
  | We started building this project a couple years back and we've been
  | overwhelmed by all your feedback!

p
  | Our humble development team (the two of us) is trying to keep updates on pace
  | with the new Chrome versions and building more useful extensions, but it's
  | getting really hard without your help.
