.color-picker
  label
    padding: 15px

    p
      margin-bottom: -5px

  input
    display: none

  img
    width: 40%

  .col-1-2
    column(1/2, gutter: 3)

  margin-top: 10px
  margin-bottom: 20px

  input:checked + label
    padding: 14px
