.color-picker
  label
    padding: 15px
    position: relative

    .mobile-color-picker-circle
      width: 14px
      height: 14px
      border: 1px solid theme-dark
      border-radius: 50%
      display: inline-block
      position: absolute
      left: 24px
      top: 17px
      overflow: hidden
      transform-origin: 50% 50%;
      transform: rotate(-30deg)

  label[for=black]
    .mobile-color-picker-circle
      background-color: theme-darker
      border-color: theme-darker

  label[for=white]
    .mobile-color-picker-circle div
      margin-top: 50%
      height: 50%
      width: 100%
      background-color: theme-less-dark

  input
    display: none

  img
    width: 40%

  .col-1-2
    column(1/2, gutter: 3)

  margin-top: 10px
  margin-bottom: 20px

  input:checked + label
    padding: 14px

    .mobile-color-picker-circle
      top: 16px
      left: 23px

