.picker-wrapper
  margin: 10px 0

  .picker
    width: 100%
    display:table

  .instructions
    margin: 10px 0

  .fine-print
    margin: 10px 0

  label
    cursor: pointer
    margin-top: 3px
    border: 1px solid theme-less-dark
    color: theme-dark
    text-align: center
    display: block

  input:checked + label
    border: 2px solid theme-darker
    color: theme-darker
    font-weight: 600
