.picker-wrapper
  margin: 10px 0

  .picker
    width: 100%
    display:table

  .instructions
    margin: 10px 0

  .fine-print
    margin: 10px 0

  input:checked + label
    margin-top: 0px
    border: 2px solid theme-darker
    color: theme-darker
    font-weight: 600

