.product-features
  margin-top: 20px

  .hidden
    display: none

  .transparent
    opacity: 0

  .circle
    width: 86px
    float: left

  .mobile-fov-buttons
    display: table
    width: 75%
    margin: 20px auto 0 auto
    max-width: 500px

    .mobile-skully-fov-button
      font-family: Michroma
      font-size: 13px

    .mobile-fov-button
      display: table-cell
      border: 1px solid theme-dark
      height: 40px
      vertical-align: middle
      text-align: center
      width: 50%
      box-sizing: border-box
      cursor: pointer

    .mobile-fov-button:first-child
      border-right: 0px
    .mobile-fov-button:last-child
      border-left: 0px

  .fov-infographics
    img
      margin-top: 20px
      width: 100%
      transition: opacity 0.2s ease-in-out

    img.skully-fov
      position: absolute
      top: 0
      left: 0

  .fov-wrapper
    width:90%
    margin: auto
    position: relative

    .fov-info
      margin-top: 0px
      h4
        color: theme-blue

      span
        padding 5px 9px 5px 11px

      .check-mark
        opacity: 0

      label
        min-width: 221px
        max-width: 221px
        display: block
        border: 1px solid theme-less-dark
        margin: 21px 0 0 107px
        padding: 5px 10px 6px 0px
        white-space: nowrap
        cursor: pointer
        font-weight: 600

  @media all and ( max-width: 415px ), all and ( min-width: 1000px )
    input#mobile-skully-fov:checked ~ .mobile-fov-buttons .mobile-skully-fov-button
      border: 2px solid theme-blue
      color: theme-blue
      font-weight: 800

    input#mobile-skully-fov:checked ~ .fov-wrapper .skully-fov
      opacity: 1

    input#mobile-conventional-fov:checked ~ .mobile-fov-buttons .mobile-conventional-fov-button
      border: 2px solid theme-darker
      color: theme-darker
      font-weight: 800

  @media all and ( min-width: 415px ) and ( max-width: 1000px)
    input#fov-toggle:checked ~ .fov-wrapper .skully-fov
      opacity: 1

    input#fov-toggle:checked ~ .fov-wrapper .fov-info
      .check-mark
        opacity: 1

      label
        margin: 20px 0 0 106px
        padding: 5px 10px 5px 0px
        color: theme-blue
        border: 2px solid theme-blue

  .circle-info
    margin-top: 45px
    float: left

    .circle-description
      padding-left: 106px

  h4
    font-weight: 600
    font-size: 16px

  .misc-features
    width: 90%
    margin: auto
    display: table

    h4
      color: theme-blue

.collage
  background-color: #171717
  text-align: center
  margin-top: 70px

  img
    max-width: 1000px
    width: 100%
    margin: 0 auto -20px auto

@media all and ( max-width: 414px )
  .product-features
    .fov-wrapper
      .fov-info
        margin-top: 40px

@media all and ( min-width: 415px ) and ( max-width: 1000px )
  .product-features
    .fov-wrapper
      padding-bottom: 50px

@media all and ( min-width: 750px )
  .product-features
    .fov-infographics
      img
        margin-top: 50px

    .fov-info
      position: absolute
      left: 0px
      bottom: 0px

    .circle-info
      col(1/2, gutter:8, cycle:2)
