.mobile-viewer-wrapper
  display: table
  width: 80%
  margin: auto

  .product-viewer
    width: 100%

  .preview-background
    width: 100%

.product-viewer
  height: 100%
  vertical-align: middle

  .preview-background
    max-width 600px
    max-height 600px
    background-size contain
    background-repeat no-repeat
    width 95%
    position: relative
    padding-bottom: 10px

    .sold-out
      position: absolute;
      width: 100%;

  img
    top: 0
    height: auto
    display: block
    max-width 600px
    max-height 600px
    width 100%
    transition all .3s ease-out
    transition opacity .3s ease-in

  img:last-child
    position: absolute

  .transparent
    opacity: 0

@media all and ( max-width: 768px )
  .product-viewer
    width 100%

@media all and ( min-width: 768px )
  .product-viewer
    width 50%
    display table-cell

    .preview-background
      padding-bottom: 0px

