.quantity-checkout
  .col-1-2
    column(1/2, gutter: 3)

  .quantity
    height: 50px
    font-weight: 600

    .select2
      width: 33%
      display: inline-block
      float: left

      .selection
        width: 101%
        display: table

        .select2-selection
          border-radius: 0
          height: 50px
          text-align: right
          border: 1px solid theme-less-dark
          color: theme-darker
          outline: none
          margin: 0
          padding: 0
          display: table-cell
          vertical-align: middle

          .select2-selection__rendered
            padding-right: 30%

          .select2-selection__arrow
            display: none

  .price-wrapper
    width: 65%
    display: table
    vertical-align: top
    height: 48px
    border: 1px solid theme-less-dark
    border-left: 0px

    *
      display: table-cell
      vertical-align: middle

    .x
      padding: 0 5px 0 20px

  .checkout-options
    button
      width: 100%
      height: 50px
      margin-top: 0px
      text-transform: none
      background-color: theme-red
      font-weight: 600

    .plus
      font-size: 20px
      vertical-align: middle
      padding: 5px

  .fine-print
    text-align: right
