@media all and ( min-width: 786px )
  .display-medium-only
    display: none
  .display-small-only
    display: none

@media all and ( max-width: 786px ) and ( min-width: 414px )
  .display-small-only
    display: none
  .display-large-only
    display: none

@media all and ( max-width: 414px )
  .display-medium-only
    display: none
  .display-large-only
    display: none

@media all and ( min-width: 768px )
  .display-medium-max
    display: none
  .display-small-max
    display: none

@media all and ( min-width: 414px )
  .display-small-max
    display: none

@media all and ( max-width: 786px ) and ( min-width: 414px )
  .display-small-min
    display: none

@media all and ( max-width: 786px )
  .display-medium-min
    display: none
  .display-small-min
    display: none

