@media all and ( min-width: 1000px )
  .display-large-only
    display: none !important
  .display-medium-only
    display: none !important
  .display-small-only
    display: none !important

@media all and ( max-width: 1000px ) and ( min-width: 769px )
  .display-x-large-only
    display: none !important
  .display-medium-only
    display: none !important
  .display-small-only
    display: none !important

@media all and ( max-width: 768px ) and ( min-width: 415px )
  .display-x-large-only
    display: none !important
  .display-large-only
    display: none !important
  .display-small-only
    display: none !important

@media all and ( max-width: 414px ), screen and (max-device-width : 414px) and (-webkit-device-pixel-ratio: 3)
  .display-medium-only
    display: none !important
  .display-large-only
    display: none !important
  .display-x-large-only
    display: none !important

@media all and ( min-width: 1000px )
  .display-x-large-hide
    display: none !important

@media all and ( max-width: 1000px ) and ( min-width: 769px )
  .display-large-hide
    display: none !important

@media all and ( max-width: 768px ) and ( min-width: 415px )
  .display-medium-hide
    display: none !important

@media all and ( max-width: 414px ), screen and (max-device-width : 414px) and (-webkit-device-pixel-ratio: 3)
  .display-small-hide
    display: none !important

