.size-picker

  .pictograph
    border: 1px solid theme-dark
    color: theme-dark
    border-radius: 50%
    margin:auto

  .small .pictograph
    width: 6px
    height: 6px

  .medium .pictograph
    width: 9px
    height: 9px

  .large .pictograph
    width: 12px
    height: 12px

  .x-large .pictograph
    width: 15px
    height: 15px

  .xx-large .pictograph
    width: 18px
    height: 18px

  label
    padding: 10px

    .sizing
      width: 20px
      height: 20px
      margin-bottom: 10px
      margin-left: auto
      margin-right:auto

  input
    display: none

  input:checked + label
    .pictograph
      background-color: theme-darker
      border: 1px solid theme-darker
      color: theme-darker

  .col-1-5
    column(1/5, gutter: 2)


