@import "node_modules/axis/axis"
@import "../mixin/quill"

@import "../theme/forms"
@import "../preorder/spinner"
@import "dropdown"

form
  form-error(red)

.container
  width: 100%

body
  color rgb(46,46,46)
  font-family 'proxima-nova', sans-serif
  font-size 16px
  line-height 1.6em
  letter-spacing 0px
  font-weight 400
  font-style normal
  background-color #171717

.site
  background-color #FFF
  position absolute
  width 100%
  left 0%
  transition left .3s ease 0s

select, input
  font-size 100%

a:link
  text-decoration none
  color: black

a:visited
  text-decoration none
  color: black

a:hover
  text-decoration none

a:active
  text-decoration none

.header
  width 100%
  position fixed
  top 0px
  left 0px
  background-color #000
  display block
  z-index 10
  transition left .3s ease 0s

.title-nav
  max-width 1200px
  font-size 15px
  display table
  width 100%
  margin 0 auto
  vertical-align middle
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
  .logo
    display block
    margin-top: 2px
    margin-bottom: 5px

  > a
    display table

.links
  transition width .5s ease 0s

@media all and ( max-width: 1000px )
  .title-nav
    padding-left 21px
    padding-right 21px

    .logo
      margin 0

  .mobile-nav
    display block
    position absolute
    top 0px
    left 100%
    overflow visible

    .menu-icon
      display block
      width 18px
      height 18px
      position relative
      top 16px
      left -46px

      .bar
        background-color #fff
        width 18px
        height 2px
        display block
        position absolute

      .bar1
        top 3px

      .bar2
        top 8px

      .bar3
        top 13px

    .menu-icon:hover
      opacity 0.76

  .nav
    .links
      width 0
      display none

  body.mobile
    .site
      left -80%

      .header
        left -80%

        .nav
          overflow visible

          .links
            width 100%
            display block
            position fixed
            top 0px
            left 20%
            width 80%
            height 100%
            background-color #000

            > li
              display block
              width 100%
              text-align center
              padding 20px
              box-sizing border-box

              label
                text-align center
                padding 0px

            > li.link a.big
                padding 20px
                margin-top 20px

            li ul
              position initial
              width 100%

              li
                text-align center

@media all and ( min-width: 1000px )
  .title-nav
    padding 0px 130px !important

  .nav
    display table-cell
    width 70%
    text-align right
    vertical-align middle

    .mobile-nav
      display none

    .links
      margin 0
      padding 0
      list-style none
      text-align right
      line-height 1em

      .link
        text-align center
        display inline-block
        padding 10px

.nav .links .link
  a
    color #fff
    font-family "proxima-nova"
    font-size .85em
    text-transform uppercase
    letter-spacing 2px
    font-weight 400
    font-style normal
    line-height 2em

  a.current
    color #c2c2c2

  a:hover
    color #c2c2c2

  a.big
    display block
    background #d70404
    font-size 15px
    padding 12px 30px
    text-align center
    margin auto
    max-width: 350px
    line-height: 1em
    letter-spacing: 0px
    font-weight: 400
    font-style: normal

.content-header
  margin: 80px auto 0 auto
  width: 75%
  text-align: center
  position: relative

  h1
    padding 36px 0

  .breadcrumb
    display block
    position absolute
    z-index:1
    left 0px
    top: 15px

h1
  font-family "Michroma"
  font-size 2.2em
  line-height 1em
  text-transform uppercase
  text-decoration none
  letter-spacing 2px
  font-weight 400
  font-style normal
  max-width 100%
  display inline-block

h2
  font-family "Michroma"
  font-size 1.2em
  line-height 1em
  text-transform uppercase
  text-decoration none
  letter-spacing 2px
  font-weight 400
  font-style normal
  max-width 100%
  display inline-block

.content
  width 75%
  margin 0 auto
  display table

button
  background-color rgb(39,39,39)
  color white
  text-transform uppercase
  float right
  font-size 1em
  min-width 100px
  text-align center
  padding 15px 20px
  margin-top 15px
  cursor pointer
  border 0px

.sep-top
  border-top 1px solid rgb(203,203,203)

.footer
  width 100%
  background-color #171717
  position relative
  display table
  .top-link
    display block
    background-color #fff
    width 50px
    height 50px
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
    -webkit-border-radius 50%
    border-radius 50%
    position absolute
    left 50%
    margin-left -25px
    top -25px
    padding-top 2px
    a
      display block
      font-weight 600
      letter-spacing 2px
      font-size 12px
      text-align center
      line-height 1
      color #363636
      padding-left 2px
      padding-top 4px
    .text
      text-transform uppercase
    .top-arrow
      display block
      width 16px
      height 10px
      margin 4px auto 6px
  .footer-content
    margin 0px auto
    padding 37px 8%
    color #fff
    .grid
      display table
      width 100%
    max-width 1000px
    .social
      display table
      width 100%
      .social-icons
        float right
        a
          width 36px
          height 36px
          background-color #fff
          border-radius 18px
          display inline-block
          position relative
          margin-left 9px
          img
            width 38px
            height 38px
            position absolute
            left -1px
            top -1px
    .footer-nav
      display table
      width 100%
      .links
        float right
        p
          text-align right
          margin 15px 0
        a
          color #fff
          text-decoration underline

// STORE
store-width
  max-width 1000px

section > .item
    display table
    width 100%
    padding 10px 0

  .product-viewer
    text-align center
    .preview-background
      max-width 600px
      max-height 600px
      background-size contain
      background-repeat no-repeat
      width 90%
    .preview
      max-width 600px
      width 100%
      transition opacity .3s ease 0s

    .gallery

      .thumbnail
        max-width 40px
        max-height 40px
        margin 0 5px
        padding 5px
        border 1px solid #fff
        float left
        cursor pointer

.empty-message
  text-align center
  display none

@media all and ( min-width: 1000px )
  body .product-text .product-body
    padding-left 20px

.product-text
  margin-top 50px
  .product-title
    width 100%
    display inline-block
    .product-name
      width 65%
    .product-cost
      display inline-block
      margin 12px 11px 0 0
      float right
  .product-body
    padding 20px 10px 0 0px
    .product-description
      margin-bottom 20px
    .product-config
      label
        display block
      select
        margin-bottom 15px

      .checkout-options
        height 100px
        display inline
        float left
        width 33%

      .quantity
        display inline
        float left
        width 66%

      button.add-to-cart
        min-width 150px
        .loading-spinner
          height 10px
          width 10px
          margin-right 10px

// CART HOVER
.cart-hover
  position fixed
  height 48px
  width 280px
  background-image linear-gradient(rgb(30,30,30), rgb(4,4,4))
  top 96px
  right 15px
  border-top 1px solid #000
  border-radius 45px
  display table
  opacity 0.9
  transition right .3s ease 0s
  a
    color #fff
    display table-cell
    vertical-align middle
    padding 0 25px 0 22px
  .cart-icon
    float left
    width 20px
    padding-top 2px
  .cart-details
    margin-left 15px
    float left
    padding-top 1px
  .cart-subtotal
    float right
    padding-top 1px

body.mobile .cart-hover
  right 105%

// ALERT-DIALOG
.alert-dialog
  display block
  position absolute
  opacity 0.8
  background-color #fff
  padding-top 50px
  box-sizing border-box
  div
    text-align center
  div.alert-message
    text-decoration italic
    padding 20px
  div.alert-buttons
    button
      float none
      display inline
      font-size 12px
      min-width 80px
      padding 10px

// SHOPPING CART
.cart-width
  max-width 800px

.shopping-cart
  form
    table
      width 100%
    td
      vertical-align middle
    td.item-desc
      text-align left
    td.item-image
      width 150px
      .thumbnail
        padding 10px
        max-width 100px
    td.quantity
      max-width 15%
      select
        margin-left 10px
    td.price
      text-align right
      width 100px
    td.remove
      width 60px
      text-align center
      .remove-item
        cursor pointer
  margin-bottom 50px

  .subtotal
    text-align right
    span
      display inline-block
    .label
      padding 20px
    .price
      padding-right 25px

  .checkout
    display table
    width 100%

.shopping-cart
  tr.subitem
    font-size 12px
    td
      padding 5px 0
      position relative
      top -25px
    td.item-image
      text-align center
      .plus
        vertical-align middle
      .thumbnail
        max-width 60px
    td.quantity
      .text
        margin-left 40px
    td.price
      .free
        display none

// THANK YOU
.thankyou-width
  width 600px

.thankyou
  margin-bottom 50px
  .message
    text-align center

  .social-icons
    text-align center
    margin-top 20px
    img
      width 40px

// LOGIN, REGISTER, PROFILE
.content
  .login
    width 100%
    max-width 900px
    display table
    margin 20px auto 30px auto

    .user-form:first-child
      padding-right 5%

    .user-form:last-child
      border-left 1px solid #555
      padding-left 5%

    // Rotate login divider column
    +below(600px)
      .user-form
        padding-right: 0 !important
        padding-left: 0 !important

      .user-form:last-child
        border: 0 !important

      .divider
        width 110%
        position relative
        left -5%
        border-top: 1px solid #555

    .user-form form > div
      margin 20px 0
      width 100%
      display table

    .user-form
      padding-bottom 10px

      .left
        col(1/2)
        padding-right: 10px
        bbox()
        input
          width: 100%
          bbox()

      .right
        col(1/2)
        padding-left: 10px
        bbox()
        input
          width: 100%
          bbox()

      // Stack first/last name below 600px
      +below(750px)
        .left
          padding: 0
          stack()
          margin-bottom: 20px
        .right
          padding: 0
          stack()

      .user-form-header
        min-height 80px

        h2
          min-height 50px

      box-sizing border-box

      +html5-inputs()
        input: aqua 100%
        font-family inherit
        box-sizing border-box
        border-radius: 0px
        padding: 8px
        border: 1px solid #ddd

      button
        width:100%
        margin 0

// MEDIA QUERIES
@media all and ( min-width: 600px )
  .col-1-2
     col(1/2)
@media all and ( min-width: 1000px )
  .product-viewer
    width 50%
    display table-cell
    vertical-align middle
  .product-text
    display inline
    float left

// DROPDOWNS
.dropdown
  color: #fff
  display: inline-block
  dropdown()

.policy-information
  a, a:visited
    color: #555
