{% extends "base.html" %}

{% block title %}
Login &mdash; SKULLY AR-1</title>
{% endblock %}

{% block content %}
<div class="narrow center content-centered">
    <form action="" method="post">
	<div class="form body bg-gray">
	    <div class="form-group">
		<input type="text" name="Email" class="email form-control" placeholder="Email"/>
	    </div>
	    <div class="form-group">
		<input type="password" name="Password" class="password form-control" placeholder="Password"/>
	    </div>
	    <!-- <div class="form-group"> -->
	    <!--     <input type="checkbox" name="Remember"/> Remember me -->
	    <!-- </div> -->
	</div>

	<div class="narrow center content-centered submit">
	  <input type="submit" class="btn bg-olive btn-block" value="EDIT PRE-ORDER"></input>
	    <!-- <p><a href="#">I forgot my password</a></p> -->
	    <!-- <a href="register" class="text-center">Register a new membership</a> -->
	</div>
    </form>

{% if message %}
<p>{{ message }}</p>
{% endif %}
</div>
{% endblock %}
