<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/preorder.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Michroma:400,400italic,700normal,700italic|PT+Serif:400,400italic,700normal,700italic"/>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/card.js"></script>
    <script type="text/javascript" src="/js/validate.min.js"></script>
    <script src="//use.typekit.net/uye2ojv.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>
  <body>

    <div class="wide center body">
      <div class="content-centered logo">

        <h1>Skully</h1>

        <form action="" method="post">
            <div class="form body bg-gray">
                <div class="form-group">
                    <input type="text" name="Email" class="email form-control" placeholder="Email"/>
                </div>
                <div class="form-group">
                    <input type="password" name="Password" class="password form-control" placeholder="Password"/>
                </div>
                <!-- <div class="form-group"> -->
                <!--     <input type="checkbox" name="Remember"/> Remember me -->
                <!-- </div> -->
            </div>

            <div class="narrow center content-centered submit">
              <input type="submit" class="btn bg-olive btn-block" value="EDIT PRE-ORDER"></input>
                <!-- <p><a href="#">I forgot my password</a></p> -->
                <!-- <a href="register" class="text-center">Register a new membership</a> -->
            </div>
        </form>
      </div>
    </div>

  </body>
</html>
