<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/preorder.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Michroma:400,400italic,700normal,700italic|PT+Serif:400,400italic,700normal,700italic"/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/card.js"></script>
    <script type="text/javascript" src="/js/validate.min.js"></script>
    <script src="//use.typekit.net/uye2ojv.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script>
      var PreorderData = {
        user: {{ userJSON | safe }},
          contributions: {{ contributionsJSON | safe }},
      };
    </script>
  </head>
  <body>

    <div class="wide center body">
      <div class="content-centered logo">
        <h1>Skully</h1>
      </div>
      <div class="instructions">
        <p>Bacon ipsum dolor amet biltong landjaeger swine meatball brisket frankfurter andouille cupim pork chop doner ribeye beef. Jowl andouille sirloin beef. Flank hamburger landjaeger tenderloin ham rump alcatra sausage capicola pork chop beef biltong andouille leberkas jowl. Venison hamburger meatloaf alcatra tri-tip pork belly tenderloin filet mignon beef ribs. Strip steak jerky bresaola, pastrami prosciutto pork loin boudin shankle kielbasa corned beef short loin porchetta biltong tongue. Frankfurter pastrami corned beef, pig leberkas porchetta turkey tongue bacon pancetta ham hock brisket venison ground round pork loin.</p>
      </div>
      <form id="skully" name="skully">
        <div class="narrow center shipping">
          <div class="form">
            <input id="email" name="email" class="email" type="text" value="Email Address ex. info@skullysystems.com">
            <input id="first_name" name="first_name" class="first_name" type="text" value="First Name ex. SKULLY">
            <input id="last_name" name="last_name" class="last_name" type="text" value="Last Name ex. Systems">
            <input id="phone" name="phone" class="phone" type="text" value="Phone Number ex. 5-555-555-5555">
            <input id="address1" name="address1" class="address1" type="text" value="Address ex. 555 3rd Street">
            <input id="address2" name="address2" class="address2 optional" type="text" value="Address 2 ex. Suite 3, Apt#">
            <input id="city" name="city" class="city" type="text" value="City ex. San Francisco">
            <select id="state" name="state" class="state">
              <option value="Alabama">AL</option>
              <option value="Alaska">AK</option>
              <option value="Arizona">AZ</option>
              <option value="Arkansas">AR</option>
              <option value="California">CA</option>
              <option value="Colorado">CO</option>
              <option value="Connecticut">CT</option>
              <option value="Delaware">DE</option>
              <option value="District Of Columbia">DC</option>
              <option value="Florida">FL</option>
              <option value="Georgia">GA</option>
              <option value="Hawaii">HI</option>
              <option value="Idaho">ID</option>
              <option value="Illinois">IL</option>
              <option value="Indiana">IN</option>
              <option value="Iowa">IA</option>
              <option value="Kansas">KS</option>
              <option value="Kentucky">KY</option>
              <option value="Louisiana">LA</option>
              <option value="Maine">ME</option>
              <option value="Maryland">MD</option>
              <option value="Massachusetts">MA</option>
              <option value="Michigan">MI</option>
              <option value="Minnesota">MN</option>
              <option value="Mississippi">MS</option>
              <option value="Missouri">MO</option>
              <option value="Montana">MT</option>
              <option value="Nebraska">NE</option>
              <option value="Nevada">NV</option>
              <option value="New Hampshire">NH</option>
              <option value="New Jersey">NJ</option>
              <option value="New Mexico">NM</option>
              <option value="New York">NY</option>
              <option value="North Carolina">NC</option>
              <option value="North Dakota">ND</option>
              <option value="Ohio">OH</option>
              <option value="Oklahoma">OK</option>
              <option value="Oregon">OR</option>
              <option value="Pennsylvania">PA</option>
              <option value="Rhode Island">RI</option>
              <option value="South Carolina">SC</option>
              <option value="South Dakota">SD</option>
              <option value="Tennessee">TN</option>
              <option value="Texas">TX</option>
              <option value="Utah">UT</option>
              <option value="Vermont">VT</option>
              <option value="Virginia">VA</option>
              <option value="Washington">WA</option>
              <option value="West Virginia">WV</option>
              <option value="Wisconsin">WI</option>
              <option value="Wyoming">WY</option>
            </select>
            <input id="postal_code" name="postal_code" class="postal_code" type="text" value="Postal Code ex. 94107">
          </div>
        </div>
        <div class="narrow center perk">
          <div class="content-centered">
            <h2 class="underline">Perk: <span>Auto-populate w/perk title</span></h2>
          </div>
          <div class="content-centered description">
            <p class='p1'>Perk description here. Blah blah blah. Please follow format of original perk cards with estimated shipping date down at the bottom. Expand box to accomodate texts if necessary.</p>
            <br/>
            <p class='p2'>Estimated Delivery: May 2015 (etc)</p>
          </div>
        </div>
        <div class="break-65"></div>
        <div class="narrow center item ar1">
          <div class="content-centered">
            <h2 class="underline">Skully AR-1 color &amp; size <span>(</span><span class="counter"></span><span class="total"></span></h2>
          </div>
          <div class="form">
          </div>
        </div>
        <div class="break-65"></div>
        <div class="narrow center item apparel">
          <div class="content-centered">
            <h2 class="underline">Skully Nation Apparel Color &amp; size <span>(</span><span class="counter"></span><span class="total"></span></h2>
          </div>
          <div class="form">
          </div>
        </div>
        <div class="break-65"></div>
        <div class="narrow center content-centered submit">
          <span>Please check to see if the above information is correct before submitting.</span>
          <input type="submit" value="SUBMIT">
        </div>
      </form>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        function activateInput() {
          if(!$(this).hasClass('active')) {
            $(this).addClass('active').val('').off('click');
          }
        }

        $('input[type=text]').on('click', activateInput);

        var total = 20; //populate from db

        function countFunc(selector) {
          return function() {
            // Start looping over everything else
            var itemEl = $(selector);
            var counterEl = itemEl.find('.counter');

            var count = 0;
            itemEl.find('.quantity').each(function(){
              var val = parseInt($(this).val(), 10);
              if(isNaN(val)) {
                val = 0;
              }
              count += val;
            });
            if (count != total) {
              counterEl.addClass('bad');
            } else {
              counterEl.removeClass('bad');
            }
            counterEl.html(count);

            itemEl.find('.total').html('/'+total+')');
          }
        }

        function appendFunc(selector, variantT, count) {
          var first = false;
          var append = function() {
            var variantEl = $(variantT);
            if(!first) {
              first = true;
            } else {
              var subButtonEl = $(subButtonT);
              subButtonEl.on('click', function(){
                variantEl.remove();
                count();
              });
              variantEl.append(subButtonEl);
            }

            variantEl.find('input[type=text]').on('click', activateInput);
            variantEl.find('input#quantity').payment('restrictNumeric').on('change keyup keypress', count);
            variantEl.find('button.add').on('click', append);
            $(selector).find('.form').append(variantEl);
            return false;
          }
          return append;
        }

        var subButtonT = '<button class="sub">-</button>'

        // AR 1 stuff, refactor
        var ar1VariantT = '\
<div class="row variant">\
  <select id="color" name="color" class="color">\
    <option value="Matte Black">Matte Black</option>\
    <option value="Gloss White">Gloss White</option>\
  </select>\
  <select id="size" name="size" class="size">\
    <option value="S">S</option>\
    <option value="M">M</option>\
    <option value="L">L</option>\
    <option value="XL">XL</option>\
    <option value="XXL">XXL</option>\
  </select>\
  <input id="quantity" name="quantity" class="quantity" type="text" maxlength="2" value="Qty.">\
  <button class="add">+</button>\
</div>';

        var countAr1 = countFunc('.item.ar1');
        var appendAr1 = appendFunc('.item.ar1', ar1VariantT, countAr1);
        appendAr1();
        countAr1();

        var apparelVariantT = '\
<div class="row variant">\
  <select id="type" name="type" class="type">\
    <option value="Men\'s Shirt">Men\'s Shirt</option>\
    <option value="Women\'s Shirt">Women\'s Shirt</option>\
  </select>\
  <select id="color" name="color" class="color">\
    <option value="Matte Black">Matte Black</option>\
    <option value="Shinny Black">Shiny Black</option>\
    <option value="Glossy Black">Glossy Black</option>\
    <option value="Dark Black">Dark Black</option>\
    <option value="Super Black">Super Black</option>\
  </select>\
  <select id="size" name="size" class="size">\
    <option value="S">S</option>\
    <option value="M">M</option>\
    <option value="L">L</option>\
    <option value="XL">XL</option>\
  </select>\
  <input id="quantity" name="quantity" class="quantity" type="text"  maxlength="2" value="Qty.">\
  <button class="add">+</button>\
  </div>';

        var countApparel = countFunc('.item.apparel');
        var appendApparel = appendFunc('.item.apparel', apparelVariantT, countApparel);
        appendApparel();
        countApparel();

        function setValue(selector, data) {
          if (data != '') {
            $(selector).addClass('active').val(data);
          }
        }

        setValue('#email', PreorderData.user.Email);
        setValue('#first_name', PreorderData.user.FirstName);
        setValue('#last_name', PreorderData.user.LastName);
        setValue('#phone', PreorderData.user.Phone);
        setValue('#address1', PreorderData.user.ShippingAddress.Line1);
        setValue('#address2', PreorderData.user.ShippingAddress.Line2);
        setValue('#city', PreorderData.user.ShippingAddress.City);
        setValue('#state', PreorderData.user.ShippingAddress.State);
        setValue('#postal_code', PreorderData.user.ShippingAddress.PostalCode);

        function setText(selector, data) {
          $(selector).text(data);
        }

        var contribution = PreorderData.contributions[0];
        setText('.perk h2 span', contribution.Perk.Title);
        setText('.perk p.p1', contribution.Perk.Description);
        setText('.perk p.p2', contribution.Perk.EstimatedDelivery);

        $('.submit input[type=submit]').on('click', function(){
          var ret = true;
          $('#skully').find('input').each(function() {
            var el = $(this);
            if(!(el.hasClass('active') || el.hasClass('optional'))) {
              el.addClass('fix');
              ret = false;
            }
          });
          if (ret) {
            $('#skully').find('input').each(function() {
              var el = $(this);
              if (!el.hasClass('active') && el.hasClass('optional')) {
                el.val('');
              }
            });
          }
          return ret;
        });

        var validator = new FormValidator("skully", [{
            name: 'email',
            rules: 'required|valid_email',
          }, {
            name: 'first_name',
            display: 'first name',
            rules: 'required',
          }, {
            name: 'last_name',
            display: 'last name',
            rules: 'required',
          }, {
            name: 'phone',
            rules: 'required|alpha_dash',
          }, {
            name: 'address1',
            display: 'address',
            rules: 'required',
          }, {
            name: 'city',
            rules: 'required',
          }, {
            name: 'postal_code',
            display: 'postal code',
            rules: 'required|alpha_dash',
          }],
          function(errors, event) {
            for(var i = 0; i < errors.length; i++) {
              $('#' + errors[i].id).addClass('fix');
            }
          })
        });
      </script>
  </body>
</html>
