{% extends "base.html" %}

{% block title %}
Order Saved &mdash; SKULLY AR-1
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ staticUrl }}/css/foundation-icons.css">
{% endblock %}

{% block content %}
<div class="narrow center content-centered">
    <h2>Thank you!</h2>

    <p>
	We have your shipping information saved. You can use your email and
	password to login and change your preorder details at any time.
    </p>

    <br>

    <p>Follow us to keep up to date about everything SKULLY:</p>

    <nav class="social-icons">
      <div class="bounce">
        <a href="https://www.facebook.com/skullysystems" target="_blank" title="Skully Helmets, Inc" class="fi-social-facebook large"></a>
      </div>

      <div class="bounce">
        <a href="http://www.twitter.com/skullysystems" target="_blank" title="SKULLY HELMETS" class="fi-social-twitter large"></a>
      </div>

      <div class="bounce">
        <a href="http://www.youtube.com/channel/UCgGXkEJ5S_MmQCSoBnusr1Q" target="_blank" title="SKULLY" class="fi-social-youtube large"></a>
      </div>

      <div class="bounce">
        <a href="http://www.instagram.com/skullysystems" target="_blank" title="Skully Helmets" class="fi-social-instagram large"></a>
      </div>

      <div class="bounce">
        <a href="https://plus.google.com/112776474651298122010/posts" target="_blank" title="Marcus Weller" class="fi-social-google-plus large"></a>
      </div>

      <div class="bounce">
        <a href="https://www.linkedin.com/company/3233339?trk=vsrp_companies_res_name&amp;trkInfo=VSRPsearchId%3A637198571407629012548%2CVSRPtargetId%3A3233339%2CVSRPcmpt%3Aprimary" target="_blank" title="Marcus Weller, PhD" class="fi-social-linkedin large"></a>
      </div>
    </nav>
</div>
{% endblock %}
