
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/preorder.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Michroma:400,400italic,700normal,700italic|PT+Serif:400,400italic,700normal,700italic"/>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/card.js"></script>
    <script type="text/javascript" src="/js/validate.min.js"></script>
    <script src="//use.typekit.net/uye2ojv.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>
  <body>

    <div class="wide center body">
      <div class="content-centered logo">

        <h1>Skully</h1>

        <h3>Thank you!</h3>

        <h4>Next steps</h4>
        <p>
          We have your shipping information saved! Follow us on our various
          social media sites to stay up to date on our progress:
        </p>

        <nav class="social-account-list social-icon-style-round social-icon-size-large social-icon-alignment-right social-icon-color-white">
              <a href="https://www.facebook.com/skullysystems" target="_blank" title="Skully Helmets, Inc" class="social-facebook"></a>

              <a href="http://www.twitter.com/skullysystems" target="_blank" title="SKULLY HELMETS" class="social-twitter"></a>

              <a href="http://www.youtube.com/channel/UCgGXkEJ5S_MmQCSoBnusr1Q" target="_blank" title="SKULLY" class="social-youtube"></a>

              <a href="http://www.instagram.com/skullysystems" target="_blank" title="Skully Helmets" class="social-instagram"></a>

              <a href="https://plus.google.com/112776474651298122010/posts" target="_blank" title="Marcus Weller" class="social-google"></a>

              <a href="https://www.linkedin.com/company/3233339?trk=vsrp_companies_res_name&amp;trkInfo=VSRPsearchId%3A637198571407629012548%2CVSRPtargetId%3A3233339%2CVSRPcmpt%3Aprimary" target="_blank" title="Marcus Weller, PhD" class="social-linkedin"></a>
        </nav>

      </div>
    </div>

  </body>
</html>
