{% extends "base.html" %}

{% block name %}Mailing Lists{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<!-- Mailing Lists View Block -->
<div class="col-sm-12">
    <!-- Empty Mailing Lists Block -->
    <div id="empty-table" class="row text-center text-dark-op" style="display:none;margin-top:100px">
      <i class="fa fa-envelope" style="font-size:100px"></i>
      <h2>
        <p>
          It doesn't seem that anyone's added mailing lists to <strong>{{ ctx.organization.Name }}</strong> yet.
          <br />
          Just complete the form below to add one.
        </p>
      </h2>
    </div>
    <!-- END Empty Mailing Lists Block -->
    <div class="block full">
        <!-- Mailing Lists View Title -->
        <div class="block-title">
          <h2>Mailing Lists</h2>
        </div>
        <!-- END Mailing Lists View Title -->

        <!-- Mailing Lists View Content -->
        <div id="display" class="form-group form-inline">
        </div>
        <table id="table" class="table table-striped table-bordered table-vcenter">
        </table>
        <div id="pagination" class="row text-center">
          <a href="#" class="btn btn-primary previous" data-action="previous"><strong>&lsaquo;</strong></a>
          <input class="text-center form-control" type="text" readonly="readonly" data-max-page="40" style="width:125px;display:inline;padding-top:5px"/>
          <a href="#" class="btn btn-primary next" data-action="next"><strong>&rsaquo;</strong></a>
        </div>
        <!-- END Mailing Lists View Content -->
    </div>
</div>
<!-- END Mailing Lists View Block -->

<!-- New Mailing Lists View Block -->
<div class="col-sm-12">
  <div class="block">
    <div class="block-title">
      <h2>New List</h2>
    </div>
    <form id="form-mailinglist" method="post" class="form-horizontal">
      <div class="row">
        <div class="col-md-6">
          <h4>Provide some basic information.</h4>
          <div id="mailinglist-info" class="block" style="min-height:350px">
          </div>
        </div>
        <div class="col-md-6">
          <h4>Configure Google Analytics.</h4>
          <div id="mailinglist-ga" class="block">
          </div>
          <h4>Configure Facebook.</h4>
          <div id="mailinglist-fb" class="block">
          </div>
        </div>
      </div>
      <h4>Configure MailChimp.</h4>
      <div id="mailinglist-mailchimp" class="block">
        <div class="row">
          <div class="mailinglist-mailchimp-col1 col-md-6">
          </div>
          <div class="mailinglist-mailchimp-col2 col-md-6">
          </div>
        </div>
      </div>

      <div class="form-group form-actions text-center">
        <button type="submit" class="btn btn-effect-ripple btn-primary"><i class="fa fa-plus"></i> Add</button>
      </div>
    </form>
    <!-- END Mailing Lists View Content -->
  </div>
</div>
<!-- END New Mailing Lists View Block -->
{% endblock %}

{% block js %}
<script src="{{ staticUrl }}/js/util.js"></script>
<script src="{{ staticUrl }}/js/jquery.jqpagination.js"></script>
<script src="{{ staticUrl }}/js/jquery.serialize-object.min.js"></script>
<script src="{{ staticUrl }}/js/form-builder.js"></script>
<script src="{{ staticUrl }}/js/table-builder.js"></script>
<script src="{{ staticUrl }}/js/rest-forms.js"></script>
<script>
$(function(){
      BuildTable($('#table'), {
        columns: [
          {
            field: 'id',
            name: 'ID',
            css: {
              width: '50px',
            },
            render: 'id',
          },
          {
            field: 'name',
            name: 'Name',
          },
          {
            field: 'mailchimp.id',
            name: 'MailChimp List ID',
          },
          {
            field: 'id',
            name: 'Snippet',
            apiUrl: '{{ urlFor("api") }}',
            render: 'snippet',
          },
          {
            field: 'createdAt',
            name: 'Created At',
            render: 'date',
          },
          {
            field: 'updatedAt',
            name: 'Last Updated',
            render: 'ago',
          }
        ],
        itemUrl: '{{ urlFor("dash", "/mailinglist") }}',
        apiUrl: '{{ urlFor("api", "/mailinglist") }}',
        apiToken: '{{ ctx.organization.MustGetTokenByName("live-secret-key") }}',
        startPage: 1,
        startDisplay: 10,
        displayOptions: [5, 10, 20],
        $display: $('#display'),
        $pagination: $('#pagination'),
        $empty: $('#empty-table'),
        canDelete: true,
        checkboxes: false,
      });

      {% include "js/mailinglistform.js" %}

var api = NewRestAPI(
    '{{ urlFor("api", "/mailinglist") }}',
    '{{ ctx.organization.MustGetTokenByName("live-secret-key") }}',
    $('#form-mailinglist'),
    {
        price: function(val) {
            // To cents
            return Util.renderJSONCurrencyFromUI(val);
        },
        weight: function(val) {
            return parseFloat(val);
        }
    }
  );
$('#form-mailinglist').on('submit', function(e){
    var $form = $(this);
    requestAnimationFrame(function() {
        if ($('.form-group.has-error').length === 0) {
            api.post(function(data) {
                window.location.replace('{{ urlFor("dash", "/mailinglists") }}')
            }, $form)
        }
    })
    e.preventDefault();
    return false;
})
</script>
{% endblock %}
{% block menulink %}menu-mailinglists{% endblock %}



