<!DOCTYPE html>
<html class="squarespace-cameron yui3-js-enabled js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<div id="yui3-css-stamp" style="position: absolute !important; visibility: hidden !important"></div>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>SKULLY AR-1: Secure Checkout</title>

    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">

    <!-- SQUARESPACE -->
    <script type="text/javascript" src="/js/common-445c549876bda3f60184d96108576280-min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/common-9a0089058c9ec7f1d74f56616b32375b-min.css">
    <script type="text/javascript" src="/js/commerce-cfbec50462637311c832714f0686fb6c-min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/commerce-930a1b9b6c4fc5cce40f0a2b839272b9-min.css">
    <script type="text/javascript" src="/js/checkout-7ab800faf6f674e1007b9a4e22c55875-min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/checkout-56facadb1760b1442d03355ac8e12a4d-min.css">

    <link rel="stylesheet" type="text/css" href="/css/card.css">

    <style id="checkout-page-styles">
      #sqs-standard-checkout .sqs-checkout-form-section fieldset .field.error.required input, #sqs-standard-checkout .sqs-checkout-form-section fieldset .field.error.required select {
      border: 2px solid #d70404;
      }
      
        #form-wrapper > div:nth-child(2) {
            /*Shipping details.*/

            display: none;
        }
        #sqs-standard-checkout {
            background: #f3f3f3;
        }
        #store-logo .site-title {
            color: #333;
        }
        #sqs-standard-checkout .button {
            background: #222;
        }
        .sqs-system-error {
            display: none !important;
        }
        div.dialog-screen-overlay.sqs-system-error-overlay {
            display: none !important;
            z-index: -1 !important;
        }
    </style>

    <!-- TYPEKIT: expecting proxima nova light (300) regular (400) and bold (600) -->
    <script src="//use.typekit.net/uye2ojv.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <style>
        @-webkit-keyframes popiuwzlrsoreqxdrjlyowqaspczsolayvi {
            50% {
                -webkit-transform: scale(1.2);
            }
            100% {
                -webkit-transform: scale(1);
            }
        }
        @keyframes popiuwzlrsoreqxdrjlyowqaspczsolayvi {
            50% {
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
            }
            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
        #iuwzlrsoreqxdrjlyowqaspczsolayvi {
            padding: 0;
            margin: 0;
            font: 13px Arial, Helvetica;
            text-transform: none;
            font-size: 100%;
            vertical-align: baseline;
            line-height: normal;
            color: #fff;
            position: static;
            border: solid 2px #fff !important;
            box-sizing: content-box !important;
            color: #fff !important;
            display: block !important;
            height: auto !important;
            margin: 0 !important;
            opacity: 0.9 !important;
            padding: 7px 10px !important;
            position: fixed !important;
            visibility: visible !important;
            width: auto !important;
            z-index: 2147483647 !important;
            -webkit-border-radius: 5px !important;
            -webkit-box-shadow: 0px 0px 20px #000 !important;
            -webkit-box-sizing: content-box !important;
        }
        .iuwzlrsoreqxdrjlyowqaspczsolayvi-blocked {
            padding: 0;
            margin: 0;
            font: 13px Arial, Helvetica;
            text-transform: none;
            font-size: 100%;
            vertical-align: baseline;
            line-height: normal;
            color: #fff;
            position: static;
            color: #AAA !important;
            display: inline !important;
            text-decoration: line-through !important;
        }
        #iuwzlrsoreqxdrjlyowqaspczsolayvi br {
            display: block !important;
            padding: 0;
            margin: 0;
            font: 13px Arial, Helvetica;
            text-transform: none;
            font-size: 100%;
            vertical-align: baseline;
            line-height: normal;
            color: #fff;
            position: static;
        }
        #iuwzlrsoreqxdrjlyowqaspczsolayvi span {
            background: transparent !important;
            padding: 0;
            margin: 0;
            font: 13px Arial, Helvetica;
            text-transform: none;
            font-size: 100%;
            vertical-align: baseline;
            line-height: normal;
            color: #fff;
            position: static;
        }
        #iuwzlrsoreqxdrjlyowqaspczsolayvi div {
            padding: 0;
            margin: 0;
            font: 13px Arial, Helvetica;
            text-transform: none;
            font-size: 100%;
            vertical-align: baseline;
            line-height: normal;
            color: #fff;
            position: static;
            border: 0 !important;
            margin: 0 !important;
            padding: 0 !important;
            width: auto !important;
            letter-spacing: normal !important;
            font: 13px Arial, Helvetica !important;
            text-align: left !important;
            text-shadow: none !important;
            text-transform: none !important;
            word-spacing: normal !important;
        }
        #iuwzlrsoreqxdrjlyowqaspczsolayvi a {
            padding: 0;
            margin: 0;
            font: 13px Arial, Helvetica;
            text-transform: none;
            font-size: 100%;
            vertical-align: baseline;
            line-height: normal;
            color: #fff;
            position: static;
            font-weight: normal !important;
            background: none !important;
            text-decoration: underline !important;
            color: #fff !important;
        }
        a#iuwzlrsoreqxdrjlyowqaspczsolayvi-gear {
            padding: 0;
            margin: 0;
            font: 13px Arial, Helvetica;
            text-transform: none;
            font-size: 100%;
            vertical-align: baseline;
            line-height: normal;
            color: #fff;
            position: static;
            text-decoration: none !important;
            position: absolute !important;
            display: none !important;
            font-size: 20px !important;
            width: 20px !important;
            height: 20px !important;
            line-height: 20px !important;
            text-align: center !important;
            background-color: rgba(255, 255, 255, .8) !important;
            background-image: url(chrome-extension://mlomiejdfkolichcflejclcbmpeaniij/data/images/gear.svg) !important;
            background-size: 16px 16px !important;
            background-position: center center !important;
            background-repeat: no-repeat !important;
            text-decoration: none !important;
        }
        a#iuwzlrsoreqxdrjlyowqaspczsolayvi-gear:hover {
            -webkit-animation-name: popiuwzlrsoreqxdrjlyowqaspczsolayvi !important;
            animation-name: popiuwzlrsoreqxdrjlyowqaspczsolayvi !important;
            -webkit-animation-duration: 0.3s !important;
            animation-duration: 0.3s !important;
        }
        #iuwzlrsoreqxdrjlyowqaspczsolayvi:hover #iuwzlrsoreqxdrjlyowqaspczsolayvi-gear {
            text-decoration: none !important;
            display: inline-block !important;
        }
        @media print {
            #iuwzlrsoreqxdrjlyowqaspczsolayvi {
                display: none !important;
            }
        }
    </style>
</head>

<body id="sqs-standard-checkout" class="native-currency-code-usd">
    <!-- NOTIFICATION BANNERS -->
    <!-- <div id="test-mode-banner" class="notification-banner"> -->
    <!--     <span class="standard-message"> -->
    <!--     <strong>Store Not Live</strong>&nbsp;&nbsp; -->
    <!--     <span>Test all the features of your store without charging a real credit card.</span> -->
    <!--     </span> -->
    <!--     <span class="override-message"> -->
    <!--     <strong>Test Mode Override</strong>&nbsp;&nbsp; -->
    <!--     <span>This order will be placed in Test Mode.</span> -->
    <!--     </span> -->
    <!-- </div> -->

    <!-- <div id="payments-not-connected-banner" class="notification-banner"> -->
    <!--     <strong>Payments Not Connected</strong>&nbsp;&nbsp; -->
    <!--     <span>This store has not yet set-up payments. Checkout is disabled.</span> -->
    <!-- </div> -->

    <!-- <div id="design-mode-banner" class="notification-banner"> -->
    <!--     <strong>Style Mode</strong>&nbsp;&nbsp; -->
    <!--     <span>You are designing a sample checkout page. Checkout is disabled.</span> -->
    <!-- </div> -->

    <!-- MAIN CHECKOUT PAGE -->
    <div id="checkout-page" style="opacity: 1;" class="fadeable-plugged">

        <!-- LOGO -->
        <div id="store-logo">
            <h1>
          <a href="http://www.skullysystems.com/">


            <img src="/img/logo.png">

            <span class="site-title">SECURE CHECKOUT</span>
          </a>
        </h1>

        </div>

        <!-- CART/COUPON SUMMARIES -->
        <div id="summary-wrapper" class="right-column-wrapper">
            <div id="cart-summary" class="sqs-card">
                <div class="yui3-widget sqs-widget yui3-tableshoppingcart sqs-checkout-shopping-cart">
                    <div class="sqs-checkout-shopping-cart-content single-item">
                        <div class="loading-spinner">
                            <div class="yui3-widget sqs-spin dark" style="height: 50px; width: 50px;">
                                <div class="sqs-spin-content yui3-widget-content-expanded"></div>
                            </div>
                        </div>

                        <div class="title">Order Summary</div>

                        <table>
                            <thead>
                                <tr>
                                    <td class="item">Item</td>
                                    <td class="quantity">Quantity</td>
                                    <td class="price">Cost</td>
                                    <td class="remove"></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in order.Items %}
                                <tr data-chosen-variant-sku="{{ item.SKU() }}">
                                    <input type="hidden" value="{{ item.Slug() }}">
                                    <input type="hidden" value="{{ item.SKU() }}">
                                    <td class="item">
                                        <div class="item-image">
                                            <img src="{{ item.Product.DisplayImage().Url }}?format=100w">
                                        </div>
                                        <div class="item-desc">
                                            <div>{{ item.Product.Title }}</div>
                                            <div class="variant-info">{{ item.Product.Color }} / {{ item.Product.Size }}</div>
                                        </div>
                                    </td>

                                    <td class="quantity">
                                        <input size="1" value="{{ item.Quantity }}">
                                    </td>

                                    <td class="price"><span class="sqs-money-native">{{ item.DisplayPrice() }}</span>
                                    </td>

                                    <td class="remove">
                                        <div class="remove-item"></div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="subtotal total">
                            <div class="price"><span class="sqs-money-native">{{ order.DisplaySubtotal() }}</span>
                            </div>
                            <div class="label">Subtotal</div>
                        </div>

                        <div class="tax total">
                            <div class="price"><span class="sqs-money-native">{{ order.DisplayTax() }}</span>
                            </div>
                            <div class="label">Tax</div>
                        </div>

                        <div class="shipping total" hidden="hidden" style="display: none;">
                            <div class="price"><span class="sqs-money-native">{{ order.Shipping }}</span>
                            </div>
                            <div class="label">Shipping</div>
                        </div>

                        <div class="discounts total" hidden="hidden" style="display: none;">
                            <div class="price">- <span class="sqs-money-native">{{ order.Discounts }}</span>
                            </div>
                            <div class="label">Discounts</div>
                        </div>

                        <div class="grand-total total">
                            <div class="price"><span class="sqs-money-native">{{ order.DisplayTotal() }}</span>
                            </div>
                            <div class="label">Grand Total</div>
                        </div>

                        {% if order.Empty() %}
                        <div class="empty-message">
                            You have nothing in your shopping cart.&nbsp;
                            <a href="http://www.skullysystems.com/">Continue shopping</a>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>

            <div id="coupon-summary" class="sqs-card  hidden">
                <div class="yui3-widget sqs-widget sqs-checkout-coupon-list">
                    <div class="sqs-checkout-coupon-list-content">
                        <div class="title">Coupons</div>

                        <fieldset>

                            <div class="field">

                                <label>
                                    Promo Code
                                </label>

                                <div class="codeline">
                                    <div class="codeleft">
                                        <!-- <input name="promoCode" class="field-element" type="text" placeholder="Promo Code" spellcheck="false"> -->
                                    </div>

                                    <!-- Redeem Button -->
                                    <div class="button redeem-coupon">Redeem</div>
                                </div>

                                <!-- List -->
                                <div class="coupon-list">
                                    <div class="yui3-widget sqs-widget sqs-data-widget sqs-dialog-field sqs-list data-state-loaded">
                                        <div class="sqs-list-content">
                                            <div class="controls">
                                                <button class="add-item" type="button" hidden="hidden" style="display: none;">Add Item</button>
                                            </div>
                                            <div class="list-title">Set strings.title to something.</div>
                                            <div class="list-items">
                                                <div class="empty"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="invalid-coupon-title hidden">
                                    The coupons below are no longer valid. This can occur if a coupon expires or if you remove an item from your shopping cart.
                                </div>

                                <!-- No Longer Valid Coupons -->
                                <div class="invalid-coupon-list hidden">
                                    <div class="yui3-widget sqs-widget sqs-data-widget sqs-dialog-field sqs-list data-state-loaded">
                                        <div class="sqs-list-content">
                                            <div class="controls">
                                                <button class="add-item" type="button" hidden="hidden" style="display: none;">Add Item</button>
                                            </div>
                                            <div class="list-title">Set strings.title to something.</div>
                                            <div class="list-items">
                                                <div class="empty"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <!-- CHECKOUT FORM -->
        <div id="form-wrapper" class="right-column-wrapper">
            <div class="yui3-widget sqs-widget sqs-checkout-form">
                <div class="sqs-checkout-form-content">
                    <form id="form" action="/checkout/authorize" method="POST" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded; charset=utf-8">
                        {% for item in order.Items %}
                        <input type="hidden" name="Order.Items.{{ forloop.Counter }}.Product.Slug" value="{{ item.Slug() }}">
                        <input type="hidden" name="Order.Items.{{ forloop.Counter }}.Variant.SKU" value="{{ item.SKU() }}">
                        <input type="hidden" name="Order.Items.{{ forloop.Counter }}.Quantity" value="{{ item.Quantity }}" >
                        {% endfor %}

                        <div class="yui3-widget sqs-widget sqs-checkout-form-section sqs-card sqs-checkout-form-address sqs-checkout-form-billing editing">
                            <div class="sqs-checkout-form-billing-content">
                                <div class="title">Billing Info<a class="edit-button">edit</a>
                                </div>

                                <fieldset data-stage="1">

                                    <!-- First Name -->
                                    <div id="billing-first-name" data-label="First Name" class="field first-name required">
                                        <label>First Name</label>
                                        <input name="User.FirstName" class="field-element pulse-warnable" placeholder="First Name" x-autocompletetype="given-name" type="text" spellcheck="false" maxlength="30" value="">
                                    </div>


                                    <!-- Last Name -->
                                    <div id="billing-last-name" data-label="Last Name" class="field last-name required">
                                        <label>Last Name</label>
                                        <input name="User.LastName" class="field-element pulse-warnable" placeholder="Last Name" x-autocompletetype="surname" a="" type="text" spellcheck="false" maxlength="30" value>
                                    </div>


                                    <!-- Email Address -->
                                    <div id="email" data-label="Email Address" class="field email required">
                                        <label>Email Address</label>
                                        <input name="User.Email" class="field-element pulse-warnable" placeholder="Email" x-autocompletetype="email" type="text" spellcheck="false" maxlength="50" value>
                                    </div>


                                    <!-- Billing Address 1 -->
                                    <div id="billing-address-1" data-label="Address Line 1" class="field required" style="">
                                        <label>Address Line 1</label>
                                        <input name="Order.BillingAddress.Line1" class="field-element address-line1 pulse-warnable sqs-scroll-ac-input" placeholder="Address Line 1" x-autocompletetype="address-line1" type="text" spellcheck="false" maxlength="50" aria-autocomplete="list" aria-expanded="false" autocomplete="on" value>
                                        <div class="yui3-widget yui3-aclist sqs-scroll-ac yui3-widget-positioned sqs-scroll-ac-hidden" aria-hidden="true" style="left: 0px; top: 40.796875px;">
                                            <div class="sqs-scroll-ac-content sqs-google-places-autocomplete-mixin">
                                                <div class="sqs-scroll-ac-scroll-container" hidden="hidden" style="display: none;">
                                                    <ul class="sqs-scroll-ac-list" role="listbox"></ul>
                                                    <div class="google-required-elements">
                                                        <div class="google-attributions"></div>
                                                        <div class="powered-by-google"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sqs-scroll-ac-aria" aria-live="polite" role="status"></div>
                                    </div>


                                    <!-- Billing Address 2 -->
                                    <div id="billing-address-2" data-label="Address Line 2" class="field">
                                        <label>Address Line 2</label>
                                        <input name="Order.BillingAddress.Line2" class="field-element address-line2 pulse-warnable" placeholder="Address Line 2" type="text" x-autocompletetype="address-line2" spellcheck="false" maxlength="50" value="">
                                    </div>


                                    <!-- Country -->
                                    <div id="billing-country" data-label="Country" class="field country required">
                                        <label>Country</label>
                                        <select name="Order.BillingAddress.Country" class="field-element pulse-warnable" x-autocompletetype="country-name" value>
                                            <option value="United States">United States</option>
                                        </select>
                                    </div>


                                    <!-- City -->
                                    <div id="billing-city" data-label="City" class="field city required">
                                        <label>City</label>
                                        <input name="Order.BillingAddress.City" class="field-element pulse-warnable" placeholder="City" type="text" spellcheck="false" maxlength="30" value>
                                    </div>


                                    <!-- State/Province -->
                                    <div id="billing-state" data-label="State/Province" class="field state required">
                                        <label>State/Province</label>
                                        <select name="Order.BillingAddress.State" class="field-element pulse-warnable" x-autocompletetype="state" value>
                                            <option value="AL">AL</option>
                                            <option value="AK">AK</option>
                                            <option value="AZ">AZ</option>
                                            <option value="AR">AR</option>
                                            <option value="CA">CA</option>
                                            <option value="CO">CO</option>
                                            <option value="CT">CT</option>
                                            <option value="DE">DE</option>
                                            <option value="FL">FL</option>
                                            <option value="GA">GA</option>
                                            <option value="HI">HI</option>
                                            <option value="ID">ID</option>
                                            <option value="IL">IL</option>
                                            <option value="IN">IN</option>
                                            <option value="IA">IA</option>
                                            <option value="KS">KS</option>
                                            <option value="KY">KY</option>
                                            <option value="LA">LA</option>
                                            <option value="ME">ME</option>
                                            <option value="MD">MD</option>
                                            <option value="MA">MA</option>
                                            <option value="MI">MI</option>
                                            <option value="MN">MN</option>
                                            <option value="MS">MS</option>
                                            <option value="MO">MO</option>
                                            <option value="MT">MT</option>
                                            <option value="NE">NE</option>
                                            <option value="NV">NV</option>
                                            <option value="NH">NH</option>
                                            <option value="NJ">NJ</option>
                                            <option value="NM">NM</option>
                                            <option value="NY">NY</option>
                                            <option value="NC">NC</option>
                                            <option value="ND">ND</option>
                                            <option value="OH">OH</option>
                                            <option value="OK">OK</option>
                                            <option value="OR">OR</option>
                                            <option value="PA">PA</option>
                                            <option value="RI">RI</option>
                                            <option value="SC">SC</option>
                                            <option value="SD">SD</option>
                                            <option value="TN">TN</option>
                                            <option value="TX">TX</option>
                                            <option value="UT">UT</option>
                                            <option value="VT">VT</option>
                                            <option value="VA">VA</option>
                                            <option value="WA">WA</option>
                                            <option value="DC">DC</option>
                                            <option value="WV">WV</option>
                                            <option value="WI">WI</option>
                                            <option value="WY">WY</option>
                                            <option value="AA">AA</option>
                                            <option value="AE">AE</option>
                                            <option value="AP">AP</option>
                                        </select>
                                    </div>

                                    <!-- Zip Code -->
                                    <div id="billing-zip" data-label="Zip Code" class="field zip required">
                                        <label>Zip / Postal</label>
                                        <input name="Order.BillingAddress.PostalCode" class="field-element pulse-warnable" placeholder="Zip / Postal" type="text" spellcheck="false" maxlength="10" value>
                                    </div>

                                    <div style="clear:both;"></div>
                                    <div id="phone" data-label="Phone Number" class="field phone">
                                        <label>Phone Number</label>
                                        <input name="User.Phone" class="field-element pulse-warnable" placeholder="Phone Number" x-autocompletetype="phone" type="text" spellcheck="false" maxlength="20" value>
                                    </div>

                                    <!-- Continue -->
                                    <div class="btn-container" style="text-align: center;">
                                        <!--<input type="submit" value="Continue" class="button continue-button" style="width:100%"></input>-->
                                    </div>

                                </fieldset>
                            </div>
                        </div>


                        <div class="yui3-widget sqs-widget sqs-checkout-form-section sqs-card sqs-checkout-form-address sqs-checkout-form-shipping"">
                            <div class="sqs-checkout-form-shipping-content empty-shipping-options">
                                <div class="title">Shipping Options<a class="edit-button">edit</a>
                                </div>

                                <div id="ship-to-billing" class="check-element active">
                                  <input name="ShipToBilling" id="ShipToBilling" type="checkbox" checked="checked"></input>
                                  <label for="ShipToBilling">Shipping address same as billing address</label>
                                </div>

                                <fieldset id="shippingInfo" data-stage="2" style="display:none;">
                                    <!-- Ship to Billing Address -->
                                    <!-- Shipping Address -->
                                    <div id="shipping-address-wrapper" class="show-overflow">
                                        <!-- First Name -->
                                        <!-- <div id="shipping-first-name" data-label="First Name" class="field first-name required">
                                            <label>First Name</label>
                                            <input name="Order.ShippingUser.FirstName" class="field-element pulse-warnable" placeholder="First Name" x-autocompletetype="given-name" type="text" spellcheck="false" maxlength="30">
                                        </div> -->
                                        <!-- Last Name -->
                                        <!-- <div id="shipping-last-name" data-label="Last Name" class="field last-name required">
                                            <label>Last Name</label>
                                            <input name="Order.ShippingUser.LastName" class="field-element pulse-warnable" placeholder="Last Name" x-autocompletetype="surname" type="text" spellcheck="false" maxlength="30">
                                        </div> -->
                                        <!-- Shipping Address 1 -->
                                        <div id="shipping-address-1" data-label="Address Line 1" class="field address required">
                                            <label>Address Line 1</label>
                                            <input name="Order.ShippingAddress.Line1" class="field-element address-line1 pulse-warnable sqs-scroll-ac-input" type="text" x-autocompletetype="address-line1" placeholder="Address Line 1" spellcheck="false" maxlength="50" aria-autocomplete="list" aria-expanded="false" autocomplete="on">
                                            <div class="yui3-widget yui3-aclist sqs-scroll-ac yui3-widget-positioned sqs-scroll-ac-hidden" aria-hidden="true" style="left: 0px; top: 0px;">
                                                <div class="sqs-scroll-ac-content sqs-google-places-autocomplete-mixin">
                                                    <div class="sqs-scroll-ac-scroll-container" hidden="hidden" style="display: none;">
                                                        <ul class="sqs-scroll-ac-list" id="yui_3_17_2_1_1414184167898_702" role="listbox"></ul>
                                                        <div class="google-required-elements">
                                                            <div class="google-attributions"></div>
                                                            <div class="powered-by-google"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sqs-scroll-ac-aria" aria-live="polite" role="status"></div>
                                        </div>
                                        <!-- Shipping Address 2 -->
                                        <div id="shipping-address-2" data-label="Address Line 2" class="field address">
                                            <label>Address Line 2</label>
                                            <input name="Order.ShippingAddress.Line2" class="field-element address-line2 pulse-warnable" type="text" placeholder="Address Line 2" x-autocompletetype="address-line2" spellcheck="false" maxlength="50">
                                        </div>
                                        <!-- Country -->
                                        <div id="shipping-country" data-label="Country" class="field country required">
                                            <label>Country</label>
                                            <select name="Order.ShippingAddress.Country" class="field-element pulse-warnable" x-autocompletetype="country-name">
                                              <option value="United States">United States</option>
                                            </select>
                                        </div>
                                        <!-- City -->
                                        <div id="shipping-city" data-label="City" class="field city required">
                                            <label>City</label>
                                            <input name="Order.ShippingAddress.City" class="field-element pulse-warnable" placeholder="City" x-autocompletetype="city" type="text" spellcheck="false" maxlength="30">
                                        </div>
                                        <!-- State/Province -->
                                        <div id="shipping-state" data-label="State/Province" class="field state required">
                                            <label>State/Province</label>
                                            <select name="Order.ShippingAddress.State" class="field-element pulse-warnable" x-autocompletetype="state">
                                                <option value="AL">AL</option>
                                                <option value="AK">AK</option>
                                                <option value="AZ">AZ</option>
                                                <option value="AR">AR</option>
                                                <option value="CA">CA</option>
                                                <option value="CO">CO</option>
                                                <option value="CT">CT</option>
                                                <option value="DE">DE</option>
                                                <option value="FL">FL</option>
                                                <option value="GA">GA</option>
                                                <option value="HI">HI</option>
                                                <option value="ID">ID</option>
                                                <option value="IL">IL</option>
                                                <option value="IN">IN</option>
                                                <option value="IA">IA</option>
                                                <option value="KS">KS</option>
                                                <option value="KY">KY</option>
                                                <option value="LA">LA</option>
                                                <option value="ME">ME</option>
                                                <option value="MD">MD</option>
                                                <option value="MA">MA</option>
                                                <option value="MI">MI</option>
                                                <option value="MN">MN</option>
                                                <option value="MS">MS</option>
                                                <option value="MO">MO</option>
                                                <option value="MT">MT</option>
                                                <option value="NE">NE</option>
                                                <option value="NV">NV</option>
                                                <option value="NH">NH</option>
                                                <option value="NJ">NJ</option>
                                                <option value="NM">NM</option>
                                                <option value="NY">NY</option>
                                                <option value="NC">NC</option>
                                                <option value="ND">ND</option>
                                                <option value="OH">OH</option>
                                                <option value="OK">OK</option>
                                                <option value="OR">OR</option>
                                                <option value="PA">PA</option>
                                                <option value="RI">RI</option>
                                                <option value="SC">SC</option>
                                                <option value="SD">SD</option>
                                                <option value="TN">TN</option>
                                                <option value="TX">TX</option>
                                                <option value="UT">UT</option>
                                                <option value="VT">VT</option>
                                                <option value="VA">VA</option>
                                                <option value="WA">WA</option>
                                                <option value="DC">DC</option>
                                                <option value="WV">WV</option>
                                                <option value="WI">WI</option>
                                                <option value="WY">WY</option>
                                                <option value="AA">AA</option>
                                                <option value="AE">AE</option>
                                                <option value="AP">AP</option>
                                            </select>
                                        </div>
                                        <!-- Zip Code -->
                                        <div id="shipping-zip" data-label="Zip Code" class="field zip required">
                                            <label>Zip / Postal</label>
                                            <input name="Order.ShippingAddress.PostalCode" class="field-element pulse-warnable" x-autocompletetype="postal-code" placeholder="Zip / Postal" type="text" spellcheck="false" maxlength="10">
                                        </div>
                                    </div>


                                    <!-- Shipping Options -->
                                    <div id="shipping-options">
                                        <div class="yui3-widget sqs-widget sqs-checkout-form-shipping-options">

                                        </div>
                                    </div>

                                    <!-- Continue -->
                                    <!-- <div class="btn-container"> -->
                                    <!--     <div class="button continue-button configure-shipping-button">Configure Shipping Options</div> -->
                                    <!-- </div> -->

                                </fieldset>
                            </div>
                </div>

                <div class="yui3-widget sqs-widget sqs-checkout-form-section sqs-card sqs-checkout-form-payment">
                  <div class="sqs-checkout-form-payment-content">
                                <div class="title">
                                  <a class="edit-button">edit</a>

                                    <div class="cards">
                                        <img src="/img/discover.png">
                                        <img src="/img/mastercard.png">
                                        <img src="/img/visa.png">
                                        <img src="/img/americanexpress.png">
                                    </div>

                                    Secure Payment
                                </div>

                                <fieldset style="display:none;" data-stage="3">
                                  <div style="display:block; text-align:center; margin-bottom: 15%;">
                                    <div id="card-wrapper"></div>
                                  </div>

                                    <!-- Credit Card -->
                                    <div id="credit-card">

                                        <!-- Name -->
                                        <!-- <input name="cardHolderName" type="hidden">-->


                                        <!-- Card Number -->
                                        <div id="card-number" data-label="Card Number" class="field required">
                                            <label>Card Number</label>
                                            <input class="field-element pulse-warnable" type="text" size="20" autocomplete="off" placeholder="Credit Card Number" name="Order.Account.Number" value="">
                                        </div>


                                        <!-- Expiry/CVC -->
                                        <div id="expiry-cvc">
                                            <div id="card-expiry-year" data-label="Exp. Yr." class="field required">
                                              <label>Expiry</label>
                                              <input class="field-element pulse-warnable" type="text" size="5" maxlength="7" autocomplete="off" placeholder="Expiry" value="" name="RawExpiry" style="width:66px">
                                            </div>
                                            <!-- CVC -->
                                            <div id="cvc" data-label="CVC" class="field required">
                                                <label>CVC</label>
                                                <input class="field-element pulse-warnable" type="text" size="4" autocomplete="off" placeholder="CVC" value="" name="Order.Account.CVV2">
                                            </div>

                                        </div>

                                    </div>
                                    <!-- end #credit-card -->


                                    <!-- Secure payment conditions -->
                                    <div id="comfort" style="display:none;">
                                        All transactions are secure and encrypted, and we never store your credit card information. Payments are processed through Stripe. Payment information is also governed by
                                        <a target="_blank" href="https://stripe.com/privacy">Stripe's privacy policy</a>.
                                    </div>


                                    <!-- Place Order -->
                                    <div class="btn-container" style="text-align: center;">
                                      <input type="submit" value="Place order" class="button continue-button" style="width:100%"></input>
                                    </div>

                                        <!-- hidden field to convey the Stripe Token so we may submit the charge -->
                                        <!-- <input name="stripeToken" type="hidden"> -->

                                        <!-- optional hidden fields -->


                                    </div>

                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- POLICIES -->
        <div id="policies-wrapper" class="right-column-wrapper">

            <!-- Terms of Service -->
            <a href="javascript:void(0)" id="termsOfService" class="store-policy-link" title="Terms Of Service" data-property="termsOfService" hidden="hidden" style="display: none;">
          Terms of Service
        </a>

            <!-- Privacy Policy -->
            <a href="javascript:void(0)" id="privacyPolicy" class="store-policy-link" title="Privacy Policy" data-property="privacyPolicy" hidden="hidden" style="display: none;">
          Privacy Policy
        </a>

            <!-- Return Policy -->
            <a href="javascript:void(0)" id="returnPolicy" class="store-policy-link" title="Return Policy" data-property="returnPolicy" hidden="hidden" style="display: none;">
          Return Policy
        </a>

        </div>

    </div>

    <div class="absolute-cart-box">
        <div id="yui_3_17_2_1_1414184167898_154" class="yui3-widget sqs-widget sqs-pill-shopping-cart" style="visibility: visible; opacity: 1;">
            <div id="yui_3_17_2_1_1414184167898_156" class="sqs-pill-shopping-cart-content dark">
                <div class="icon"></div>

                <div class="details">
                    Cart&nbsp;-&nbsp;
                    <span class="total-quantity">1</span>
                    <span class="suffix">item</span>
                </div>

                <span class="subtotal">
  <span class="price"><span class="sqs-money-native">0.00</span></span>
                </span>
            </div>
        </div>
    </div>

    <div id="yui_3_17_2_1_1414184167898_1029" class="yui3-widget sqs-widget sqs-modal-lightbox" hidden="hidden" style="display: none;">
        <div id="yui_3_17_2_1_1414184167898_1031" class="sqs-modal-lightbox-content">
            <div class="lightbox-background"></div>
            <div class="lightbox-inner" id="yui_3_17_2_1_1414184167898_1049">
                <div class="lightbox-content" style="margin-top: 318px; margin-bottom: 318px;">
                    <div class="lightbox-close">×</div>
                </div>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/jquery.ba-throttle-debounce.min.js"></script>
    <script src="/js/card.js"></script>
    <script src="/js/checkout.js"></script>
</body>

</html>
