{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ urlFor("/css/checkout.css") }}">
{% endblock %}

{% block content_header %}
<a class="breadcrumb" href="{{ urlFor("store") }}">
    <span class="back-arrow">&#8592;</span><span>BACK</span>
</a>
<h1>Thank you</h1>
{% endblock %}

{% block content_header_width_class %}thankyou-width{% endblock %}

{% block content_width_class %}thankyou-width{% endblock %}

{% block cart_hover %}
<!-- CART HOVER DISABLED -->
{% endblock %}

{% block content %}
<style>
    .message a {
        text-decoration: underline
    }
</style>
<div class="thankyou">
    <div class="message">
        <p>Thank you for your order. You will receive a confirmation email shortly.</p>
        <br>
        {% if loggedIn %}
        <p>You can view and manage your order from your <a href="{{ urlFor("store", "/orders") }}">profile</a>.</p>
        {% else %}
        <p><a href="{{ urlFor("store", "/create-password") }}">Please create a password for your account</a>, so you can manage your order later.</p>
        {% endif %}
        <p>If you have any questions, please visit our <a href="http://support.skully.com/">Help Center</a>.</p>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ urlFor("/js/checkout.js") }}"></script>
<script>
$(document).ready(function() {
    var cart = app.get('cart');
    cart.fetch();
    cart.clear();
})
</script>
{% endblock %}
