{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ urlFor("/css/checkout.css") }}">
{% endblock %}

{% block content_header %}
<a class="breadcrumb" href="{{ urlFor("store") }}">
    <span class="back-arrow">&#8592;</span><span>BACK</span>
</a>
<h1>Thank you</h1>
{% endblock %}

{% block content_header_width_class %}thankyou-width{% endblock %}

{% block content_width_class %}thankyou-width{% endblock %}

{% block cart_hover %}
<!-- CART HOVER DISABLED -->
{% endblock %}

{% block content %}
<div class="thankyou">
    <div class="message">
        <p>Thank you for your order.  You will receive a confirmation email shortly.</p>
    </div>
    <div class="social-icons">
        <a href="https://www.facebook.com/skullysystems" target="_blank" title="Skully Helmets, Inc" class="social-facebook">
            <img src="//localhost:8080/static/img/social/facebook.png">
        </a>
        <a href="http://www.twitter.com/skullysystems" target="_blank" title="SKULLY HELMETS" class="social-twitter">
            <img src="//localhost:8080/static/img/social/twitter.png">
        </a>
        <a href="https://plus.google.com/112776474651298122010/posts" target="_blank" title="Marcus Weller" class="social-google">
            <img src="//localhost:8080/static/img/social/google-plus.png">
        </a>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ urlFor("/js/checkout.js") }}"></script>
<script>
$(document).ready(function() {
    var cart = app.get('cart');
    cart.fetch()
    cart.clear()
})
</script>
{% endblock %}
