doctype

include _bootstrap-mixins.jade

block styles

+Content('primary', false)

// .row
//     .col-md-9
//         block content
//             +Content('primary', false)

//     .col-md-3
//       block nav
//           +Nav(false)
