@require './animate.styl'
@require './modal.styl'
@require './loader.styl'

.table thead > tr > th, .table tbody > tr > td
  font-size: 14px
  padding-top: 4px
  padding-bottom: 4px

.widget
  min-height: 100px

.table-viewport
  overflow: scroll
  height: 200px
  display: block

th.sortable
  cursor: pointer
