@require './animate.styl'
@require './modal.styl'
@require './loader.styl'

.table thead > tr > th, .table tbody > tr > td
  font-size: 14px
  padding-top: 4px
  padding-bottom: 4px

.widget
  min-height: 100px

.table-viewport
  overflow: scroll
  height: 200px
  display: block

th.sortable
  cursor: pointer

.pad-bottom
  padding-bottom: 20px

.variant-option
  padding: 0 !important

h5.variant-option-header
  padding-left: 0

.btn-disabled
  opacity: .5
  cursor: default

.click-for-new
  input
    cursor: pointer !important
