{% extends "base.html" %}

{% block title %}
Order Saved &mdash; {{ siteTitle }}
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ urlFor("/css/foundation-icons.css") }}">
{% endblock %}

{% block content %}
<div class="narrow center content-centered">
    <h2>Thank you!</h2>

    <p style="text-align: left">
        Thank you for confirming your preorder information. At any point up
        until we ship, you can return to <a href="https://preorder.skullysystems.com">preorder.skullysystems.com</a>
        and edit your preorder using your email and password. We'll be
        launching a brand-new store soon, and when we do, you'll also be able
        to access it using your new account.
    </p>

    <br>

    <p style="text-align: left">
    Questions? Visit our <a href="http://www.skullysystems.com/faq/" target="_blank"
        style="word-wrap: break-word;-ms-text-size-adjust:
        100%;-webkit-text-size-adjust: 100%;color: #d70404;font-weight:
        normal;text-decoration: underline;">FAQ</a>, <a
        href="https://skully.zendesk.com/hc/en-us" target="_blank"
        style="word-wrap: break-word;-ms-text-size-adjust:
        100%;-webkit-text-size-adjust: 100%;color: #d70404;font-weight:
        normal;text-decoration: underline;">Help Desk</a>, <a
        href="http://forum.skullysystems.com/" target="_blank"
        style="word-wrap: break-word;-ms-text-size-adjust:
        100%;-webkit-text-size-adjust: 100%;color: #d70404;font-weight:
        normal;text-decoration: underline;">Official Forum</a> or <a
        href="https://www.facebook.com/SkullySystems" target="_blank"
        style="word-wrap: break-word;-ms-text-size-adjust:
        100%;-webkit-text-size-adjust: 100%;color: #d70404;font-weight:
        normal;text-decoration: underline;">Facebook</a>, where you can discuss
    the AR-1 with other riders and Team SKULLY.
    </p>

    <br>

    <nav class="social-icons">
      <div class="bounce">
        <a href="https://www.facebook.com/skullysystems" target="_blank" title="Skully Helmets, Inc" class="fi-social-facebook large"></a>
      </div>

      <div class="bounce">
        <a href="http://www.twitter.com/skullysystems" target="_blank" title="SKULLY HELMETS" class="fi-social-twitter large"></a>
      </div>

      <div class="bounce">
        <a href="http://www.youtube.com/channel/UCgGXkEJ5S_MmQCSoBnusr1Q" target="_blank" title="SKULLY" class="fi-social-youtube large"></a>
      </div>

      <div class="bounce">
        <a href="http://www.instagram.com/skullysystems" target="_blank" title="Skully Helmets" class="fi-social-instagram large"></a>
      </div>

      <div class="bounce">
        <a href="https://plus.google.com/112776474651298122010/posts" target="_blank" title="Marcus Weller" class="fi-social-google-plus large"></a>
      </div>

      <div class="bounce">
        <a href="https://www.linkedin.com/company/3233339?trk=vsrp_companies_res_name&amp;trkInfo=VSRPsearchId%3A637198571407629012548%2CVSRPtargetId%3A3233339%2CVSRPcmpt%3Aprimary" target="_blank" title="Marcus Weller, PhD" class="fi-social-linkedin large"></a>
      </div>
    </nav>
</div>
{% endblock %}
