{% extends "base.html" %}

{% block title %} Store &mdash; Account {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ urlFor(" /css/checkout.css ") }}">
{% endblock %}

{% block content_header %}
<h1>Account</h1>
{% endblock %}

{% block content %}
<div class="account-information col-1-2">
    <form id="form" action="{{ urlFor(" checkout ", "/charge ") }}" method="post" name="form">
        <div class="user-information">
            <fieldset>
                <!-- First Name -->
                <div id="billing-first-name" class="field first-name required">
                    <label for="User.FirstName">First Name</label>
                    <input id="User.FirstName" name="User.FirstName" placeholder="First Name" x-autocompletetype="given-name" type="text" spellcheck="false" maxlength="30" value="">
                </div>

                <!-- Last Name -->
                <div id="billing-last-name" class="field last-name required">
                    <label for="User.LastName">Last Name</label>
                    <input id="User.LastName" name="User.LastName" placeholder="Last Name" x-autocompletetype="surname" type="text" spellcheck="false" maxlength="30" value="">
                </div>

                <!-- Email Address -->
                <div id="email" class="field email required">
                    <label for="User.Email">Email Address</label>
                    <input id="User.Email" name="User.Email" placeholder="Email" x-autocompletetype="email" type="text" spellcheck="false" maxlength="50" value="">
                </div>

                <!-- Phone -->
                <div id="phone" class="field phone required">
                    <label for="User.Phone">Phone Number</label>
                    <input id="User.Phone" name="User.Phone" placeholder="(424)-424-4200" x-autocompletetype="phone" type="text" spellcheck="false" maxlength="20" value="">
                </div>
            </fieldset>
        </div>

        <div class="billing-information">
            <h2>Billing Info</h2>

            <fieldset>
                <!-- Billing Address 1 -->
                <div id="billing-address-1" class="field required">
                    <label for="Order.BillingAddress.Line1">Address Line 1</label>
                    <input id="Order.BillingAddress.Line1" name="Order.BillingAddress.Line1" placeholder="Address Line 1" x-autocompletetype="address-line1" type="text" spellcheck="false" maxlength="50" aria-autocomplete="list" aria-expanded="false" autocomplete="on" value="">
                </div>

                <!-- Billing Address 2 -->
                <div id="billing-address-2" class="field">
                    <label for="Order.BillingAddress.Line2">Address Line 2</label>
                    <input id="Order.BillingAddress.Line2" name="Order.BillingAddress.Line2" placeholder="Address Line 2" type="text" x-autocompletetype="address-line2" spellcheck="false" maxlength="50" value="">
                </div>

                <!-- City -->
                <div id="billing-city" class="field city required">
                    <label for="Order.BillingAddress.City">City</label>
                    <input id="Order.BillingAddress.City" name="Order.BillingAddress.City" placeholder="City" type="text" spellcheck="false" maxlength="30" value="">
                </div>

                <!-- State/Province -->
                <div id="billing-state" class="field state required">
                    <label for="Order.BillingAddress.State">State/Province</label>
                    <input id="Order.BillingAddress.State" name="Order.BillingAddress.State" placeholder="State/Province" type="text" spellcheck="false" x-autocompletetype="state" value="">
                </div>

                <!-- Zip Code -->
                <div id="billing-zip" class="field zip required">
                    <label for="Order.BillingAddress.PostalCode">Zip / Postal</label>
                    <input id="Order.BillingAddress.PostalCode" name="Order.BillingAddress.PostalCode" placeholder="Zip / Postal" type="text" spellcheck="false" maxlength="9">
                    <!--http://stackoverflow.com/a/469362-->
                </div>

                <!-- Country -->
                <div id="billing-country" class="field country required">
                    <label for="Order.BillingAddress.Country">Country</label>
                    <input id="Order.BillingAddress.Country" name="Order.BillingAddress.Country" type="text" spellcheck="false" placeholder="Country" x-autocompletetype="country-name" value="">
                </div>
            </fieldset>
        </div>

        <div class="shipping-information">
            <h2>Shipping Info</h2>
            <div class="options">
                <input id="ShipToBilling" name="ShipToBilling" type="checkbox" checked>
                <label for="ShipToBilling">Ship to Billing Address</label>
            </div>

            <fieldset style="display:none">
                <!-- Shipping Address 1 -->
                <div id="shipping-address-1" class="field required">
                    <label for="Order.ShippingAddress.Line1">Address Line 1</label>
                    <input id="Order.ShippingAddress.Line1" name="Order.ShippingAddress.Line1" placeholder="Address Line 1" x-autocompletetype="address-line1" type="text" spellcheck="false" maxlength="50" aria-autocomplete="list" aria-expanded="false" autocomplete="on" value="">
                </div>

                <!-- Shipping Address 2 -->
                <div id="shipping-address-2" class="field">
                    <label for="Order.ShippingAddress.Line2">Address Line 2</label>
                    <input id="Order.ShippingAddress.Line2" name="Order.ShippingAddress.Line2" placeholder="Address Line 2" type="text" x-autocompletetype="address-line2" spellcheck="false" maxlength="50" value="">
                </div>

                <!-- City -->
                <div id="shipping-city" class="field city required">
                    <label for="Order.ShippingAddress.City">City</label>
                    <input id="Order.ShippingAddress.City" name="Order.ShippingAddress.City" placeholder="City" type="text" spellcheck="false" maxlength="30" value="">
                </div>

                <!-- State/Province -->
                <div id="shipping-state" class="field state required">
                    <label for="Order.ShippingAddress.State">State/Province</label>
                    <input id="Order.ShippingAddress.State" name="Order.ShippingAddress.State" placeholder="State/Province" type="text" spellcheck="false" x-autocompletetype="state" value="">
                </div>

                <!-- Zip Code -->
                <div id="shipping-zip" class="field zip required">
                    <label for="Order.ShippingAddress.PostalCode">Zip / Postal</label>
                    <input id="Order.ShippingAddress.PostalCode" name="Order.ShippingAddress.PostalCode" placeholder="Zip / Postal" type="text" spellcheck="false" maxlength="9">
                    <!--http://stackoverflow.com/a/469362-->
                </div>

                <!-- Country -->
                <div id="shipping-country" class="field country required">
                    <label for="Order.ShippingAddress.Country">Country</label>
                    <input id="Order.ShippingAddress.Country" name="Order.ShippingAddress.Country" type="text" spellcheck="false" placeholder="Country" x-autocompletetype="country-name" value="">
                </div>

                <!-- Continue -->
                <div class="btn-container" style="text-align: center;">
                    <!--<input type="submit" value="Continue" class="button continue-button" style="width:100%"></input>-->
                </div>
            </fieldset>
        </div>

        <div class="btn-container" style="text-align: center;">
            <button type="submit">Save</button>
        </div>
    </form>
</div>
{% endblock %}
