{% extends "base.html" %}

{% block content_header %}
<a class="breadcrumb" href="{{ urlFor("store") }}">
    <span class="back-arrow">&#8592;</span><span>BACK</span>
</a>
<h1>Shopping Cart</h1>
{% endblock %}

{% block content_header_width_class %}cart-width{% endblock %}

{% block content_width_class %}cart-width{% endblock %}

{% block content %}
<div class="shopping-cart">
    <form action="{{ urlFor("checkout" ) }}" method="POST" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded; charset=utf-8">
        <div class="cart-content">
            <table>
                <thead>
                    <tr>
                        <td class="item">Item</td>
                        <td></td>
                        <td class="quantity">Quantity</td>
                        <td class="price">Price</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <div class="subtotal sep-top">
                <span class="label">Subtotal</span>
                <span class="price">
                    <span>$</span><span class="money"></span>
                </span>
            </div>

            <div class="checkout">
                <button type="submit" class="checkout-button">Check out</button>
            </div>
        </div>

        <div class="empty-message">
            <p>Your shopping cart is empty.</p>
            <p><a href="{{ urlFor("store") }}">Continue Shopping</a></p>
        </div>
    </form>
</div>

<script id="line-item-template" type="text/template">
    <tr class="sep-top">
        <input class='slug' type="hidden" name="Order.Items.1.Product.Slug" value="{{ item.Slug() }}">
        <input class='sku' type="hidden" name="Order.Items.1.Variant.SKU" value="{{ item.SKU() }}">
        <td class="item-image">
            <img class="thumbnail" src="{{ item.Product.DisplayImage().Url }}?format=100w">
        </td>

        <td class="item-desc">
            <div class="title">{{ item.Product.Title }}</div>
            <div class="desc">{{ item.Product.Color }}&nbsp;/&nbsp;{{ item.Product.Size }}</div>
        </td>

        <td class="quantity">
            <select name="Order.Items.1.Quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </td>

        <td class="price">
            <span>$</span><span class="money">{{ item.Product.DisplayPrice() }}</span>
        </td>

        <td class="remove">
            <span class="remove-item">×</span>
        </td>
    </tr>
</script>

<script id="line-subitem-template" type="text/template">
    <tr class="subitem">
        <input class='slug' type="hidden" name="Order.Items.1.Product.Slug" value="{{ item.Slug() }}">
        <input class='sku' type="hidden" name="Order.Items.1.Variant.SKU" value="{{ item.SKU() }}">
        <td class="item-image">
        </td>

        <td class="item-desc">
            <div class="title">{{ item.Product.Title }}</div>
            <div class="desc">{{ item.Product.Color }}&nbsp;/&nbsp;{{ item.Product.Size }}</div>
        </td>

        <td class="quantity">
            <span class="text"></span>
            <input name="Order.Items.1.Quantity" type="hidden" value="">
        </td>

        <td class="price">
            <span>$</span><span class="money"></span><span class="free">FREE</span>
        </td>

        <td class="remove">
        </td>
    </tr>
</script>
{% endblock %}
