{% extends "base.html" %}

{% block content_header %}
<a class="breadcrumb" href="{{ moduleUrl("store") }}/">
    <span class="back-arrow">&#8592;</span> BACK TO STORE
</a>
<h1>Shopping Cart</h1>
{% endblock %}

{% block content %}
<div class="shopping-cart">
    <div class="cart-content">
        <form class="cart" action="/checkout/" method="POST" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded; charset=utf-8">
        <table>
            <thead>
                <tr>
                    <td class="item">Item</td>
                    <td></td>
                    <td class="quantity">Quantity</td>
                    <td class="price">Price</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <div class="subtotal">
            <span class="label">Subtotal</span>
            <span class="price">
                <span class="sqs-money-native"></span>
            </span>
        </div>

        <div class="checkout">
            <input type="submit" value="CHECKOUT" class="checkout-button">
        </div>

        </form>
    </div>

    <div class="empty-message">
        <p>You have nothing in your shopping cart.</p>
        <p><a href="{{ moduleUrl("store") }}">Continue Shopping</a></p>
    </div>
</div>

<script id="line-item-template" type="text/template">
    <tr class="sep-top">
        <input class='slug' type="hidden" name="Order.Items.1.Product.Slug" value="{{ item.Slug() }}">
        <input class='sku' type="hidden" name="Order.Items.1.Variant.SKU" value="{{ item.SKU() }}">
        <td class="item-image">
            <img class="thumbnail" src="{{ item.Product.DisplayImage().Url }}?format=100w">
        </td>

        <td class="item-desc">
            <a class="title" href="{{ moduleUrl("store") }}/products/{{ item.Slug() }}">{{ item.Product.Title }}</a>
            <div class="desc">{{ item.Product.Color }} / {{ item.Product.Size }}</div>
        </td>

        <td class="quantity">
            <select name="Order.Items.1.Quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </td>

        <td class="price">
            <span>$</span><span class="money">{{ item.Product.DisplayPrice() }}</span>
        </td>

        <td class="remove">
            <div class="remove-item">×</div>
        </td>
    </tr>
</script>
{% endblock %}
