{% extends "base.html" %}

{% block title %} SKULLY Store Forgotten Password {% endblock %}

{% block css %}
<style>
div.field {
    display: block;
}
div.error {
    color: red;
}
</style>
{% endblock %}

{% block content_header %}
{% endblock %}

{% block cart_hover %}
<!-- CART HOVER DISABLED -->
{% endblock %}

{% block content_header_width_class %}recover-sent-width{% endblock %}

{% block content_width_class %}recover-sent-width{% endblock %}

{% block content %}
<div class="recover-sent">
    <div class="user-form">
        <h2>Password Reset Sent</h2>
        <div>A password recovery email has been sent.  Please check your email.
            If it does not appear in the next few minutes, please check your
            'Spam' or 'Trash' folders.</div>
        {% if error %}
        <div class="error">{{ error }}</div>
        {% endif %}
    </div>
</div>
{% endblock %}
