{% extends "base.html" %}

{% block meta %}
<meta property="og:site_name" content="SKULLY AR-1 Store">
<meta property="og:title" content="SKULLY AR-1" />
<meta property="og:type" content="product" />
<meta property="og:url" content="{{ urlFor("store") }}">
<meta property="og:price:amount" content="1499.00" />
<meta property="og:price:currency" content="USD" />

<meta itemprop="name" content="SKULLY AR-1">
<meta itemprop="url" content="{{ urlFor("store") }}">
{% endblock %}

{% block json %}
<script>
var allProducts = {{ productsJSON | safe }};
var allListings = {{ listingsJSON | safe }};
</script>
{% endblock %}

{% block content_header_width_class %}store-width{% endblock %}

{% block content_width_class %}store-width{% endblock %}

{% block content %}
{% for listing in listings %}
{% if !listing.Disabled %}
<div class="item product-listing">
  <div class="product-viewer display-medium-hide display-small-hide">
    <div class="preview-background">
      {% if listing.SoldOut %}
      <img class="sold-out" src="{{ urlFor("img/soldout.png") }}" alt="Sold Out">
      {% endif %}
      {% for image in listing.Images %}
      {% if forloop.First %}
      <img class="preview" src="{{ image.Url }}" alt="{{ image.Alt }}">
      {% else %}
      <img class="preview transparent" src="{{ image.Url }}" alt="{{ image.Alt }}">
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="product-text" data-sku="{{ listing.SKU }}">
    <div class="product-title">
        <h1 class="product-name">AR-<span class="red-text">1</span></h1>
    </div>

    <div class="product-body">
      <div class="product-description">
        {% for p in listing.GetDescriptionParagraphs() %}
        {% if !forloop.First %}
        <br />
        {% endif %}
        <p>{{ p | safe }}</p>
        {% endfor %}
        <br />
    </div>

    <div class="mobile-viewer-wrapper display-x-large-hide display-large-hide">
      <div class="product-viewer">
        <div class="preview-background">
          {% if listing.SoldOut %}
          <img class="sold-out" src="{{ urlFor("img/soldout.png") }}" alt="Sold Out">
          {% endif %}
          {% for image in listing.Images %}
          {% if forloop.First %}
          <img class="preview" src="{{ image.Url }}" alt="{{ image.Alt }}">
          {% else %}
          <img class="preview transparent" src="{{ image.Url }}" alt="{{ image.Alt }}">
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

      {% if !listing.SoldOut %}
      <div class="product-config">
        {% if products.0.VariantOptions("Style") %}
        <label for="style">Style:</label>
        <select name="Style" class="style">
          {% for style in products.0.VariantOptions("Style") %}
          <option value="{{ style }}">{{ style }}</option>
          {% endfor %}
        </select>
        {% endif %}

        <div class="color-picker picker-wrapper">
            {% if products.0.VariantOptions("Color") %}
            <div class="instructions emphasis">Choose a color:</div>
            <div class="picker">
                <div class="col-1-2">
                    <input type="radio" id="black" name="Color" class="color" value="Matte Black" checked>
                    <label for="black">
                        <img class="display-small-hide" src="{{ urlFor("/img/store/ar1/ar1_black_button.png") }}">
                        <div class="display-small-only mobile-color-picker-circle"></div><p>Matte Black</p>
                    </label>
                </div>
                <div class="col-1-2">
                    <input type="radio" id="white" name="Color" class="color" value="Gloss White">
                    <label for="white">
                        <img class="display-small-hide" src="{{ urlFor("/img/store/ar1/ar1_white_button.png") }}">
                        <div class="display-small-only mobile-color-picker-circle"><div></div></div><p>Gloss White</p>
                    </label>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="size-picker picker-wrapper">
            {% if products.0.VariantOptions("Size") %}
            <div class="instructions emphasis">Choose a size:</div>
            <div class="picker">
                <div class="col-1-5 small">
                    <input type="radio" id="small" name="Size" value="S">
                    <label for="small">
                        <div class="sizing">
                            <div class="pictograph"></div>
                        </div>
                        <p>S</p>
                    </label>
                </div>
                <div class="col-1-5 medium">
                    <input type="radio" id="medium" name="Size" value="M" checked>
                    <label for="medium">
                        <div class="sizing">
                            <div class="pictograph"></div>
                        </div>
                        <p>M</p>
                    </label>
                </div>
                <div class="col-1-5 large">
                    <input type="radio" id="large" name="Size" value="L">
                    <label for="large">
                        <div class="sizing">
                            <div class="pictograph"></div>
                        </div>
                        <p>L</p>
                    </label>
                </div>
                <div class="col-1-5 x-large">
                    <input type="radio" id="x-large" name="Size" value="XL">
                    <label for="x-large">
                        <div class="sizing">
                            <div class="pictograph"></div>
                        </div>
                        <p>XL</p>
                    </label>
                </div>
                <div class="col-1-5 xx-large">
                    <input type="radio" id="xx-large" name="Size" value="XXL">
                    <label for="xx-large">
                        <div class="sizing">
                            <div class="pictograph"></div>
                        </div>
                        <p>XXL</p>
                    </label>
                </div>
            </div>
            <p class="fine-print" style="font-weight:600">
                NOTE: If your helmet does not fit perfectly we will rush ship new comfort pads.
            </p>
            {% endif %}
        </div>

        <div class="quantity-checkout picker-wrapper">
            <div for="quantity" class="instructions emphasis">Quantity:</div>
            <div class="picker">
                <div class="quantity col-1-2">
                    <select type="number" id="quantity" name="quantity" style="width:33%">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                    <div class="price-wrapper">
                        <span class="x">x</span><span class="product-cost"><span>$</span><span class="money"></span></span>
                    </div>
                </div>

                <div class="checkout-options col-1-2">
                    <button class="add-to-cart"><span><span class="plus">+</span>Add to Cart</span></button>
                </div>
            </div>
            <p class="product-estimated-delivery" style="">
                Estimated Delivery: <strong>{{ listing.EstimatedDelivery }}</strong>
            </p>
        </div>
      </div>
      {% else %}
      <div class="notify-instock">
        <form action="//skullysystems.us3.list-manage.com/subscribe/post?u=bc1d6c276527db0df1053fc13&amp;id=ae4e853b80" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
          <div class="email">
            <label for="mce-EMAIL">Be the first to know about the next preorder opportunity</label>
            <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="email address" required="">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
            <div style="position: absolute; left: -5000px;">
              <input type="text" name="b_bc1d6c276527db0df1053fc13_ae4e853b80" tabindex="-1" value="">
            </div>
          </div>
          <div class="notify-me">
            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"><span>Notify Me</span></button>
          </div>
        </form>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
<div class="product-features sep-top">
    <input id="fov-toggle" class="hidden" type="checkbox">
    <input id="mobile-skully-fov" name="fov" class="hidden" type="radio">
    <input id="mobile-conventional-fov" name="fov" class="hidden" type="radio" checked>
    <div class="display-large-hide display-medium-hide mobile-fov-buttons">
        <label for="mobile-skully-fov" class="mobile-fov-button mobile-skully-fov-button">SKULLY</label>
        <label for="mobile-conventional-fov" class="mobile-fov-button mobile-conventional-fov-button">Conventional</label>
    </div>
    <div class="fov-wrapper">
        <div class="fov-infographics">
            <img class="traditional-fov" src="{{ urlFor("/img/store/ar1/fov_conventional.png") }}">
            <img class="skully-fov transparent" src="{{ urlFor("/img/store/ar1/fov.png") }}">
            <!-- <img class="traditional-fov display-small-hide display-small-only" src="{{ urlFor("/img/store/ar1/fov_conventional_mobile.png") }}"> -->
            <!-- <img class="skully-fov transparent display-small-hide display-small-only" src="{{ urlFor("/img/store/ar1/fov_mobile.png") }}"> -->
        </div>
        <div class="fov-info circle-info">
            <img class="circle" src="{{ urlFor("/img/store/ar1/180_circle.png") }}">
            <div class="circle-description">
                <h4>180&deg; Blind Spot Camera</h4>
                <p>Conventional mirrors show you a thin slice of reality, a blind spot camera shows <b>everything</b> happening around you.</p>
            </div>
            <div class="display-small-hide display-x-large-hide">
                <label for="fov-toggle"><span class="check-mark">&#10003;</span>Show SKULLY Field of View</label>
            </div>
        </div>
    </div>
    <div class="misc-features">
        <div class="circle-info">
            <img class="circle" src="{{ urlFor("/img/store/ar1/hud_circle.png") }}">
            <div class="circle-description">
                <h4>Heads Up Display</h4>
                <p>Transparent HUD projects a focused display that appears floating in front-right of view</p>
            </div>
        </div>
        <div class="circle-info">
            <img class="circle" src="{{ urlFor("/img/store/ar1/awareness_circle.png") }}">
            <div class="circle-description">
                <h4>Situational Awareness</h4>
                <p>Full situational awareness with GPS navigation and a live blindspot camera view</p>
            </div>
        </div>
        <div class="circle-info">
            <img class="circle" src="{{ urlFor("/img/store/ar1/safety_circle.png") }}">
            <div class="circle-description">
                <h4>Safety</h4>
                <p>DOT/ECE certified. Featuring a quick release chin strap and a visor that is fog, scratch & glare resistant</p>
            </div>
        </div>
        <div class="circle-info">
            <img class="circle" src="{{ urlFor("/img/store/ar1/connect_circle.png") }}">
            <div class="circle-description">
                <h4>Connectivity</h4>
                <p>Fully connected with Bluetooth, internet via smartphone and automatic software updates</p>
            </div>
        </div>
        <div class="circle-info">
            <img class="circle" src="{{ urlFor("/img/store/ar1/fit_circle.png") }}">
            <div class="circle-description">
                <h4>Perfect Fit</h4>
                <p>Lightweight, aerodynamic shell fits sizes S-XXL with interchangable padding inserts</p>
            </div>
        </div>
        <div class="circle-info">
            <img class="circle" src="{{ urlFor("/img/store/ar1/sound_circle.png") }}">
            <div class="circle-description">
                <h4>Intelligent Sound</h4>
                <p>Intelligent audio system features hands-free calling and music streaming</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content_footer %}
<div class="collage">
    <img class="display-medium-hide display-small-hide" src="{{ urlFor("/img/store/ar1/collage_desktop.jpg")}}">
    <img class="display-large-hide display-x-large-hide" src="{{ urlFor("/img/store/ar1/collage_mobile.jpg")}}">
</div>
{% endblock %}

{% block js %}
{% if isProduction %}
<!-- Facebook Conversion Code for Store Viewed -->
<script>
window._fbq = window._fbq || [];
window._fbq.push(['track', '6027472500717', {'value':'0.00','currency':'USD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6027472500717&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
{% endif %}
<script>
    $(document).ready(function() {
        $("#quantity").select2({
            minimumResultsForSearch: Infinity
        });
    });
</script>
{% endblock %}
