{% extends "base.html" %}

{% block json %}
<script>
var allProducts = {{ productsJSON | safe }};
var allListings = {{ listingsJSON | safe }};
</script>
{% endblock %}

{% block content_header %}
<h1>Get the Gear</h1>
{% endblock %}

{% block content_header_width_class %}store-width{% endblock %}

{% block content_width_class %}store-width{% endblock %}

{% block content %}
{% for listing in listings %}
{% if !listing.Disabled %}
<div class="item sep-top product-listing">
  <div class="product-viewer">
    <div class="preview-background">
      {% for image in listing.Images %}
      {% if forloop.First %}
      <img class="preview" src="{{ image.Url }}" alt="{{ image.Alt }}">
      {% else %}
      <img style="display:none" class="preview" src="{{ image.Url }}" alt="{{ image.Alt }}">
      {% endif %}
      {% endfor %}
    </div>

    {% if listing.Images | length > 1 %}
    <div class="gallery">
      {% for image in listing.Images %}
      {% if forloop.First %}
      <img class="thumbnail selected" src="{{ image.Url }}" alt="{{ image.Alt }}">
      {% else %}
      <img class="thumbnail" src="{{ image.Url }}" alt="{{ image.Alt }}">
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <div class="product-text" data-sku="{{ listing.SKU }}">
    <div class="product-title">
      <h1 class="product-name">{{ listing.DisplayTitle()|safe }}</h1>
      <h2 class="product-cost"><span>$</span><span class="money"></span></h2>
    </div>

    <div class="product-body">
      <div class="product-description">
        {% for p in listing.GetDescriptionParagraphs() %}
        {% if !forloop.First %}
        <br />
        {% endif %}
        <p>{{ p }}</p>
        {% endfor %}
      </div>

      <div class="product-config">
        {% if products.0.VariantOptions("Style") %}
        <label for="style">Style:</label>
        <select name="Style" class="style">
          {% for style in products.0.VariantOptions("Style") %}
          <option value="{{ style }}">{{ style }}</option>
          {% endfor %}
        </select>
        {% endif %}

        {% if products.0.VariantOptions("Color") %}
        <label for="color">Color:</label>
        <select name="Color" class="color">
          {% for color in products.0.VariantOptions("Color") %}
          <option value="{{ color }}">{{ color }}</option>
          {% endfor %}
        </select>
        {% endif %}

        {% if products.0.VariantOptions("Size") %}
        <label for="size">Size:</label>
        <select name="Size" class="size">
          {% for size in products.0.VariantOptions("Size") %}
          <option value="{{ size }}">{{ size }}</option>
          {% endfor %}
        </select>
        {% endif %}

        <div class="quantity-checkout">
          <div class="quantity">
            <label for="quantity">Quantity:</label>
            <select name="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
          </div>

          <div class="checkout-options">
              <button class="add-to-cart"><span>Add to Cart</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}

{{ if isProduction }}
<!-- Facebook -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
  _fbq.push(['addPixelId', '552096258229612']);
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', 'PixelInitialized', {}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=552096258229612&amp;ev=PixelInitialized" /></noscript>
{{ endif }}
{% endblock %}
