{% extends "base.html" %}

{% block title %} SKULLY Store Login {% endblock %}

{% block css %}
<style>
div.field {
    display: block;
}
div.error {
    color: red;
}
</style>
{% endblock %}

{% block content_header %}
{% endblock %}

{% block cart_hover %}
<!-- CART HOVER DISABLED -->
{% endblock %}

{% block content_header_width_class %}login-width{% endblock %}

{% block content_width_class %}login-width{% endblock %}

{% block content %}
<div class="login">
    <div class="login-form user-form col-1-2">
        <form action="{{ urlFor("store", "/login") }}" method="post">

            <div class="user-form-header">
                <h2>Returning Customer?</h2>
                <p>Login to get the latest updates on your preorder</p>
            </div>

            {% if loginError %}
            <div class="error">{{ loginError }}</div>
            {% endif %}

            <div class="field">
                <input type="text" id="email" name="Email" placeholder="Email" />
            </div>
            <div class="field">
                <input type="password" id="password" name="Password" placeholder="Password" />
            </div>

            <div>
                <button type="submit">Login</button>
            </div>
        </form>
    </div>

    <div class="divider"></div>

    <div class="register-form user-form col-1-2">
         <form action="{{ urlFor ("store", "/register") }}" method="post">
            <div class="user-form-header">
                <h2>New to Skully?</h2>
                <p>Sign up to join the SKULLY NATION</p>
            </div>

            {% if registerError %}
            <div class="error">{{ registerError }}</div>
            {% endif %}

            <div class="field">
                <div class="left">
                    <input type="text" id="firstName" name="FirstName" placeholder="First Name" />
                </div>
                <div class="right">
                    <input type="text" id="lastName" name="LastName" placeholder="Last Name" />
                </div>
            </div>

            <div class="field">
                <input type="text" id="email" name="Email" placeholder="Email" />
            </div>

            <div class="field">
                <input type="password" id="password" name="Password" placeholder="Password minimum 6 characters" />
            </div>

            <div class="field">
                <input type="password" id="confirmPassword"  placeholder="Re-type your password" />
            </div>

            <div>
                <button type="submit">Register</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
