{% extends "base.html" %}

{% block title %} SKULLY Store Login {% endblock %}

{% block css %}
<style>
div.field {
    display: block;
}
div.error {
    color: red;
}
</style>
{% endblock %}

{% block content_header %}
<h1>Login</h1>
{% endblock %}

{% block cart_hover %}
<!-- CART HOVER DISABLED -->
{% endblock %}

{% block content_header_width_class %}login-width{% endblock %}

{% block content_width_class %}login-width{% endblock %}

{% block content %}
<div class="login">
    <form action="{{ urlFor("store", "/login") }}" method="post">
        <div class="form">
            <div class="field">
                <label for="email">Email</label>
                <input type="text" id="email" name="Email" placeholder="abc@example.com" />
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input type="password" id="password" name="Password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;" />
            </div>

            <div>
                <button type="submit">Login</button>
            </div>
        </div>

        {% if error %}
        <div class="error">{{ error }}</div>
        {% endif %}
    </form>
</div>
{% endblock %}
