{% extends "base.html" %}

{% block content_header %}
<section class="content-header store-width">
<h1>Orders</h1>
</section>
{% endblock %}

{% block css %}
<style>
    .orderTable {
        margin-bottom: 50px;
    }
    td {
        padding-top: 30px;
    }
    .description {
        max-width: 300px;
        padding-right: 20px;
    }
</style>
{% endblock %}

{% block content %}
<section class="content store-width">

    <div class="shopping-cart">
        <form action="//localhost:8080/checkout/" method="POST" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded; charset=utf-8">
            <div class="cart-content" style="text-align: center;">
                <table class="orderTable">
                    <thead>
                        <tr>
                            <td></td>
                            <td>Price</td>
                            <td>Delivery date</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr class="row sep-top sep-bottom">
                            <td class="description">
                                {% for item in order.Items %}
                                <div>{{ item.DisplayShortDescription() }} {{ item.SKU_ }} {# {{ item.Slug_ }}#}  x {{ item.Quantity }}</div>
                                {% endfor %}
                            </td>
                            <td>{{ order.DisplayTotal() }}</td>
                            <td>May 2015</td>
                            <td>{{ order.DisplayCreatedAt() }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div  style="text-align:center;">
                    <button style="float: none;">Edit preorders</button>
                </div>
                <div class="sep-top" style="margin-top: 10px;">
            </div>
        </form>
    </div>

</section>
{% endblock %}
