{% extends "base.html" %} {% block content_header %}
<section class="content-header store-width">
    <h1>Orders</h1>
</section>
{% endblock %}

{% block content_header_width_class %}cart-width{% endblock %}

{% block content_width_class %}cart-width{% endblock %}

{% block content %}
<div class="shopping-cart">
    {% if orders | length > 0 %}
    <table class="orderTable">
        <thead>
            <tr>
                <td>Order Id</td>
                <td>Summary</td>
                <td>Price</td>
                <td>Delivery date</td>
                <td>Order Creation</td>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr class="row sep-top">
                <td>{{ order.Id }}</td>
                <td class="description">
                    {% for item in order.Items %}
                    <p>{{ item.DisplayShortDescription() }} x {{ item.Quantity }}</p>
                    {% endfor %}
                </td>
                <td>
                    <span>$</span><span class="money">{{ order.DisplayTotal()}}&nbsp;</span>
                </td>
                <td>{{ order.EstimatedDeliveryHTML()|safe }}</td>
                <td>{{ order.DisplayCreatedAt() }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if tokenId %}
    <div class="options sep-top">
        <button style="margin-left: 20px" onclick="location.href='{{ urlFor("store", "/card/") }}'">Download holiday card</button>
        <button onclick="location.href='{{ urlFor("preorder", "/order/", tokenId) }}'">Edit preorders</button>
    </div>
    {% endif %}
    {% else %}
    <div class="no-history">You have no order history.</div>
    {% endif %}
</div>
{% endblock %}
