{% extends "base.html" %}

{% block content_header  %}
<h2>Orders</h2>
{% endblock %}

{% block css %}
<style>
    .type {
        width: 100px;
    }

    .description {
        width: 300px;
    }

    .status {
        width: 100px;
    }
</style>
{% endblock %}

{% block content %}
<ul class="orders">
    {% for order in orders %}
    <li class="order">
        <span class="type">
            {% if order.Preorder %}
            <a href="{{ preorderLocation }}">Preorder</a>
            {% endif %}
        </span>

        <span class="description">
            {{ order.Description() }}
        </span>

        <span class="time">
            {{ order.When() }}
        </span>

        <span class="status">
            {% if order.Shipped %}
            Shipped
            {% endif %}

            {% if order.Cancelled %}
            Cancelled
            {% endif %}
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock %}
