{% extends "base.html" %}

{% block title %} SKULLY Store - Reset Password {% endblock %}

{% block css %}
<style>
div.field {
    display: block;
}
div.error {
    color: red;
}
</style>
{% endblock %}

{% block content_header %}
{% endblock %}

{% block cart_hover %}
<!-- CART HOVER DISABLED -->
{% endblock %}

{% block content_header_width_class %}recover-width{% endblock %}

{% block content_width_class %}recover-width{% endblock %}

{% block content %}
<div id="changePasswordForm" class="form">
    <form action="" method="POST">
        <h2>Reset Password</h2>
        <fieldset>
            <div class="field">
                <label for="password">Password</label>
                <input id="password" name="NewPassword" type="password">
            </div>

            <div class="field">
                <label for="confirm-password">Confirm Password</label>
                <input id="confirm-password" name="ConfirmPassword" type="password">
            </div>

            <div class="options">
                <button type="submit">Change</button>
            </div>
        </fieldset>
    </form>
</div>

{% if error %}
<div class="error">{{ error }}</div>
{% endif %}

<div>
    <button type="submit">Reset Password</button>
</div>
{% endblock %}
