{% extends "base.html" %}

{% block title %} SKULLY Store Forgotten Password {% endblock %}

{% block css %}
<style>
div.field {
    display: block;
}
div.error {
    color: red;
}
</style>
{% endblock %}

{% block content_header %}
{% endblock %}

{% block cart_hover %}
<!-- CART HOVER DISABLED -->
{% endblock %}

{% block content_header_width_class %}recover-width{% endblock %}

{% block content_width_class %}recover-width{% endblock %}

{% block content %}
<div class="recover">
    <div class="user-form">
        <form action="{{ urlFor("store", "/password-reset") }}" method="post">
            <h2>Reset Password</h2>

            <div class="field">
                <label for="email">What is your email?</label>
                <input type="text" id="email" name="Email" placeholder="abc@example.com" />
            </div>

            {% if error %}
            <div class="error">{{ error }}</div>
            {% endif %}

            <div>
                <button type="submit">Reset Password</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
