{% extends "../base.html" %}

{% block content_header %}
<div class="banner-image content-fill" style="overflow: hidden;">
  {% if product.HeaderImage.Url %}
  <img data-src="{{ product.HeaderImage.Url }}" data-image="{{ product.HeaderImage.Url }}" data-image-dimensions="{{ image.Dimensions() }}" data-image-focal-point="0.5,0.5" alt="{{ product.HeaderImage.Alt }}" src="{{ product.HeaderImage.Url }}?format=1500w" style="top: -216px; left: 0px; width: 1440px; height: 810px; position: relative; transform: translate3d(0px, 0px, 0px);" data-image-resolution="1500w">
  {% else %}
  <img data-load="lazy" data-src="{{ product.DisplayImage().Url }}" data-image="{{ product.DisplayImage().Url }}" data-image-dimensions="{{ image.Dimensions() }}" data-image-focal-point="0.5,0.5" alt="{{ product.DisplayImage().Alt }}"  data-image-resolution="1500w">
  {% endif %}
</div>

<div class="title-desc-wrapper has-main-image" data-content-field="main-image">
    <div class="title-desc-inner">
        <h1 class="page-title" data-shrink-original-size="33" style="letter-spacing: 0.21em;">{{ product.Title }}</h1>
        <br>
        <div class="page-desc"><p>{{ product.Headline }}</p></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="productWrapper" class="product hentry post-type-store-item">
    <div id="productNav">
        <a href="/products">
            <span class="back-arrow">&#8592;</span> Back to Store
        </a>
    </div>

    <script>csio = window.csio || {}; csio.currentProduct = {{ product.AsJSON() | safe }}</script>

    <div id="productSummary" class="clear">
        <h1 class="product-title mobile" data-content-field="title">{{ product.Title }}</h1>

        <div id="productGallery">
            <div class="intrinsic">
                <div class="wrapper">
                    <div id="productSlideshow" class="sqs-gallery-design-stacked">
                        {% for image in product.Images %}
                        <div class="slide sqs-gallery-design-stacked-slide sqs-active-slide" data-type="image" style="opacity: 1; z-index: 889;">
                            <img data-load="false" data-src="{{ image.Url }}" data-image="{{ image.Url }}" data-image-dimensions="{{ image.Dimensions() }}" data-image-focal-point="0.5,0.5" alt="{{ image.Alt }}" class="loaded" src="{{ image.Url }}?format=1500w&amp;storage=local" data-image-resolution="1500w" style="top: 0px; left: 0px; width: 610px; height: 610px; position: relative;">
                            <div class=""></div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% if product.Images | length > 1 %}
            <div id="productThumbnails" style="visibility: visible;">
                {% for image in product.Images %}
                <div class="slide content-fill sqs-active-slide" style="overflow: hidden;">
                    <img data-src="{{ image.Url }}" data-image="{{ image.Url }}" data-image-dimensions="{{ image.Dimensions() }}" data-image-focal-point="0.5,0.5" alt="{{ image.Alt }}" class="" src="{{ image.Url }}?format=100w" style="top: 0px; left: 0px; width: 50px; height: 50px; position: relative;" data-image-resolution="100w">
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div id="productDetails">
          <h1 class="product-title" data-content-field="title">{{ product.Title }}</h1>

          <div class="product-price">
            <span class="sqs-money-native">{{ product.DisplayPrice() }}</span>
            </div>

            <div class="product-excerpt" data-content-field="excerpt">
              <p>{{ product.Excerpt }}</p>
            </div>

            <div class="product-variants">

                {% if product.VariantOptions("Color") | length > 0 %}
                <div class="variant-option">
                    <div class="variant-option-title">Color: </div>
                    <select id="color" data-variant-option-name="Color">
                        <option value="none">Select Color</option>
                        {% for color in product.VariantOptions("Color") %}
                        <option value="{{ color }}">{{ color }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}

                {% if product.VariantOptions("Size") | length > 0 %}
                <div class="variant-option">
                    <div class="variant-option-title">Size: </div>
                    <select id="size" data-variant-option-name="Size">
                        <option value="none">Select Size</option>
                        {% for size in product.VariantOptions("Size") %}
                        <option value="{{ size }}">{{ size }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
            </div>

            <div class="product-quantity-input">
                <div class="quantity-label">Quantity:</div>
                <input id="quantity" size="4" max="100" min="1" value="1" type="number" step="1">
            </div>

            <div class="sqs-add-to-cart-button-wrapper" style="visibility: visible;">
                <div id="preorder" class="sqs-add-to-cart-button sqs-suppress-edit-mode sqs-editable-button" data-original-label="Pre-order Now" onclick="checkout()">
                    <div class="sqs-add-to-cart-button-inner">Pre-order Now</div>
                </div>
            </div>

            <div class="product-sharing">
              <span class="squarespace-social-buttons inline-style" data-asset-url="http://static.squarespace.com/static/53dd2a15e4b06cbe07110bd5/544a257de4b015b5ef71847c/544a2657e4b0ff95316b8ea0/1414359306658/" data-record-type="11" data-full-url="http://store.skullysystems.com/products/{{ product.Slug }}" data-title="{{ product.Title }}">
                    <div class="yui3-widget yui3-socialbutton">
                        <div class="yui3-socialbutton-content">
                            <div class="ss-social-button-wrapper">
                              <div class="ss-social-button"><span class="ss-social-button-icon"></span>Share</div>
                            </div>
                            <div class="ss-social-list-wrapper">
                              <div class="ss-social-button-list"></div>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>

    <div class="product-description">
      <div class="sqs-layout sqs-grid-12 columns-12">
          <div class="row sqs-row">
              <div class="col sqs-col-12 span-12">
                  <div class="sqs-block html-block sqs-block-html" data-block-type="2">
                      <div class="sqs-block-content">
                          {{ product.Description }}
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

</div>
{% endblock %}
