{% extends "../base.html" %}

{% block content_header %}
<div class="banner-image content-fill" style="overflow: hidden;">
    <img data-image="/img/ar-1parallax.png" data-image-dimensions="2500x1406" data-image-focal-point="0.5,0.5" alt="SKULLY AR-1" class="" src="/img/ar-1parallax.png" data-image-resolution="1500w" style="top: -224px; left: 0px; width: 1351px; height: 760px; position: relative;">
</div>

<div class="title-desc-wrapper has-main-image" data-content-field="main-image">
    <div class="title-desc-inner" data-collection-id="544a2657e4b0ff95316b8ea0">

      <h1 class="page-title" data-shrink-original-size="33" style="letter-spacing: 0.212121212121212em;">{{ product.Title }}</h1>
        <br>
        <div class="page-desc">
          <p>{{ Product.Description }}</p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="productWrapper" class="product hentry author-marcus-weller post-type-store-item">
    <div id="productNav">
      <a href="/products">
        <span class="back-arrow">&#8592;</span> Back to Store
      </a>
    </div>

    <div id="productSummary" class="clear">
        <h1 class="product-title mobile" data-content-field="title">{{ product.Title }}e</h1>

        <div id="productGallery">
          <div class="intrinsic">
            <div class="wrapper">
                    <div id="productSlideshow" class="sqs-gallery-design-stacked">
                        <div class="slide sqs-gallery-design-stacked-slide sqs-active-slide loaded" data-type="image" style="opacity: 1; z-index: 889;">
                          <img data-load="false" data-image-dimensions="2500x1406" data-image-focal-point="0.5,0.5" alt="{{ product.DisplayImage().Url }}" class="loaded" src="{{ product.DisplayImage().Url }}" data-image-resolution="1500w" style="top: 0px; left: -237px; width: 1085px; height: 610px; position: relative;">
                          <div class=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="productDetails">
          <h1 class="product-title" data-content-field="title">{{ product.Title }}</h1>

          <div class="product-price">
            <span class="sqs-money-native">{{ product.DisplayPrice() }}</span>
            </div>

            <div class="product-excerpt" data-content-field="excerpt">
              <p>{{ product.Description }}</p>
            </div>

            <div class="product-variants">
                <div class="variant-option">
                    <div class="variant-option-title">Color: </div>
                    <select data-variant-option-name="Color">
                        <option value="none">Select Color</option>
                        {% for color in product.VariantOptions("Color") %}
                        <option value="{{ color }}">{{ color }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="variant-option">
                    <div class="variant-option-title">Size: </div>
                    <select data-variant-option-name="Size">
                        <option value="none">Select Size</option>
                        {% for size in product.VariantOptions("Size") %}
                        <option value="{{ size }}">{{ size }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="product-quantity-input">
                <div class="quantity-label">Quantity:</div>
                <input size="4" max="100" min="1" value="1" type="number" step="1">
            </div>

            <div class="sqs-add-to-cart-button-wrapper" style="visibility: visible;">
              <div class="sqs-add-to-cart-button sqs-suppress-edit-mode sqs-editable-button">
                    <div class="sqs-add-to-cart-button-inner">Pre-order Now</div>
                </div>
            </div>

            <div class="product-description">
              <div class="sqs-layout sqs-grid-12 columns-12">
                    <div class="row sqs-row">
                        <div class="col sqs-col-12 span-12">
                            <div class="sqs-block html-block sqs-block-html" data-block-type="2">
                                <div class="sqs-block-content">
                                  {{ product.Description }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
