{% extends "base.html" %}

{% block content_header %}
    <h1>Profile</h1>
{% endblock %}

{% block cart_hover %}
<!-- CART HOVER DISABLED -->
{% endblock %}

{% block content_header_width_class %}profile-width{% endblock %}

{% block content_width_class %}profile-width{% endblock %}

{% block content %}
<div class="profile sep-top">
    <form id="profileForm" action="{{ urlFor("store", "/profile/change-contact") }}" method="POST">
        <h2>Contact</h2>
        <div class="success">Profile updated successfully.</div>
        <div class="errors error">{{ changeContactError }}</div>
        <fieldset>
            <div class="field required">
                <label>Email</label>
                <span>{{ user.Email }}</span>
            </div>

            <div class="field required">
                <label for="firstName">First Name</label>
                <input id="firstName" name="User.FirstName" type="text" placeholder="First Name" value="{{ user.FirstName }}">
            </div>

            <div class="field required">
                <label for="lastName">Last Name</label>
                <input id="lastName" name="User.LastName" type="text" placeholder="Last Name" value="{{ user.LastName }}">
            </div>

            <div class="field required">
                <label for="phone">Phone</label>
                <input id="phone" name="User.Phone" type="text" value="{{ user.Phone }}">
            </div>

            <div class="options">
                <button type="submit">Save</button>
            </div>
        </fieldset>
    </form>

    <form id="changePasswordForm" action="{{ urlFor("store", "/profile/change-password") }}" method="POST">
        <h2>Change Password</h2>
        <div class="success">Profile updated successfully.</div>
        <div class="errors error">{{ changePasswordError }}</div>
        <fieldset>
            <div class="field required">
                <label for="oldPassword">Password</label>
                <input id="oldPassword" name="OldPassword" type="password" placeholder="Old Password">
            </div>

            <div class="field required">
                <label for="Password">New Password</label>
                <input id="Password" name="Password" type="password" placeholder="Password minimum 6 characters">
            </div>

            <div class="field required">
                <label for="phone">Confirm Password</label>
                <input id="confirmPassword" name="ConfirmPassword" type="password" placeholder="Re-type your password">
            </div>

            <div class="options">
                <button type="submit">Change</button>
            </div>
        </fieldset>
    </form>

    <form id="changeBillingForm" action="{{ urlFor("store", "/profile/change-billing") }}" method="POST">
        <h2>Billing</h2>
        <div class="success">Profile updated successfully.</div>
        <div class="errors error">{{ changeBillingError }}</div>
        <fieldset>
            <div class="field required">
                <label for="address1">Address 1</label>
                <input id="address1" name="BillingAddress.Line1" type="text" placeholder="Address ex. 555 3rd Street" value="{{ user.BillingAddress.Line1 }}">
            </div>

            <div class="field">
                <label for="address2">Address 2</label>
                <input id="address2" name="BillingAddress.Line2" type="text" placeholder="Address 2 ex. Suite 3, Apt#" value="{{ user.BillingAddress.Line2 }}">
            </div>

            <div class="field required">
                <label for="city">City</label>
                <input id="city" name="BillingAddress.City" placeholder="City ex. San Francisco" type="text" value="{{ user.BillingAddress.City }}">
            </div>

            <div class="field required">
                <label for="state">State</label>
                <input id="state" name="BillingAddress.State" type="text" placeholder="State/Province ex. California" value="{{ user.BillingAddress.State }}">
            </div>

            <div class="field required">
                <label for="postalcode">ZIP/Postal Code</label>
                <input id="postalcode" name="BillingAddress.PostalCode" type="text" placeholder="Zip/Postal Code ex. 94140" value="{{ user.BillingAddress.PostalCode }}">
            </div>

            <div class="field required">
                <label for="country">Country</label>
                <input id="country" name="BillingAddress.Country" type="text" placeholder="Country ex. United States" value="{{ user.BillingAddress.Country }}">
            </div>

            <div class="options">
                <button type="submit">Update</button>
            </div>
        </fieldset>
    </form>

    <form id="changeInfoForm" action="{{ urlFor("store", "/profile/change-info") }}" method="POST">
        <h2>Info</h2>
        <div class="success">Profile updated successfully.</div>
        <div class="errors error">{{ changeBillingError }}</div>

        <fieldset>
            <div class="field">
              <label for="birthday">Birthday</label>
              <input id="birthday" name="Birthday" type="text" placeholder="Birthday ex. 1/1/1900" value="{{ user.GetMetadataValue("birthday").Value }}">
            </div>

            <div class="options">
                <button type="submit">Update</button>
            </div>
        </fieldset>
    </form>

</div>
{% endblock %}
