{% extends "base.html" %}

{% block content_header %}
<h1>Register</h1>
{% endblock %}

{% block css %}
<style>
    div.field {
        display: block;
    }
    div.error {
        text-color: red;
    }
</style>
{% endblock %}

{% block cart_hover %}
<!-- CART HOVER DISABLED -->
{% endblock %}

{% block content %}
<div class="register">
    <form action="{{ urlFor("store", "/register") }}" method="post">
        <div class="form">
            <div class="field">
                <label for="email">Email</label>
                <input id="email" type="text" name="User.Email" placeholder="email address">
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input id="password" type="password" name="Password" placeholder="&bull;&bull;&bull;">
            </div>
            <div class="field">
                <label for="passwordConfirm">Confirm password</label>
                <input id="passwordConfirm" type="password" name="PasswordConfirm" placeholder="&bull;&bull;&bull;">
            </div>
            <div class="error">{{ error }}</div>
            <div>
                <button type="submit">Register</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
