{% extends "base.html" %}

{% block content_header %}
<h2>Register</h2>
{% endblock %}

{% block css %}
<style>
    div.field {
        display: block;
    }
    div.error {
        text-color: red;
    }
</style>
{% endblock %}

{% block cart_hover %}
<!-- CART HOVER DISABLED -->
{% endblock %}

{% block content %}
<form action="{{ urlFor("store", "/register") }}" method="post">
    <div class="field">
        <label for="email">Email</label>
        <input id="email" type="text" name="User.Email" placeholder="email address">
    </div>
    <div class="field">
        <label for="password">Password</label>
        <input id="password" type="password" name="Password" placeholder="&bull;&bull;&bull;">
    </div>
    <div class="field">
        <label for="passwordConfirm">Confirm password</label>
        <input id="passwordConfirm" type="password" name="PasswordConfirm" placeholder="&bull;&bull;&bull;">
    </div>
    <div class="error">{{ error }}</div>
    <div>
        <input type="submit" value="Register">
    </div>
</form>
{% endblock %}
