{% extends "base.html" %}

{% block content_header %}
<a class="breadcrumb" href="{{ urlFor("store") }}">
    <span class="back-arrow">&#8592;</span><span>BACK</span>
</a>
<h1>Get Your Xmas Card</h1>
{% endblock %}

{% block jsglobals %}
<script type="text/javascript">
  window.userName = "{{ user.FirstName }} {{ user.LastName }}";
  window.toName = "";
  window.cardName = "{{ urlFor("img/skullycard.png") }}";
  window.giftCardName = "{{ urlFor("img/skullygiftcard.png") }}";
</script>
{% endblock %}

{% block content_header_width_class %}card-editor-width{% endblock %}

{% block content_width_class %}card-editor-width{% endblock %}

{% block content %}
<div class="card-editor">
  <div class="editor-options">
    <h2>Card Options</h2>
    <fieldset>
      <div class="is-gift">
        <label for="IsGift">Is this a gift?</label>
        <span><input type="radio" name="IsGift" value="Yes"><span>Yes</span></span>
        <span><input type="radio" name="IsGift" value="No" checked><span>No</span></span>
      </div>
      <div class="recipient">
        <label for="Recipient">Who is this for?</label>
        <input name="Recipient" placeholder="ex. Mom">
      </div>
    </fieldset>
  </div>
  <div class="card-preview" class="">
    <div class="preview-area">
      <div class="loading-spinner"></div>
      <img class="placeholder hidden" src="{{ urlFor("img/skullycard.png") }}">
      <img id="SkullyCard" class="hidden none" src="">
      <img id="GiftCard" class="hidden none" src="">
    </div>
  </div>
</div>
{% endblock %}
