{% extends "base.html" %}

{% block content_header %}
<a class="breadcrumb" href="{{ urlFor("store") }}">
    <span class="back-arrow">&#8592;</span><span>BACK</span>
</a>
<h1>Get Your Xmas Card</h1>
{% endblock %}

{% block jsglobals %}
<script type="text/javascript">
  window.userName = "{{ user.FirstName }} {{ user.LastName }}";
  window.toName = "";
  window.cardName = "{{ urlFor("img/skullycard.png") }}";
  window.giftCardName = "{{ urlFor("img/skullygiftcard.png") }}";
  window.cardBack = "{{ urlFor("img/skullycardback.png") }}";
  window.GCS_BUCKET = "{{ GCSBucket }}";
  window.GCS_API_KEY = "{{ GCSAPIKey }}";
</script>
{% endblock %}

{% block content_header_width_class %}card-editor-width{% endblock %}

{% block content_width_class %}card-editor-width{% endblock %}

{% block content %}
<script></script>
<div class="card-editor">

  <div class="editor-options">
    <fieldset>
      <h2>Card Options</h2>
      <div class="is-gift">
        <label for="IsGift">Is this a gift?</label>
        <span><input type="radio" name="IsGift" value="Yes"><span>Yes</span></span>
        <span><input type="radio" name="IsGift" value="No" checked><span>No</span></span>
      </div>

      <div class="recipient hidden">
        <label for="Recipient">Who is this for?</label>
        <input name="Recipient" placeholder="ex. Mom">
      </div>

      <h2>Instructions</h2>
      <div>
        <ol style="list-style-type: decimal; margin-left: 20px">
        <li>Click download to save (or share to send).</li>
        <li>Print and fold in half.</li>
        </ol>
      </div>

      <div>
        <button class="download" type="button">Download</button>
        <button class="share" style="margin-left:10px" type="button">Share</button>
      </div>

      <div class="share-options" style="display:none">
        <h2>Share</h2>
        <div class="social-icons">
            <a href="https://www.facebook.com/skullysystems" target="_blank" title="Skully Helmets, Inc" class="social-facebook">
                <img src="{{ urlFor("/img/social/facebook.png") }}">
            </a>
            <a href="http://www.twitter.com/skullysystems" target="_blank" title="SKULLY HELMETS" class="social-twitter">
                <img src="{{ urlFor("/img/social/twitter.png") }}">
            </a>
            <a href="https://plus.google.com/112776474651298122010/posts" target="_blank" title="Marcus Weller" class="social-google">
                <img src="{{ urlFor("/img/social/google-plus.png") }}">
            </a>
        </div>
      </div>

    </fieldset>
  </div>

  <div class="card-preview" class="">
    <div class="preview-area">
      <div class="loading-spinner"></div>
      <img class="placeholder hidden" src="{{ urlFor("img/skullycard.png") }}">
      <img id="skully-card" class="hidden none" src="">
      <img id="gift-card" class="hidden none" src="">
    </div>
  </div>
</div>
{% endblock %}
