@import "node_modules/jeet/stylus/jeet"
@import "node_modules/rupture/rupture"

@import "shake"

// GUT UT DA WAY
jeet.gutter = 0px

bbox()
  box-sizing: border-box

rcol(ratios = 1, offset = 0, cycle = 0, uncycle = 0, gutter = jeet.gutter)
  col(ratios, offset, cycle, uncycle, gutter)
  float: right

col-stack(ratios = 1, threshold = 600px, offset = 0, cycle = 0, uncycle = 0, gutter = jeet.gutter)
  col(ratios, offset, cycle, uncycle, gutter)
  +below(threshold)
    stack()

menu(float-side=left)
  float: float-side
  margin: 0
  padding: 0

  > li
    float: float-side

  >li:first-child
    if float-side == left
      margin-left: -21px
    else
      margin-right: -21px

  list-style-type: none
  list-style-image: none;
  list-style-position: outside;

  ul
    list-style-type: none
    list-style-image: none;
    list-style-position: outside;

search(float-side=right)
  float: float-side !important
  margin-right: -15px;
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: 0;
  box-shadow: none;

