{% extends "base.html" %}

{% block content_header %}
<div class="banner-image content-fill" style="overflow: hidden;">
    <img data-src="https://static.squarespace.com/static/53dd2a15e4b06cbe07110bd5/t/544a9f13e4b0f2ea4e14e7d0/1414176532379/140810%20Hero%20V37%20Exports.Still046.jpg" data-image="http://static.squarespace.com/static/53dd2a15e4b06cbe07110bd5/t/544a9f13e4b0f2ea4e14e7d0/1414176532379/140810%20Hero%20V37%20Exports.Still046.jpg" data-image-dimensions="1000x562" data-image-focal-point="0.5433884297520661,0.15441176470588236" alt="140810 Hero V37 Exports.Still046.jpg" class="" src="https://static.squarespace.com/static/53dd2a15e4b06cbe07110bd5/t/544a9f13e4b0f2ea4e14e7d0/1414176532379/140810%20Hero%20V37%20Exports.Still046.jpg?format=1500w" style="top: 0px; left: 0px; width: 1044px; height: 587px; position: relative; transform: translate3d(0px, 0px, 0px);" data-image-resolution="1500w">
</div>

<div class="title-desc-wrapper has-main-image" data-content-field="main-image">
    <div class="title-desc-inner" data-collection-id="544a2657e4b0ff95316b8ea0">
        <h1 class="page-title" data-shrink-original-size="33" style="letter-spacing: 0.212121212121212em;">STORE</h1>
        <br>
        <!-- <div class="page-desc"><p>Pre-order now and become part of SKULLY Nation.</p></div> -->
    </div>
</div>
{% endblock %}

{% block content %}
<div id="productList">
    {% for product in products %}
    <a href="/products/{{ product.Slug }}" class="product hentry post-type-store-item article-index-1" id="thumb-skully-{{ product.Slug }}">
        <div>
            <div class="product-image">
                <div class="intrinsic">
                    <div style="overflow: hidden;">
                      <img data-image="{{ product.DisplayImage().Url }}" data-image-dimensions="1000x1000" data-image-focal-point="0.5,0.5" data-load="false" alt="{{ product.DisplayImage().Url }}" class="loaded" src="{{ product.DisplayImage().Url }}" data-image-resolution="500w" style="top: 0px; left: 0px; width: 301px; height: 301px; position: relative;">
                    </div>
                </div>
            </div>

            <div class="product-overlay">
                <div class="product-meta">
                  <div class="product-title">{{ product.Title }}</div>
                  <div class="product-price">
                      <span class="sqs-money-native">{{ product.DisplayPrice() }}</span>
                  </div>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
