<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %} {{ siteTitle }} {% endblock %}</title>

    {% block canonical_link %}
    <link rel="canonical" href="{{ moduleUrl("store") }}">
    {% endblock %}

    {% block meta %}
    <meta property="og:site_name" content="{{ siteTitle }}">
    <meta property="og:title" content="{{ siteTitle }}">
    <meta property="og:url" content="{{ moduleUrl("store") }}">
    <meta itemprop="name" content="{{ product.Title }}">
    <meta itemprop="url" content="{{ moduleUrl("store") }}">
    {% endblock %}

    <link rel="shortcut icon" type="image/x-icon" href="{{ staticUrl }}/favicon.ico">

    <!--[if lt IE 9]>
    <script src="{{ staticUrl }}/js/html5-shiv.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ staticUrl }}/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ staticUrl }}/css/store.css">
    {% block css %}{% endblock %}

    <!--FONTS-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Michroma:400,400italic,700normal,700italic|PT+Serif:400,400italic,700normal,700italic"/>
    <script src="//use.typekit.net/uye2ojv.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!--JS-->
    <script type="text/javascript" src="{{ staticUrl }}/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ staticUrl }}/js/jquery.ba-throttle-debounce.min.js"></script>
    <script type="text/javascript" src="{{ staticUrl }}/js/jquery.cookie.min.js"></script>

    <!--OUR JS-->
    <script type="text/javascript" src="{{ staticUrl }}/js/store.js"></script>
  </head>
  <body>
    <!--WRAPPER-->
    <div class="site">
      <!--HEADER-->
      <header class="header">
        <div class="title-nav">
          <a href="http://www.skullysystems.com/">
            <img class="logo" src="{{ staticUrl }}/img/skully.png" alt="SKULLY AR-1">
          </a>
          <nav class="nav">
            <ul class="links">
              <li class="link">
                <a href="http://www.skullysystems.com/">HOME</a>
              </li>
              <li class="link">
                <a href="http://blog.skullysystems.com/">BLOG</a>
              </li>
              <li class="link">
                <a href="http://www.skullysystems.com/career">CAREER</a>
              </li>
              <li class="link">
                <a href="http://www.skullysystems.com/faq/">FAQ</a>
              </li>
              <li class="link">
                <a href="http://forum.skullysystems.com/">FORUM</a>
              </li>
              <li class="link">
                <a class="current" href="/store/">STORE</a>
              </li>
              <li class="link">
                <a class="big" href="/store/products/ar-1">GET YOUR AR-1</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <!--CONTENT HEADER-->
      <section class="content-header">
        {% block content_header %}<h1>Get the Gear</h1>{% endblock %}
      </section>
      <!--CONTENT-->
      <section class="content">
        {% block content %}
        <div class="item">
          <div class="product-viewer">
            <img class="thumbnail" src="{{ staticUrl }}/img/glossywhitear1.jpg">
          </div>
          <div class="product-text">
            <div class="product-title">
              <h1 class="product-name">Skully AR-1</h1>
              <h2 class="product-cost">$1499.00</h2>
            </div>
            <div class="product-body">
              <div class="product-description">
                <p>Sleep nap hide when guests come over has closed
                  eyes but still sees you rub face on everything, but chase ball
                  of string and hunt anything that moves, for always hungry.
                  Behind the couch. Who's the baby sleep on keyboard pooping
                  rainbow while flying in a toasted bread costume in space but
                  throwup on your pillow. Run in circles intently stare at the
                  same spot, and under the bed eat grass, throw it back up so
                  love to play with owner's hair tie.</p>
              </div>
              <div class="product-config">
                <label for="color">Color:</label>
                <select name="color">
                  <option selected disabled>Select Color</option>
                  <option value="Matte Black">Matte Black</option>
                  <option value="Glossy White">Glossy White</option>
                </select>
                <label for="size">Size:</label>
                <select name="size">
                  <option selected disabled>Select Size</option>
                  <option value="S">S</option>
                  <option value="M">M</option>
                  <option value="L">L</option>
                  <option value="XL">XL</option>
                </select>
                <div class="grid">
                  <div class="col-2-3">
                    <label for="quantity">Quantity:</label>
                    <input name="quantity" type="number" min="0" value="1">
                  </div>
                  <div class="col-1-3">
                    <div class="add-to-cart">
                      <span>Add to Cart</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endblock %}
      </section>
    </div>
  </body>
</html>
