<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %} {{ siteTitle }} {% endblock %}</title>

    {% block canonical_link %}
    <link rel="canonical" href="{{ moduleUrl("store") }}">
    {% endblock %}

    {% block meta %}
    <meta property="og:site_name" content="{{ siteTitle }}">
    <meta property="og:title" content="{{ siteTitle }}">
    <meta property="og:url" content="{{ moduleUrl("store") }}">
    <meta itemprop="name" content="{{ product.Title }}">
    <meta itemprop="url" content="{{ moduleUrl("store") }}">
    {% endblock %}

    <link rel="shortcut icon" type="image/x-icon" href="{{ staticUrl }}/favicon.ico">

    <!--[if lt IE 9]>
    <script src="{{ staticUrl }}/js/html5-shiv.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ staticUrl }}/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ staticUrl }}/css/store.css">
    {% block css %}{% endblock %}

    <!--FONTS-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Michroma:400,400italic,700normal,700italic|PT+Serif:400,400italic,700normal,700italic"/>
    <script src="//use.typekit.net/uye2ojv.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!--JS-->
    <script type="text/javascript" src="{{ staticUrl }}/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ staticUrl }}/js/jquery.ba-throttle-debounce.min.js"></script>
    <script type="text/javascript" src="{{ staticUrl }}/js/jquery.cookie.min.js"></script>

    <!--OUR JS-->
    <script type="text/javascript" src="{{ staticUrl }}/js/store.js"></script>
  </head>
  <body>
    <!--WRAPPER-->
    <div class="site-wrapper">
      <!--HEADER-->
      <div class="header-wrapper">
        <header class="header">
          <div class="title-nav-wrapper">
            <img src="{{ staticUrl }}/img/skully.png" alt="SKULLY AR-1">
        </header>
      </div>
    </div>
  </body>
</html>
