{% extends "base.html" %}

{% block name %}Connect{% endblock %}
{% block desc %}to your payment processing account.{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/css/stripe.css"/>
{% endblock %}

{% block content %}
  <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id={{ clientid }}&scope=read_write&state=movetoserver&stripe_landing=login" class="stripe-connect"><span>Connect with Stripe</span></a>
{% endblock %}

{% block js %}
{% endblock %}