openapi: 3.1.0
info:
  title: Hanzo Commerce Billing API
  description: |
    Stripe-replacement payment platform with multi-processor support, crypto payments,
    network tokenization, PCI-compliant vault, and full billing lifecycle.

    ## Authentication

    All endpoints require a Bearer token (org-scoped admin JWT or API key):
    ```
    Authorization: Bearer <token>
    ```

    ## Multi-Tenancy

    Requests are scoped to the authenticated organization namespace. The org is
    resolved from the JWT `owner` claim or the `X-Hanzo-Org` header.

    ## Processors

    Nine payment processors are supported: Stripe, Square, PayPal, Adyen, Braintree,
    Recurly, LemonSqueezy, Bitcoin, and Ethereum. Processor selection is automatic
    based on payment method type and org configuration.

    ## Amounts

    All monetary amounts are in the smallest currency unit (cents for USD).
    Positive amounts represent credits; negative amounts represent debits.
  version: 2.0.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
  license:
    name: Proprietary
    url: https://hanzo.ai/terms

servers:
  - url: https://commerce.hanzo.ai/api/v1/billing
    description: Production
  - url: https://commerce.staging.hanzo.ai/api/v1/billing
    description: Staging
  - url: http://localhost:8090/api/v1/billing
    description: Local development

tags:
  - name: Payment Intents
    description: |
      Create and manage payment flows. State machine:
      `requires_payment_method` -> `requires_confirmation` -> `processing` ->
      `requires_capture` | `succeeded` -> `canceled`
  - name: Setup Intents
    description: Save a payment method for future off-session use without charging.
  - name: Payment Methods
    description: Customer payment instruments (cards, bank accounts, wallets).
  - name: Customers
    description: Customer management and default payment method configuration.
  - name: Refunds
    description: Full or partial reversal of a previous payment.
  - name: Disputes
    description: Customer challenges (chargebacks) against charges.
  - name: Customer Balance
    description: Stored-value customer balances and adjustment transactions.
  - name: Bank Transfers
    description: Inbound bank transfer instructions, reconciliation, and matching.
  - name: Crypto Non-Custodial
    description: On-chain payment intents for non-custodial crypto payments.
  - name: Crypto Custodial
    description: Custodial crypto accounts, transfers, payouts, and refunds.
  - name: Network Tokens
    description: EMVCo network token (DPAN) lifecycle management via TSPs.
  - name: Vault
    description: PCI-compliant Card Data Environment (CDE) for tokenization. Internal only.
  - name: Subscriptions
    description: Recurring billing lifecycle with plan management.
  - name: Invoices
    description: |
      Billing invoices with line items and status lifecycle:
      `draft` -> `open` -> `paid` | `void` | `uncollectible`
  - name: Credit Notes
    description: Credits issued against invoices, applied to balance or refunded.
  - name: Meters
    description: Usage meter definitions and event recording for usage-based billing.
  - name: Webhooks
    description: Webhook event types and endpoint management.

security:
  - bearerAuth: []

paths:
  # =====================================================================
  # A) PAYMENT INTENTS
  # =====================================================================
  /payment-intents:
    post:
      tags: [Payment Intents]
      summary: Create a payment intent
      operationId: createPaymentIntent
      description: |
        Creates a new PaymentIntent. The intent starts in `requires_payment_method`
        status. If `paymentMethodId` is provided and `confirmationMethod` is
        `automatic`, the intent moves to `processing` immediately.

        **State machine:**
        ```
        requires_payment_method
          -> requires_confirmation (if confirmationMethod=manual)
          -> processing
          -> requires_capture (if captureMethod=manual)
          -> succeeded
        Any non-terminal state -> canceled
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentIntentRequest'
      responses:
        '201':
          description: Payment intent created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
        '400':
          $ref: '#/components/responses/BadRequest'

    get:
      tags: [Payment Intents]
      summary: List payment intents
      operationId: listPaymentIntents
      parameters:
        - name: customerId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of payment intents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentIntent'

  /payment-intents/{id}:
    get:
      tags: [Payment Intents]
      summary: Retrieve a payment intent
      operationId: getPaymentIntent
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Payment intent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
        '404':
          $ref: '#/components/responses/NotFound'

  /payment-intents/{id}/confirm:
    post:
      tags: [Payment Intents]
      summary: Confirm a payment intent
      operationId: confirmPaymentIntent
      description: |
        Transitions the intent from `requires_payment_method` or
        `requires_confirmation` to `processing`. A `paymentMethodId` can
        optionally be provided at confirmation time.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmPaymentIntentRequest'
      responses:
        '200':
          description: Payment intent confirmed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /payment-intents/{id}/capture:
    post:
      tags: [Payment Intents]
      summary: Capture a payment intent
      operationId: capturePaymentIntent
      description: |
        Captures a previously authorized payment intent (status `requires_capture`).
        Optionally specify a partial capture amount. If omitted, the full
        `amountCapturable` is captured. Transitions to `succeeded`.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CapturePaymentIntentRequest'
      responses:
        '200':
          description: Payment intent captured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /payment-intents/{id}/cancel:
    post:
      tags: [Payment Intents]
      summary: Cancel a payment intent
      operationId: cancelPaymentIntent
      description: |
        Cancels a payment intent. Valid from any non-terminal status
        (`requires_payment_method`, `requires_confirmation`, `requires_action`,
        `processing`, `requires_capture`). Cannot cancel `succeeded` or
        already `canceled` intents.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelPaymentIntentRequest'
      responses:
        '200':
          description: Payment intent canceled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  # =====================================================================
  # B) SETUP INTENTS
  # =====================================================================
  /setup-intents:
    post:
      tags: [Setup Intents]
      summary: Create a setup intent
      operationId: createSetupIntent
      description: |
        Creates a SetupIntent for saving a payment method for future off-session
        charges. Starts in `requires_payment_method` status.

        **State machine:**
        ```
        requires_payment_method -> requires_confirmation -> processing -> succeeded
        Any non-terminal -> canceled
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSetupIntentRequest'
      responses:
        '201':
          description: Setup intent created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetupIntent'
        '400':
          $ref: '#/components/responses/BadRequest'

  /setup-intents/{id}:
    get:
      tags: [Setup Intents]
      summary: Retrieve a setup intent
      operationId: getSetupIntent
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Setup intent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetupIntent'
        '404':
          $ref: '#/components/responses/NotFound'

  /setup-intents/{id}/confirm:
    post:
      tags: [Setup Intents]
      summary: Confirm a setup intent
      operationId: confirmSetupIntent
      description: |
        Transitions from `requires_payment_method` or `requires_confirmation`
        to `processing`, then `succeeded` once the payment method is verified
        and saved.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmSetupIntentRequest'
      responses:
        '200':
          description: Setup intent confirmed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetupIntent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /setup-intents/{id}/cancel:
    post:
      tags: [Setup Intents]
      summary: Cancel a setup intent
      operationId: cancelSetupIntent
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelSetupIntentRequest'
      responses:
        '200':
          description: Setup intent canceled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetupIntent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  # =====================================================================
  # C) CUSTOMERS + PAYMENT METHODS
  # =====================================================================
  /customers:
    post:
      tags: [Customers]
      summary: Create a customer
      operationId: createCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
      responses:
        '201':
          description: Customer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/BadRequest'

  /customers/{id}:
    patch:
      tags: [Customers]
      summary: Update a customer
      operationId: updateCustomer
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerRequest'
      responses:
        '200':
          description: Customer updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '404':
          $ref: '#/components/responses/NotFound'

    get:
      tags: [Customers]
      summary: Retrieve a customer
      operationId: getCustomer
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Customer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '404':
          $ref: '#/components/responses/NotFound'

  /customers/{id}/payment-methods:
    get:
      tags: [Payment Methods]
      summary: List payment methods for a customer
      operationId: listCustomerPaymentMethods
      parameters:
        - $ref: '#/components/parameters/ResourceId'
        - name: type
          in: query
          description: Filter by payment method type
          schema:
            type: string
            enum: [card, bank_account, balance]
      responses:
        '200':
          description: List of payment methods
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentMethod'

  /customers/{id}/payment-methods/attach:
    post:
      tags: [Payment Methods]
      summary: Attach a payment method to a customer
      operationId: attachPaymentMethod
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentMethodRequest'
      responses:
        '201':
          description: Payment method attached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'
        '400':
          $ref: '#/components/responses/BadRequest'

  /customers/{id}/default-payment-method:
    post:
      tags: [Payment Methods]
      summary: Set default payment method for a customer
      operationId: setDefaultPaymentMethod
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [paymentMethodId]
              properties:
                paymentMethodId:
                  type: string
                  description: ID of the payment method to set as default
      responses:
        '200':
          description: Default payment method set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'
        '404':
          $ref: '#/components/responses/NotFound'

  /payment-methods:
    post:
      tags: [Payment Methods]
      summary: Create a payment method
      operationId: createPaymentMethod
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentMethodRequest'
      responses:
        '201':
          description: Payment method created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'
        '400':
          $ref: '#/components/responses/BadRequest'

    get:
      tags: [Payment Methods]
      summary: List payment methods
      operationId: listPaymentMethods
      parameters:
        - name: customerId
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
            enum: [card, bank_account, balance]
      responses:
        '200':
          description: List of payment methods
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentMethod'

  /payment-methods/{id}:
    get:
      tags: [Payment Methods]
      summary: Retrieve a payment method
      operationId: getPaymentMethod
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Payment method details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Payment Methods]
      summary: Update a payment method
      operationId: updatePaymentMethod
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePaymentMethodRequest'
      responses:
        '200':
          description: Payment method updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Payment Methods]
      summary: Detach (soft-delete) a payment method
      operationId: detachPaymentMethod
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Payment method detached
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
                  id:
                    type: string
        '404':
          $ref: '#/components/responses/NotFound'

  # =====================================================================
  # D) MONEY LIFECYCLE - REFUNDS & DISPUTES
  # =====================================================================
  /refunds:
    post:
      tags: [Refunds]
      summary: Create a refund
      operationId: createRefund
      description: |
        Creates a full or partial refund against a payment intent or invoice.
        If `amount` is 0 or omitted, a full refund is issued.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefundRequest'
      responses:
        '201':
          description: Refund created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '400':
          $ref: '#/components/responses/BadRequest'

    get:
      tags: [Refunds]
      summary: List refunds
      operationId: listRefunds
      parameters:
        - name: paymentIntentId
          in: query
          schema:
            type: string
        - name: invoiceId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of refunds
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Refund'

  /refunds/{id}:
    get:
      tags: [Refunds]
      summary: Retrieve a refund
      operationId: getRefund
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Refund details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '404':
          $ref: '#/components/responses/NotFound'

  /disputes:
    get:
      tags: [Disputes]
      summary: List disputes
      operationId: listDisputes
      parameters:
        - name: paymentIntentId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of disputes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dispute'

  /disputes/{id}:
    get:
      tags: [Disputes]
      summary: Retrieve a dispute
      operationId: getDispute
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Dispute details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Disputes]
      summary: Submit evidence for a dispute
      operationId: submitDisputeEvidence
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisputeEvidence'
      responses:
        '200':
          description: Evidence submitted, dispute moves to under_review
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'
        '404':
          $ref: '#/components/responses/NotFound'

  /disputes/{id}/close:
    post:
      tags: [Disputes]
      summary: Close a dispute (accept loss)
      operationId: closeDispute
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Dispute closed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'
        '404':
          $ref: '#/components/responses/NotFound'

  # =====================================================================
  # E) WEBHOOKS
  # =====================================================================
  /webhook-endpoints:
    post:
      tags: [Webhooks]
      summary: Create a webhook endpoint
      operationId: createWebhookEndpoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookEndpointRequest'
      responses:
        '201':
          description: Webhook endpoint created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        '400':
          $ref: '#/components/responses/BadRequest'

    get:
      tags: [Webhooks]
      summary: List webhook endpoints
      operationId: listWebhookEndpoints
      responses:
        '200':
          description: List of webhook endpoints
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookEndpoint'

  /webhook-endpoints/{id}:
    get:
      tags: [Webhooks]
      summary: Retrieve a webhook endpoint
      operationId: getWebhookEndpoint
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Webhook endpoint details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Webhooks]
      summary: Update a webhook endpoint
      operationId: updateWebhookEndpoint
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookEndpointRequest'
      responses:
        '200':
          description: Webhook endpoint updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Webhooks]
      summary: Delete a webhook endpoint
      operationId: deleteWebhookEndpoint
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Webhook endpoint deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
                  id:
                    type: string

  # =====================================================================
  # F) BANK TRANSFERS
  # =====================================================================
  /bank-transfer-instructions:
    post:
      tags: [Bank Transfers]
      summary: Create bank transfer instructions
      operationId: createBankTransferInstruction
      description: |
        Issues bank account details to a customer for receiving inbound
        ACH/wire/SEPA transfers. Each instruction carries a unique payment
        reference used for reconciliation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBankTransferInstructionRequest'
      responses:
        '201':
          description: Bank transfer instruction created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankTransferInstruction'
        '400':
          $ref: '#/components/responses/BadRequest'

    get:
      tags: [Bank Transfers]
      summary: List bank transfer instructions
      operationId: listBankTransferInstructions
      parameters:
        - name: customerId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [active, expired]
      responses:
        '200':
          description: List of bank transfer instructions
          content:
            application/json:
              schema:
                type: object
                properties:
                  instructions:
                    type: array
                    items:
                      $ref: '#/components/schemas/BankTransferInstruction'
                  count:
                    type: integer

  /bank-transfer-instructions/{id}:
    get:
      tags: [Bank Transfers]
      summary: Retrieve a bank transfer instruction
      operationId: getBankTransferInstruction
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Bank transfer instruction details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankTransferInstruction'
        '404':
          $ref: '#/components/responses/NotFound'

  /reconciliation/match:
    post:
      tags: [Bank Transfers]
      summary: Reconcile an inbound bank transfer
      operationId: reconcileInboundTransfer
      description: |
        Matches an incoming bank transfer by its unique payment reference and
        credits the customer's balance. Called by bank webhook or manual
        reconciliation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReconcileRequest'
      responses:
        '200':
          description: Transfer matched and balance credited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReconcileResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /reconciliation/auto:
    post:
      tags: [Bank Transfers]
      summary: Trigger automatic reconciliation
      operationId: autoReconcile
      description: |
        Scans pending inbound transfers and attempts to match them against
        active bank transfer instructions by reference. Matched transfers
        are credited to the corresponding customer balance.
      responses:
        '200':
          description: Auto-reconciliation results
          content:
            application/json:
              schema:
                type: object
                properties:
                  matched:
                    type: integer
                  unmatched:
                    type: integer

  /reconciliation/manual_match:
    post:
      tags: [Bank Transfers]
      summary: Manually match a transfer to a customer
      operationId: manualMatch
      description: |
        Manually assigns an unmatched inbound transfer to a customer.
        Use when automatic reference matching fails.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [transferId, customerId]
              properties:
                transferId:
                  type: string
                customerId:
                  type: string
                amount:
                  type: integer
                  format: int64
                currency:
                  type: string
      responses:
        '200':
          description: Transfer manually matched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReconcileResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /inbound_transfers/webhook:
    post:
      tags: [Bank Transfers]
      summary: Receive inbound transfer notification
      operationId: inboundTransferWebhook
      description: |
        Webhook endpoint for bank partners to notify of incoming transfers.
        The payload is validated against the bank's signing key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reference:
                  type: string
                amount:
                  type: integer
                  format: int64
                currency:
                  type: string
                bankReference:
                  type: string
                timestamp:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Transfer notification acknowledged
          content:
            application/json:
              schema:
                type: object
                properties:
                  received:
                    type: boolean

  # =====================================================================
  # F-cont) CUSTOMER BALANCE
  # =====================================================================
  /customer-balance:
    get:
      tags: [Customer Balance]
      summary: Get customer balance
      operationId: getCustomerBalance
      parameters:
        - name: customerId
          in: query
          required: true
          schema:
            type: string
        - name: currency
          in: query
          schema:
            type: string
            default: usd
      responses:
        '200':
          description: Customer balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerBalance'
        '400':
          $ref: '#/components/responses/BadRequest'

  /customer-balance/adjustments:
    post:
      tags: [Customer Balance]
      summary: Adjust customer balance
      operationId: adjustCustomerBalance
      description: |
        Manually adjusts a customer's stored-value balance. Positive amounts
        add credit; negative amounts debit.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdjustBalanceRequest'
      responses:
        '200':
          description: Balance adjusted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceTransaction'
        '400':
          $ref: '#/components/responses/BadRequest'

  /balance-transactions:
    get:
      tags: [Customer Balance]
      summary: List balance transactions
      operationId: listBalanceTransactions
      parameters:
        - name: customerId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of balance transactions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BalanceTransaction'

  # =====================================================================
  # G) CRYPTO NON-CUSTODIAL
  # =====================================================================
  /crypto/payment-intents:
    post:
      tags: [Crypto Non-Custodial]
      summary: Create a crypto payment intent
      operationId: createCryptoPaymentIntent
      description: |
        Creates a non-custodial crypto payment intent. A unique deposit address
        is generated per payment. The intent expires after the configured
        timeout (default 30 minutes).

        **State machine:**
        ```
        pending -> confirming -> succeeded
        pending -> expired
        confirming -> failed
        succeeded -> refunded
        ```

        **Webhook events:** `crypto.pi.pending`, `crypto.pi.confirmed`,
        `crypto.pi.failed`, `crypto.pi.expired`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCryptoPaymentIntentRequest'
      responses:
        '201':
          description: Crypto payment intent created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoPaymentIntent'
        '400':
          $ref: '#/components/responses/BadRequest'

  /crypto/payment-intents/{id}:
    get:
      tags: [Crypto Non-Custodial]
      summary: Retrieve a crypto payment intent
      operationId: getCryptoPaymentIntent
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Crypto payment intent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoPaymentIntent'
        '404':
          $ref: '#/components/responses/NotFound'

  # =====================================================================
  # H) CRYPTO CUSTODIAL
  # =====================================================================
  /crypto/accounts:
    post:
      tags: [Crypto Custodial]
      summary: Create a custodial crypto account
      operationId: createCryptoAccount
      description: |
        Creates a managed custodial wallet for a customer. Supports multiple
        chains and tokens.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCryptoAccountRequest'
      responses:
        '201':
          description: Crypto account created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoAccount'
        '400':
          $ref: '#/components/responses/BadRequest'

  /crypto/accounts/{id}/balance:
    get:
      tags: [Crypto Custodial]
      summary: Get custodial account balance
      operationId: getCryptoAccountBalance
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Account balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoBalance'
        '404':
          $ref: '#/components/responses/NotFound'

  /crypto/transfers:
    post:
      tags: [Crypto Custodial]
      summary: Transfer between custodial accounts
      operationId: createCryptoTransfer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCryptoTransferRequest'
      responses:
        '201':
          description: Transfer initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoTransfer'
        '400':
          $ref: '#/components/responses/BadRequest'

  /crypto/payouts:
    post:
      tags: [Crypto Custodial]
      summary: Payout from custodial account to external address
      operationId: createCryptoPayout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCryptoPayoutRequest'
      responses:
        '201':
          description: Payout initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoPayout'
        '400':
          $ref: '#/components/responses/BadRequest'

  /crypto/refunds:
    post:
      tags: [Crypto Custodial]
      summary: Refund a crypto payment on-chain
      operationId: createCryptoRefund
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCryptoRefundRequest'
      responses:
        '201':
          description: Crypto refund initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoRefund'
        '400':
          $ref: '#/components/responses/BadRequest'

  # =====================================================================
  # I) NETWORK TOKENS
  # =====================================================================
  /network-tokens/provision:
    post:
      tags: [Network Tokens]
      summary: Provision a network token
      operationId: provisionNetworkToken
      description: |
        Provisions an EMVCo network token (DPAN) through the appropriate
        Token Service Provider (Visa VTS, Mastercard MDES, Amex). The card
        must already be tokenized in the Vault.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvisionNetworkTokenRequest'
      responses:
        '201':
          description: Network token provisioned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkToken'
        '400':
          $ref: '#/components/responses/BadRequest'

  /network-tokens/{id}:
    get:
      tags: [Network Tokens]
      summary: Retrieve a network token
      operationId: getNetworkToken
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Network token details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkToken'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Network Tokens]
      summary: Delete a network token
      operationId: deleteNetworkToken
      description: Permanently deletes the network token at the TSP.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Network token deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkToken'
        '400':
          $ref: '#/components/responses/BadRequest'

  /network-tokens/{id}/suspend:
    post:
      tags: [Network Tokens]
      summary: Suspend a network token
      operationId: suspendNetworkToken
      description: |
        Suspends an active network token (e.g., lost card). Only active
        tokens can be suspended.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Network token suspended
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkToken'
        '400':
          $ref: '#/components/responses/BadRequest'

  /network-tokens/{id}/resume:
    post:
      tags: [Network Tokens]
      summary: Resume a suspended network token
      operationId: resumeNetworkToken
      description: |
        Reactivates a suspended network token. Only suspended tokens
        can be resumed.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Network token resumed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkToken'
        '400':
          $ref: '#/components/responses/BadRequest'

  # =====================================================================
  # J) VAULT (CDE, internal only)
  # =====================================================================
  /vault/payment-methods:
    post:
      tags: [Vault]
      summary: Tokenize a payment method
      operationId: vaultTokenize
      description: |
        Tokenizes raw card/bank data into a vault token (`pm_tok_...`).
        The raw PAN is encrypted at rest and never returned after creation.
        **Internal CDE endpoint -- not exposed to public API.**
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VaultTokenizeRequest'
      responses:
        '201':
          description: Payment method tokenized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultToken'
        '400':
          $ref: '#/components/responses/BadRequest'

  /vault/payment-methods/{pm_tok}:
    get:
      tags: [Vault]
      summary: Retrieve vault token metadata
      operationId: vaultGetMetadata
      description: |
        Returns metadata only (last4, brand, expiry). Never returns the
        full PAN or CVV.
      parameters:
        - name: pm_tok
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Token metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultTokenMetadata'
        '404':
          $ref: '#/components/responses/NotFound'

  /vault/payment-methods/{pm_tok}/detokenize:
    post:
      tags: [Vault]
      summary: Detokenize (restricted)
      operationId: vaultDetokenize
      description: |
        Returns the full PAN for processor forwarding. **Restricted to
        internal processor service accounts only.** Access is audit-logged.
      parameters:
        - name: pm_tok
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Detokenized card data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultDetokenized'
        '403':
          description: Forbidden -- insufficient privileges
        '404':
          $ref: '#/components/responses/NotFound'

  /vault/payment-methods/{pm_tok}/delete:
    post:
      tags: [Vault]
      summary: Delete a vault token
      operationId: vaultDelete
      description: Permanently deletes the tokenized card data from the vault.
      parameters:
        - name: pm_tok
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Token deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
                  token:
                    type: string

  /vault/keys/rotate:
    post:
      tags: [Vault]
      summary: Rotate vault encryption keys
      operationId: vaultRotateKeys
      description: |
        Triggers a key rotation. All existing tokens are re-encrypted with
        the new key. **Admin only, audit-logged.**
      responses:
        '200':
          description: Key rotation initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [rotating, completed]
                  rotatedCount:
                    type: integer

  # =====================================================================
  # K) BILLING - SUBSCRIPTIONS
  # =====================================================================
  /subscriptions:
    post:
      tags: [Subscriptions]
      summary: Create a subscription
      operationId: createSubscription
      description: |
        Creates a new subscription and starts the billing lifecycle.
        The subscription begins in `active` (or `trialing` if the plan
        has a trial period).

        **Status lifecycle:**
        `trialing` -> `active` -> `past_due` -> `canceled` | `unpaid`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubscriptionRequest'
      responses:
        '201':
          description: Subscription created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Plan not found

    get:
      tags: [Subscriptions]
      summary: List subscriptions
      operationId: listSubscriptions
      parameters:
        - name: userId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [trialing, active, past_due, canceled, unpaid]
      responses:
        '200':
          description: List of subscriptions
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Subscription'
                  count:
                    type: integer

  /subscriptions/{id}:
    get:
      tags: [Subscriptions]
      summary: Retrieve a subscription
      operationId: getSubscription
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Subscriptions]
      summary: Update a subscription
      operationId: updateSubscription
      description: |
        Updates a subscription's plan, quantity, or both. Plan changes
        can optionally be prorated.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriptionRequest'
      responses:
        '200':
          description: Subscription updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /subscriptions/{id}/cancel:
    post:
      tags: [Subscriptions]
      summary: Cancel a subscription
      operationId: cancelSubscription
      description: |
        Cancels a subscription. By default cancels at period end
        (`atPeriodEnd: true`). Set `atPeriodEnd: false` for immediate
        cancellation.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelSubscriptionRequest'
      responses:
        '200':
          description: Subscription canceled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  # =====================================================================
  # K) BILLING - INVOICES
  # =====================================================================
  /invoices:
    post:
      tags: [Invoices]
      summary: Create a draft invoice
      operationId: createInvoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvoiceRequest'
      responses:
        '201':
          description: Invoice created in draft status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingInvoice'
        '400':
          $ref: '#/components/responses/BadRequest'

    get:
      tags: [Invoices]
      summary: List invoices
      operationId: listInvoices
      parameters:
        - name: userId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, open, paid, void, uncollectible]
        - name: subscriptionId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of invoices
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    items:
                      $ref: '#/components/schemas/BillingInvoice'
                  count:
                    type: integer

  /invoices/upcoming:
    get:
      tags: [Invoices]
      summary: Preview the next invoice
      operationId: upcomingInvoice
      description: |
        Generates a preview of the next invoice for a user, including
        aggregated usage line items and credit burn-down.
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: string
        - name: subscriptionId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Upcoming invoice preview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpcomingInvoice'

  /invoices/{id}:
    get:
      tags: [Invoices]
      summary: Retrieve an invoice
      operationId: getInvoice
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Invoice details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingInvoice'
        '404':
          $ref: '#/components/responses/NotFound'

  /invoices/{id}/finalize:
    post:
      tags: [Invoices]
      summary: Finalize a draft invoice
      operationId: finalizeInvoice
      description: |
        Transitions an invoice from `draft` to `open`. Computes AmountDue
        from subtotal + tax - discount - creditApplied. Only draft invoices
        can be finalized.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Invoice finalized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingInvoice'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /invoices/{id}/pay:
    post:
      tags: [Invoices]
      summary: Collect payment on an invoice
      operationId: payInvoice
      description: |
        Attempts to collect payment on an open invoice. Uses the configured
        payment method or burns credit balance. Transitions to `paid` on
        success.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Invoice payment result
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoice:
                    $ref: '#/components/schemas/BillingInvoice'
                  collection:
                    type: object
                    description: Collection result details
        '404':
          $ref: '#/components/responses/NotFound'

  /invoices/{id}/void:
    post:
      tags: [Invoices]
      summary: Void an invoice
      operationId: voidInvoice
      description: Voids a draft or open invoice. Cannot void paid invoices.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Invoice voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingInvoice'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  # =====================================================================
  # K) BILLING - CREDIT NOTES
  # =====================================================================
  /credit-notes:
    post:
      tags: [Credit Notes]
      summary: Create a credit note
      operationId: createCreditNote
      description: |
        Issues a credit note against an invoice. Credits can be applied to
        the customer's balance or refunded to the original payment method.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCreditNoteRequest'
      responses:
        '201':
          description: Credit note created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
        '400':
          $ref: '#/components/responses/BadRequest'

    get:
      tags: [Credit Notes]
      summary: List credit notes
      operationId: listCreditNotes
      parameters:
        - name: invoiceId
          in: query
          schema:
            type: string
        - name: customerId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of credit notes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CreditNote'

  /credit-notes/{id}:
    get:
      tags: [Credit Notes]
      summary: Retrieve a credit note
      operationId: getCreditNote
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Credit note details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
        '404':
          $ref: '#/components/responses/NotFound'

  /credit-notes/{id}/void:
    post:
      tags: [Credit Notes]
      summary: Void a credit note
      operationId: voidCreditNote
      description: Voids an issued credit note. Only issued credit notes can be voided.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Credit note voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  # =====================================================================
  # K) BILLING - METERS
  # =====================================================================
  /meter-events:
    post:
      tags: [Meters]
      summary: Record meter events
      operationId: recordMeterEvents
      description: |
        Records one or more usage meter events in a single batch (up to 100).
        Events with a duplicate `idempotency` key are silently skipped.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordMeterEventsRequest'
      responses:
        '201':
          description: Events recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        status:
                          type: string
                          enum: [created, duplicate]
                  count:
                    type: integer

  /meter-events/summary:
    get:
      tags: [Meters]
      summary: Get meter events summary
      operationId: getMeterEventsSummary
      description: |
        Returns aggregated usage for a meter, optionally filtered by user
        and time range. Aggregation type (sum, count, last) is determined
        by the meter definition.
      parameters:
        - name: meterId
          in: query
          required: true
          schema:
            type: string
        - name: userId
          in: query
          schema:
            type: string
        - name: periodStart
          in: query
          schema:
            type: string
            format: date-time
        - name: periodEnd
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Meter events summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeterEventsSummary'
        '404':
          description: Meter not found

  /meters:
    post:
      tags: [Meters]
      summary: Create a meter
      operationId: createMeter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMeterRequest'
      responses:
        '201':
          description: Meter created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meter'
        '400':
          $ref: '#/components/responses/BadRequest'

    get:
      tags: [Meters]
      summary: List meters
      operationId: listMeters
      responses:
        '200':
          description: List of meters
          content:
            application/json:
              schema:
                type: object
                properties:
                  meters:
                    type: array
                    items:
                      $ref: '#/components/schemas/Meter'
                  count:
                    type: integer

  /meters/{id}:
    get:
      tags: [Meters]
      summary: Retrieve a meter
      operationId: getMeter
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Meter details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meter'
        '404':
          $ref: '#/components/responses/NotFound'

  /meters/{id}/summary:
    get:
      tags: [Meters]
      summary: Get meter summary
      operationId: getMeterSummary
      description: Alias for /meter-events/summary with meterId pre-filled.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
        - name: userId
          in: query
          schema:
            type: string
        - name: periodStart
          in: query
          schema:
            type: string
            format: date-time
        - name: periodEnd
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Meter summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeterEventsSummary'

# =======================================================================
# COMPONENTS
# =======================================================================
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Org-scoped admin JWT or API key

  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Resource identifier

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Insufficient privileges
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    # ------------------------------------------------------------------
    # Common
    # ------------------------------------------------------------------
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string

    Metadata:
      type: object
      additionalProperties: true
      description: Arbitrary key-value metadata

    Address:
      type: object
      properties:
        line1:
          type: string
        line2:
          type: string
        city:
          type: string
        state:
          type: string
        postalCode:
          type: string
        country:
          type: string

    # ------------------------------------------------------------------
    # A) Payment Intents
    # ------------------------------------------------------------------
    PaymentIntent:
      type: object
      properties:
        id:
          type: string
        customerId:
          type: string
        amount:
          type: integer
          format: int64
          description: Amount in smallest currency unit (cents)
        currency:
          type: string
          description: Three-letter ISO currency code
          example: usd
        status:
          type: string
          enum:
            - requires_payment_method
            - requires_confirmation
            - requires_action
            - processing
            - requires_capture
            - succeeded
            - canceled
        paymentMethodId:
          type: string
        captureMethod:
          type: string
          enum: [automatic, manual]
          default: automatic
        confirmationMethod:
          type: string
          enum: [automatic, manual]
          default: automatic
        amountCapturable:
          type: integer
          format: int64
        amountReceived:
          type: integer
          format: int64
        description:
          type: string
        receiptEmail:
          type: string
          format: email
        providerRef:
          type: string
          description: External processor reference ID
        providerType:
          type: string
          description: Processor type (stripe, square, paypal, adyen, etc.)
        canceledAt:
          type: string
          format: date-time
        cancellationReason:
          type: string
        lastError:
          type: string
        clientSecret:
          type: string
          description: Client-side secret for confirming from the frontend
        invoiceId:
          type: string
        setupFutureUsage:
          type: string
          enum: [on_session, off_session, '']
        metadata:
          $ref: '#/components/schemas/Metadata'
        created:
          type: string
          format: date-time

    CreatePaymentIntentRequest:
      type: object
      required: [amount]
      properties:
        customerId:
          type: string
        amount:
          type: integer
          format: int64
          description: Amount in cents
          minimum: 1
        currency:
          type: string
          default: usd
        paymentMethodId:
          type: string
        captureMethod:
          type: string
          enum: [automatic, manual]
        confirmationMethod:
          type: string
          enum: [automatic, manual]
        setupFutureUsage:
          type: string
          enum: [on_session, off_session]
        description:
          type: string
        receiptEmail:
          type: string
          format: email
        invoiceId:
          type: string
        metadata:
          $ref: '#/components/schemas/Metadata'

    ConfirmPaymentIntentRequest:
      type: object
      properties:
        paymentMethodId:
          type: string

    CapturePaymentIntentRequest:
      type: object
      properties:
        amountToCapture:
          type: integer
          format: int64
          description: Partial capture amount. Omit for full capture.

    CancelPaymentIntentRequest:
      type: object
      properties:
        cancellationReason:
          type: string

    # ------------------------------------------------------------------
    # B) Setup Intents
    # ------------------------------------------------------------------
    SetupIntent:
      type: object
      properties:
        id:
          type: string
        customerId:
          type: string
        paymentMethodId:
          type: string
        status:
          type: string
          enum:
            - requires_payment_method
            - requires_confirmation
            - requires_action
            - processing
            - succeeded
            - canceled
        usage:
          type: string
          enum: [on_session, off_session]
          default: off_session
        providerRef:
          type: string
        providerType:
          type: string
        canceledAt:
          type: string
          format: date-time
        cancellationReason:
          type: string
        lastError:
          type: string
        clientSecret:
          type: string
        metadata:
          $ref: '#/components/schemas/Metadata'
        created:
          type: string
          format: date-time

    CreateSetupIntentRequest:
      type: object
      required: [customerId]
      properties:
        customerId:
          type: string
        paymentMethodId:
          type: string
        usage:
          type: string
          enum: [on_session, off_session]
          default: off_session

    ConfirmSetupIntentRequest:
      type: object
      properties:
        paymentMethodId:
          type: string

    CancelSetupIntentRequest:
      type: object
      properties:
        cancellationReason:
          type: string

    # ------------------------------------------------------------------
    # C) Customers & Payment Methods
    # ------------------------------------------------------------------
    Customer:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        phone:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        defaultPaymentMethodId:
          type: string
        metadata:
          $ref: '#/components/schemas/Metadata'
        created:
          type: string
          format: date-time

    CreateCustomerRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        name:
          type: string
        phone:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        metadata:
          $ref: '#/components/schemas/Metadata'

    UpdateCustomerRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        name:
          type: string
        phone:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        defaultPaymentMethodId:
          type: string
        metadata:
          $ref: '#/components/schemas/Metadata'

    CardDetails:
      type: object
      properties:
        brand:
          type: string
          description: Card brand (visa, mastercard, amex, etc.)
        last4:
          type: string
          description: Last four digits of the card number
        expMonth:
          type: integer
          minimum: 1
          maximum: 12
        expYear:
          type: integer
        funding:
          type: string
          enum: [credit, debit, prepaid, unknown]
        country:
          type: string
          description: Two-letter ISO country code

    BankAccountDetails:
      type: object
      properties:
        bankName:
          type: string
        last4:
          type: string
        routingNumber:
          type: string
        accountType:
          type: string
          enum: [checking, savings]

    PaymentMethod:
      type: object
      properties:
        id:
          type: string
        customerId:
          type: string
        name:
          type: string
          description: Human-readable label (e.g. "Visa ending in 4242")
        type:
          type: string
          enum: [card, bank_account, balance]
          default: card
        card:
          $ref: '#/components/schemas/CardDetails'
        bankAccount:
          $ref: '#/components/schemas/BankAccountDetails'
        billingAddress:
          $ref: '#/components/schemas/Address'
        providerRef:
          type: string
        providerType:
          type: string
        isDefault:
          type: boolean
        metadata:
          $ref: '#/components/schemas/Metadata'
        created:
          type: string
          format: date-time

    CreatePaymentMethodRequest:
      type: object
      required: [customerId]
      properties:
        customerId:
          type: string
        type:
          type: string
          enum: [card, bank_account, balance]
          default: card
        card:
          $ref: '#/components/schemas/CardDetails'
        bankAccount:
          $ref: '#/components/schemas/BankAccountDetails'
        billingAddress:
          $ref: '#/components/schemas/Address'
        providerRef:
          type: string
        providerType:
          type: string
        metadata:
          $ref: '#/components/schemas/Metadata'

    UpdatePaymentMethodRequest:
      type: object
      properties:
        billingAddress:
          $ref: '#/components/schemas/Address'
        metadata:
          $ref: '#/components/schemas/Metadata'

    # ------------------------------------------------------------------
    # D) Refunds
    # ------------------------------------------------------------------
    Refund:
      type: object
      properties:
        id:
          type: string
        amount:
          type: integer
          format: int64
        currency:
          type: string
        status:
          type: string
          enum: [pending, succeeded, failed, canceled]
        paymentIntentId:
          type: string
        invoiceId:
          type: string
        reason:
          type: string
        receiptNumber:
          type: string
        failureReason:
          type: string
        providerRef:
          type: string
        metadata:
          $ref: '#/components/schemas/Metadata'
        created:
          type: string
          format: date-time

    CreateRefundRequest:
      type: object
      properties:
        paymentIntentId:
          type: string
          description: ID of the payment intent to refund
        invoiceId:
          type: string
          description: Alternatively, the invoice to refund
        amount:
          type: integer
          format: int64
          description: Partial refund amount in cents. 0 or omit for full refund.
        reason:
          type: string

    # ------------------------------------------------------------------
    # D) Disputes
    # ------------------------------------------------------------------
    Dispute:
      type: object
      properties:
        id:
          type: string
        paymentIntentId:
          type: string
        amount:
          type: integer
          format: int64
        currency:
          type: string
        status:
          type: string
          enum:
            - warning_needs_response
            - needs_response
            - under_review
            - won
            - lost
            - warning_under_review
            - warning_closed
        reason:
          type: string
        evidenceDueBy:
          type: string
          format: date-time
        evidence:
          $ref: '#/components/schemas/DisputeEvidence'
        providerRef:
          type: string
        metadata:
          $ref: '#/components/schemas/Metadata'
        created:
          type: string
          format: date-time

    DisputeEvidence:
      type: object
      properties:
        customerName:
          type: string
        customerEmailAddress:
          type: string
          format: email
        productDescription:
          type: string
        serviceDate:
          type: string
        uncategorizedText:
          type: string

    # ------------------------------------------------------------------
    # E) Webhooks
    # ------------------------------------------------------------------
    WebhookEndpoint:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        url:
          type: string
          format: uri
        live:
          type: boolean
          description: Whether to use live or test data
        all:
          type: boolean
          description: Receive all event types
        events:
          type: object
          additionalProperties:
            type: boolean
          description: |
            Map of event types to enabled status. Supported event types:

            **Payments:** `payment_intent.created`, `payment_intent.succeeded`,
            `payment_intent.failed`, `payment_intent.canceled`,
            `payment_intent.requires_action`

            **Billing:** `invoice.created`, `invoice.finalized`, `invoice.paid`,
            `invoice.payment_failed`, `invoice.voided`,
            `subscription.created`, `subscription.updated`,
            `subscription.canceled`, `subscription.trial_ending`

            **Payouts:** `payout.created`, `payout.paid`, `payout.failed`

            **Disputes:** `dispute.created`, `dispute.updated`, `dispute.closed`

            **Refunds:** `refund.created`, `refund.updated`, `refund.failed`

            **Crypto:** `crypto.pi.pending`, `crypto.pi.confirmed`,
            `crypto.pi.failed`, `crypto.pi.expired`

            **Customer Balance:** `customer_balance.adjusted`
        enabled:
          type: boolean
        accessToken:
          type: string
          description: Signing secret for verifying webhook payloads
        created:
          type: string
          format: date-time

    CreateWebhookEndpointRequest:
      type: object
      required: [url]
      properties:
        name:
          type: string
        url:
          type: string
          format: uri
        live:
          type: boolean
          default: true
        all:
          type: boolean
          default: false
        events:
          type: object
          additionalProperties:
            type: boolean
        enabled:
          type: boolean
          default: true

    UpdateWebhookEndpointRequest:
      type: object
      properties:
        name:
          type: string
        url:
          type: string
          format: uri
        live:
          type: boolean
        all:
          type: boolean
        events:
          type: object
          additionalProperties:
            type: boolean
        enabled:
          type: boolean

    # ------------------------------------------------------------------
    # F) Bank Transfers
    # ------------------------------------------------------------------
    BankTransferInstruction:
      type: object
      properties:
        id:
          type: string
        customerId:
          type: string
        currency:
          type: string
        type:
          type: string
          enum: [ach, wire, sepa]
        reference:
          type: string
          description: Unique payment reference for reconciliation
        bankName:
          type: string
        accountHolder:
          type: string
        accountNumber:
          type: string
          description: Masked (last 4 digits only)
        routingNumber:
          type: string
        iban:
          type: string
        bic:
          type: string
        status:
          type: string
          enum: [active, expired]
        metadata:
          $ref: '#/components/schemas/Metadata'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateBankTransferInstructionRequest:
      type: object
      required: [customerId, type, bankName, accountNumber]
      properties:
        customerId:
          type: string
        currency:
          type: string
          default: usd
        type:
          type: string
          enum: [ach, wire, sepa]
        bankName:
          type: string
        accountHolder:
          type: string
        accountNumber:
          type: string
          description: Full account number (will be masked on storage)
        routingNumber:
          type: string
          description: Required for ACH and domestic wire
        iban:
          type: string
          description: Required for SEPA
        bic:
          type: string
          description: Required for SEPA

    ReconcileRequest:
      type: object
      required: [reference, amount]
      properties:
        reference:
          type: string
          description: The unique payment reference from the bank transfer instruction
        amount:
          type: integer
          format: int64
          description: Transfer amount in cents
          minimum: 1
        currency:
          type: string
          default: usd

    ReconcileResponse:
      type: object
      properties:
        matched:
          type: boolean
        reference:
          type: string
        customerId:
          type: string
        amount:
          type: integer
          format: int64
        currency:
          type: string
        transferType:
          type: string
        transaction:
          type: object
          properties:
            id:
              type: string
            amount:
              type: integer
              format: int64
            endingBalance:
              type: integer
              format: int64
            type:
              type: string
            created:
              type: string
              format: date-time

    # ------------------------------------------------------------------
    # F-cont) Customer Balance
    # ------------------------------------------------------------------
    CustomerBalance:
      type: object
      properties:
        customerId:
          type: string
        currency:
          type: string
        balance:
          type: integer
          format: int64
          description: Balance in cents. Positive = credit available.

    AdjustBalanceRequest:
      type: object
      required: [customerId, amount]
      properties:
        customerId:
          type: string
        amount:
          type: integer
          format: int64
          description: Positive = credit, negative = debit. Must be non-zero.
        currency:
          type: string
          default: usd
        description:
          type: string

    BalanceTransaction:
      type: object
      properties:
        id:
          type: string
        customerId:
          type: string
        amount:
          type: integer
          format: int64
          description: Positive = credit, negative = debit
        currency:
          type: string
        type:
          type: string
          enum:
            - adjustment
            - credit_note
            - invoice_payment
            - deposit
            - bank_transfer
            - refund
        description:
          type: string
        invoiceId:
          type: string
        creditNoteId:
          type: string
        sourceRef:
          type: string
          description: External reference
        endingBalance:
          type: integer
          format: int64
          description: Balance after this transaction
        metadata:
          $ref: '#/components/schemas/Metadata'
        created:
          type: string
          format: date-time

    # ------------------------------------------------------------------
    # G) Crypto Non-Custodial
    # ------------------------------------------------------------------
    CryptoPaymentIntent:
      type: object
      properties:
        id:
          type: string
        amount:
          type: integer
          format: int64
          description: Amount in smallest unit of settlement currency (cents)
        currency:
          type: string
          description: Settlement currency (fiat)
        chain:
          type: string
          enum: [ethereum, solana, base, polygon, arbitrum]
        token:
          type: string
          description: On-chain token (usdc, usdt, eth, sol, etc.)
        depositAddress:
          type: string
          description: Per-payment deposit address
        customerRef:
          type: string
        status:
          type: string
          enum: [pending, confirming, succeeded, expired, failed, refunded]
        confirmations:
          type: integer
          description: Number of block confirmations received
        requiredConfirmations:
          type: integer
          description: Number of confirmations required for settlement
        txHash:
          type: string
          description: On-chain transaction hash
        blockNumber:
          type: integer
          format: int64
        expiresAt:
          type: string
          format: date-time
        settlementAmount:
          type: integer
          format: int64
        settlementCurrency:
          type: string
        exchangeRate:
          type: string
        cryptoAmount:
          type: string
          description: Amount in token's smallest unit (wei, lamports, etc.)
        refundTxHash:
          type: string
        screeningStatus:
          type: string
          enum: [clear, flagged, blocked]
          description: OFAC/sanctions screening result
        metadata:
          $ref: '#/components/schemas/Metadata'
        created:
          type: string
          format: date-time

    CreateCryptoPaymentIntentRequest:
      type: object
      required: [amount, chain, token]
      properties:
        amount:
          type: integer
          format: int64
          minimum: 1
        currency:
          type: string
          default: usd
        chain:
          type: string
          enum: [ethereum, solana, base, polygon, arbitrum]
        token:
          type: string
          description: On-chain token symbol (usdc, usdt, eth, sol)
        customerRef:
          type: string
        expiresInMinutes:
          type: integer
          default: 30
          description: Payment window duration
        metadata:
          $ref: '#/components/schemas/Metadata'

    # ------------------------------------------------------------------
    # H) Crypto Custodial
    # ------------------------------------------------------------------
    CryptoAccount:
      type: object
      properties:
        id:
          type: string
        customerId:
          type: string
        chain:
          type: string
          enum: [ethereum, solana, base, polygon, arbitrum]
        address:
          type: string
          description: Custodial wallet address
        status:
          type: string
          enum: [active, suspended, closed]
        created:
          type: string
          format: date-time

    CreateCryptoAccountRequest:
      type: object
      required: [customerId, chain]
      properties:
        customerId:
          type: string
        chain:
          type: string
          enum: [ethereum, solana, base, polygon, arbitrum]
        metadata:
          $ref: '#/components/schemas/Metadata'

    CryptoBalance:
      type: object
      properties:
        accountId:
          type: string
        chain:
          type: string
        balances:
          type: array
          items:
            type: object
            properties:
              token:
                type: string
              amount:
                type: string
                description: Amount in token's smallest unit
              displayAmount:
                type: string
                description: Human-readable amount

    CryptoTransfer:
      type: object
      properties:
        id:
          type: string
        fromAccountId:
          type: string
        toAccountId:
          type: string
        chain:
          type: string
        token:
          type: string
        amount:
          type: string
        txHash:
          type: string
        status:
          type: string
          enum: [pending, confirmed, failed]
        created:
          type: string
          format: date-time

    CreateCryptoTransferRequest:
      type: object
      required: [fromAccountId, toAccountId, token, amount]
      properties:
        fromAccountId:
          type: string
        toAccountId:
          type: string
        token:
          type: string
        amount:
          type: string
          description: Amount in token's smallest unit
        metadata:
          $ref: '#/components/schemas/Metadata'

    CryptoPayout:
      type: object
      properties:
        id:
          type: string
        accountId:
          type: string
        destinationAddress:
          type: string
        chain:
          type: string
        token:
          type: string
        amount:
          type: string
        txHash:
          type: string
        status:
          type: string
          enum: [pending, confirmed, failed]
        created:
          type: string
          format: date-time

    CreateCryptoPayoutRequest:
      type: object
      required: [accountId, destinationAddress, token, amount]
      properties:
        accountId:
          type: string
        destinationAddress:
          type: string
        token:
          type: string
        amount:
          type: string
        metadata:
          $ref: '#/components/schemas/Metadata'

    CryptoRefund:
      type: object
      properties:
        id:
          type: string
        cryptoPaymentIntentId:
          type: string
        destinationAddress:
          type: string
        chain:
          type: string
        token:
          type: string
        amount:
          type: string
        txHash:
          type: string
        status:
          type: string
          enum: [pending, confirmed, failed]
        created:
          type: string
          format: date-time

    CreateCryptoRefundRequest:
      type: object
      required: [cryptoPaymentIntentId]
      properties:
        cryptoPaymentIntentId:
          type: string
        destinationAddress:
          type: string
          description: Override refund destination. Defaults to the original sender.
        amount:
          type: string
          description: Partial refund amount. Omit for full refund.
        metadata:
          $ref: '#/components/schemas/Metadata'

    # ------------------------------------------------------------------
    # I) Network Tokens
    # ------------------------------------------------------------------
    NetworkToken:
      type: object
      properties:
        id:
          type: string
        cardTokenId:
          type: string
          description: Reference to the vault card token (tok_...)
        networkToken:
          type: string
          description: EMV payment token (DPAN) -- not the real PAN
        tokenExpiry:
          type: string
          description: Token expiry (may differ from card expiry)
        tokenReference:
          type: string
          description: TSP reference ID for lifecycle management
        par:
          type: string
          description: Payment Account Reference -- links tokens across networks
        network:
          type: string
          enum: [visa, mastercard, amex]
        status:
          type: string
          enum: [active, suspended, deleted]
        tokenRequestorId:
          type: string
          description: Identifies the merchant/platform at the TSP
        lastRefreshed:
          type: string
          format: date-time
        walletType:
          type: string
          enum: [apple_pay, google_pay, none]
        metadata:
          $ref: '#/components/schemas/Metadata'
        created:
          type: string
          format: date-time

    ProvisionNetworkTokenRequest:
      type: object
      required: [cardTokenId, network]
      properties:
        cardTokenId:
          type: string
          description: Vault card token ID (tok_...)
        network:
          type: string
          enum: [visa, mastercard, amex]
        tokenRequestorId:
          type: string
        walletType:
          type: string
          enum: [apple_pay, google_pay, none]
          default: none
        metadata:
          $ref: '#/components/schemas/Metadata'

    # ------------------------------------------------------------------
    # J) Vault
    # ------------------------------------------------------------------
    VaultTokenizeRequest:
      type: object
      required: [type]
      properties:
        type:
          type: string
          enum: [card, bank_account]
        card:
          type: object
          properties:
            number:
              type: string
              description: Full card number (PAN)
            expMonth:
              type: integer
            expYear:
              type: integer
            cvc:
              type: string
        bankAccount:
          type: object
          properties:
            accountNumber:
              type: string
            routingNumber:
              type: string
            accountType:
              type: string
              enum: [checking, savings]
        billingAddress:
          $ref: '#/components/schemas/Address'

    VaultToken:
      type: object
      properties:
        token:
          type: string
          description: Vault token (pm_tok_...)
        type:
          type: string
        card:
          $ref: '#/components/schemas/CardDetails'
        created:
          type: string
          format: date-time

    VaultTokenMetadata:
      type: object
      properties:
        token:
          type: string
        type:
          type: string
        card:
          $ref: '#/components/schemas/CardDetails'
        created:
          type: string
          format: date-time

    VaultDetokenized:
      type: object
      properties:
        token:
          type: string
        type:
          type: string
        card:
          type: object
          properties:
            number:
              type: string
              description: Full PAN
            expMonth:
              type: integer
            expYear:
              type: integer
            cvc:
              type: string

    # ------------------------------------------------------------------
    # K) Subscriptions
    # ------------------------------------------------------------------
    Subscription:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        planId:
          type: string
        status:
          type: string
          enum: [trialing, active, past_due, canceled, unpaid]
        quantity:
          type: integer
          default: 1
        currentPeriodStart:
          type: string
          format: date-time
        currentPeriodEnd:
          type: string
          format: date-time
        cancelAtPeriodEnd:
          type: boolean
        providerType:
          type: string
          description: '"internal" or external processor name'
        providerId:
          type: string
          description: External subscription ID
        defaultPaymentMethod:
          type: string
          description: '"stripe:pm_xxx" | "balance"'
        plan:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            price:
              type: integer
              format: int64
            currency:
              type: string
            interval:
              type: string
              enum: [monthly, yearly]
        trialStart:
          type: string
          format: date-time
        trialEnd:
          type: string
          format: date-time
        canceledAt:
          type: string
          format: date-time
        endedAt:
          type: string
          format: date-time
        metadata:
          $ref: '#/components/schemas/Metadata'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateSubscriptionRequest:
      type: object
      required: [userId, planId]
      properties:
        userId:
          type: string
        planId:
          type: string
        defaultPaymentMethod:
          type: string
        metadata:
          $ref: '#/components/schemas/Metadata'

    UpdateSubscriptionRequest:
      type: object
      properties:
        planId:
          type: string
          description: New plan ID for plan change
        prorate:
          type: boolean
          description: Whether to prorate the plan change
        quantity:
          type: integer
          minimum: 1

    CancelSubscriptionRequest:
      type: object
      properties:
        atPeriodEnd:
          type: boolean
          default: true
          description: Cancel at period end (true) or immediately (false)

    # ------------------------------------------------------------------
    # K) Invoices
    # ------------------------------------------------------------------
    InvoiceLineItem:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [subscription, usage, one_off, proration]
        description:
          type: string
        meterId:
          type: string
        quantity:
          type: integer
          format: int64
        unitPrice:
          type: integer
          format: int64
          description: Price per unit in cents
        planId:
          type: string
        planName:
          type: string
        amount:
          type: integer
          format: int64
          description: Total line item amount in cents
        currency:
          type: string
        periodStart:
          type: string
          format: date-time
        periodEnd:
          type: string
          format: date-time

    BillingInvoice:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        customerEmail:
          type: string
          format: email
        subscriptionId:
          type: string
        periodStart:
          type: string
          format: date-time
        periodEnd:
          type: string
          format: date-time
        subtotal:
          type: integer
          format: int64
        tax:
          type: integer
          format: int64
        discount:
          type: integer
          format: int64
        creditApplied:
          type: integer
          format: int64
        amountDue:
          type: integer
          format: int64
        amountPaid:
          type: integer
          format: int64
        currency:
          type: string
        status:
          type: string
          enum: [draft, open, paid, void, uncollectible]
        dueDate:
          type: string
          format: date-time
        paidAt:
          type: string
          format: date-time
        voidedAt:
          type: string
          format: date-time
        paymentMethod:
          type: string
          description: '"balance", "stripe", "credit"'
        paymentRef:
          type: string
        number:
          type: integer
        numberStr:
          type: string
          description: Formatted invoice number (e.g. "INV-0042")
        attemptCount:
          type: integer
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceLineItem'
        metadata:
          $ref: '#/components/schemas/Metadata'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateInvoiceRequest:
      type: object
      required: [userId]
      properties:
        userId:
          type: string
        customerEmail:
          type: string
          format: email
        subscriptionId:
          type: string
        currency:
          type: string
          default: usd
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceLineItem'
        metadata:
          $ref: '#/components/schemas/Metadata'

    UpcomingInvoice:
      type: object
      properties:
        userId:
          type: string
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceLineItem'
        subtotal:
          type: integer
          format: int64
        creditApplied:
          type: integer
          format: int64
        amountDue:
          type: integer
          format: int64
        currency:
          type: string

    # ------------------------------------------------------------------
    # K) Credit Notes
    # ------------------------------------------------------------------
    CreditNote:
[...]
