{% extends "base.html" %}

{% block name %}Dashboard{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<div class="col-sm-6 col-lg-3">
<a href="javascript:void(0)" class="widget">
<div class="widget-content widget-content-mini text-right clearfix">
<div class="widget-icon pull-left themed-background-success">
<i class="gi gi-user text-light-op"></i>
</div>
<h2 class="widget-heading h3 text-success">
    <strong><span data-toggle="counter" data-to="0">{{ userCount }}</span></strong>
</h2>
<span class="text-muted">USERS</span>
</div>
</a>
</div>
<div class="col-sm-6 col-lg-3">
<a href="javascript:void(0)" class="widget">
<div class="widget-content widget-content-mini text-right clearfix">
<div class="widget-icon pull-left themed-background-warning">
<i class="gi gi-envelope text-light-op"></i>
</div>
<h2 class="widget-heading h3 text-warning">
    <strong><span data-toggle="counter" data-to="0">{{ subCount }}</span></strong>
</h2>
<span class="text-muted">SUBSCRIBERS</span>
</div>
</a>
</div>
{% if false and storeDatas|length > 1 %}
    {% for storeData in storeDatas %}
    <div class="col-sm-6 col-lg-3">
        <a href="javascript:void(0)" class="widget">
            <div class="widget-content widget-content-mini text-right clearfix">
                <div class="widget-icon pull-left themed-background-danger">
                    <i class="gi gi-money text-light-op"></i>
                    </div>
                    <h2 class="widget-heading h3 text-danger">
                        <strong><span data-toggle="counter" data-to="0">{{ storeData.OrderCount }}</span></strong>
                    </h2>
                    <span class="text-muted">{{ storeData.StoreName }} ORDERS</span>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3">
    <a href="javascript:void(0)" class="widget">
    <div class="widget-content widget-content-mini text-right clearfix">
    <div class="widget-icon pull-left themed-background">
    <i class="gi gi-charts text-light-op"></i>
    </div>
    <h2 class="widget-heading h3">
        <strong><span data-toggle="counter" data-to="0">
        {{ currency.ToString(storeData.Sales) }}
        </span></strong>
    </h2>
    <span class="text-muted">{{ storeData.StoreName }} SALES</span>
    </div>
    </a>
    </div>
    {% endfor %}
{% endif %}
    <div class="col-sm-6 col-lg-3">
        <a href="javascript:void(0)" class="widget">
            <div class="widget-content widget-content-mini text-right clearfix">
                <div class="widget-icon pull-left themed-background-danger">
                        <i class="gi gi-money text-light-op"></i>
                    </div>
                    <h2 class="widget-heading h3 text-danger">
                        <strong><span data-toggle="counter" data-to="0">{{ orderTotal }}</span></strong>
                    </h2>
                    <span class="text-muted">TOTAL ORDERS</span>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3">
        <a href="javascript:void(0)" class="widget">
            <div class="widget-content widget-content-mini text-right clearfix">
                <div class="widget-icon pull-left themed-background">
                    <i class="gi gi-charts text-light-op"></i>
                </div>
                <h2 class="widget-heading h3">
                    <strong><span data-toggle="counter" data-to="0">{{ currency.ToString(salesTotal) }}</span></strong>
                </h2>
                <span class="text-muted">TOTAL SALES</span>
            </div>
        </a>
    </div>

<div class="col-sm-12 col-lg-12">
    <h1 class="text-center">Welcome to the Crowdstart Beta</h1>
    <p class="text-center">Feedback about our beta is welcome! Contact <a href="mailto:support@hanzo.io">support@hanzo.io</a> and let us know what you think and what you'd like to see here :)</p>
    </div>
{% endblock %}

{% block js %}
{% endblock %}
{% block menulink %}menu-dashboard{% endblock %}
