{% extends "base.html" %}

{% block name %}Dashboard{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<div class="col-sm-6 col-lg-3">
<a href="javascript:void(0)" class="widget">
<div class="widget-content widget-content-mini text-right clearfix">
<div class="widget-icon pull-left themed-background">
<i class="gi gi-cardio text-light-op"></i>
</div>
<h2 class="widget-heading h3">
    <strong>+ <span data-toggle="counter" data-to="0">0</span></strong>
</h2>
<span class="text-muted">SALES</span>
</div>
</a>
</div>
<div class="col-sm-6 col-lg-3">
<a href="javascript:void(0)" class="widget">
<div class="widget-content widget-content-mini text-right clearfix">
<div class="widget-icon pull-left themed-background-success">
<i class="gi gi-user text-light-op"></i>
</div>
<h2 class="widget-heading h3 text-success">
    <strong>+ <span data-toggle="counter" data-to="0">0</span></strong>
</h2>
<span class="text-muted">NEW USERS</span>
</div>
</a>
</div>
<div class="col-sm-6 col-lg-3">
<a href="javascript:void(0)" class="widget">
<div class="widget-content widget-content-mini text-right clearfix">
<div class="widget-icon pull-left themed-background-warning">
<i class="gi gi-briefcase text-light-op"></i>
</div>
<h2 class="widget-heading h3 text-warning">
    <strong><span data-toggle="counter" data-to="0">0</span></strong>
</h2>
<span class="text-muted">PRODUCTS</span>
</div>
</a>
</div>
<div class="col-sm-6 col-lg-3">
<a href="javascript:void(0)" class="widget">
<div class="widget-content widget-content-mini text-right clearfix">
<div class="widget-icon pull-left themed-background-danger">
<i class="gi gi-wallet text-light-op"></i>
</div>
<h2 class="widget-heading h3 text-danger">
<strong>$ <span data-toggle="counter" data-to="0">0</span></strong>
</h2>
<span class="text-muted">EARNINGS</span>
</div>
</a>
</div>

<div class="col-sm-12 col-lg-12">
    <h1 class="text-center">Welcome to the Crowdstart Beta</h1>
    <p class="text-center">Feedback about our beta is welcome! Contact <a href="mailto:support@crowdstart.com">support@crowdstart.com</a> and let us know what you think and what you'd like to see here :)</p>
    </div>
{% endblock %}

{% block js %}
{% endblock %}
{% block menulink %}menu-dashboard{% endblock %}
