{% extends "base.html" %}

{% block name %}Orders{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<!-- Orders View Block -->
<div class="col-sm-12">
    <div class="block full">
        <!-- Orders View Title -->
        <div class="block-title">
          <h2>Orders</h2>
        </div>
        <!-- END Orders View Title -->

        <!-- Orders View Content -->
        <order-paged-table>
            <div>
                <i class="gi gi-money" style="font-size:100px"></i>
                <h2>We couldn't find any orders for <strong>{{ ctx.organization.Name }}</strong>.</h2>
            </div>
        </order-paged-table>
        <!-- END Orders View Content -->
    </div>
</div>
<!-- END Orders View Block -->
{% endblock %}

{% block js %}
<script src="{{ staticUrl }}/js/jquery.jqpagination.js"></script>
<script>
  $(function(){
    var urlParts = window.location.pathname.split('/')
    var userId = urlParts.pop()

    new crowdcontrol.data.Api(
      '{{ urlFor("api") }}',
      '{{ ctx.organization.MustGetTokenByName("live-secret-key") }}'
    ).register('crowdstart')

    riot.mount('order-paged-table')
  })
</script>
{% endblock %}

{% block menulink %}menu-orders{% endblock %}


