{% extends "base.html" %}

{% block name %}Mailing Lists{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<!-- Mailing List Information Form Block -->
<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-1">
  <div class="block">
    <div class="block-title">
      <h2>New Product</h2>
    </div>
    <form id="form-mailinglist" method="post" class="form-horizontal">
      <h4>Provide some basic information.</h4>
      <div id="mailinglist-info" class="block">
      </div>
      <h4>Select some options.</h4>
      <div id="mailinglist-mailchimp" class="block">
      </div>
      <h4>MailChimp Snippet</h4>
      <div id="mailinglist-snippet" class="block">
        <div class="form-group">
          <textarea class="form-control" style="height:120px;"><script src="https://api.crowdstart.com/mailinglist/{{ mailingList.Id }}/js?token={{ ctx.organization.MustGetTokenByName("live-published-key") }}"></script></textarea>
        </div>
      </div>
      <div class="form-group form-actions">
          <div class="col-md-9 col-md-offset-3">
              <button type="submit" class="btn btn-effect-ripple btn-primary">Submit</button>
              <button type="reset" class="btn btn-effect-ripple btn-warning">Reset</button>
              <button type="button" id="delete-btn" class="btn btn-effect-ripple btn-danger">Delete</button>
          </div>
      </div>
    </form>
    <!-- END Mailing Lists Form Content -->
  </div>
</div>
<!-- END Mailing List Information Form Block -->
{% endblock %}

{% block js %}
<script src="{{ staticUrl }}/js/util.js"></script>
<script src="{{ staticUrl }}/js/jquery.jqpagination.js"></script>
<script src="{{ staticUrl }}/js/jquery.serialize-object.min.js"></script>
<script src="{{ staticUrl }}/js/form-builder.js"></script>
<script src="{{ staticUrl }}/js/table-builder.js"></script>
<script src="{{ staticUrl }}/js/rest-forms.js"></script>
<script>
$(function(){

{% include "js/mailinglistform.js" %}

var api = NewRestAPI(
    '{{ urlFor("api", "/mailinglist") }}',
    '{{ ctx.organization.MustGetTokenByName("live-secret-key") }}',
    $('#form-mailinglist'),
    {
        price: function(val) {
            // To cents
            return Util.renderJSONCurrencyFromUI(val);
        },
        weight: function(val) {
            return parseFloat(val);
        }
    }
  );
$('#form-mailinglist').on('submit', function(e){
    var $form = $(this);
    requestAnimationFrame(function() {
        if ($('.form-group.has-error').length === 0) {
            api.put(function(data) {
                window.location.replace('{{ urlFor("platform", "/mailinglist", mailingList.Id) }}')
            }, $form, '{{ mailingList.Id }}')
        }
    })
    e.preventDefault();
    return false;
})
$('#delete-btn').on('click', function(e) {
  api.del(function(data) {
      window.location.replace('{{ urlFor("platform", "/mailinglists") }}')
  }, '{{ mailingList.Id }}')
})
</script>
{% endblock %}
{% block menulink %}menu-mailinglists{% endblock %}




