{% extends "base.html" %}

{% block name %}Order{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<!-- Order information Form Block -->
<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-1">
    <div class="block">
        <!-- Order information Form Title -->
        <div class="block-title">
            <h2>Order Information</h2>
        </div>
        <!-- END Order information Form Title -->

        <!-- Order information Form Content -->
        <form id="form-order" method="post" class="form-horizontal">
          <h4>Information</h4>
          <div id="order-info" class="block">
          </div>
          <h4>Buyer</h4>
          <div id="order-info" class="block">
          </div>
          <h4>Line Items</h4>
          <div id="order-info" class="block">
          </div>
          <div class="row">
            <div class = "col-xs-6">
              <h4>Payment Information</h4>
              <div id="order-payment" class="block">
              </div>
            </div>
            <div class = "col-xs-6">
              <h4>Current Status</h4>
              <div id="order-status" class="block">
              </div>
            </div>
          </div>
          <div class="form-group form-actions">
            <div class="col-md-9 col-md-offset-3">
              <!-- <button type="submit" class="btn btn-effect-ripple btn-primary">Submit</button> -->
              <!-- <button type="reset" class="btn btn-effect-ripple btn-danger">Reset</button> -->
            </div>
          </div>
        </form>
        <!-- END Order information Form Content -->
    </div>
    <!-- END Order information Form Block -->
</div>
<!-- END Order information Form Block -->
{% endblock %}

{% block js %}
<script src="{{ staticUrl }}/js/util.js"></script>
<script src="{{ staticUrl }}/js/jquery.serialize-object.min.js"></script>
<script src="{{ staticUrl }}/js/form-builder.js"></script>
<script src="{{ staticUrl }}/js/rest-forms.js"></script>
<script>
    $(function(){
        Util.setCurrency('{{ order.Currency }}');

        BuildForm($("#form-order"), [
          {
            label: "Order ID",
            type: "static",
            value: "{{ order.Id }}",
            $parent: $('#order-info'),
          },
          {
            label: "Created On",
            type: "static-date",
            value: "{{ order.CreatedAt }}",
            $parent: $('#order-info'),
          },
          {
            label: "Last Updated On",
            type: "static-date",
            value: "{{ order.UpdatedAt }}",
            $parent: $('#order-info'),
          },
          {
            label: "Order Status",
            type: "static",
            value: "{{ order.OrderStatus }}",
            $parent: $('#order-status'),
            labelCols: 6,
            valueCols: 6,
          },
          {
            label: "Payment Status",
            type: "static",
            value: "{{ order.PaymentStatus }}",
            $parent: $('#order-status'),
            labelCols: 6,
            valueCols: 6,
          },
          {
            label: "Fulfillment Status",
            type: "static",
            value: "{{ order.FulfillmentStatus }}",
            $parent: $('#order-status'),
            labelCols: 6,
            valueCols: 6,
          },
          {
            label: 'Currency',
            type: "static",
            value: "{{ order.Currency }}".toUpperCase(),
            $parent: $('#order-payment'),
            labelCols: 6,
            valueCols: 6,
          },
          {
            label: "Line Total",
            type: "static-currency",
            value: {{ order.LineTotal }},
            $parent: $('#order-payment'),
            labelCols: 6,
            valueCols: 6,
          },
          {% if order.Discount != 0 %}
          {
            label: "Discount",
            type: "static-currency",
            value: {{ order.Discount }},
            $parent: $('#order-payment'),
            labelCols: 6,
            valueCols: 6,
          },
          {% endif %}
          {
            label: "Subtotal",
            type: "static-currency",
            value: {{ order.Subtotal }},
            $parent: $('#order-payment'),
            labelCols: 6,
            valueCols: 6,
          },
          {
            label: "Shipping",
            type: "static-currency",
            value: {{ order.Shipping }},
            $parent: $('#order-payment'),
            labelCols: 6,
            valueCols: 6,
          },
          {
            label: "Tax",
            type: "static-currency",
            value: {{ order.Tax }},
            $parent: $('#order-payment'),
            labelCols: 6,
            valueCols: 6,
          },
          {% if order.Adjustment != 0 %}
          {
            label: "Adjustment",
            type: "static-currency",
            value: {{ order.Adjustment }},
            $parent: $('#order-payment'),
            labelCols: 6,
            valueCols: 6,
          },
          {% endif %}
          {
            label: "Total",
            type: "static-currency",
            value: {{ order.Total }},
            $parent: $('#order-payment'),
            labelCols: 6,
            valueCols: 6,
          },
        ]);
    });
  var api = NewRestAPI(
      '{{ urlFor("api", "/order2") }}',
      '{{ org.MustGetTokenByName("live-secret-key") }}',
      $('#form-order'),
      {
          price: function(val) {
              // To cents
              return parseFloat(val.replace(/[^\d.-]/g,''), 10) * 100;
          },
          weight: function(val) {
              return parseFloat(val.replace(/[^\d.-]/g,''), 10);
          }
      }
    );
  $('#form-order').on('submit', function(e){
      var $form = $(this);
      requestAnimationFrame(function() {
          if ($('.form-group.has-error').length === 0) {
              api.put(function(data) {
                  window.location.replace('{{ urlFor("platform", "/order") }}')
              }, $form, '{{ org.Id }}')
          }
      })
      e.preventDefault();
      return false;
  })
</script>
{% endblock %}
{% block menulink %}menu-orders{% endblock %}

