{% extends "base.html" %}

{% block name %}Orders{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<!-- Orders View Block -->
<div class="col-sm-12">
    <div class="block full">
        <!-- Orders View Title -->
        <div class="block-title">
          <h2>Orders</h2>
        </div>
        <!-- END Orders View Title -->

        <!-- Orders View Content -->
        <table id="table" class="table table-striped table-bordered table-vcenter">
        </table>
        <div id="pagination" class="row text-center">
          <a href="#" class="btn btn-primary previous" data-action="previous"><strong>&lsaquo;</strong></a>
          <input class="text-center form-control" type="text" readonly="readonly" data-max-page="40" style="width:125px;display:inline;padding-top:5px"/>
          <a href="#" class="btn btn-primary next" data-action="next"><strong>&rsaquo;</strong></a>
        </div>
        <!-- <div class="row text-center"> -->
        <!--     <i class="fa fa-circle-o-notch fa-3x fa-spin text-primary"></i> -->
        <!-- </div> -->
        <!-- END Orders View Content -->
    </div>
</div>
<!-- END Orders View Block -->
{% endblock %}

{% block js %}
<script src="{{ staticUrl }}/js/table-builder.js"></script>
<script src="{{ staticUrl }}/js/jquery.jqpagination.js"></script>
<script>
    var paged = BuildTable($('#table'), {
    columns: [
      {
        field: 'id',
        name: 'ID',
        css: {
          width: '50px',
        },
        type: 'id',
      },
      {
        field: 'payments.0.account.buyer.firstName',
        name: 'First Name',
      },
      {
        field: 'payments.0.account.buyer.lastName',
        name: 'Last Name',
      },
      {
        field: 'payments.0.account.buyer.email',
        name: 'Email',
      },
      {
        field: 'total',
        name: 'Total',
        type: 'currency',
      },
      {
        field: 'payments.0.status',
        name: 'Status',
      },
      {
        field: 'createdAt',
        name: 'Order Date',
        type: 'date',
      }
    ],
    api: '{{ urlFor("api", "/order2") }}',
    apiToken: '{{ org.MustGetTokenByName("live-secret-key") }}',
    startPage: 1,
    startDisplay: 10,
    display: [5, 10, 20],
    $pagination: $('#pagination'),
  });
</script>
{% endblock %}
{% block menulink %}menu-orders{% endblock %}


