{% extends "base.html" %}

{% block name %}Order{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<!-- Order information Form Block -->
<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-1">
    <div class="block">
        <!-- Order information Form Title -->
        <div class="block-title">
            <h2>Order Information</h2>
        </div>
        <!-- END Order information Form Title -->

        <!-- Order information Form Content -->
        <form id="form-order" method="post" class="form-horizontal">
          <h4>Information</h4>
          <div id="order-info" class="block">
          </div>
          <h4>Buyer</h4>
          <div id="order-buyer" class="block">
          </div>
          <h4>Shipping</h4>
          <div id="order-shipping" class="block">
          </div>
          <h4>Line Items</h4>
          <div id="order-items" class="block">
            <table id="order-items-table" class="table table-striped table-bordered table-vcenter">
            </table>
          </div>
          <div class="row">
            <div class = "col-xs-6">
              <h4>Payment Information</h4>
              <div id="order-payment" class="block">
              </div>
            </div>
            <div class = "col-xs-6">
              <h4>Current Status</h4>
              <div id="order-status" class="block">
              </div>
            </div>
          </div>
          <div class="form-group form-actions">
            <div class="col-md-9 col-md-offset-3">
              <button type="submit" class="btn btn-effect-ripple btn-primary">Submit</button>
              <button type="reset" class="btn btn-effect-ripple btn-warning">Reset</button>
            </div>
          </div>
        </form>
        <!-- END Order information Form Content -->
    </div>
    <!-- END Order information Form Block -->
</div>
<!-- END Order information Form Block -->
{% endblock %}

{% block js %}
<script src="{{ staticUrl }}/js/util.js"></script>
<script src="{{ staticUrl }}/js/jquery.serialize-object.min.js"></script>
<script src="{{ staticUrl }}/js/form-builder.js"></script>
<script src="{{ staticUrl }}/js/table-builder.js"></script>
<script src="{{ staticUrl }}/js/rest-forms.js"></script>
<script>
    $(function(){
        Util.setCurrency('{{ order.Currency }}');

        BuildForm($("#form-order"), [
          {
            label: "Order ID",
            type: "static",
            value: "{{ order.Id }}",
            $parent: $('#order-info'),
          },
          {
            label: "Created On",
            type: "static-date",
            value: "{{ order.CreatedAt }}",
            $parent: $('#order-info'),
          },
          {
            label: "Last Updated On",
            type: "static-date",
            value: "{{ order.UpdatedAt }}",
            $parent: $('#order-info'),
          },
          {
            label: "Order Status",
            type: "static",
            value: "{{ order.OrderStatus }}",
            $parent: $('#order-status'),
            labelCols: 6,
            valueCols: 6,
          },
          {
            label: "Payment Status",
            type: "static",
            value: "{{ order.PaymentStatus }}",
            $parent: $('#order-status'),
            labelCols: 6,
            valueCols: 6,
          },
          {
            label: "Fulfillment Status",
            type: "static",
            value: "{{ order.FulfillmentStatus }}",
            $parent: $('#order-status'),
            labelCols: 6,
            valueCols: 6,
          },
          {
            label: 'Currency',
            type: "static",
            value: "{{ order.Currency }}".toUpperCase(),
            $parent: $('#order-payment'),
            css: {'text-align' : 'right'},
            labelCols: 6,
            valueCols: 6,
          },
          {
            label: "Line Total",
            type: "static-currency",
            value: {{ order.LineTotal }},
            $parent: $('#order-payment'),
            labelCols: 6,
            valueCols: 6,
          },
          {% if order.Discount != 0 %}
          {
            label: "Discount",
            type: "static-currency",
            value: {{ order.Discount }},
            $parent: $('#order-payment'),
            labelCols: 6,
            valueCols: 6,
          },
          {% endif %}
          {
            label: "Subtotal",
            type: "static-currency",
            value: {{ order.Subtotal }},
            $parent: $('#order-payment'),
            labelCols: 6,
            valueCols: 6,
          },
          {
            label: "Shipping",
            type: "static-currency",
            value: {{ order.Shipping }},
            $parent: $('#order-payment'),
            labelCols: 6,
            valueCols: 6,
          },
          {
            label: "Tax",
            type: "static-currency",
            value: {{ order.Tax }},
            $parent: $('#order-payment'),
            labelCols: 6,
            valueCols: 6,
          },
          {% if order.Adjustment != 0 %}
          {
            label: "Adjustment",
            type: "static-currency",
            value: {{ order.Adjustment }},
            $parent: $('#order-payment'),
            labelCols: 6,
            valueCols: 6,
          },
          {% endif %}
          {
            label: "Total",
            type: "static-currency",
            value: {{ order.Total }},
            $parent: $('#order-payment'),
            labelCols: 6,
            valueCols: 6,
          },
          {
            label: "User ID",
            value: '{{ user.Id }}',
            href: '{{ urlFor("platform", "user", user.Id) }}',
            $parent: $('#order-buyer'),
            type: "link",
          },
          {
            label: "Email",
            value: '{{ user.Email }}',
            $parent: $('#order-buyer'),
            type: "static",
          },
          {
            label: "First Name",
            value: '{{ user.FirstName }}',
            $parent: $('#order-buyer'),
            type: "static",
          },
          {
            label: "Last Name",
            value: '{{ user.LastName }}',
            $parent: $('#order-buyer'),
            type: "static",
          },
          {
            label: "Phone",
            value: '{{ user.Phone }}',
            $parent: $('#order-buyer'),
            type: "static",
          },
          {
            id: "line1",
            name: "shippingAddress.line1",
            label: "Street Address",
            value: '{{ order.ShippingAddress.Line1 }}',
            $parent: $('#order-shipping'),
            rules: [
                {
                    rule: "required",
                    value: "true",
                    message: "Street address is required",
                }
            ]
          },
          {
            id: "line2",
            name: "shippingAddress.line2",
            label: "Apartment Number or PO&nbsp;Box",
            value: '{{ order.ShippingAddress.Line2 }}',
            $parent: $('#order-shipping'),
          },
          {
            id: "city",
            name: "shippingAddress.city",
            label: "City",
            value: '{{ order.ShippingAddress.City }}',
            $parent: $('#order-shipping'),
            rules: [
                {
                    rule: "required",
                    value: "true",
                    message: "City is required",
                }
            ]
          },
          {
            id: "state",
            name: "shippingAddress.state",
            label: "State",
            value: '{{ order.ShippingAddress.State }}',
            $parent: $('#order-shipping'),
            rules: [
                {
                    rule: "required",
                    value: "true",
                    message: "State is required",
                }
            ]
          },
          {
            id: "country",
            name: "shippingAddress.country",
            label: "Country",
            value: [
            {
              selected: '',
              name: '',
                id: '',
            },
            {% for country in constants.Countries %}
            {
              selected: '{{ country.ISO3166OneAlphaTwo }}' === '{{ order.ShippingAddress.Country }}'.toUpperCase() || '{{ country.ISO3166OneEnglishShortNameReadingOrder }}' === '{{ order.ShippingAddress.Country }}'.toUpperCase(),
              name: '{{ country.ISO3166OneEnglishShortNameReadingOrder }}',
                id: '{{ country.ISO3166OneAlphaTwo }}',
            },
            {% endfor %}
            ],
            placeholder: 'Choose a country...',
            type: 'select',
            $parent: $('#order-shipping'),
            rules: [
                {
                    rule: "required",
                    value: "true",
                    message: "Country is required",
                }
            ]
          },
          {
            id: "postalCode",
            name: "shippingAddress.postalCode",
            label: "Postal Code",
            value: '{{ order.ShippingAddress.PostalCode }}',
            $parent: $('#order-shipping'),
          },
        ]);
    });

    var itemsJSON = {{ order.ItemsJSON() | safe }};
    for (var i = 0; i < itemsJSON.length; i++) {
        itemsJSON[i].currency = '{{order.Currency}}';
    }
    BuildTable($('#order-items-table'), {
    columns: [
      {
        field: 'productId',
        name: 'Product ID',
        href: '{{ urlFor("platform", "/product") }}',
        render: 'link',
      },
      {
        field: 'productName',
        name: 'Product Name',
      },
      {
        field: 'variantId',
        name: 'Variant ID',
        href: '{{ urlFor("api", "/variant") }}',
        render: 'link',
      },
      {
        field: 'variantName',
        name: 'Variant Name',
      },
      {
        field: 'collectionId',
        name: 'Collection ID',
        href: '{{ urlFor("api", "/collection") }}',
        render: 'link',
      },
      {
        field: 'price',
        name: 'Price',
        render: 'currency'
      },
      {
        field: 'quantity',
        name: 'Quantity',
      }
    ],
    startPage: 1,
    startDisplay: 10,
    displayOptions: [5, 10, 20],
    $display: $('#display'),
    $pagination: $('#pagination'),
    $empty: $('#empty-table'),
    data: itemsJSON,
    checkboxes: false,
  });

  $.extend(FormSerializer.patterns, {
    validate: /^[a-z][a-z0-9_]*(?:\.[a-z0-9_]+)*(?:\[\])?$/i
  });
  var api = NewRestAPI(
      '{{ urlFor("api", "order") }}',
      '{{ ctx.organization.MustGetTokenByName("live-secret-key") }}',
      $('#form-order')
    );
  $('#form-order').on('submit', function(e){
      var $form = $(this);
      requestAnimationFrame(function() {
          if ($('.form-group.has-error').length === 0) {
              api.patch(function(data) {
                window.location.replace('{{ urlFor("platform", "order", order.Id ) }}')
              }, $form, '{{ order.Id }}')
          }
      })
      e.preventDefault();
      return false;
  })
</script>
{% endblock %}
{% block menulink %}menu-orders{% endblock %}

