{% extends "base.html" %}

{% block name %}Organization{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<!-- Organization information Form Block -->
<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-1">
    <div class="block">
        <!-- Organization information Form Title -->
        <div class="block-title">
            <h2>Organization Information</h2>
        </div>
        <!-- END Organization information Form Title -->

        <!-- Organization information Form Content -->
        <form id="form-organization" method="post" class="form-horizontal">
            <h4>Basic Info</h4>
            <div id="org-information" class="block">
            </div>
            <h4>Emails for Testing Payment Processing (50 cent charges)</h4>
            <div id="org-whitelist" class="block">
            </div>
            <h4>Google Analytics</h4>
            <div id="org-ga" class="block">
            </div>
            <h4>Facebook</h4>
            <div id="org-fb" class="block">
            </div>
            <div class="form-group form-actions">
                <div class="col-md-9 col-md-offset-3">
                    <button type="submit" class="btn btn-effect-ripple btn-primary">Submit</button>
                    <button type="reset" class="btn btn-effect-ripple btn-warning">Reset</button>
                </div>
            </div>
        </form>
        <!-- END Organization information Form Content -->
    </div>
    <!-- END Organization information Form Block -->
</div>
<!-- END Organization information Form Block -->
{% endblock %}

{% block js %}
<script src="{{ staticUrl }}/js/jquery.serialize-object.min.js"></script>
<script src="{{ staticUrl }}/js/form-builder.js"></script>
<script src="{{ staticUrl }}/js/rest-forms.js"></script>
<script>
    $(function(){
        BuildForm($('#form-organization'), [
            {
                id: 'shortName',
                name: 'shortName',
                label: 'Unique Identifier/Slug',
                type: 'static',
                value: '{{ ctx.organization.Name }}',
                $parent: $('#org-information'),
            },
            {
                id: 'fullName',
                name: 'fullName',
                label: 'Full Name',
                type: 'text',
                value: '{{ ctx.organization.FullName }}',
                rules: [
                    {
                        rule: 'required',
                        value: true,
                        message: "Please enter your Organization's full name"
                    }
                ],
                $parent: $('#org-information'),
            },
            {
                id: 'website',
                name: 'website',
                label: 'Website URL',
                type: 'url',
                value: '{{ ctx.organization.Website }}',
                $parent: $('#org-information'),
            },
            {
                id: 'emailWhitelist',
                name: 'emailWhitelist',
                label: 'Comma Separated Globs (ex. *@{{ ctx.organization.Name }}.com,*@gmail.com)',
                type: 'textarea',
                value: '{{ ctx.organization.EmailWhitelist }}',
                $parent: $('#org-whitelist'),
                labelCols: 0,
                valueCols: 0,
            },
            {
                id: 'googleTrackingId',
                name: 'analytics[google][trackingId]',
                label: 'Google Tracking Id',
                type: 'text',
                value: '{{ ctx.organization.Analytics.Google.TrackingId }}',
                $parent: $('#org-ga'),
            },
            {
                id: 'facebookRemarketingId',
                name: 'analytics[facebook][remarketingId]',
                label: 'Facebook Remarketing Id',
                type: 'text',
                value: '{{ ctx.organization.Analytics.Facebook.RemarketingId }}',
                $parent: $('#org-fb'),
            },
        ]);
    });
  var api = NewRestAPI(
      '{{ urlFor("api", "c/organization") }}',
      '{{ ctx.organization.MustGetTokenByName("live-secret-key") }}',
      $('#form-organization'),
      {
      }
    );
  $('#form-organization').on('submit', function(e){
      var $form = $(this);
      requestAnimationFrame(function() {
          if ($('.form-group.has-error').length === 0) {
              api.put(function(data) {
                  window.location.replace('{{ urlFor("platform", "/organization") }}')
              }, $form, '{{ ctx.organization.Id() }}')
          }
      })
      e.preventDefault();
      return false;
  })
</script>
{% endblock %}
{% block menulink %}menu-organization{% endblock %}
