{% extends "base.html" %}

{% block name %}Product{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<!-- Product information Form Block -->
<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-1">
    <div class="block">
        <!-- Product information Form Title -->
        <div class="block-title">
          <h2>Product Information</h2>
        </div>
        <!-- END Product information Form Title -->

        <!-- Product information Form Content -->
        <form id="form-product" method="post" class="form-horizontal">
            <h4>Information</h4>
            <div id="product-info" class="block">
            </div>
            <h4>Cost and Availability</h4>
            <div id="product-cost" class="block">
            </div>
            <h4>Shipping (Optional)</h4>
            <div id="product-shipping" class="block">
            </div>
            <div class="form-group form-actions">
                <div class="col-md-9 col-md-offset-3">
                    <button type="submit" class="btn btn-effect-ripple btn-primary">Submit</button>
                    <button type="reset" class="btn btn-effect-ripple btn-warning">Reset</button>
                    <button type="button" id="delete-btn" class="btn btn-effect-ripple btn-danger">Delete</button>
                </div>
            </div>
        </form>
        <!-- END Product information Form Content -->
    </div>
    <!-- END Product information Form Block -->
</div>
<!-- END Product information Form Block -->
{% endblock %}

{% block js %}
<script src="{{ staticUrl }}/js/util.js"></script>
<script src="{{ staticUrl }}/js/jquery.serialize-object.min.js"></script>
<script src="{{ staticUrl }}/js/form-builder.js"></script>
<script src="{{ staticUrl }}/js/rest-forms.js"></script>
<script>
  $(function() {
    Util.setCurrency('{{ product.Currency }}');

    {% include "js/productform.js" %}
})

    var api = NewRestAPI(
      '{{ urlFor("api", "/product") }}',
      '{{ ctx.organization.MustGetTokenByName("live-secret-key") }}',
      $('#form-new-product'),
      {
            listPrice: function(val) {
                // To cents
                return Util.renderJSONCurrencyFromUI(val);
            },
          price: function(val) {
            // To cents
            return Util.renderJSONCurrencyFromUI(val);
          },
          weight: function(val) {
            return parseFloat(val);
          }
      },
      {
          taxable: false,
          available: false,
      }
    );
  $('#form-product').on('submit', function(e){
      var $form = $(this);
      requestAnimationFrame(function() {
          if ($('.form-group.has-error').length === 0) {
              api.put(function(data) {
                  window.location.replace('{{ urlFor("platform", "/product", product.Id) }}')
              }, $form, '{{ product.Id }}')
          }
      })
      e.preventDefault();
      return false;
  })
  $('#delete-btn').on('click', function(e) {
    api.del(function(data) {
        window.location.replace('{{ urlFor("platform", "/products") }}')
    }, '{{ product.Id }}')
  })
</script>
{% endblock %}
{% block menulink %}menu-products{% endblock %}

