{% extends "base.html" %}

{% block name %}Organization{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<!-- Product information Form Block -->
<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-1">
    <div class="block">
        <!-- Product information Form Title -->
        <div class="block-title">
          <h2>Product Information</h2>
        </div>
        <!-- END Product information Form Title -->

        <!-- Product information Form Content -->
        <form id="form-product" method="post" class="form-horizontal">
            <h4>Information</h4>
            <div id="product-info" class="block">
            </div>
            <h4>Cost and Availability</h4>
            <div id="product-cost" class="block">
            </div>
            <h4>Shipping (Optional)</h4>
            <div id="product-shipping" class="block">
            </div>
            <div class="form-group form-actions">
                <div class="col-md-9 col-md-offset-3">
                    <button type="submit" class="btn btn-effect-ripple btn-primary">Submit</button>
                    <button type="reset" class="btn btn-effect-ripple btn-danger">Reset</button>
                </div>
            </div>
        </form>
        <!-- END Product information Form Content -->
    </div>
    <!-- END Product information Form Block -->
</div>
<!-- END Product information Form Block -->
{% endblock %}

{% block js %}
<script src="{{ staticUrl }}/js/form-builder.js"></script>
<script>
  (function() {
    BuildForm($('#form-product'),[
// product info
        {
          id: 'name',
          name: 'Product.Name',
          value: '{{ product.Name }}',
          label: 'Name',
          type: 'text',
          asterisk: false,
          rules: [
            {
              rule: 'required',
              value: true,
              message: 'Please enter a name for your product'
            }
          ],
          $parent: $('#product-info')
        },
        {
          id: 'slug',
          name: 'Product.Slug',
          value: '{{ product.Slug }}',
          label: 'Slug',
          type: 'text',
          asterisk: false,
          rules: [
            {
              rule: 'required',
              value: true,
              message: 'Please enter a unique URL identifier for your product'
            }
          ],
          $parent: $('#product-info')
        },
        {
          id: 'Description',
          name: 'Product.Description',
          value: {{ jsonify(product.Description) | safe }},
          label: 'Description',
          type: 'textarea',
          $parent: $('#product-info')
        },
// product cost
        {
          id: 'price',
          name: 'Product.Price',
          value: {{ product.Price }} / 100,
          label: 'Price',
          type: 'currency',
          asterisk: false,
          rules: [
            {
              rule: 'required',
              value: true,
              message: 'Enter a price for your product'
            },
            {
              rule: 'currency',
              value: ['$,€,£', false],
              message: 'Enter a valid currency $, €, £'
            }
          ],
          $parent: $('#product-cost')
        },
        {
          id: 'currency',
          name: 'Product.Currency',
          label: 'Currency',
          value: [
            {
              id: 'usd',
              name: '$ USD',
              selected: true,
            },
            {
              id: 'aud',
              name: '$ AUD',
            },
            {
              id: 'cad',
              name: '$ CAD',
            },
            {
              id: 'eur',
              name: '€ EUR',
            },
            {
              id: 'gbp',
              name: '£ GBP',
            }
          ],
          type: 'select',
          asterisk: false,
          rules: [
            {
              rule: 'required',
              value: true,
              message: 'Choose a currency for your product'
            }
          ],
          $parent: $('#product-cost')
        },
        {
          id: 'taxable',
          name: 'Product.Taxable',
          label: 'Do you wish to collect taxes for this product?',
          type: 'switch',
          value: '{{ product.Taxable }}' === 'True',
          asterisk: false,
          rules: [
            {
              rule: 'required',
              value: true,
              message: 'Choose if this item is taxed'
            },
          ],
          $parent: $('#product-cost')
        },
        {
          id: 'available',
          name: 'Product.Available',
          label: 'Is this available for purchase?',
          type: 'switch',
          value: '{{ product.Available }}' === 'True',
          asterisk: false,
          rules: [
            {
              rule: 'required',
              value: true,
              message: 'Choose if this item is visible in the store'
            },
          ],
          $parent: $('#product-cost')
        },
        {
          id: 'dimensions',
          name: 'Product.Dimensions',
          value: '{{ product.Dimensions }}',
          label: 'Size (L x W x H)',
          type: 'text',
          placeholder: '10cm x 10cm x 10cm',
          $parent: $('#product-shipping')
        },
        {
          id: 'weight',
          name: 'Product.Weight',
          value: '{{ product.Weight }}',
          label: 'Weight (grams)',
          type: 'text',
          placeholder: '1000',
          $parent: $('#product-shipping')
        },
    ]);
  })();
</script>
{% endblock %}
{% block menulink %}menu-organization{% endblock %}

