{% extends "base.html" %}

{% block name %}Product{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<!-- Product information Form Block -->
<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-1">
    <div class="block">
        <!-- Product information Form Title -->
        <div class="block-title">
          <h2>Product Information</h2>
        </div>
        <!-- END Product information Form Title -->

        <!-- Product information Form Content -->
        <form id="form-product" method="post" class="form-horizontal">
            <h4>Information</h4>
            <div id="product-info" class="block">
            </div>
            <h4>Cost and Availability</h4>
            <div id="product-cost" class="block">
            </div>
            <h4>Shipping (Optional)</h4>
            <div id="product-shipping" class="block">
            </div>
            <div class="form-group form-actions">
                <div class="col-md-9 col-md-offset-3">
                    <button type="submit" class="btn btn-effect-ripple btn-primary">Submit</button>
                    <button type="reset" class="btn btn-effect-ripple btn-warning">Reset</button>
                    <button type="button" id="delete-btn" class="btn btn-effect-ripple btn-danger">Delete</button>
                </div>
            </div>
        </form>
        <!-- END Product information Form Content -->
    </div>
    <!-- END Product information Form Block -->
</div>
<!-- END Product information Form Block -->
{% endblock %}

{% block js %}
<script src="{{ staticUrl }}/js/util.js"></script>
<script src="{{ staticUrl }}/js/jquery.serialize-object.min.js"></script>
<script src="{{ staticUrl }}/js/form-builder.js"></script>
<script src="{{ staticUrl }}/js/rest-forms.js"></script>
<script>
  (function() {
    Util.setCurrency('{{ product.Currency }}');

    BuildForm($('#form-product'),[
// product info
        {
          id: 'name',
          name: 'name',
          value: '{{ product.Name }}',
          label: 'Name',
          type: 'text',
          asterisk: false,
          rules: [
            {
              rule: 'required',
              value: true,
              message: 'Enter a name for your product'
            }
          ],
          $parent: $('#product-info')
        },
        {
          id: 'slug',
          name: 'slug',
          value: '{{ product.Slug }}',
          label: 'Slug',
          type: 'text',
          asterisk: false,
          rules: [
            {
              rule: 'required',
              value: true,
              message: 'Enter a unique URL identifier for your product'
            }
          ],
          $parent: $('#product-info')
        },
        {
          id: 'Description',
          name: 'description',
          value: {{ jsonify(product.Description) | safe }},
          label: 'Description',
          type: 'textarea',
          $parent: $('#product-info')
        },
// product cost
        {
          id: 'price',
          name: 'price',
          value: {{ product.Price }} / 100,
          label: 'Price',
          type: 'currency',
          asterisk: false,
          rules: [
            {
              rule: 'required',
              value: true,
              message: 'Enter a price for your product'
            },
            {
              rule: 'currency',
              value: ['$,€,£', false],
              message: 'Enter a valid currency $, €, £'
            }
          ],
          $parent: $('#product-cost')
        },
        {
          id: 'currency',
          name: 'currency',
          label: 'Currency',
          value: [
            {% for type in constants.CurrencyTypes %}
            {
              selected: '{{ type }}' === '{{ product.currency }}',
              name: '{{ type.Label() }}',
              id: '{{ type }}',
            },
            {% endfor %}
          ],
          type: 'select',
          asterisk: false,
          rules: [
            {
              rule: 'required',
              value: true,
              message: 'Choose a currency for your product'
            }
          ],
          $parent: $('#product-cost')
        },
        {
          id: 'taxable',
          name: 'taxable',
          label: 'Do you wish to collect taxes for this product?',
          type: 'switch',
          value: '{{ product.Taxable }}' === 'True',
          asterisk: false,
          $parent: $('#product-cost')
        },
        {
          id: 'available',
          name: 'available',
          label: 'Is this available for purchase?',
          type: 'switch',
          value: '{{ product.Available }}' === 'True',
          asterisk: false,
          $parent: $('#product-cost')
        },
        {
          id: 'dimensions',
          name: 'dimensions',
          value: '{{ product.Dimensions }}',
          label: 'Size (L x W x H)',
          type: 'text',
          placeholder: '10cm x 10cm x 10cm',
          $parent: $('#product-shipping')
        },
        {
          id: 'weight',
          name: 'weight',
          value: '{{ product.Weight }}',
          label: 'Weight (grams)',
          type: 'text',
          placeholder: '1000',
          $parent: $('#product-shipping'),
          rules: [
            {
              rule: 'number',
              value: true,
              message: 'Weight is not a number'
            }
          ],
        },
    ]);
  })();

  var api = NewRestAPI(
      '{{ urlFor("api", "/product") }}',
      '{{ ctx.organization.MustGetTokenByName("live-secret-key") }}',
      $('#form-new-product'),
      {
          price: function(val) {
            // To cents
            return Util.renderJSONCurrencyFromUI(val);
          },
          weight: function(val) {
            return parseFloat(val);
          }
      }
    );
  $('#form-product').on('submit', function(e){
      var $form = $(this);
      requestAnimationFrame(function() {
          if ($('.form-group.has-error').length === 0) {
              api.put(function(data) {
                  window.location.replace('{{ urlFor("platform", "/products") }}')
              }, $form, '{{ product.Id }}')
          }
      })
      e.preventDefault();
      return false;
  })
  $('#delete-btn').on('click', function(e) {
    api.del(function(data) {
        window.location.replace('{{ urlFor("platform", "/products") }}')
    }, '{{ product.Id }}')
  })
</script>
{% endblock %}
{% block menulink %}menu-products{% endblock %}

