<tr>
    <td align="center" bgcolor="#ffffff" style="padding: 40px 20px 0 20px; color: #555555; font-family: Arial, sans-serif; font-size: 20px; line-height: 30px;">
        <b>Crowdstart Password Updated</b>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#ffffff" style="padding: 0 20px 20px 20px; color: #777777; font-family: Arial, sans-serif; font-size: 14px; line-height: 30px; border-bottom: 1px solid #f6f6f6;">
      Just letting you know your password has been updated.
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#f9f9f9" style="padding: 20px 20px 20px 20px; color: #777777; font-family: Arial, sans-serif; font-size: 12px; line-height: 30px; border-bottom: 1px solid #f6f6f6;">
      If you didn't request this change, please <a style="color: #555555" href="mailto:support@hanzo.io">let us know immediately</a>.
    </td>
</tr>
