<tr>
    <td align="center" bgcolor="#ffffff" style="padding: 40px 20px 0 20px; color: #555555; font-family: Arial, sans-serif; font-size: 20px; line-height: 30px;">
        <b>Reset Crowdstart Password</b>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#ffffff" style="padding: 0 20px 20px 20px; color: #777777; font-family: Arial, sans-serif; font-size: 14px; line-height: 30px; border-bottom: 1px solid #f6f6f6;">
      You recently requested to reset your password. You can click below to change your password or use this link: <a href="{{ resetUrl }}">{{ resetUrl }}</a>.
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#ffffff" style="padding: 30px 20px 30px 20px; font-family: Arial, sans-serif;">
        <table bgcolor="#5ccdde" border="0" cellspacing="0" cellpadding="0" class="buttonwrapper">
            <tr>
                <td align="center" height="55" style=" padding: 0 35px 0 35px; font-family: Arial, sans-serif; font-size: 22px;" class="button">
                  <a href="{{ resetUrl }}" style="color: #ffffff; text-align: center; text-decoration: none;">Reset Password</a>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#f9f9f9" style="padding: 20px 20px 20px 20px; color: #777777; font-family: Arial, sans-serif; font-size: 12px; line-height: 30px; border-bottom: 1px solid #f6f6f6;">
      If you didn't request a new password, <a style="color: #555555" href="mailto:support@hanzo.io">let us know immediately</a>.
    </td>
</tr>
